<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/zTree/zTreeStyle.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
</head>

<body>
<div id="app" class="hide">
  <!-- 商品管理 -->
  <div class="wrapper page">
    <div class="fixed-bar">
      <div class="item-title">
        <div class="subject">
          <h3>地址管理</h3>
          <h5>地址管理</h5>
        </div>
        <ul class="tab-base nc-row">
          <li v-for="(nav,index) in productNav" :key="nav.index">
            <a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 搜索条件 -->
    <div class="mod-search cf" id="report-search">
      <div class="l" id="filter-menu">
        <el-form method="post" id="dump-setting-form" name="settingForm" :model="productForm" ref="productForm">
          <ul class="ul-inline fix">
            <li>
              <el-form-item label="" prop="memberId">
                <span id=""></span>
                <input type="text"  class="ui-input ui-input-ph" placeholder="请输入用户id" autocomplete="off"
                       v-model="productForm.memberId" key="memberId-input">
              </el-form-item>
            </li>
            <li>
              <el-form-item label="" prop="productName">
                <span id="user"></span>
                <input type="text" id="common_name" name="common_name" class="ui-input ui-input-ph" placeholder="请输入手机号" autocomplete="off"
                       v-model="productForm.productName" key="productName-input">
              </el-form-item>
            </li>
            <li><a class="ui-btn" id="search" @click="searchDate(current)">查询<i class="layui-icon">&#xe615;</i></a></li>
          </ul>
        </el-form>
      </div>
      <div class="fr">
        <!--<a class="ui-btn" id="audit" @click="getInfo()">搜索<i class="el-icon-refresh"></i></a>-->
      </div>
    </div>
    <!-- 搜索条件结束 -->

    <!-- 表格数据渲染 -->
    <div class="cf">
      <div class="grid-wrap">
        <div class="productManger" v-if='productLists.length > 0'>
          <!-- 表头 -->
          <div class="produtHead classifyHead">
            <ul>
              <!--<li>操作</li>-->
              <li>用户id</li>
              <li class="productWidth">收货人</li>
              <li class="productWidth">手机号</li>
              <li>省</li>
              <li>市</li>
              <li>区</li>
              <li class="productWidth">地址</li>
              <li>标签</li>
              <li>是否默认</li>
            </ul>
          </div>
          <!-- 表头结束 -->
          <!-- 商品列表 -->
          <div class="pruductList classifyList">
            <ul v-for="(item,index) in productLists" :class="{'active':item.active}" @click="selectOrder(item,productLists)">
              <!--<li>-->
                <!--<span class=" ui-icon-pencil" title="商品详情" @click.stop="showDetail(item)"><i class="layui-icon">&#xe642;</i></span>-->
                <!--<span class=" ui-icon-trash" title="删除" @click.stop="removeProduct(item.id)"><i class="layui-icon">&#xe640;</i></span>-->
              <!--</li>-->
              <li>{{item.userId }}</li>
              <li class="productWidth">{{item.receiverName }}</li>
              <li class="productWidth">{{item.telephone }}</li>
              <li>{{item.province }}</li>
              <li>{{item.city}}</li>
              <li>{{item.area}}</li>
              <li class="productWidth">{{item.address}}</li>
              <li>{{item.aliasName }}</li>
              <li>{{item.defaults ?"默认":""}}</li>
            </ul>
          </div>
          <!-- 商品列表结束 -->
        </div>
        <div v-else style="text-align:center;margin:50px 0;">
          暂无数据
        </div>
      </div>
    </div>
    <!-- 表格数据渲染结束 -->
    <!-- 分页 -->
    <div class="pagination" v-show="total>0">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-sizes="[10, 20, 30, 40]"
                     :page-size="pagecount" layout=" prev, pager, next,sizes" :total="total">
      </el-pagination>
    </div>
    <!-- 分页器结束 -->

  </div>
  <!-- 商品管理结束 -->
  <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>
</div>
<div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中... </div>
<script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
<script type="text/javascript" src="../../common/layui/layui.all.js"></script>
<script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../common/zTree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script type="text/javascript" src="../../js/member/memberAddress.js"></script>
<script>

</script>
</body>

</html>