<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/zTree/zTreeStyle.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
  <style>
    p select{
      font-size: 12px;
    }
  </style>
</head>

<body>
  <div id="app" class="hide">
    <!-- 商品管理 -->
    <div class="wrapper page">
      <div class="fixed-bar">
        <div class="item-title">
          <div class="subject">
            <h3>会员管理</h3>
            <h5>商城注册会员账户信息设置管理</h5>
          </div>
          <ul class="tab-base nc-row">
            <li v-for="(nav,index) in productNav" :key="nav.index">
              <a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 搜索条件 -->
      <div class="mod-search cf" id="report-search">
        <div class="l" id="filter-menu">
          <el-form method="post" id="dump-setting-form" name="settingForm" :model="productForm" ref="productForm">
            <ul class="ul-inline fix">
              <li>
                <el-form-item label="" prop="selectedMember">
                  <select class="select" name="city" lay-verify="required" v-model='productForm.selectedMember'>
                      <option value="0">会员id</option>
                      <option value="1">会员名称</option>
                    </select>
                </el-form-item>
              </li>
              <li>
                <el-form-item label="" prop="productName">
                  <span id="user"></span>
                  <input type="text" id="common_name" name="common_name" class="ui-input ui-input-ph" placeholder="请输入相关数据..." autocomplete="off"
                    v-model="productForm.productName">
                </el-form-item>
              </li>
              <li>注册时间段:</li>
              <li class="filterDate">
                <el-form-item label="" prop="fromDate">
                  <el-date-picker :editable='false' v-model="productForm.fromDate" type="datetime" value-format="timestamp" placeholder="选择日期时间"></el-date-picker>
                </el-form-item>
              </li>
              <li>
                <span>-</span>
              </li>
              <li class="filterDate">
                <el-form-item label="" prop="toDate">
                  <el-date-picker :editable='false' v-model="productForm.toDate" type="datetime" value-format="timestamp" placeholder="选择日期时间"></el-date-picker>
                </el-form-item>
              </li>
              <li><a class="ui-btn" id="search" @click="searchDate(current)">查询<i class="layui-icon">&#xe615;</i></a></li>
            </ul>
          </el-form>
        </div>
        <div class="fr">
          <a class="ui-btn" id="audit" @click="refresh(current)">刷新<i class="el-icon-refresh"></i></a>
          <!--<a class="ui-btn" id="reaudit" @click="exportBrand()" >用户消费报表导出 <i class="layui-icon">&#xe61e;</i></a>-->
        </div>
      </div>
      <!-- 搜索条件结束 -->

      <!-- 表格数据渲染 -->
      <div class="cf">
        <div class="grid-wrap">
          <div class="productManger" v-if='productLists.length > 0'>
            <!-- 表头 -->
            <div class="produtHead classifyHead">
              <ul>
                <li class="listHandle">操作</li>
                <li>会员id</li>
                <li class="productWidth">会员名称</li>
                <!--<li>销售额</li>-->
                <!--<li>销量</li>-->
                <li class="shopWidth">注册时间</li>
                <!--<li class="shopWidth">首次购买时间</li>-->
                <li class="shopWidth">手机号</li>
                <!--<li>员工号</li>-->
                <!--<li>备注</li>-->
                <!--<li>用户身份</li>-->
                <li></li>
              </ul>
            </div>
            <!-- 表头结束 -->
            <!-- 商品列表 -->
            <div class="pruductList classifyList">
              <ul v-for="(item,index) in productLists" :class="{'active':item.active}" @click="selectOrder(item,productLists)">
                <li class="listHandle">
                  <span class=" ui-icon-pencil" title="审核" @click.stop="examineUser(item)" v-if="userRights['updateMemberInfoInfo']"><i class="layui-icon">&#xe615;</i></span>
                </li>
                <li>{{item.idView}}</li>
                <li class="productWidth">{{item.nickname}}</li>
                <!--<li>{{item.salesMoney }}</li>-->
                <!--<li>{{item.salesCount }}</li>-->
                <li class="shopWidth">{{item.registerTime }}</li>
                <!--<li class="shopWidth">{{item.firstPurchaseTime }}</li>-->
                <li class="shopWidth">{{item.telephone  }}</li>
                <!--<li>{{item.staffNumber }}</li>-->
                <!--<li>{{item.remark }}</li>-->
                <!--<li>{{item.memberIdentity}}</li>-->
                <!--<li>普通用户</li>-->
                <li ><span class="isTrue" @click.stop ="skewDetail(item)" v-if="userRights['queryMemberInfoInfo']">详情</span></li>
              </ul>
            </div>
            <!-- 商品列表结束 -->
          </div>
          <div v-else style="text-align:center;margin:50px 0;">
            暂无数据
          </div>
        </div>
      </div>
      <!-- 表格数据渲染结束 -->
      <!-- 分页 -->
      <div class="pagination" v-show="total>0">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-sizes="[10, 20, 30, 40]"
          :page-size="pagecount" layout="prev, pager, next,sizes" :total="total">
        </el-pagination>
      </div>
      <!-- 分页器结束 -->
    </div>

    <!-- 商品管理结束 -->
    <!--审核会员-->
    <div id="add"  style="display:none;" class="sliderBanner">
      <el-form method="post" id="dump-add-form" name="addForm" :model="addForm" ref="addForm" :rules="rules" label-width="30%" class="mt20">
        <div class="ncap-form-default">
          <el-form-item label="会员id：">
            <span>{{addForm.id}}</span>
          </el-form-item>
          <el-form-item label="积分：">
            <span>{{addForm.score}}</span>
          </el-form-item>
          <el-form-item label="会员名称：">
            <span>{{addForm.name}}</span>
          </el-form-item>
          <el-form-item label="性别：">
            <p>
              <select v-model="addForm.selectedSex">
                <option  value = "2">女</option>
                <option  value = "1">男</option>
              </select>
            </p>
            <!--<span>{{addForm.sex}}</span>-->
          </el-form-item>
          <el-form-item label="生日：" prop="birthday">
              <el-date-picker :editable='false' v-model="addForm.birthday" value-format="yyyy-MM-dd"
                              type="date" placeholder="选择日期时间"></el-date-picker>
            <!--<span>{{addForm.birthday}}</span>-->
            <span style="margin-left: 30px;">星座:</span>
            <span>{{addForm.constellation}}</span>
          </el-form-item>
          <el-form-item label="电子邮箱" prop="email">
            <el-input placeholder="" v-model="addForm.email"></el-input>
          </el-form-item>
          <el-form-item label="所在地：" class="address">
            <div id="city" class="citys">
              <p>
                <select name="province" v-model="selectedPro" @change = "changePro(selectedPro)"><option  v-for="pro in provinces" :value = "pro.zoneId">{{pro.name}}</option></select>
                <select name="city" v-show = "citys.length>0" v-model="selectedCity" @change = "changeCity(selectedCity)"><option  v-for="city in citys" :value = "city.zoneId">{{city.name}}</option></select>
                <select name="area" v-show = "areas.length>0" v-model="selectedArea" @change = "changeArea(selectedArea)"><option  v-for="area in areas" :value = "area.zoneId">{{area.name}}</option></select>
                <select name="town" v-show = "towns.length>0" v-model="selectedTown" ><option  v-for="town in towns" :value = "town.zoneId">{{town.name}}</option></select>
              </p>
            </div>
            <!--<span>{{addForm.describe}}</span>-->
          </el-form-item>
          <el-form-item label="手机号码：" prop="mobileTel">
            <span>{{addForm.mobileTel}}</span>
          </el-form-item>
          <el-form-item label="允许会员登录" prop="isUse" v-if="editTrue">
            <dl class="">
              <dd class="opt">
                <div class="onoff">
                  <input id="isUse1"  value="1" type="radio" v-model="addForm.isUse">
                  <label title="允许" class="cb-enable " for="isUse1" :class="{'selected':addForm.isUse==1}">允许</label>
                  <input id="isUse0"  value="0" type="radio" v-model="addForm.isUse">
                  <label title="禁止" class="cb-disable " for="isUse0" :class="{'selected':addForm.isUse==0}">禁止</label>
                </div>
                <p class="notic">如果禁止该项则会员不能在前台登录。</p>
              </dd>
            </dl>
          </el-form-item>
        </div>
      </el-form>
    </div>
    <!--审核会员结束-->
    <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>
  </div>
  <div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中... </div>
  <script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
  <script type="text/javascript" src="../../common/layui/layui.all.js"></script>
  <script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../../common/js/common.js"></script>
  <script type="text/javascript" src="../../js/member/memberManger.js"></script>
</body>

</html>