html, body {
  width: 100%;
  overflow-x: hidden;
}
* { touch-action: none; }
body {
  color: #8b91a0;
  direction: ltr;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
  background: #ffffff;
}
ul,li{padding:0;margin:0;list-style:none}
::-moz-selection {
  background: #5f8295;
  text-shadow: none;
  color: white;
}
i,em{font-style: normal;}
::selection {
  background: #5f8295;
  text-shadow: none;
  color: white;
}

a, a:focus, a:hover, a:active {
  outline: 0 !important;
  text-decoration: none !important;
  border: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a {
  color: #88bbc8;
}

[v-cloak]{display: none !important;}
h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.box{box-sizing: border-box;}
.clear::after{content:'';display:block;height:0;visibility:hidden;clear:both;}
.left{float: left !important;}
.right{float: right !important;}
.show{display: block !important;}
.hide{display: none !important;}
.width{width: 100% !important;}

.bgf{background: #fff !important;}
.bge{background: #EFEFEF !important;}
.center{text-align: center !important;}
.middle{vertical-align: middle;}
.td{text-decoration: line-through;}

.fontWeight{font-weight: 600;}
.colorThree{color: #333 !important;}
.colorSix{color: #666;}
.fontSize{font-size: .7rem;}
.bod{border-bottom: 1px solid #DADADA !important;}
.bodF{border-bottom:.5rem solid #E6E6E6;}
.bodR{border-radius: .2rem;}

.mr2{margin-right: .5rem;}
.mt2{margin-top: .5rem;}
.mb2{margin-bottom: .5rem;}
.mr2{margin-right: .2rem;}
.mr5{margin-right: .5rem;}
.ml5{margin-left: .5rem;}
.pa{padding: .5rem .6rem;}
.pth{padding: .3rem;}
.pt2{padding-top: .5rem;}
.pb2{padding-bottom: .5rem;}
.pl2{padding-left: .5rem;}
.pr2{padding-right: .5rem;}
.pd0{padding: 0;}
.ptb{padding:.4rem 0;}
.mb35{
  margin-bottom: 3.5rem;
}
.mr35{
  margin-top: 2.8rem;
}
.pab{
  position: absolute;
}
.bottomFixed{position: fixed;bottom: 0;left: 0;height: 2.8rem;}
.topFixed{position: fixed;top: 0;left: 0;height: 2.8rem;z-index: 100;}
.topRelative{position: relative;top: 0;left: 0;height: 2.8rem;}
.overFlow{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}




@keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff; }