.topfixed {
    position: static;
    top: 0;
    z-index: 800;
    width: 100%;
    background-color: #FFF;
    min-width: 320px;
}
.tap-list {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
.new-skill-wrap .tap-list li {
    background: #fff;
    color: #232326;
    height: 51px;
    font-size: 13px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.new-skill-wrap .tap-list li.cur {
    color: #f23030;
}
.new-skill-wrap .tap-list li p:nth-child(1) {
    font-size: 17px;
    line-height: 23px;
    font-weight: bold;
    margin-top: 6px;
}
.new-skill-wrap .tap-list li p:nth-child(2) {
    font-size: 11px;
    line-height: 11px;
    margin-top: 3px;
    margin-bottom: 7px;
}
.new-skill-wrap .tap-list li.cur p:nth-child(1) {
    font-size: 21px;
    line-height: 23px;
    font-weight: bold;
    margin-top: 6px;
}
.new-skill-wrap .list-head {
    height: 38px;
    line-height: 38px;
    border-top: 0;
    padding: 0 10px;
    vertical-align: middle;
    color: #252525;
    background: #F6F6F6;
    width: 95%;
}
span.seckill-status, span.static-txt {
    font-size: 12px;
    line-height: 11px;
    margin-top: 7px;
}
span.seckill-round-no {
    font-size: 13px;
    line-height: 13px;
    vertical-align: initial;
    margin: 7px 1px 0 5px;
}
.new-skill-wrap .buy-txt {
    color: #f23030;
    font-size: 13px;
}
.new-skill-wrap .buy-txt-black {
    color: #232326 !important;
    font-size: 13px;
}
.list-head .time {
    float: right;
    line-height: 38px;
    height: 38px;
}
.new-skill-wrap .static-txt-end {
    color: #8a8989;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}
#seckill-body{
    width:100%;
    background:#fff;
}
.timeText {
    display: inline-block;
    position: relative !important;
    top: 0rem !important;
    right: 0rem !important;
}
#seckill_time em {
    display: inline-block;
    background-color: #F86321;
    width: 23px;
    height: 19px;
    color: #fff;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.time-separator {
    margin-top: 1px;
    width: 6px;
    height: 16px;
    vertical-align: top;
    color: #8a8989;
    font-weight: bold;
}
.new-skill-wrap .good-list {
    position: relative;
    padding: 0 10px;
}
.new-skill-wrap .good-list>li {
    padding: 15px 0;
    min-height: 100px;
    height: 130px;
    position: relative;
    margin-top: 10px;
    background: #fff;
}
.new-skill-wrap .good-list li:nth-child(1){
    margin-top: 0px !important;
}
.new-skill-wrap .good-list a {
    color: #959595;
    display: block;
    text-decoration: none;
    overflow: hidden;
    font-size: 14px;
}
.skill-pic {
    position: relative;
    width: 30%;
    float: left
}
.new-skill-wrap .good-list .img, .new-skill-wrap .good-list .img img {
    width: 102px;
    height: 102px;
    margin-right: 4px;
    -webkit-border-radius: 0;
    border-radius: 0;
    float: left;
    vertical-align: middle;
    text-align: center;
}
.new-skill-wrap .good-list .img, .new-skill-wrap .good-list .img img {
    width: 102px;
    height: 102px;
    max-width: 100%;
    max-height: 100%;
}
.skill-right{
    width: 68%;
    float: right;
}
.skill-right p{
    width: 100%;
    float: left;
}
.new-skill-wrap .g-title {
    color: #232326;
    height: 32px;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.doller {
    font-size: 19px;
    color: #E50F17;
}
.new-skill-wrap .f-s-12, .new-skill-wrap .g-price-odd {
    font-size: 14px;
    color: #848689;
}
.new-skill-wrap .skill-lod {
    font-size: 0;
    bottom: 16px;
    position: absolute;
    right: 0;
}
.skill-lod .sale-count {
    font-size: 10px;
    color: #848689;
    display: inline-block;
}
.new-skill-wrap .kill-progress {
    width: 72px;
    margin-left: 4px;
    height: 8px;
    overflow: hidden;
    display: inline-block;
}
.kill-progress .skill-pro-bg {
    position: relative;
    left: auto;
    bottom: auto;
    padding: 0;
    height: 7px;
}
.kill-progress .skill-iteam-progress {
    top: 0;
    height: 15px;

    position: relative;
    left: 0;
    width: 200%;
}
.skill-pro-insetbg {
    width: 100%;
    height: 100%;
    display: inline-block;
    border: solid 1px rgba(255,255,255,0.2);
}
.posf {
    position: fixed !important;
}
.new-skill-wrap .skill-count{
    width: 50%;
    height: 29px;
    line-height: 29px;
    background-color: #FE3000;
    font-size: 14px;
    border-radius: 2px;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
}
.week_tap_list{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
.week_tap_list li {
    background: #8F8F8F;
    color: #fff;
    height: 35px;
    font-size: 16px;
    text-align: center;
    position: relative;
    display: inline-block;
    float: left;
    line-height: 35px;
}

.week_alltop{
    color: #fff;
    background: #8F8F8F;
    width: 50%;
}
.week_cur{
    background: #FF7930 !important;
}
.mrule{
    width: 88%;
    padding: 1rem;
}
.mrule p{
    font-family: 微软雅黑;
    font-size: 14px;
}
.g-price span{
    display: block;
    width: 100%;
}
.new-skill-wrap .g-jindu {
    width: 100%;
    float: left;
    height: 20px;
    margin: 3px 0;
}
.sale-count {
    font-size: 10px;
    color: #848689;
    display: inline-block;
    width: 26%;
    float: left;
    height: 16px;
}

#progress-b {
    width: 50%;
    float: left;;
    margin-left: 4px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
}
#progress-b .skill-pro-bg {
    position: relative;
    left: auto;
    bottom: auto;
    padding: 0;
    height: 10px;
    width: 99%;
    background: rgba(255,255,255,.8);
    box-sizing: border-box;
}
#progress-b .skill-iteam-progress {
    top: 3px;
    height: 15px;
    position: relative;
    left: 0;
    width: 200%;
    font-size: 14px;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border: solid 1px #f36262;
    border-radius: 50px;
    overflow: hidden;
}
.skill-pro-insetbg {
    width: 100%;
    height: 100%;
    display: inline-block;
    border: solid 1px rgba(255,255,255,.2);
}
.skill-iteam-pro {
    position: absolute;
    top: 0;
    left: -1px;
    background-image: linear-gradient(to right,#ff8989,#f67373);
    background-image: -webkit-linear-gradient(right,#ff8989,#f67373);
    background: -webkit-gradient(linear,left center,right center,from(#ff8989),to(#f67373));
    background: -moz-linear-gradient(right,#ff8989,#f67373);
    background: -o-linear-gradient(right,#ff8989,#f67373);
    height: 100%;
    display: block;
    width: 0;
    -webkit-transition: width 1.8s;
    transition: width 1.8s;
}