<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/zTree/zTreeStyle.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
</head>

<body>
<div id="app" class="hide">
  <!-- 商品管理 -->
  <div class="wrapper page">
    <div class="fixed-bar">
      <div class="item-title">
        <div class="subject">
          <h3>管理员管理</h3>
          <h5>管理商城用户 </h5>
        </div>
        <ul class="tab-base nc-row">
          <li v-for="(nav,index) in productNav" :key="nav.index" >
            <a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 表格数据渲染 -->
    <div v-show="current==0">
      <!-- 搜索条件 -->
      <div class="mod-search cf" id="">
        <div class="fr">
          <a class="ui-btn"  @click="addClassify('新增管理员')" v-if="userRights['insertAdminUserInfo']">新增<i class="layui-icon">&#xe654;</i></a>
          <a class="ui-btn"  style="display:none" @click="getInfo(current)">刷新<i class="el-icon-refresh"></i></a>
        </div>
      </div>
      <!-- 搜索条件结束 -->
      <div class="cf">
        <div class="grid-wrap">
          <div class="productManger" v-if='productLists.length > 0'>
            <!-- 表头 -->
            <div class="produtHead classifyHead">
              <ul>
                <li>操作</li>
                <li>用户</li>
                <li class="productWidth">角色</li>
                <li>启用授权</li>
              </ul>
            </div>
            <!-- 表头结束 -->
            <!-- 商品列表 -->
            <div class="pruductList classifyList">
              <ul v-for="(item,index) in productLists" :class="{'active':item.active}"
                  @click="selectOrder(item,productLists)">
                <li>
                  <span class=" ui-icon-pencil" title="修改" @click.stop="showDetail(item)" v-if="userRights['updateAdminUserInfo']"><i class="layui-icon">&#xe642;</i></span>
                </li>
                <li>{{item.account}}</li>
                <li class="productWidth" v-if="item.roleList&&item.roleList.length>0">{{item.roleList[0].name}}</li>
                <li class="productWidth" v-else></li>
                <li @click="changeStatus(item.disable ,item.id)" v-if="userRights['updateAdminUserInfo']">
                  <span class="isTrue" v-show="!item.disable ">已启用</span>
                  <span class="isFalse" v-show="item.disable ">已禁用</span>
                </li>
                <li v-else></li>
              </ul>
            </div>
            <!-- 商品列表结束 -->
          </div>
          <div v-else style="text-align:center;margin:50px 0;">
            暂无数据
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 商品管理结束 -->
  <div id="add"  style="display:none;">
    <el-form method="post" id="dump-add-form" name="addForm" :model="addForm" ref="addForm" :rules="rules" label-width="30%" class="mt20">
      <div class="ncap-form-default">
        <el-form-item label="用户：" prop="addNewName">
          <el-input placeholder="" v-model="addForm.addNewName" :readonly="editTrue"></el-input>
        </el-form-item>
        <el-form-item label="密码：" prop="userPwd">
          <el-input placeholder="" v-model="addForm.userPwd"></el-input>
        </el-form-item>
        <el-form-item label="角色组:" prop="authorityGroup">
          <el-select v-model="addForm.authorityGroup" placeholder="请选择">
          <el-option v-for="group in addForm.groups" :key="group.id" :label="group.name" :value="group.id">
          </el-option>
          </el-select>
        </el-form-item>
        <!--<el-form-item label="管理站点:" prop="stationManger">-->
          <!--<el-select v-model="addForm.stationManger" placeholder="请选择">-->
          <!--<el-option v-for="station in addForm.stations" :key="station.id" :label="station.name" :value="station.id">-->
          <!--</el-option>-->
          <!--</el-select>-->
        <!--</el-form-item>-->
      </div>
    </el-form>
  </div>
  <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>
</div>
<div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中... </div>
<script type="text/javascript" src="../../common/js/vue.js"  charset="utf-8"></script>
<script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
<script type="text/javascript" src="../../common/layui/layui.all.js"></script>
<script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../common/zTree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      current: 0,
      productNav: [{
        index: 0,
        title: '管理员管理'
      }],
      loading: true,
      setProduct: false,
      productForm: {
        selectUser: '11',
        searchContent: '',
        fromDate:new Date()-3600 * 1000 * 24 * 10,
        toDate:new Date().getTime(),
      },
      users:[],
      classifyId: '',
      brandTreeShow: false,
      selectedCity: 0,
      selectedProductStatus: 0,
      selectedExamine: 0,
      productListLength: 1,
      productLists: [],
      selectedAll: false,
      selectedProduct: true,
      userRights:{},
      // 分页
      pagecount: 10,
      pagenum: 1,
      total: 0,
      // 新增管理
      editTrue:false,
      authorityGroup:'',
      PWD:'',
      addForm:{
        addNewName:'',
        userPwd:'',
        authorityGroup:'',
        groups:[ ],
      },
      rules:{

      }
    },
    created: function () {
      var _this = this;
      // 获取本地权限
      _this.userRights = getPows();
    },
    mounted: function () {
      commonScript.appShowhide('app');
      this.getInfo(0);
    },
    methods: {
      // 页面初始加载数据
      getInfo: function (index) {
        var _this = this;
        _this.current = index;
        _this.loading = true;

        // 获取管理员信息
        var admin = function (data) {
            try {
              switch (data.httpCode) {
                case 200 :
                  _this.loading = false;
                  if(data.result) {
                    var result = data.result;
                    _this.productLists = result;
                    // _this.users = result;
                  }else{
                    _this.productLists =[]
                  }
                  break;
                default :
                  _this.$message.error({message: data.msg});
              }
            } catch (e) {
              console.error("REQUEST ERROR ", e);
            }
        };
        commonScript.doGet('/adminRolePurview/queryAdminUserAndRoleInfo','',admin);
        // commonScript.getAdmin(admin);
        // 获取权限组信息
        // 获取角色信息
        var admin = function (data) {
          try {
            switch (data.httpCode) {
              case 200 :
                if (data.result) {
                  var result = data.result;
                  if(result){
                    _this.addForm.groups = result
                  }else{
                    _this.addForm.groups = []
                  }
                }
                break;
              default :
                _this.$message.error({message: data.msg});
            }
          } catch (e) {
            console.error("REQUEST ERROR ", e);
          }
        };
        commonScript.doGet('/adminRolePurview/queryAdminRoleInfo', '', admin);
      },

      // 改变状态
      changeStatus:function(status,id){
        var _this = this;
        if(status){
          var status = false
        }else{
          var status = true
        }
        var data = {
          id: id,
          disable: status,
        };
        var add = function (data) {
          _this.getInfo(_this.current);
        };
        commonScript.doPost('/adminRolePurview/updateAdminUserInfo',data,add);
      },
      // 查询
      searchProduct: function () {
        var _this = this;
        _this.getInfo(_this.current);
      },
      // 查询结束
      // 页面数据加载结束
      // 单条数据选中
      selectOrder: function (item,lists) {
        var _this = this;
        if(item.active===undefined||!item.active){
          _this.$set(item, 'active', true);
        }
        commonScript.selected(item,lists);
      },
      // 新增用户
      addClassify: function (title,id) {
        var _this = this;
        var layer = layui.layer;
        layer.open({
          title: title
          , content: layui.jquery("#add")
          , btn: ['确定', '取消']
          , area: ['757px', '525px']
          , type: 1
          ,scrollbar: false
          ,zIndex:100
          , yes: function () {
            _this.addNewCalssigy(id);
          }
          ,btn2: function(index, layero){
            //按钮【取消】的回调
            _this.editTrue = false;
            _this.$refs.addForm.resetFields();

          }
          ,cancel: function(){
            //右上角关闭回调
            _this.editTrue = false;
            _this.$refs.addForm.resetFields();

          }
        });
      },
      // 确定 新增 编辑 用户
      addNewCalssigy:function(id){
        var _this = this;
        // var datas = {
        //   // account: _this.addForm.addNewName,
        //   password: _this.addForm.userPwd,
        //   // roleList: [
        //   //   {
        //   //     id:_this.addForm.authorityGroup ,
        //   //     name: "",
        //   //   }
        //   // ],
        // };
        if(id !== undefined){
          // 编辑
          if(_this.addForm.userPwd != _this.PWD){
            var datas = {
              id: id,
              password: _this.addForm.userPwd,
            }
          }else{
            var datas = {
              id: id,
            }
          }
          var add = function (data) {
            try {
              switch (data.httpCode) {
                case 200 :
                  // 是否有分配角色的权限
                  // if(_this.authorityGroup !== _this.addForm.authorityGroup){
                  //   if(_this.userRights['updateAdminUserRoleInfo']){
                  //     _this.purviewRole(id);
                  //   }else{
                  //     _this.$message.error({message: '暂无为用户分配角色的权限！'});
                  //     _this.getInfo(_this.current);
                  //   }
                  // }

                  _this.purviewRole(id);
                  _this.editTrue = false;
                  layer.closeAll();
                  break;
                default :
                  _this.$message.error({message: data.msg});
              }
            } catch (e) {
              console.error("REQUEST ERROR ", e);
            }
            // _this.getInfo(_this.current);
          };
          commonScript.doPost('/adminRolePurview/updateAdminUserInfo',datas,add);
        }else{
          // 新增
          var datas = {
            name: _this.addForm.addNewName,
            account:_this.addForm.addNewName,
            password: _this.addForm.userPwd,
          }
          var add = function (data) {
            try {
              switch (data.httpCode) {
                case 200 :
                  if(data.result){
                    if(data.result.id){
                      var roleId = data.result.id;
                      // 是否有分配角色的权限
                      //   if (_this.userRights['updateAdminUserRoleInfo']&&_this.authorityGroup !== _this.addForm.authorityGroup) {
                      //     _this.purviewRole(roleId)
                      //   } else {
                      //     _this.$message.error({message: '暂无为用户分配角色的权限！'});
                      //     _this.getInfo(_this.current);
                      //
                      //   }
                      _this.purviewRole(roleId)
                      _this.editTrue = false;
                      layer.closeAll();
                    }
                  }
                  break;
                default :
                  _this.$message.error({message: data.msg});
              }
            } catch (e) {
              console.error("REQUEST ERROR ", e);
            }
            // _this.getInfo(_this.current);
          };
          commonScript.doPost('/adminRolePurview/insertAdminUserInfo',datas,add);
        }
        _this.$refs.addForm.resetFields();//点击确认后清空表单
        _this.editTrue = false;

      },
      // 编辑用户
      showDetail:function(item){
        var _this = this;
        _this.editTrue = true;
        _this.addForm.addNewName = item.account;
        _this.addForm.userPwd = item.password;
        _this.PWD = item.password;
        if(item.roleList&&item.roleList.length>0){
          _this.addForm.authorityGroup= item.roleList[0].id;
          _this.authorityGroup = item.roleList[0].id
        }
        // _this.addForm.stationManger = item.administrateSite;
        // console.log(item,1111)
        _this.addClassify('修改管理员',item.id);

      },

      // 为用户分配角色权限
      purviewRole:function(id){
        var _this = this;
        // console.log(_this.addForm.authorityGroup)
        var data = {
          "roleId": _this.addForm.authorityGroup,
          "roleIdsOfUser": _this.addForm.authorityGroup,
          "userId": id
        };
        var res = function (data) {
          try {
            switch (data.httpCode) {
              case 200 :
                if(data.result){
                  _this.getInfo(_this.current);
                  _this.$message.success({message: "操作成功！"});
                }
                break;
              default :
                _this.$message.error({message: data.msg});
            }
          } catch (e) {
            console.error("REQUEST ERROR ", e);
          }
        };
        commonScript.doPost('/adminRolePurview/updateAdminUserRoleInfo',data,res)

      },


      // 分页器
      //每页显示多少条
      handleSizeChange: function (val) {
        this.pagecount = val;
        this.getInfo(this.current);
      },
      //当前页及跳转到第几页
      handleCurrentChange: function (val) {
        this.pagenum = val;
        this.getInfo(this.current);
      }

    }

  })
</script>
</body>

</html>