<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/zTree/zTreeStyle.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
</head>

<body>
<div id="app" class="hide">
  <!-- 商品管理 -->
  <div class="wrapper page">
    <div class="fixed-bar">
      <div class="item-title">
        <div class="subject">
          <h3>参数设置</h3>
          <h5> </h5>
        </div>
        <ul class="tab-base nc-row">
          <li v-for="(nav,index) in productNav" :key="nav.index">
            <a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 表格数据渲染 -->
      <!-- 搜索条件 -->
      <div class="mod-search cf" id="">
        <div class="fr">
          <!--<a class="ui-btn"  @click="addClassify('新增职员')">新增参数<i class="layui-icon">&#xe654;</i></a>-->
          <!--<a class="ui-btn"  style="display:none" @click="getInfo(current)">刷新<i class="el-icon-refresh"></i></a>-->
        </div>
      </div>
      <!-- 搜索条件结束 -->
      <div class="cf">
        <div class="grid-wrap">
          <div class="productManger" v-if='productLists.length > 0'>
            <!-- 表头 -->
            <div class="produtHead classifyHead">
              <ul>
                <li>操作</li>
                <li class="productWidth">参数名</li>
                <li class="productWidth">参数值</li>
                <li class="application">描述</li>
              </ul>
            </div>
            <!-- 表头结束 -->
            <!-- 商品列表 -->
            <div class="pruductList classifyList">
              <ul v-for="(item,index) in productLists" :class="{'active':item.active}"
                  @click="selectOrder(item,productLists)">
                <li>
                  <span class=" ui-icon-pencil" title="修改" @click.stop="showDetail(item)" v-if="userRights['updateParam']"><i class="layui-icon">&#xe642;</i></span>
                  <!--<span  title="删除" @click.stop="removeProduct(item.id)"><i class="layui-icon">&#xe640;</i></span>-->
                </li>
                <li class="productWidth">{{item.name}}</li>
                <li class="productWidth">{{item.value}}</li>
                <li class="application">{{item.description}}</li>
              </ul>
            </div>
            <!-- 商品列表结束 -->
          </div>
          <div v-else style="text-align:center;margin:50px 0;">
            暂无数据
          </div>
        </div>
      </div>
  </div>
  <!-- 商品管理结束 -->
  <div id="add"  style="display:none;">
    <el-form method="post" id="dump-add-form" name="addForm" :model="addForm" ref="addForm" label-width="30%" class="mt20">
      <div class="ncap-form-default">
        <el-form-item label="参数名" prop="addNewName">
          <el-input placeholder="" v-model="addForm.addNewName" readOnly></el-input>
        </el-form-item>
        <el-form-item label="参数值" prop="userPwd">
          <el-input placeholder="" v-model="addForm.userPwd"></el-input>
        </el-form-item>
        <el-form-item label="描述" prop="describe" >
          <el-input placeholder="" type="textarea" :rows = "3" v-model="addForm.describe" readOnly></el-input>
        </el-form-item>
      </div>
    </el-form>
  </div>
  <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>
</div>
<div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中... </div>
<script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
<script type="text/javascript" src="../../common/layui/layui.all.js"></script>
<script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../common/zTree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      current: 0,
      productNav: [{
        index: 0,
        title: '参数设置'
      }],
      loading: true,
      setProduct: false,

      productLists: [],
      selectedAll: false,
      selectedProduct: true,
      // 分页
      pagecount: 10,
      pagenum: 1,
      total: 0,
      // 新增参数
      addForm:{
        addNewName:'',
        userPwd:'',
        describe:'',
      },
      userRights:{},
    },
    created: function () {
      var _this = this;
      // 获取本地权限
      _this.userRights = getPows();
    },
    mounted: function () {
      commonScript.appShowhide('app');
      this.getInfo(0);
    },
    methods: {
      // 页面初始加载数据
      getInfo: function (index) {
        var _this = this;
        _this.current = index;
        _this.loading = true;
        // 获取参数列表
        var res = function (data) {
          try {
            switch (data.httpCode) {
              case 200 :
                if(data.result){
                  _this.productLists = data.result;
                }
                break;
              default :
                _this.$message.error({message: data.msg});
            }
          } catch (e) {
            console.error("REQUEST ERROR ", e);
          }
        };
        commonScript.doGet('/paramSetting/get','',res);

        _this.loading = false;

      },

      // 页面数据加载结束
      // 单条数据选中
      selectOrder: function (item,lists) {
        var _this = this;
        if(item.active===undefined||!item.active){
          _this.$set(item, 'active', true);
        }
        commonScript.selected(item,lists);
      },



      // 新增参数
      addClassify: function (title,item) {
        var _this = this;
        var layer = layui.layer;
        layer.open({
          title: title
          , content: layui.jquery("#add")
          , btn: ['确定', '取消']
          , area: ['757px', '525px']
          , type: 1
          ,scrollbar: false
          ,zIndex:100
          , yes: function () {
            _this.addNewCalssigy(item);
          }
          ,btn2: function(index, layero){
            //按钮【取消】的回调
            _this.$refs.addForm.resetFields();

          }
          ,cancel: function(){
            //右上角关闭回调
            _this.$refs.addForm.resetFields();

          }
        });
      },
      // 确定 新增 编辑 用户
      addNewCalssigy:function(item){
        var _this = this;
        var name = item.name;
        var value = _this.addForm.userPwd;
        var data = {
        };
        data[name] = value;
          // 编辑
          var add = function (data) {
            try {
              switch (data.httpCode) {
                case 200 :
                  _this.$message.success({message: "更新成功！"});
                  _this.$refs.addForm.resetFields();//点击确认后清空表单
                  _this.getInfo(_this.current);
                  layer.closeAll();
                  break;
                default :
                  _this.$message.error({message: data.msg});
              }
            } catch (e) {
              console.error("REQUEST ERROR ", e);
            }
          };
          commonScript.doPost('/paramSetting/update',data,add);

      },
      // 编辑用户
      showDetail:function(item){
        var _this = this;
        _this.addForm.addNewName = item.name;
        _this.addForm.userPwd = item.value;
        _this.addForm.describe = item.description;
        _this.addClassify('修改参数',item);

      },

      // 分页器
      //每页显示多少条
      handleSizeChange: function (val) {
        this.pagecount = val;
        this.getInfo(this.current);
      },
      //当前页及跳转到第几页
      handleCurrentChange: function (val) {
        this.pagenum = val;
        this.getInfo(this.current);
      }

    }

  })
</script>
</body>

</html>