@charset "utf-8";body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,html,img,input,legend,li,ol,p,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:9pt "微软雅黑"}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}
fieldset,img{border:none}
img{display:block}
ol,ul{list-style:none}
a{color:#000}
a,a:hover{text-decoration:none}
.clear{clear:both}
.left{float: left;}
.right{float: right;}
em,i{font-style: normal;}
body{ 
-webkit-user-select:none; 
-moz-user-select:none; 
-ms-user-select:none; 
user-select:none;
}
body{
	background-color: #f0f0f0;
}
.lgBackground{background-color: #fff;}
.box{
	width: 3.75rem;
	height: 6.67rem;
	font-size: .12rem;
}
.backF{
	background-color: #fff;
	
}
.swiper-container {
    width: 3.55rem;
    height: 2.5rem;
	margin-bottom: .15rem;
	border-radius: 5px;
} 
.swiper-container img{
    width: 3.35rem;
    height: 2rem;
} 
.box_top{
	width: 3.75rem;
	height: .4rem;
	line-height: .4rem;
	margin-bottom: .1rem;
	padding: .1rem 0;
	border-bottom: 1px solid #ccc;
	font-size: .14rem;
	color: #666;
}
.box_top img{
	display: inline-block;
	width: .4rem;
    height: .4rem;
	margin:0 .15rem;
	vertical-align: middle; 
}
.box_top .top_click{
	width: 2.9rem;
    height: .4rem;
}
.box_top .top_click .right{
	color: #007aff;
}
.box_bot{
	width: 3.55rem;
	position: relative;
	height: 2.2rem;
	line-height: 3.3rem;
	margin-left: .1rem;
	text-align: center;
	font-size: .2rem;
	color: #333;
	font-weight: 600;
	border-radius: 5px;
}
.box_bot img{
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -.6rem; 
    margin-left: -.6rem; 
}
.box_bot .name{
}
/*支付*/
.top_back{
	width: 3.75rem;
	height: .7rem;
	background-color: #f0f0f0;
}
.pay_main{
	width: 3.75rem;
    height: 2rem;
	text-align: center;
	font-size: .16rem;
	color: #666;
	margin-top: 1.5rem;
}
.pay_main .pay_coment{
	width: 1.4rem;
    height: .2rem;
    padding: .1rem .2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 25%;
    margin-bottom: 1.2rem;   
}
.pay_main .button{
    margin-bottom: .15rem;
}
.pay_main .pay_item{
	width: 1.8rem;
	border:none;
	height: 0rem;
	padding: 0;
	clear: both;
	display: none;
}
.pay_main .item_click{
	background-color: #f0f0f0;
}
.pay_main .pay_item li{
	width: .6rem;
	height: .3rem;
	line-height: .3rem;
	text-align: center;
	float: left;
	border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 .14rem .15rem;
    color: #666;
}
.tanC{
	position: absolute;
	top: 40%;
    left: 23%;
	width: 2rem;
	height: .5rem;
	line-height: .5rem;
	border-radius: 5px;
	font-size: .14rem;
	color: #c00;
	text-align: center;
	display: none;
}

/*离线*/
.offBox {
	text-align: center;
	font-size: .16rem;
	color: #666;
}
.offBox img{
	width: 1.5rem;
	height: 1.5rem;
	margin: .8rem 0 .3rem 1.1rem;
}

/*后台*/
.loginBox{
	width: 2.75rem;
	height: auto;
	color: #333;
	font-size: .18rem;
	text-align: center;
	margin-left: .5rem;
	margin-top: 1.6rem;
}
.login_div{
	line-height: .5rem;
	height: .5rem;
}
.loginBox .login_div input{
	padding-left: .1rem;
	width: 2rem;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
	height: .3rem;
	color: #666;
	font-size: .16rem;
}
.loginBox .lg_login{
	width: 2.75rem;
	height: .4rem;
	line-height: .4rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#4caf50 ;
	color: #fff;
	font-size: .15rem;
	margin-top: .3rem;
}
.loginBox .loginlast{
	font-size: .13rem;
}
/*注册*/
.registerBox{
	width: 3.65rem;
	height: auto;
	color: #333;
	font-size: .15rem;
	background: #fff;
	padding: 0 .05rem;
}
.registerBox ul li{
	padding: 0 .1rem;
	line-height: .5rem;
	height: .5rem;
	margin: 0 .1rem;
	border-bottom: 1px solid #ccc;
}
.registerBox ul .li_last{
	border-bottom: none;
}
.registerBox ul li input{
	padding-left: .1rem;
	width: 2.35rem;
	outline: none;
	border: none;
	height: .3rem;
	color: #666;
	font-size: .14rem;
}
.registerBox .reg_button{
	text-align: center;
	position: absolute;
	left: .2rem;
	bottom: .05rem;
	width: 3.35rem;
	height: .4rem;
	line-height: .4rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#4caf50 ;
	color: #fff;
	font-size: .15rem;
	margin-top: .3rem;
}
/*后台商户查询*/
.indexBox{
	color: #666;
}
.indexBox #wrapper,.indexBox .wrap{
	width: 3.75rem;
}
.index_title{
	height: .4rem;
	line-height: .4rem;
	padding-left: .1rem;
	margin-bottom: .1rem;
	font-size: .15rem;
}
.tabs{
	width: 3.59rem;
	height: .4rem;
	line-height: .4rem;
	padding: 0 .08rem;
}
.tabs span{
	display: inline-block;
	width: 32%;
	height: .4rem;
	text-align: center;
	line-height: .4rem;
	box-sizing: border-box;
	font-size: .16rem;
}
.tabs span a{
	color: #666;
}
.tabs .span_border{
	border-bottom: 1px solid #ccc
}
.indexBox .swiper-container{
	height: auto;
	margin-bottom: 0;
}
.index_main .mainNew_name{
	margin-top: .1rem;
	font-size: .14rem;
}
.index_main ul li,.index_main .mainNew_title{
	height: .5rem;
	box-sizing: border-box;
	line-height: .5rem;
	border-bottom: 1px solid #f3f0f0;
}
.index_main .main_item{
	margin-top: .1rem;
	font-size: .14rem;
}
.index_main .main_borer,.index_comment .main_borer{
	border-bottom: none;
}
.swiper-container .main_image{
	width: .5rem;
    height: .3rem;
    margin-top: .1rem;
}
/*收益查询*/
.index_comment{
	width: 100%;
	height: 100%;
}
.index_comment .comment_time{
	width: 100%;
	height: .7rem;
	font-size: .14rem;
}
.index_comment .comment_time em{
	font-size: .15rem;
	line-height: .4rem;
}
.index_comment .comment_time span{
    display: inline-block;
    border: 1px solid #ccc;
    width: 21%;
    height: .2rem;
    border-radius: .1rem;
    margin-left: .12rem;
    color: #999;
    text-align: center;
}
.index_comment .comment_time .code_one{
    margin-left: 0;
}
.index_comment .comment_time .code_active{
    background-color:#4caf50 ;
	color: #fff;
}
.index_comment ul li{
	box-sizing: border-box;
	height: .5rem;
	line-height: .5rem;
	border-bottom: 1px solid #f3f0f0;
	padding: 0 .08rem;
}
.comment_fixed{
	margin-top: .1rem;
	font-size: .15rem;
	height: .15rem;
}
.colorFont{
	color: #ff6585;
}
.comment_fixed i{
	font-size: .16rem;
}
/*个人信息*/
.index_personal li{
	font-size: .14rem;
	box-sizing: border-box;
	height: .5rem;
	line-height: .5rem;
	border-bottom: 1px solid #f3f0f0;
	padding: 0 .08rem;
}

.back{
	position: fixed;
    bottom: .3rem;
    overflow: hidden;
    right: .05rem;
    z-index: 200;
    text-align: center;
    width: .4rem;
    height: .45rem;
    line-height: .4rem;
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: .4;
    border-radius:10%;
    font-size: .25rem;
    color: #fff;
    display: none;
}


/*滚动条*/
::-webkit-scrollbar {   
	width: 6px;
	margin: 0 3px;
}
/* 滚动槽 */
/*::-webkit-scrollbar-track { 
	-webkit-box-shadow: inset 0 0 4px #dcdcdc; 
	border-radius: 8px;
}*/
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {    
	border-radius: 8px;    
	background: #dcdcdc;   
	-webkit-box-shadow: inset 0 0 4px #f0f0f0;
}
::-webkit-scrollbar-thumb:window-inactive {   
	background: #f0f0f0;
}