<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>仁仕通上海社保计算器</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<script>
	        document.getElementsByTagName("html")[0].style.fontSize=window.screen.width/10+"px";
	    </script>
	</head>
	<body><!--fddc01 -->
		<script src="./js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/echarts.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/data.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/index.js" type="text/javascript" charset="utf-8"></script>
		<div id="app" v-cloak class="w100">
			
			<div class="th_item w100 center">
				<div class="pt7">总共缴纳</div>
				<div class="title">(个人缴纳+企业缴纳)</div>
				<div class="money"><span>￥</span> {{money | currency}}</div>
			</div>
			
			<div class="th_main_box w100 bgf boxShadow">
				<div class="thMain" v-for="(item,index) in itemList">
					<div class="thMain_type clear" @click="thTypeClick(item,index)">
						<div class="w100 thMain_type_tit borderBot">
							<div class="left lefts">
								<img :src="item.img" alt=""class="icon_l" />
								<span class="imgMiddle ml">{{item.title}}:</span>
								<span class="imgMiddle">{{item.oldvalue}}</span>
							</div>
							<img src="img/p3.png" alt="" class="right icon" :class="[item.open?'rotatedeg':'']"/>
						</div>
						
						
						<div class="person_item w100 center clear" v-if="item.open">
							<div class="personItem_l">
								<div class="per_l_maoney">￥<span>{{item.oldvalue | valuedecade}}</span>{{item.oldvalue | valuebit}}</div>
								<div class="per_title">{{item.title}}</div>
							</div>
							<div class="personItem_r">
								<div class="per_r_title"><span>{{item.oldvalue | occupation}}</span>%</div>
								<div class="per_title">占总缴纳数比例</div>
							</div>
						</div>
						
						<div class="person_main_box" v-if="item.open">
							<!--<div class="per_main_top">{{item.name}}/{{item.oldvalue | currency}}</div>-->
							<ul>
								<li class="clear" v-for="items in item.list">
									<span class="left">{{items.name}}</span>
									<div class="right">
										<span>{{items.tax}}</span>
										<i></i>
										<div>{{items.value}}</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="mainBox">
				<div class="title">优化前收入与支出占比</div>
				<div id="main"></div>
			</div>
			<div id="mainBoxs">
				<div class="titles">仁仕通优化后收入与支出占比</div>
				<div id="mains"></div>
			</div>
			<div class="pre-loading" v-show="preLoading">
				<div class="pre-block"><div class="spinner"><i></i></div>数据加载中...</div>
			</div>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
			    el: '#app',
			    data: {
			    		preLoading:true,//加载
			    		cityval:'',//城市
			        money:0,//总共缴纳
			        showHideFalg:3,//个人缴纳与企业缴纳 0个人 1企业
			        newVal:0,//优化后工资
			        inputVal:0,//工资
			        oldVal:0,//优化前
			        personValnew:0,//个人所得税优化后
			        personValold:0,//个人所得税优化前
			        itemList:[
				        	{
				        		title:'个人缴纳',
				        		oldvalue:0,//优化前
				        		newvalue:0,//优化后
				        		open:false,//是否展开
				        		img:'./img/p1.png',//左侧图标
				        		list:[]
				        	},
				        	{
				        		title:'企业缴纳',
				        		oldvalue:0,//优化前
				        		newvalue:0,//优化后
				        		open:false,
				        		img:'./img/p2.png',
				        		list:[]
				        	}
			        ]
			    },
			    filters: {
			        currency: function (value) {
			            return value?(parseFloat(value)).toFixed(2):'0.00';
			        },
			        occupation: function (value) {//占比计算
			            return value?((value/vm.money)*100).toFixed(0):'';
			        },
			        valuedecade: function (value) {//显示十位
			            return value?value.split('.')[0]:'';
			        },
			        valuebit: function (value) {//显示个位
			            return value?'.'+value.split('.')[1]:'';
			        },
			    },
			    mounted: function () {
			        var _this = this;
			        FastClick.attach(document.body);
			        _this.inputVal = sessionStorage.getItem('inputVal')*1;
			        _this.newVal = _ss(_this.inputVal*1);
			        _this.oldVal = _sss(_this.inputVal*1);
			        _this.cityval = sessionStorage.getItem('cityVal');
			        if(!_this.inputVal)return;
			        _this.money = 0;
			        o.forEach(function(v,k){
			        		if(v.name == _this.cityval){
			        			_this.itemList[0].list = v.personalPayment;
			        			_this.itemList[1].list = v.enterprisePayment;
			        		}
			        })
			        _this.itemList.forEach(function(v,k){
			        		v.oldvalue = 0;
			        		v.newvalue = 0;
				        	v.list.forEach(function(m,n){
				        		m.value = (parseFloat(m.tax)/100*_this.oldVal).toFixed(2);
				        		v.oldvalue = parseFloat(m.value) + parseFloat(v.oldvalue);
				        		v.newvalue = (parseFloat(m.tax)/100*_this.newVal) + parseFloat(v.newvalue);
				        	})
				        	v.oldvalue = v.oldvalue.toFixed(2);
				        	_this.money = parseFloat(v.oldvalue) + parseFloat(_this.money);
			        })
			        _this.personValnew = _this.taxFun(_this.newVal,1).toFixed(2);
			        _this.personValold = _this.taxFun(_this.oldVal,2).toFixed(2);
			        _this.echarts();
					_this.echartsT();
			    		setTimeout(function(){_this.preLoading = false;},100) 
			    },
			    methods: {
			        thTypeClick: function (item) {//个人 企业切换查看
			        		item.open = !item.open;
			        },
			        echarts:function(){//仁仕通优化后收入与支出占比
			        	var _this = this;
			        	var myChart = echarts.init(document.getElementById('mains'));
						var option = {
						    series: [
						        {
						            name:'',
						            type:'pie',
						            radius: [0, '35%'],
						            hoverAnimation:false,
						            label: {normal: {color:['#fff'],formatter: _this.get,position: 'center',rich: {b: {color:[''],fontSize: 10}}}},
						            labelLine: {normal: {show: false}},
						            color:['#7cacda'],
						            data:[{value:(_this.inputVal*1 + _this.itemList[1].newvalue*1).toFixed(2), name:'企业总支出'}]
						        },
						        {
						            name:'',
						            type:'pie',
						            radius: ['40%', '60%'],
						            hoverAnimation:false,
						            labelLine: { normal: {length:5 }},
						            label: {normal: {formatter: _this.get,color:['#333'],rich: { b: {color:[''], fontSize: 10}}}},
						            data:[
						                {value:(_this.itemList[0].newvalue*1 + _this.personValnew*1).toFixed(2), name:'员工社保个税'},
						                {value:(_this.inputVal/1000)*15, name:''},
						                {value:(_this.itemList[1].newvalue*1).toFixed(2), name:'企业社保交金'},
						                {value:(_this.inputVal/1000)*15, name:''},
						                {value:(_this.inputVal - (_this.itemList[0].newvalue*1 +_this.personValnew*1)).toFixed(2), name:'员工到手收入'},
						                {value:(_this.inputVal/1000)*15, name:''},
						            ],
						            color:['#9bc3f6','rgba(0,0,0,0)','#9dbadc','rgba(0,0,0,0)','#c9d6e6','rgba(0,0,0,0)']
						        }
						    ]
				       };
				        myChart.setOption(option);
			        },
			        echartsT:function(){//优化前收入与支出占比
			        	var _this = this;
			        	var myChart = echarts.init(document.getElementById('main'));
						var option = {
						    series: [
						        {
						            name:'',
						            type:'pie',
						            radius: [0, '35%'],
						            label: {normal: {color:['#fff'],formatter: _this.get,position: 'center',rich: {b: {color:[''],fontSize: 10}}}},
						            hoverAnimation:false,
						            labelLine: {normal: {show: false,length:5}},
						            color:['#7cacda'],
						            data:[ {value:(_this.inputVal*1 + _this.itemList[1].oldvalue*1).toFixed(2), name:'企业总支出'}]
						        },
						        {
						            name:'',
						            type:'pie',
						            radius: ['40%', '60%'],
						            hoverAnimation:false,
						            labelLine: {normal: { length:5}},
						            label: {normal: {formatter: _this.get,color:['#333'],rich: {b: {color:[''],fontSize: 10}}}},
						            data:[
						                {value:(_this.itemList[0].oldvalue*1 + _this.personValold*1).toFixed(2), name:'员工社保个税'},
						                {value:(_this.inputVal/1000)*15, name:''},
						                {value:(_this.itemList[1].oldvalue*1).toFixed(2), name:'企业社保交金'},
						                {value:(_this.inputVal/1000)*15, name:''},
						                {value:(_this.inputVal - (_this.itemList[0].oldvalue*1 +_this.personValold*1)).toFixed(2), name:'员工到手收入'},
						                {value:(_this.inputVal/1000)*15, name:''},
						            ],
						            color:['#9bc3f6','rgba(0,0,0,0)','#9dbadc','rgba(0,0,0,0)','#c9d6e6','rgba(0,0,0,0)'],
						            
						        }
						    ]
				        };
				        myChart.setOption(option);
			        },
			        taxFun:function(val,type){//个人所得税 1优化后 2优化前
			        		var _p = 0;
			        		type==1?_p=this.itemList[0].newvalue*1:_p=this.itemList[0].oldvalue*1;
				        var _tax = 0,_val = val - 5000 - _p;
				        if(parseFloat(_val) > 0 && parseFloat(_val) <= 3000){
				        		_tax = parseFloat(_val)*0.03;
				        }else if(3000 < parseFloat(_val) && parseFloat(_val) <= 12000){
				        		_tax = parseFloat(_val)*0.1 - 210;
				        }else if(12000 < parseFloat(_val) && parseFloat(_val) <= 25000){
				        		_tax = parseFloat(_val)*0.2 - 1410;
				        }else if(25000 < parseFloat(val) && parseFloat(_val) <= 35000){
				       	 	_tax = parseFloat(_val)*0.25 - 2660;
				        }else if(35000 < parseFloat(_val) && parseFloat(_val) <= 55000){
				        		_tax = parseFloat(_val)*0.30 - 4410;
				        }else if(55000 < parseFloat(_val) && parseFloat(_val) <= 80000){
				        		_tax = parseFloat(_val)*0.35 - 7160;
				        }else if(80000 < parseFloat(_val)){
				        		_tax = parseFloat(_val)*0.45 - 15160;
				        }
				        return _tax;
			        },
			        get:function(e){//饼图显示
				        	if(e.name){
				        		return e.name+"\n"+e.value+"元";
				        	}
			        },
			    }
			})
		</script>
	</body>
</html>

