<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_categroy.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/weui.css"/>
    <style>
        .header .kefu_logo{margin: .2rem .6rem 0 0;}
    </style>
</head>
<body>
    <script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/weui.js"></script>
    <script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <div class="content" id="app" v-cloak>
        <!--头部搜索-->
        <header id="header" class="header bgfrgba pl_header borderBnew bgf">
            <div v-for="(item,i) in categoryItem" :class="[categoryNavIndex == i?'pl_item activepl_item':'pl_item']" @click="topNavlistc(i)">
                <img :src="item.image" alt="" class="middle wt1rem">
                <span class="middle">{{item.name}}</span>
            </div>
        </header>

        <div class="nctouch-main-layout">
            <div class="categroy-cnt" id="categroy-cnt">
                <ul class="categroy-list" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 1000ms; transform: translate(0px, 0px) translateZ(0px);">
                    <li class="category-item mrl2" :class="[categoryIndex == i? 'category-item selected' : 'category-item']" v-for="(item,i) in categoryRgt" @click="categoryList(i,item.id)">
                        <a href="javascript:void(0);" class="category-item-a category">
                            <img src="../../images/pl_e.png" alt="" class="plr4 wt1rem middle">
                            <div class="ci-fcategory-name middle">{{item.name}}</div>
                            <img src="../../images/pl_active.png" alt="" class="wt4rem" v-if="categoryIndex == i">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="categroy-rgt" id="categroy-rgt">
                <div class="categroy-child-list productMend">
                    <section>
                        <!--<div v-if="items.otypehot == 1" class="mb5">-->
                            <!--<img :src="items.banner" alt="" class="borRad5 productImg" @click="bannerClick">-->
                        <!--</div>-->
                        <div class="plrtb">
                            <!--<div class="productName" @click="categoryListTwo(items.id,items.lev)">{{items.name}}</div>-->
                            <ul class="clearfix pdt5">
                                <li class="productMend_li mb5" v-for="(itemsChild,n) in categoryThree"  @click="categoryListThree(itemsChild.id)">
                                    <!--<img :src="itemsChild.image" alt="">-->
                                    <div class="center whiteSpace">{{itemsChild.name}}</div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="pre-loading" v-show="preLoading"></div>
        </div>
        <!--尾部切换-->
        <footer class="footer"></footer>
    </div>
    <script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/product/product_list.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
