<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_products_list.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/weui.css"/>
</head>
<body>
    <script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/weui.js"></script>
    <script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>

    <div class="content" id="list" v-cloak>

        <!--头部搜索-->
        <header id="header" class="header nctouch-product-header fixed product_item homehederbfg">
            <div class="header-wrap">
                <div class="header-l">
                    <a href="javascript:history.go(-1)"> <i class="back back2"></i> </a>
                </div>
                <div class="header-inp clearfix">
                    <i class="icon"></i>
                    <form action="" @submit.prevent="sub">
                        <input type="search" autocomplete="off" class="search-input" v-model="inputSeach" :placeholder="seachTitle">
                    </form>
                </div>
            </div>
        </header>

        <!--条件选择-->
        <div class="goods-search-list-nav">
            <ul id="nav_ul">
                <!--<li><a href="javascript:void(0);" :class="[(!current_falg)?'current':'']" @click="browseVolume">按时间</a>-->
                <!--</li>-->
                <li><a href="javascript:void(0);" :class="[current_falg?'current':'']" id="sort_default" @click="goodsSort">{{goodsValue}}<i :class="[nav_li_icon?'icon':'li_icon']"></i></a>
                </li>
                <li><a href="javascript:void(0);" :class="[(!current_falg)?'current':'']" @click="browseVolume">按销量</a>
                </li>
                <li class="browse-mode"><a href="javascript:void(0);" @click="browseMode"><span :class="[browseMode_falg?'browse-list':'browse-grid']"></span></a></li>
            </ul>
        </div>


        <!--商品内容-->
        <div class="nctouch-main-layout mt40" >
            <div id="product_list " :class="[browseMode_falg?'list':'grid']">
                <ul class="goods-secrch-list " v-if="norecordShow">
                    <li class="goods-item" v-for="(items,i) in itemList" :id="items.common_id" :class="[browseMode_falg?'':'borRad5']">
                        <span class="goods-pic">
                            <a :href="'product_detail.html?goods_id='+items.id">
                                <img :src="items.mainPic" alt="" :class="[browseMode_falg?'borRad5':'']">
                            </a>
                        </span>
                        <dl class="goods-info">
                            <dt class="goods-name">
                                <a :href="'product_detail.html?goods_id='+items.id">
                                    <h4 class="whiteSpace2">{{items.name}}</h4>
                                    <!--<h6>{{items.description}}</h6>-->
                                </a>
                            </dt>
                            <dd style="height: .5rem;">&nbsp; <!--<span style="font-size: 0.6rem;">￥<em style="font-size: 0.8rem;color: #EC5464;font-weight: bold;">{{items.instalmentPrice | priceTofixed}}</em> × {{items.stagingNum | number }}期</span>--></dd>
                            <dd class="goods-sale">
                                <a :href="'product_detail.html?goods_id='+items.id">
                                    <span class="goods-price"><i v-if="browseMode_falg">商城价:</i><b>￥</b><em>{{items.price | priceTofixeds}}<i class="grid_i" v-if="!browseMode_falg">元</i></em></span>
                                </a>
                                <div class="goods-assist">
                                    <div class="goods-store"><i v-if="!browseMode_falg">购买人数:</i><i v-if="browseMode_falg">销量:</i>{{items.salesVolume | number}}</div>
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li v-if="listNode" class="listNode">
                        已经到底了
                    </li>
                </ul>
                <!--显示无数据-->
                <div class="nctouch-norecord search" v-if="!norecordShow">
                    <div class="norecord-ico"><i></i></div>
                    <dl>
                        <dt>抱歉，没有找到商品~</dt>
                        <dd>选择或搜索其他商品分类/名称...</dd>
                    </dl>
                    <a href="../home/home.html" class="btn">随便逛逛</a>
                </div>
            </div>
        </div>

        <!--筛选-->
        <div class="nctouch-full-mask hide JS-search right"  style="z-index: 1999;">
            <div class="nctouch-full-mask-bg"></div>
            <div class="nctouch-full-mask-block">
                <div class="nctouch-main-layout-a secreen-layout" id="list-items-scroll">
                    <div style="height: 100%;width: 100%;background: #fff;transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                        <dl class="bor0">
                            <dt>价格区间</dt>
                            <dd>
                                <span class="inp-balck">
                                    <input type="text" id="price_from" nctype="price" pattern="[0-9]*" class="inp" placeholder="最低价" v-model="datas.rangeMin"></span>
                                <span class="line"></span>
                                <span class="inp-balck">
                                    <input nctype="price" type="text" id="price_to" pattern="[0-9]*" class="inp" placeholder="最高价" v-model="datas.rangeMax"></span>
                            </dd>
                        </dl>
                        <div class="bottom bottom1">
                            <a href="javascript:void(0);" class="btn-l reset" id="reset" @click="resetClick">重置</a>
                        </div>
                        <div class="bottom bottom2">
                            <a href="javascript:void(0);" class="btn-l" id="searchSubmit" @click="searchSubmit">确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pre-loading" v-show="preLoading"></div>

        <!--回到顶部-->
        <div class="fix-block-r" @click="oBackTop" v-show="oBackTopFixed"></div>
    </div>
    <script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/product/product_item.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
