<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>仁仕通上海社保计算器</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<script>
	        document.getElementsByTagName("html")[0].style.fontSize=window.screen.width/10+"px";
	    </script>
	</head>
	<body><!--fddc01 -->
		<script src="./js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/echarts.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/data.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/index.js" type="text/javascript" charset="utf-8"></script>
		<div id="app" v-cloak class="w100">
			
			<div class="th_item w100 center">
				<div class="pt7">总共缴纳</div>
				<div class="title">(个人缴纳+企业缴纳)</div>
				<div class="money"><span>￥</span> {{money | currency}}</div>
			</div>
			
			<div class="th_main_box w100 bgf boxShadow">
				<div class="thMain" v-for="(item,index) in itemList">
					<div class="thMain_type clear" :class="[index==0?'borderBot':'']" @click="thTypeClick(index)">
						<div class="left">
							<img :src="item.img" alt=""class="icon_l" />
							<span class="imgMiddle ml">{{item.title}}</span>
							<span class="imgMiddle">{{item.value}}</span>
						</div>
						<img src="img/p3.png" alt="" class="right icon"/>
					</div>
					<ul class="thMain_detail" v-if="showHideFalg==index">
						<li class="clear borderBot" v-for="items in item.list">
							<span class="left">{{items.name}}</span>
							<span class="tax">{{items.tax}}</span>
							<span class="right">{{items.value | currency}}</span>
						</li>
					</ul>
				</div>
			</div>
			<div id="mainBox">
				<div class="title">优化前收入与支出占比</div>
				<div id="main"></div>
			</div>
			
			<div class="pre-loading" v-show="preLoading">
				<div class="pre-block"><div class="spinner"><i></i></div>数据加载中...</div>
			</div>
		</div>
		<script type="text/javascript">
			new Vue({
			    el: '#app',
			    data: {
			    	preLoading:true,//加载
			        money:0,//总共缴纳
			        showHideFalg:3,//个人缴纳与企业缴纳 0个人 1企业
			        inputVal:0,//输入工资
			        itemList:[
			        	{
			        		title:'个人缴纳:',
			        		value:0,
			        		img:'./img/p1.png',
			        		list:[]
			        	},
			        	{
			        		title:'企业缴纳:',
			        		value:0,
			        		img:'./img/p2.png',
			        		list:[]
			        	}
			        ]
			    },
			    filters: {
			        currency: function (value) {
			            return value?(parseFloat(value)).toFixed(2):'0.00';
			        },
			    },
			    mounted: function () {
			        var _this = this;
			        FastClick.attach(document.body);
			        _this.inputVal = sessionStorage.getItem('inputVal')*1;
			        if(!_this.inputVal)return;
			        _this.money = 0;
			        
			        _this.itemList[0].list = o[0].personalPayment;
			        _this.itemList[1].list = o[0].enterprisePayment;
			        
			        _this.itemList.forEach(function(v,k){
			        	v.value = 0;
			        	v.list.forEach(function(m,n){
			        		m.value = (parseFloat(m.tax)/100*_this.inputVal).toFixed(2);
			        		v.value = parseFloat(m.value) + parseFloat(v.value);
			        	})
			        	v.value = v.value.toFixed(2);
			        	_this.money = parseFloat(v.value) + parseFloat(_this.money);
			        })
			        
			        //_this.echarts();
					_this.echartsT();
					
			    	setTimeout(function(){_this.preLoading = false;},100) 
			        
			    },
			    methods: {
			        thTypeClick: function (index) {//个人 企业切换查看点击
			            var _this = this,_url='';
			            index==0?_url='./personalPayment.html':_url='./enterprisePayment.html';
			            sessionStorage.setItem('moremoney',parseFloat(_this.money).toFixed(2));
			            window.location.href = _url;
			        },
			        echarts:function(){//优化前收入与支出占比
			        	var _this = this;
			        	var myChart = echarts.init(document.getElementById('main'));
						var option = {
							title: { //标题组件，包含主标题和副标题。
								text: '优化前收入与支出占比',//主标题文本，支持使用 \n 换行。
								top:'bottom',
            					left:'center',
							},
				            series: [
				                {
				                    name:'',
				                    type:'pie',
				                    radius: ['30%', '90%'],
				                    label: {
				                        normal: {
				                            position:'inside',
				                            formatter: "{b} \n {c}元 ",
				                            align:'center',
				                            fontSize: 15,
				                            color:"#fff"
				                        }
				                    },
				                    data:[
				                        {value:0, name:'员工社保个税:'},//个人社保缴纳汇总+个人所得税
				                        {value:0, name:'单位社保交金:'},//单位社保缴纳汇总
				                        {value:0, name:'员工到手收入:'}//税后收入
				                    ]
				                },
				                {
				                    name:'',
				                    type:'pie',
				                    radius: ['0%', '33%'],
				                    label: {
				                        normal: {
				                            position: 'center',
				                    		formatter: "{b} \n {c}元 ",
				                            fontSize: 18,
				                            color:'#80F0E3'
				                        }
				                    },
				                    data:[
				                        {value:0, name:'单位总支出'}
				                    ]
				                }
				            ],
				        };
				        option.series[0].data[0].value = (_this.itemList[0].oldvalue*1 + _this.taxFun(_this.inputVal)).toFixed(2);
				        option.series[0].data[1].value = (_this.itemList[1].oldvalue*1).toFixed(2);
				        option.series[0].data[2].value = (_this.inputVal - option.series[0].data[0].value).toFixed(2);
				        option.series[1].data[0].value = (_this.inputVal*1 + _this.itemList[1].oldvalue*1).toFixed(2);
				        myChart.setOption(option);
			        },
			        echartsT:function(){//仁仕通优化后收入与支出占比
			        	var _this = this;
			        	var myChart = echarts.init(document.getElementById('main'));
						var option = {
							tooltip: {
						        trigger: 'item',
						        formatter: "{a} <br/>{b}: {c} ({d}%)"
						    },
						    series: [
						        {
						            name:'访问来源',
						            type:'pie',
						            radius: [0, '30%'],
						            label: {
						                normal: {
						                    color:['#333'],
						                    formatter: '{b}\n{c}',
						                    position: 'inner'
						                }
						            },
						            labelLine: {
						                normal: {
						                    show: false
						                }
						            },
						            color:['#fff'],
						            data:[
						                {value:335, name:'单位总支出'}
						            ]
						        },
						        {
						            name:'访问来源',
						            type:'pie',
						            radius: ['35%', '50%'],
						            label: {
						                normal: {
						                    formatter: '{b|{b} } ',
						                    color:['#333'],
						                    rich: {
						                        b: {
						                            color:[''],
						                            fontSize: 16,
						                            lineHeight: 33
						                        }
						                    }
						                }
						            },
						            data:[
						                {value:335, name:'直达 335'},
						                {value:10, name:''},
						                {value:310, name:'邮件营销 335'},
						                {value:10, name:''},
						                {value:234, name:'联盟广告 335'},
						                 {value:10, name:''},
						            ],
						            color:['#9bc3f6','rgba(0,0,0,0)','#9dbadc','rgba(0,0,0,0)','#333','rgba(0,0,0,0)']
						        }
						    ]
				        };
				       /* option.series[0].data[0].value = (_this.itemList[0].value*1 + _this.taxFun(_this.inputVal)).toFixed(2);
				        option.series[0].data[1].value = (_this.itemList[1].value*1).toFixed(2);
				        option.series[0].data[2].value = (_this.inputVal - option.series[0].data[0].value).toFixed(2);
				        option.series[1].data[0].value = (_this.inputVal*1 + _this.itemList[1].value*1).toFixed(2);*/
				        myChart.setOption(option);
			        },
			        taxFun:function(val){//个人所得税
			        	var _this = this;
			        	/*
				         * <=5000             5   0
				         * 5000  < - <=12000  10%  210
				         * 12000 < - <=25000  20%  1410
				         * 25000 < - <=35000  25%  2660
				         * 35000 < - <=55000  30%  4410
				         * 55000 < - <=80000  35%  7160
				         * >80000             45%  15160
				         * */
				        var _tax = 0;
				        if(parseFloat(val) <= 5000){
				        	_tax = (this.inputVal - _this.itemList[0].value)*0.05;
				        }else if(5000 < parseFloat(val) && parseFloat(val) <= 12000){
				        	_tax = (this.inputVal - 5000 - _this.itemList[0].value)*0.1 - 210;
				        }else if(12000 < parseFloat(val) && parseFloat(val) <= 25000){
				        	_tax = (this.inputVal - 5000 - _this.itemList[0].value)*0.2 - 1410;
				        }else if(25000 < parseFloat(val) && parseFloat(val) <= 35000){
				        	_tax = (this.inputVal - 5000 - _this.itemList[0].value)*0.25 - 2660;
				        }else if(35000 < parseFloat(val) && parseFloat(val) <= 55000){
				        	_tax = (this.inputVal - 5000 - _this.itemList[0].value)*0.30 - 4410;
				        }else if(55000 < parseFloat(val) && parseFloat(val) <= 80000){
				        	_tax = (this.inputVal - 5000 - _this.itemList[0].value)*0.35 - 7160;
				        }else if(80000 < parseFloat(val)){
				        	_tax = (this.inputVal - 5000 - _this.itemList[0].value)*0.45 - 15160;
				        }
				        return _tax;
			        }
			    }
			})
		</script>
	</body>
</html>
