<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/zTree/zTreeStyle.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
</head>

<body>
<div id="app" class="hide">
  <!-- 商品管理 -->
  <div class="wrapper page">
    <div class="fixed-bar">
      <div class="item-title">
        <div class="subject">
          <h3>分类管理</h3>
          <h5>商品分类管理</h5>
        </div>
        <ul class="tab-base nc-row">
          <li v-for="(nav,index) in productNav" :key="nav.index">
            <a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 搜索条件 -->
    <div class="mod-search cf" id="report-search">
      <div class="fr">
        <a class="ui-btn" id="addNew" @click="addClassify('新增分类')" v-if="userRights['insertCategoryInfo']">新增一级分类<i
          class="layui-icon">&#xe654;</i></a>
        <a class="ui-btn" id="audit" @click="getInfo()">刷新<i class="el-icon-refresh"></i></a>
      </div>
    </div>
    <!-- 搜索条件结束 -->

    <!-- 表格数据渲染 -->
    <div class="cf">
      <div class="grid-wrap">
        <div class="productManger" v-if='productLists.length > 0'>
          <!-- 表头 -->
          <div class="produtHead classifyHead">
            <ul>
              <li class="shopWidth">操作</li>
              <li>排序</li>
              <li class="productWidth">分类ID</li>
              <li class="productWidth">分类名称</li>
              <li>类别</li>
              <li>分类图片</li>
            </ul>
          </div>
          <!-- 表头结束 -->
          <!-- 商品列表 -->
          <div class="pruductList classifyList">
            <div v-for="(item,index) in productLists">
              <!--一级分类-->
              <ul :class="{'active':item.active}" @click="selectOrder(item,productLists)">
                <li class="shopWidth">
                  <span class=" ui-icon-pencil" title="修改" @click="showDetail(item)"
                        v-if="userRights['updateCategoryInfo']"><i class="layui-icon">&#xe642;</i></span>
                  <span class=" ui-icon-trash" title="删除" @click.stop="removeProduct(item.id)"
                        v-if="userRights['deleteCategoryInfo']"><i class="layui-icon">&#xe640;</i></span>
                  <span class=" ui-icon-add" title="新增" @click.stop="addClassify('新增分类',item.id,item.name,item.lev)"
                        v-if="userRights['insertCategoryInfo']"><i class="layui-icon">&#xe654;</i></span>
                </li>
                <li>{{item.sorting}}</li>
                <li class="productWidth">{{item.idView}}</li>
                <li class="productWidth Arrow">
                  <i class="el-icon-caret-right" v-show="!item.showCategory" @click.stop="categoryShow(item)"></i>
                  <i class="el-icon-caret-bottom" v-show="item.showCategory" @click.stop="categoryShow(item)"></i>
                  {{item.name}}
                </li>
                <li>{{item.typeName}}</li>
                <li><img :src="item.image" style="height: 100%;padding: 3px"></li>
              </ul>
              <div v-for="(categoryTwo,index) in item.children" v-show="item.showCategory">
                <!--二级分类-->
                <ul :class="{'active':categoryTwo.active}" @click="selectOrder(categoryTwo,productLists)">
                  <li class="shopWidth">
                    <span class=" ui-icon-pencil" title="修改" @click="showDetail(categoryTwo)"
                          v-if="userRights['updateCategoryInfo']"><i class="layui-icon">&#xe642;</i></span>
                    <span class=" ui-icon-trash" title="删除" @click.stop="removeProduct(categoryTwo.id)"
                          v-if="userRights['deleteCategoryInfo']"><i class="layui-icon">&#xe640;</i></span>
                    <span class=" ui-icon-add" title="新增"
                          @click.stop="addClassify('新增分类',categoryTwo.id,categoryTwo.name,categoryTwo.lev)"
                          v-if="userRights['insertCategoryInfo']"><i class="layui-icon">&#xe654;</i></span>
                  </li>
                  <li>{{categoryTwo.sorting}}</li>
                  <li class="productWidth">{{categoryTwo.idView}}</li>
                  <li class="productWidth Arrow areaArrow">
                    <i class="el-icon-caret-right" v-show="!categoryTwo.showCategory"
                       @click.stop="categoryShow(categoryTwo)"></i>
                    <i class="el-icon-caret-bottom" v-show="categoryTwo.showCategory"
                       @click.stop="categoryShow(categoryTwo)"></i>
                    {{categoryTwo.name}}
                  </li>
                  <li>{{categoryTwo.typeName}}</li>
                  <li><img :src="categoryTwo.image" style="height: 100%;padding: 3px"></li>
                </ul>
                <div v-for="(categoryThree,index) in categoryTwo.children" v-show="categoryTwo.showCategory">
                  <!--三级分类-->
                  <ul :class="{'active':categoryThree.active}" @click="selectOrder(categoryThree,productLists)">
                    <li class="shopWidth">
                      <span class=" ui-icon-pencil" title="修改" @click="showDetail(categoryThree)"
                            v-if="userRights['updateCategoryInfo']"><i class="layui-icon">&#xe642;</i></span>
                      <span class=" ui-icon-trash" title="删除" @click.stop="removeProduct(categoryThree.id)"
                            v-if="userRights['deleteCategoryInfo']"><i class="layui-icon">&#xe640;</i></span>
                    </li>
                    <li>{{categoryThree.sorting}}</li>
                    <li class="productWidth">{{categoryThree.idView}}</li>
                    <li class="productWidth Arrow cityArrow">
                      <i class="el-icon-star-on"></i>
                      {{categoryThree.name}}
                    </li>
                    <li>{{categoryThree.typeName}}</li>
                    <li><img :src="categoryThree.image" style="height: 100%;padding: 3px"></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <!-- 商品列表结束 -->
        </div>
        <div v-else style="text-align:center;margin:50px 0;">
          暂无数据
        </div>
      </div>
    </div>
    <!-- 表格数据渲染结束 -->
  </div>
  <!--新增分类-->
  <div id="add" style="display:none;">
    <el-form method="post" id="dump-add-form" name="addForm" :model="addForm" :rules="rules" ref="addForm"
             label-width="30%" class="mt20">
      <div class="ncap-form-default">
        <el-form-item label="分类名称：" prop="addNewName">
          <el-input placeholder="" v-model="addForm.addNewName"></el-input>
        </el-form-item>
        <el-form-item label="分类图片:" prop="categoryImg">
          <div class="img-container">
            <img id="image" :src="addForm.categoryImg" alt="" style="display: block;max-width: 300px;max-height: 250px">
            <label class="btn  btn-upload" for="inputImage" title="">
              <input type="file" class="sr-only" id="inputImage" accept=".jpg,.jpeg,.png,.gif" @change="selectFile">
              <span class="docs-tooltip">选择文件<i class="el-icon-upload2"></i> </span>
            </label>
          </div>
          <span class="tips">上传分类图片时，请上传宽度不低于240像素，高度不低于200像素的图片</span>
        </el-form-item>
        <el-form-item label="上级分类:" prop="prevCategory">
          <el-input placeholder="" v-model="addForm.prevCategory" class="inputSlice" readonly="true"></el-input>
        </el-form-item>
        <span v-if="thirdShow" class="">
          <!--<el-form-item label="" prop="checked">-->
            <!--<el-checkbox v-model="addForm.checked" label="是否热门分类"></el-checkbox>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="" prop="isSpecial">-->
            <!--<el-checkbox v-model="addForm.isSpecial" label="是否专题推荐"></el-checkbox>-->
          <!--</el-form-item>-->
        <el-form-item label="分类属性:" prop="recommand">
          <el-select v-model="addForm.recommand" clearable placeholder="请选择">
            <el-option v-for="type in addForm.types" :key="type.id" :label="type.name" :value="type.id">
            </el-option>
          </el-select>
        </el-form-item>
            </span>
        <el-form-item label="类别:" prop="type">
          <el-select v-model="addForm.type" clearable placeholder="请选择">
            <el-option v-for="select in addForm.selects" :key="select.id" :label="select.name" :value="select.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="排序:" prop="orderType">
          <el-input placeholder="" v-model="addForm.orderType" class="inputSlice"></el-input>
          <span class="tips">数字范围为0~255，数字越小越靠前</span>
        </el-form-item>
        <el-form-item label="是否隐藏:" prop="status">
          <dl class="">
            <dd class="opt">
              <div class="onoff">
                <input id="isUse1"  value="1" type="radio" v-model="addForm.status">
                <label title="是" class="cb-enable " for="isUse1" :class="{'selected':addForm.status==1}">是</label>
                <input id="isUse0"  value="0" type="radio" v-model="addForm.status">
                <label title="否" class="cb-disable " for="isUse0" :class="{'selected':addForm.status==0}">否</label>
              </div>
            </dd>
          </dl>
        </el-form-item>
      </div>
    </el-form>
  </div>
  <!--新增分类结束-->
  <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中...</div>
</div>
<div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中...</div>
<script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
<script type="text/javascript" src="../../common/layui/layui.all.js"></script>
<script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../common/zTree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script type="text/javascript" src="../../common/js/getCategoryTree.js"></script>
<script type="text/javascript" src="../../js/product/productClassify.js"></script>
<script>

</script>
</body>

</html>