@charset "utf-8";body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,html,img,input,legend,li,ol,p,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:9pt "微软雅黑"}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}
fieldset,img{border:none}
img{display:block}
ol,ul{list-style:none}
a{color:#000}
a,a:hover{text-decoration:none}
.clear{clear:both}
.left{float: left;}
.right{float: right;}
em,i{font-style: normal;}
body{ 
-webkit-user-select:none; 
-moz-user-select:none; 
-ms-user-select:none; 
user-select:none;
}
.sanjiaoStyle{
    display: inline-block;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 	/* IE 9 */
	-moz-transform:rotate(-90deg); 	/* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
	-o-transform:rotate(-90deg); 	/* Opera */
}
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: .12rem;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
	width: 3.75rem;
    height: .5rem;
    text-align: center;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
	width: 3.75rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
}
.dropload-load .loading{
    display: inline-block;
    height: .15rem;
    width: .15rem;
    border-radius: 100%;
    margin: .06rem;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.back{
	position: fixed;
    bottom: .3rem;
    overflow: hidden;
    right: .05rem;
    z-index: 200;
    text-align: center;
    width: .4rem;
    height: .45rem;
    line-height: .4rem;
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: .4;
    border-radius:10%;
    font-size: .25rem;
    color: #fff;
    display: none;
}

