<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="screen-orientation" content="portrait" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../lib/css/base.css" />
	<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css" />
	<link rel="stylesheet" type="text/css" href="../../css/member.css" />
</head>

<body>
	<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../lib/js/iscroll.js"></script>
	<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<div class="content hide" id="app">
		<!--头部搜索-->
		<header id="header">
			<div class="header-wrap">
				<div class="header-l">
					<a href="map_list.html"> <i class="back"></i> </a>
				</div>
				<div class="header-title">
					<h1>新增收货地址</h1>
				</div>
				<div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="save"></i></a> </div>
			</div>
		</header>
		<!-- 内容部分 -->
		<div class="nctouch-main-layout" id="new-address-scroll">
			<div class="nctouch-inp-con">
				<form id="add_address_form">
					<ul class="form-box">
						<li class="form-item">
							<h4>收货人姓名</h4>
							<div class="input-box">
								<input type="text" class="inp" name="true_name" id="vtrue_name" autocomplete="off" v-model="submitDate.name">
								<span class="input-del"></span> </div>
						</li>
						<li class="form-item">
							<h4>联系手机</h4>
							<div class="input-box">
								<input type="tel" class="inp" name="mob_phone" id="vmob_phone" autocomplete="off" v-model="submitDate.phone">
								<span class="input-del"></span> </div>
						</li>
						<li class="form-item">
							<h4>地区选择</h4>
							<div class="input-box" @click="MapCityClick">
								<input name="area_info" type="text" class="inp" id="varea_info" autocomplete="off" readonly v-model="submitDate.mapAddress">
							</div>
						</li>
						<li class="form-item">
							<h4>详细地址</h4>
							<div class="input-box">
								<input name="area_info" type="text" class="inp" id="area_info" autocomplete="off" v-model="submitDate.mdetailAddress">
								<span class="input-del"></span> </div>
						</li>
						<li>
							<h4>默认地址</h4>
							<div class="input-box">
								<label :class="[defaultFalg ?'checked':'']">
									<input type="checkbox" name="is_default" :value="[defaultFalg?'2':'1']" class="checkbox" v-model="val">
									<span class="power" @click="default_click"><i></i></span>
								</label>
							</div>
						</li>
					</ul>
					<div class="error-tips"></div>
					<div :class="[submitColor ?'form-btn ok':'form-btn']"><a href="javascript:void(0);" class="btn">保存地址</a></div>
				</form>
			</div>
		</div>
	</div>
	<script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
                defaultFalg:false,//默认地址
                submitDate:{//保存地址信息
                    'name':'',
                    'phone':'',
                    'mapAddress':'',
                    'mdetailAddress':''
				},
                submitColor:false,//改变按钮颜色
                val:'1'
			},
			computed: {

			},
			mounted: function () {
				let _this = this;
				FastClick.attach(document.body);
				commentJs.appShowhide('app');
			},
			watch:{
                submitDate:{
                    handler(val, oldVal){
						(val.name != '' && val.phone != '' && val.mapAddress != '' && val.mdetailAddress != '')?this.submitColor = true:this.submitColor = false;
                    },
                    deep:true
				}
			},
			methods: {
				getInfo() {
                    var _this = this;
					var suc = function (data) {
						console.log(data)
						_this.product = data.dataa.cat_info;
                        _this.items = data.dataa.items;
					}
					commentJs.doPost('../../json/home.json', '', suc);
				},
                MapCityClick(){//地址选择
                    var _this = this;
                    commentJs.areaSelected({
                        success : function(data){
                            console.info(data);
                            area_info = data.area_info;
                            $('#varea_info').val(data.area_info);
                            _this.submitDate.mapAddress = data.area_info;
                        }
                    });
                },
				default_click(){//默认地址切换
					this.defaultFalg = !this.defaultFalg;
					console.log(this.val)
				}
			}


		})
	</script>
</body>

</html>