<!-- 物流工具 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>泰康积分商城商家管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../../static/css/layui.css"  media="all" />
    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="../../css/logistics/tool.css" rel="stylesheet" type="text/css" />
</head>
<area>
<header id="header">
    <app-header curr="2"></app-header>
</header>
<aside id="content" v-cloak>
    <col-nav curr="2" :nav="navData"></col-nav>

    <div class="content_body">
        <span class="layui-breadcrumb" lay-separator="-">
            <a href="../index.html">首页</a>
            <a href="./index.html">订单物流</a>
            <a><cite>物流工具</cite></a>
        </span>

        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">运费模版设置</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div v-bind:style="{ textAlign : 'right' }">
                        <button type="button" class="layui-btn layui-btn-sm" @click="configAddress( null )" v-show="!addNew"><i class="layui-icon">&#xe654;</i>添加运费模版</button>
                    </div>
                    <div :class="{ 'filter' : loading }">
                        <table class="layui-table" lay-skin="nob" v-show="!addNew && tempList.length > 0">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>模板名称</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(temp,idx) in tempList">
                                    <td>{{ idx + 1 }}</td>
                                    <td>{{ temp.templateName }}</td>
                                    <td>{{ temp.templateStatus == 0 ? '启用' : '关闭' }}</td>
                                    <td>
                                        <button class="layui-btn layui-btn-normal layui-btn-xs bottom" @click="configAddress( temp )">
                                            <i class="layui-icon cursor" title="编辑">&#xe642;</i>编辑
                                        </button><br />
                                        <button class="layui-btn layui-btn-danger layui-btn-xs" @click="delTemp( temp )">
                                            <i class="layui-icon cursor" title="删除">&#xe640;</i>删除
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- error -->
                        <app-error v-if="tempList.length == 0 && !loading && !addNew"></app-error>
                        <!-- loading -->
                        <app-loading v-if="loading"></app-loading>
                    </div>


                    <!-- 添加运费模版 -->
                    <form class="layui-form" v-if="addNew">
                        <div class="layui-form-item">
                            <label class="layui-form-label imp">模版名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" placeholder="请输入模版名称" autocomplete="off" class="layui-input templateName" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label imp">模版状态：</label>
                            <div class="layui-input-inline tempStatu">
                                <input type="radio" lay-filter="statu" name="statu" value="0" title="开启" />
                                <input type="radio" lay-filter="statu" name="statu" value="1" title="关闭" checked />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label imp">计费规则：</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="weight" value="1" title="按重量" checked />
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">详细设置：</label>
                            <div class="layui-input-block">
                                <table class="layui-table" lay-skin="nob">
                                    <thead>
                                    <tr>
                                        <th>运送地区</th>
                                        <th>首重(KG)</th>
                                        <th>首费</th>
                                        <th>续重(KG)</th>
                                        <th>续费</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(item,index) in spec" class="specs" v-if="item.show">
                                        <td>
                                            <span :style="{ 'white-space': 'nowrap' , 'max-width': '200px' , 'overflow': 'hidden', 'display': 'block' , 'text-overflow': 'ellipsis' }">{{ !item.areaStr ? '未添加地区' : item.areaStr }}</span>
                                        </td>
                                        <td>
                                            <input type="text" :value="item.firstWeight" placeholder="请输入首重" autocomplete="off" class="layui-input fw" v-bind:style="{ maxWidth:'100px' }" />

                                        </td>
                                        <td>
                                            <input type="text" :value="item.firstCost" placeholder="请输入首费" autocomplete="off" class="layui-input fc" v-bind:style="{ maxWidth:'100px' }" />
                                        </td>
                                        <td>
                                            <input type="text" :value="item.continueWeight" placeholder="请输入续重" autocomplete="off" class="layui-input cw" v-bind:style="{ maxWidth:'100px' }" />
                                        </td>
                                        <td>
                                            <input type="text" :value="item.continueCost" placeholder="请输入续费" autocomplete="off" class="layui-input cc" v-bind:style="{ maxWidth:'100px' }" />
                                        </td>
                                        <td>
                                            <button type="button" class="layui-btn layui-btn-normal layui-btn-xs bottom" @click="showZone( index , item )">
                                                <i class="layui-icon cursor" title="编辑">&#xe642;</i>编辑
                                            </button><br />
                                            <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" @click="delSpec( index , item )">
                                                <i class="layui-icon cursor" title="删除">&#xe640;</i>删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="layui-btn layui-btn-xs" @click="addSpec"><i class="layui-icon">&#xe654;</i>添加规则</button>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <p class="tip imp">注：没有设置规则的地区，默认免运费。</p>
                            </div>

                        </div>
                    </form>
                    <div class="btn-group">
                        <button class="layui-btn" type="button" v-show="addNew" @click="submit">确认提交</button>
                        <button class="layui-btn layui-btn-primary" type="button" v-show="addNew" @click="back">取消</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div v-if="openZone">
        <zone :check-data="showData" :true-data="trueData" :index="showZoneIndex"></zone>
    </div>
</aside>




</body>
<script src="../../static/layui.all.js" type="text/javascript"></script>
<script src="../../static/vue.js" type="text/javascript"></script>
<script src="../../js/request.js" type="text/javascript"></script>
<script src="../../js/component/components.js" type="text/javascript"></script>
<script src="../../js/common.js" type="text/javascript"></script>
<script src="../../js/component/zone.js" type="text/javascript"></script>
<script src="../../js/logistics/tool.js" type="text/javascript"></script>
</html>