<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_cart.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/shopCar.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/weui.css"/>
</head>

<body>
<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../lib/js/weui.js"></script>
<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
<div class="content" id="app" v-cloak>
    <!--头部搜索-->
    <header id="header" class="fixed header homehederbfg">
        <div class="header-wrap">
            <div class="header-title">
                <h1>购物车</h1>
            </div>
            <div class="JS-header-edit colf" v-show="headerEdit" @click="headerClick">{{headerTitle}}</div>
        </div>
    </header>
    <!--购物车-->
    <div class="nctouch-main-layout">
        <div id="cart-list-wp" class="mb50">
            <div class="nctouch-cart-container" v-if="mainEmpty">
                <div v-for="(item,i) in shopList">
                    <dl class="nctouch-cart-store">
                        <dt>
                            <span class="store-check">
                                <span class="store_bgimg" :class="item.seller.selected?'store_checked':''" @click="changChecke(i)"></span>
                                <i class="store-title">{{item.seller.shopName}}</i>
                            </span>
                            <span class="JS-edit fr" @click="JSedit(i)" v-show="JSeditShowTitle">编辑</span>
                        </dt>
                    </dl>
                    <ul class="nctouch-cart-item">
                        <li cart_id="1906" class="cart-litemw-cnt" v-for="(itemCh,k) in item.cargoList">
                            <div class="buy-li">
                                <div class="goods-check">
                                    <span class="store_bgimg" :class="itemCh.selected?'store_checked':''" @click="changList(k,i)"></span>
                                </div>
                                <div class="goods-pic">
                                    <a href="javascript:void(0);" @click="DownShelfClick(itemCh.product.id,itemCh.product.status)">
                                        <!--:src="itemCh.product.mainPic"src="../../images/1@2x.png"-->
                                        <img :src="itemCh.product.mainPic" >
                                        <span class="product_noStock" v-if="itemCh.disabledInput">{{itemCh.disabledInputTitle}}</span>
                                    </a>
                                </div>
                                <dl class="goods-info" :class="[JSeditShow == i || JSeditShowhide?'hide':'showInline']">
                                    <dt class="goods-name">
                                        <a href="javascript:void(0);" class="whiteSpace" @click="DownShelfClick(itemCh.product.id,itemCh.product.status)">{{itemCh.product.name}}</a>
                                    </dt>
                                    <dd class="goods-type whiteSpace">{{itemCh.sku.skuCombinationDescription}}</dd>
                                    <span class="goods-price"><em>{{itemCh.price | currency}}</em></span>
                                    <span class="right" style="font-size: .5rem;">x{{itemCh.count}}</span>
                                </dl>
                                <div class="edit-area" :class="[JSeditShow == i || JSeditShowhide?'show':'hide']">
                                    <div class="goods-del" @click="dialogWrapperClick(itemCh.id)">删除</div>
                                    <div class="goods-subtotal">
                                        <span class="goods-price"></span>
                                        <div class="value-box">
                                            <span class="minus">
                                                <a href="javascript:void(0);" @click="reduceChang(itemCh,k,i)">&nbsp;</a>
                                            </span>
                                            <span>
                                                <input type="number" min="1" class="buy-num buynum" v-model="itemCh.count" @input="inputChange(itemCh,k,i)" @blur="inputblur(itemCh,k,i)">
                                            </span>
                                            <span class="add">
                                                <a href="javascript:void(0);" @click="plusChang(itemCh,k,i)">&nbsp;</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--购物车空显示-->
            <div class="nctouch-norecord cart" v-else>
                <div class="norecord-ico"><i></i></div>
                <dl>
                    <dt>您的购物车空空如也</dt>
                    <dd>主人再忙，也要买点什么犒劳自己~</dd>
                </dl>
                <a href="../product/product_list.html" class="btn">随便逛逛</a>
            </div>

        </div>
    </div>

    <div class="nctouch-cart-bottom clearfix" v-show="mainEmpty">
        <div class="all-check" @click="checkAll" style="top: 0.2rem;">
            <span class="store_bgimg" :class="[checkAll_checked?'store_checked':'']"></span>
            <span class="selected-all">全选</span>
        </div>
        <div class="total">
            <dl class="total-money">
                <dt>合计：</dt>
                <dd><em>{{allmoney}}</em></dd>
            </dl>
        </div>

        <div class="check-out ok wp30" v-if="subShow" @click="payMent">
            <a href="javascript:void(0)">{{subTitle | subTitleCurrency}}</a>
        </div>
        <div :id="[!subShow?'batchRemove':'']" v-else @click="btnMoreDel">删除</div>
    </div>

    <div class="pre-loading" v-show="preLoading"></div>

    <div class="simple-dialog-wrapper" v-show="dialogWrapper">
        <div class="s-dialog-mask"></div>
        <div style="left: 50%; top: 50%; margin-left: -111px;" class="s-dialog-wrapper s-dialog-skin-red">
            <div class="s-dialog-content">确认删除吗？</div>
            <div class="s-dialog-btn-wapper">
                <a href="javascript:void(0)" class="s-dialog-btn-ok" @click="btnTrue">确定</a>
                <a href="javascript:void(0)" class="s-dialog-btn-cancel" @click="btnCancel">取消</a></div>
        </div>
    </div>

    <!--尾部切换-->
    <footer class="footer bort1"></footer>
</div>
<script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
<script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/shop/shopCar.js?v=1" type="text/javascript" charset="utf-8"></script>
</body>

</html>
