*{
	margin:  0;
	padding:  0;
}
img{
	vertical-align: bottom;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

body{
	background: #ccc;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
/*外部*/
.box{
	width: 400px;
	height:  785px;
	background: url(../img/phone.png);
	margin: 50px auto;
	position: relative;
}
.box_sun{
	width: 340px;
	height:  565px;
	position: absolute;
	left: 30px;
	top: 120px;
	background: url(../img/bg.png);
	
}

/*头部*/
.head{
	width: 310px;
	height: 100px;
	margin: 10px auto 0;
	display: block;
}
.head img{
	width: 100%;
	height:100%;
	border-radius: 35px 10px 20px 10px;
	
}
/*遮罩层*/
#back{
	width: 340px;
	height: 565px;
	background: #000;
	padding: 50px 50px 0;
	position: absolute;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.8;
	filter:alpha(opacity=80);
	display: none;
}
/*弹出框*/
.dvt{
	position:absolute;
	left:20px;
	top:130px;
	width:300px;
	height:300px;
	background: url(../img/bj.jpg) no-repeat -320px ;
	z-index: 888;
	border-radius: 15px;
	text-align: center;
	padding-top:100px;
	display: none;

}
.dvt .p1{
	font-weight:900;
	font-size:30px;
	color:#3b3e32;
	margin-bottom:30px ;
}
.dvt .p2{
	font-weight:900;
	font-size:20px;
	color:#333;
	margin-right: 20px;
}
/*游戏结束*/
.dvt_fraction{
	z-index: 999;
	background:url("../img/jieshu.png") no-repeat #fff -7px 20px;
	padding-top: 60px;
}
.dvt_fraction .p1{
	margin-bottom:20px ;
}
.dvt_fraction .p2{
	margin-bottom:90px ;
}
.dvt_fraction button{
	width:100px;
	height:40px;
	margin: 0 auto;
}
.dvt_fraction button a{
	text-decoration: none;
	color: #fff;
}
/*主体*/
.container{
	position: absolute;
	left:10px;
	top:115px;
	width: 290px;
	height:500px;

}
/*主体 进度条*/
.left{
	float: left;
	width: 150px;
	height:  76px;
	line-height: 30px;
	margin-top: 30px;
	text-align: center;
	margin-left: 10px;
	display: none;
}
/*主体 分数*/
.right{
	float: right;
	width: 150px;
	height:  76px;
	line-height: 30px;
	margin-top: 20px;
	text-align: center;
	display:none;

}
/*内容部分*/
.svt{
	width:100px;
	height: 40px;
	line-height:40px;
	background:url(../img/42.jpg) no-repeat;
	margin-left:30px;
	border-radius:8px ;
	text-align: center;
}
.svt .spa{
	font-size:16px;
	color:brown;
	font-weight: 900;
	float:left;
	margin-left:17px ;
	margin-right: 10px;
}
.main{
	margin: 15px auto 30px;
	background: #fce946;
	text-align: center;
	border-radius: 10%;
	overflow: hidden;
	width:290px;
}
.list1{
	width: 100%;
	height: 100%;
}
.list1>img{
	width: 100%;
	display: block;
}
button{
	width: 200px;
	height: 40px;
	border: 0;
	border-radius: 10px;
	background: linear-gradient(#59AD42,#319428);
	color: #fff;
	font-size: 20px;
	position: absolute;
	left: 50%;
	margin-left:20px;
	transform: translateX(-50%);
	outline: none;
}
/*开始游戏 暂停*/
#btn{
	display: block;
}
#btn2{
	width: 100px;
	height: 40px;
	border: 0;
	border-radius: 10px;
	background: linear-gradient(#59AD42,#319428);
	color: #fff;
	font-size: 20px;
	position: absolute;
	left: 50%;
	margin-left:20px;
	transform: translateX(-50%);
	outline: none;
	display: none;
}
button:hover{
	background: linear-gradient(#319428,#59AD42);
}
#btn2:hover{
	background: linear-gradient(#319428,#59AD42);
}
/*护眼*/
#turnOff{
	width: 100px;
	height: 40px;
	display: block;
	position: absolute;
	left:140px;
	bottom:70px;
	background: transparent;
	outline: none;

}