#header.favheader{background:#fff}
.pre-loading{background:rgba(248,248,248,1)}
.wrapper{position:relative;top:1.95rem}
.wrapper input{border-radius:2px!important}
._Color{width:33%!important}
._ColorActive{border-bottom:solid 2px #E45050}
._ColorActive a{color:#e45050}
.avatar-view{display:block;margin:15% auto 5%;height:220px;width:220px;border:3px solid #fff;border-radius:5px;box-shadow:0 0 5px rgba(0,0,0,.15);cursor:pointer;overflow:hidden}
.avatar-view img{width:100%}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow-x: hidden;overflow-y: auto;-webkit-overflow-scrolling:touch;outline:0}
.modal-dialog{position:relative;width:auto;margin:1.2rem .5rem .5rem;}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}
.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}
.modal-header .close{margin-top:-2px}
.wrapper button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0}
.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2}
.modal-body{position:relative;padding:15px}
.avatar-body{padding-right:15px;padding-left:15px}
.avatar-upload{overflow:hidden}
.row{margin-right:-15px;margin-left:-15px}
.avatar-btns{margin-top:30px;margin-bottom:15px}
.loading{display:none;position:absolute;top:0;right:0;bottom:0;left:0;background:#fff url(../images/loading.gif) no-repeat center center;opacity:.75;filter:alpha(opacity=75);z-index:20140628}
.form-style-layout .step{font-size:0;margin-top:40px;overflow:hidden}
.form-style-layout .step dl{background:rgba(0,0,0,0) url(../images/bg.png) no-repeat scroll 100% -424px;float:left;font-size:12px;height:36px;line-height:20px;margin:50px 0 60px -1px;position:relative;z-index:1;width:37%}
.form-style-layout .step dt{color:#999;font-weight:600;position:absolute;right:-42px;text-align:center;top:-30px;width:120px}
.form-style-layout .step dd{background:rgba(0,0,0,0) url(../images/bg.png) no-repeat scroll 0 0;display:none;height:36px;position:absolute;right:0;top:0;z-index:1}
.form-style-layout .step dl.step-first{background-position:36% -309px;margin-left:6%;width:36px;z-index:999}
.form-style-layout .step dl.current dt{color:#fd6760}
.form-style-layout .step dl.current dd{background-position:-115px -464px;display:block;width:384px}
.form-style-layout .step dt{right:-52px;width:140px}
.form-style-layout .step dt p{font-size:12px;font-weight:400;position:absolute;right:8px;top:75px}
.form-style{margin-top:15px;position:relative}
.form-style form dl{border-bottom:1px dashed #eee;clear:both;line-height:30px;margin:0;overflow:hidden;padding:0;width:100%}
.form-style form dd,.form-style form dt{display:block;float:left;font-size:12px;padding:15px 1% 15px 0;position:relative}
.form-style form dt{text-align:right;width:14%}
.form-style form dd{width:84%}
.form-style form dl.foot{border-bottom:medium none}
.form-style form dl dt em{color:#f30;font:12px/16px Tahoma;margin-right:4px;vertical-align:middle}
.form-style form dl dd em{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-color:#e6e6e6;border-color:#ccc;border-image:none;border-style:solid;border-width:1px 1px 1px 0;display:inline-block;font-weight:700;height:36px;line-height:34px;text-align:center;vertical-align:top;width:30px}
.form-style a{color:#06c;margin:0 5px}
.form-style label{float:left}
.form-style select{border:1px solid #ccc;float:left;line-height:30px;margin-right:10px;padding:5px}
.form-style span{color:#999}
.form-style .logo{border:1px solid #eee;margin-top:5px;padding:2px}
.form-style .text{border:1px solid #ccc;float:left;height:25px;line-height:25px}
.form-style .textarea{line-height:16px;padding:6px 5px}
.form-style .w60{width:60px}
.form-style .w400{width:400px}
.form-style .checkbox,.form-style .radio{margin-right:20px;padding-left:20px;position:relative}
.form-style .checkbox input,.form-style .radio input{left:0;margin:0;position:absolute;top:9px}
.big-submit,.form-style .submit{background:#ff5252 none repeat scroll 0 0;border:medium none;color:#fff;cursor:pointer;display:inline-block;font:14px/34px microsoft yahei;height:36px;margin:10px 0;min-width:100px;padding:0 20px;text-align:center;border-radius:3px}
.form-style label.error{color:#e60012;display:inline-block;float:none;margin-left:10px;margin-top:3px}
.form-style label.error i{margin-right:5px;vertical-align:-1px}
.button{background-color:#ff5252;border-radius:5px;color:#fff!important;cursor:pointer;display:inline-block;font-size:14px;line-height:20px;outline:medium none;padding:7px 16px 7px 18px;text-align:center;vertical-align:middle}
.button:hover{background-color:#d84a38;text-decoration:none}
.send{border:1px solid #ddd;height:30px;margin-left:10px;padding:0 5px;color:#999;cursor:pointer}
.form-style .text{width:54%!important}
.user_emailActive{border: 1px solid #E45050 !important;}
.wid-reset{width:114px!important;height:31px}
.send-reset{line-height:35px;background:#e4e4e4;display:inline-block;border:1px solid #ccc;width:90px;text-align:center;color:#666;box-sizing:inherit;border-left:none}
.member_infor_content .submit-border{margin:10px auto;font-size:.61rem;line-height:32px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;width:77%}
.member_infor_content .submit-border .submit{width:100%;color:#fff!important}
.left_1{position:fixed;z-index:2;top:2rem;padding-top:.4rem;background:#fff}
#datetime-picker,#myAddrs{height:30px;line-height:30px}
.handle .bbc_btns{background:#ff5252;color:#fff!important}
.bbc_btns{background:#ff5252;color:#fff !important}
.bbc_btnsActive{background:#ff5252;color:#fff!important}
.ncm-default-form .bottom{text-align:center}
.timeParent span{margin:0 5px}
#end_time,#start_time{width:42%!important}
.webuploader-container{position:relative}
.webuploader-element-invisible{position:absolute!important;top:0;z-index:100;opacity:0;left:0}
.webuploader-pick{position:relative;display:inline-block;background:#e02222;color:#fff;text-align:center;border-radius:3px;overflow:hidden;line-height:28px;width:80px;height:28px}
.webuploader-pick-hover{background:#e02222}
.webuploader-pick-disable{opacity:.6;pointer-events:none}
.pick_top{margin-top:10px!important}
.pick_btn{border:none}
.pick_btn td{padding:0 15px!important}
.pick_btn div{margin-top:20px;text-align:center;font-size:.65rem;border-radius:5px}


.avatar-wrapper {
    height: 364px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}