<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>泰康积分商城商家管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../../static/css/layui.css" media="all" />
    <link href="../../static/zTreeStyle/zTreeStyle.css" type="text/css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="../../css/shop/brand.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header id="header">
    <app-header curr="4"></app-header>
</header>
<aside id="content" v-cloak>
    <col-nav curr="1" :nav="navData"></col-nav>
    <div class="content_body">
        <span class="layui-breadcrumb" lay-separator="-">
            <a href="../index.html">首页</a>
            <a href="./index.html">店铺</a>
            <a><cite>品牌申请</cite></a>
        </span>
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">品牌申请</li>
            </ul>
            <div class="layui-tab-content">
                <div :style="{ textAlign:'right' }">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" @click="addBrand( null )"><i class="layui-icon">&#xe654;</i>添加品牌</button>
                </div>
                <form class="layui-form" :style="{ margin : '10px 0' }">
                    <div class="layui-form-item" :style="{ textAlign : 'right' }">
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 160px;">
                                <input type="text" placeholder="品牌名称" autocomplete="off" class="layui-input brandName" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="button" class="layui-btn" @click="search"><i class="layui-icon">&#xe615;</i>搜索</button>
                            <button type="button" class="layui-btn" @click="getBrands"><i class="layui-icon">&#x1002;</i></button>
                        </div>
                    </div>
                </form>
                <div :class="{ 'filter' : loading }">
                    <div class="clearfix" v-show="list.length > 0">
                        <table class="layui-table" lay-skin="nob">
                            <thead>
                                <tr>
                                    <th>品牌图标</th>
                                    <th>品牌名称</th>
                                    <th>所属类别</th>
                                    <th>审核状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="b in list">
                                    <td><img :src="b.pictureIdentification" /></td>
                                    <td>{{ b.name }}</td>
                                    <td>{{ b.categoryName }}</td>
                                    <td>{{ b.examineState ? '已审核' : '未审核' }}</td>
                                    <td>
                                        <button class="layui-btn layui-btn-normal layui-btn-xs bottom" :class="{ ' layui-btn-disabled': b.examineState }" @click="b.examineState ? null : addBrand( b )">
                                            <i class="layui-icon cursor" title="编辑">&#xe642;</i>编辑
                                        </button><br />
                                        <button class="layui-btn layui-btn-danger layui-btn-xs" :class="{ ' layui-btn-disabled': b.examineState }" @click="b.examineState ? null : delBrand( b )">
                                            <i class="layui-icon cursor" title="删除">&#xe640;</i>删除
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="paging" class="right"></div>
                    </div>



                    <!-- error -->
                    <app-error v-if="list.length == 0 && !loading"></app-error>
                    <!-- loading -->
                    <app-loading v-if="loading"></app-loading>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加品牌 -->
    <div v-if="add">
        <div class="addbrand">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label imp">品牌名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" v-model="params.name" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">品牌类别：</label>
                    <div class="layui-input-inline">
                        <div class="treeBox" @click="getTree($event)">
                            <div class="ztree" id="zTree"></div>{{ currData.name }}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label imp">品牌图标：</label>
                    <div class="layui-input-block">
                        <img :src="params.pictureIdentification" :style="{ display : 'block' , width : '100px' , height : '100px' , marginBottom : '10px' }" />
                        <button type="button" class="layui-btn" id="upload">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                        <p class="tip" :style="{ 'white-space' : 'inherit' }">建议上传大小为150x50的品牌图片。 申请品牌的目的是方便买家通过品牌索引页查找商品，申请时请填写品牌所属的类别，方便平台归类。在平台审核前，您可以编辑或撤销申请。</p>
                    </div>
                </div>
                <div class="btn-group">
                    <button class="layui-btn" lay-submit lay-filter="add">确定</button>
                </div>
            </form>
        </div>
    </div>

</aside>
</body>
<script src="../../static/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/base64.min.js" type="text/javascript"></script>
<script src="../../static/vue.js" type="text/javascript"></script>
<script src="../../static/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="../../static/jquery.ztree.core.min.js" type="text/javascript"></script>
<script src="../../js/request.js" type="text/javascript"></script>
<script src="../../js/component/components.js" type="text/javascript"></script>
<script src="../../js/common.js" type="text/javascript"></script>
<script src="../../js/shop/brand.js" type="text/javascript"></script>
</html>