<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>泰康积分商城商家管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../../static/css/layui.css" media="all" />
    <link href="../../static/zTreeStyle/zTreeStyle.css" type="text/css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="../../css/shop/info.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header id="header">
    <app-header curr="4"></app-header>
</header>
<aside id="content">
    <col-nav curr="2" :nav="navData"></col-nav>
    <div class="content_body">
         <span class="layui-breadcrumb" lay-separator="-">
            <a href="../index.html">首页</a>
            <a href="./index.html">店铺</a>
            <a><cite>店铺信息</cite></a>
        </span>
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">经营类目</li>
                <li>店铺信息</li>
                <li>续签申请</li>
            </ul>
            <div class="layui-tab-content">
                <!--- 经营类目 -->
                <div class="layui-tab-item layui-show clearfix">
                    <button type="button" class="layui-btn right bottom layui-btn-sm" @click="addClass">
                        <i class="layui-icon layui-icon-add-1"></i>添加类目
                    </button>
                    <div :class="{ 'filter' : loading }">
                        <table class="layui-table" lay-skin="nob" v-if="list.length > 0">
                            <thead>
                                <th>经营类目</th>
                                <th>分佣比例</th>
                                <th>状态</th>
                                <th>操作</th>
                            </thead>
                            <tbody>
                                <tr v-for="m in list">
                                    <td>
                                        <span v-for="(c,idx) in m.classPath">{{ c.name }}<b v-if="idx !=m.classPath.length - 1 ">&nbsp;&gt;&nbsp;</b></span>
                                    </td>
                                    <td>{{ m.commissionProportion  }}</td>
                                    <td>{{ m.openState ? '启用' : '未启用' }}</td>
                                    <td>
                                        <button class="layui-btn layui-btn-danger layui-btn-xs" :class="{'layui-btn-disabled' : m.openState}" @click="m.openState ? null : delManage( m )">
                                            <i class="layui-icon cursor" title="删除">&#xe640;</i>删除
                                        </button></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- error -->
                        <app-error v-if="list.length == 0 && !loading"></app-error>
                        <!-- loading -->
                        <app-loading v-if="loading"></app-loading>
                    </div>
                </div>

                <!--- 店铺信息 -->
                <div class="layui-tab-item">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th colspan="6"> <b>公司联系人及信息</b> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>公司名称：</th>
                                <td colspan="5">{{ companyData.companyName }}</td>
                            </tr>
                            <tr>
                                <th>公司所在地：</th>
                                <td>{{ companyData.companyZoneProvince }}&nbsp;&nbsp;{{ companyData.companyZoneCity }}&nbsp;&nbsp;{{ companyData.companyZoneArea }}&nbsp;&nbsp;{{ companyData.companyZoneStreet }}</td>
                                <th>公司详细地址：</th>
                                <td colspan="4">{{ companyData.companyAddress }}</td>
                            </tr>
                            <tr>
                                <th>公司电话：</th>
                                <td>{{ companyData.companyTel }}</td>
                                <th>员工总数：</th>
                                <td>{{ companyData.staffTotal }}</td>
                                <th>注册资金：</th>
                                <td>{{ companyData.registeredCapital }}</td>
                            </tr>
                            <tr>
                                <th>联系人姓名：</th>
                                <td>{{ companyData.linkmanName }}</td>
                                <th>联系人电话：</th>
                                <td>{{ companyData.linkmanTel }}</td>
                                <th>电子邮箱：</th>
                                <td>{{ companyData.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th colspan="6"> <b>营业执照信息（副本）</b> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>营业执照号：</th>
                                <td>{{ companyData.businessLicenseNumber }}</td>
                            </tr>
                            <tr>
                                <th>营业执照所在地：</th>
                                <td>{{ companyData.businessLicenseZoneProvince }}&nbsp;&nbsp;{{ companyData.businessLicenseZoneCity }}&nbsp;&nbsp;{{ companyData.businessLicenseZoneArea }}&nbsp;&nbsp;{{ companyData.businessLicenseZoneStreet }}</td>
                            </tr>
                            <tr>
                                <th>营业执照有效期：</th>
                                <td>{{ companyData.businessLicenseBeginTime }}&nbsp;-&nbsp;{{ companyData.businessLicenseEndTime }}</td>
                            </tr>
                            <tr>
                                <th>营业执照电子版：</th>
                                <td><img :src="companyData.businessLicensePicture" :style="{ display : 'block' , width : '100px' , height : '100px' }" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th colspan="6"> <b>一般纳税人证明</b> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>一般纳税人证明：</th>
                                <td><img :src="bankData.taxpayerProof" :style="{ display : 'block' , width : '100px' , height : '100px' }" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th colspan="2"> <b>开户银行信息</b> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>银行开户名：</th>
                                <td>{{ bankData.bankAccountName }}</td>
                            </tr>
                            <tr>
                                <th>公司银行帐号：</th>
                                <td>{{ bankData.companyBankAccountNumber }}</td>
                            </tr>
                            <tr>
                                <th>开户银行支行名称：</th>
                                <td>{{ bankData.bankAccountBranchName }}</td>
                            </tr>
                            <tr>
                                <th>支行联行号：</th>
                                <td>{{ bankData.bankBranchLineNumber }}</td>
                            </tr>
                            <tr>
                                <th>开户银行所在地：</th>
                                <td>{{ bankData.bankAccountZoneProvince }}&nbsp;&nbsp;{{ bankData.bankAccountZoneCity }}&nbsp;&nbsp;{{ bankData.bankAccountZoneArea }}</td>
                            </tr>
                            <tr>
                                <th>开户银行许可证电子版：</th>
                                <td><img :src="bankData.bankAccountLicensePicture" :style="{ display : 'block' , width : '100px' , height : '100px' }" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th colspan="2"> <b>店铺经营信息</b> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>商家帐号：</th>
                                <td>{{ shopData.sellerUsername }}</td>
                            </tr>
                            <tr>
                                <th>店铺名称：</th>
                                <td>{{ shopData.shopName }}</td>
                            </tr>
                            <tr>
                                <th>店铺等级：</th>
                                <td>{{ shopData.shopLevelName }}（开店费用：{{ shopData.price }}元/年）</td>
                            </tr>
                            <tr>
                                <th>开店时长：</th>
                                <td>{{ shopData.shopOpenYear }}年</td>
                            </tr>
                            <tr>
                                <th>店铺分类：</th>
                                <td>{{ shopData.shopClassName }}（开店保证金：{{ shopData.deposit }}元）</td>
                            </tr>
                            <tr>
                                <th>应付总金额：</th>
                                <td>{{ ( shopData.price * shopData.shopOpenYear ).toFixed(2) }}元</td>
                            </tr>
                            <tr>
                                <th>经营类目：</th>
                                <td>
                                    <table class="layui-table">
                                        <thead>
                                            <tr>
                                                <th><b>分类1</b></th>
                                                <th><b>分类2</b></th>
                                                <th><b>分类3</b></th>
                                                <!--<th><b>分类4</b></th>-->
                                                <th><b>比例</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="man in shopData.managementList">
                                                <td v-for="m in man">{{ m.name }}</td>
                                                <td v-for="m in 4 - man.length - 1"></td>
                                                <td>{{ man[man.length -1].commissionRatio }}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th>付款凭证：</th>
                                <td><img :src="shopData.payVoucher" :style="{ display : 'block' , width : '100px' , height : '100px' }" /></td>
                            </tr>
                            <tr>
                                <th>付款凭证说明：</th>
                                <td>{{ shopData.payVoucherRemark }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 续签 -->
                <div class="layui-tab-item">
                    <div class="info" :style="{ margin : '20px auto' }">
                        <p>1.店铺到期前30天可以申请店铺续签。</p>
                        <p>2.店铺到期2020-06-01 13：28：40 可以在 2020-05-01 13：28：40开始申请店铺续签。 </p>
                    </div>
                    <table class="layui-table" v-if="!last30">
                        <thead>
                            <th>申请时间</th>
                            <th>收费标准（元/年）</th>
                            <th>续签时长（年）</th>
                            <th>付款金额（元）</th>
                            <th>截止有效期</th>
                            <th>状态</th>
                            <!--<th>操作</th>-->
                        </thead>
                        <tbody>
                            <tr v-for="data in extendData">
                                <td>{{ data.renewApplyTime }}</td>
                                <td>{{ data.chargeLevel || 0 }}</td>
                                <td>{{ data.shopOpenYear }}</td>
                                <td>{{ data.shouldPayAmount }}</td>
                                <td>{{ data.renewEndTime }}</td>
                                <td>{{ data.payStatus == 0 ? '未支付' : '已支付' }}</td>
                                <!--<td>-->
                                    <!--<span :style="{ cursor : 'pointer' }">-->
                                        <!--<i class="layui-icon layui-icon-delete"></i>-->
                                        <!--删除-->
                                    <!--</span>-->

                                <!--</td>-->
                            </tr>
                        </tbody>
                    </table>

                    <form class="layui-form" v-if="last30">
                        <div class="layui-form-item">
                            <label class="layui-form-label imp">开店时长:</label>
                            <div class="layui-input-inline">
                                <select class="durative" lay-verify="required" lay-filter="longTime">
                                    <option value=""></option>
                                    <option value="1">1年</option>
                                    <option value="2">2年</option>
                                    <option value="5">5年</option>
                                    <option value="10">10年</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label imp">店铺分类:</label>
                            <div class="layui-input-inline">
                                <select class="shopClass" lay-filter="shopClass">
                                    <!--<option value=""></option>-->
                                    <!--<option value="">测试123</option>-->
                                    <!--<option value="">测试456</option>-->
                                    <!--<option value="">测试689</option>-->
                                </select>
                                <p class="tip">请根据您所经营的内容认真选择店铺分类，注册后商家不可自行修改。</p>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button class="layui-btn" type="button" lay-submit>提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div v-show="add">
        <div class="addclass">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">搜索经营类目：</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="请输入标题" autocomplete="off" class="layui-input searcnName" :style="{ display : 'inline-block' , width : '67%' }" />
                        <button type="button" class="layui-btn" @click="searchClass"><i class="layui-icon layui-icon-search"></i></button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">经营类目：</label>
                    <div class="layui-input-inline">
                        <div class="treeBox" @click="getTree($event)">
                            <div class="ztree" id="zTree"></div>{{ currData.name }}
                        </div>
                    </div>
                </div>
            </form>
            <div class="btn-group">
                <button type="button" class="layui-btn" @click="addNewClass">确认</button>
            </div>
        </div>
    </div>

</aside>
</body>
<script src="../../static/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/vue.js" type="text/javascript"></script>
<script src="../../static/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="../../static/jquery.ztree.core.min.js" type="text/javascript"></script>
<script src="../../static/jquery.ztree.exhide.min.js" type="text/javascript"></script>
<script src="../../js/request.js" type="text/javascript"></script>
<script src="../../js/component/components.js" type="text/javascript"></script>
<script src="../../js/common.js" type="text/javascript"></script>
<script src="../../js/shop/info.js" type="text/javascript"></script>
</html>