<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>店铺管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">  
  <link rel="stylesheet" type="text/css" href="../../common/zTree/zTreeStyle.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
  <style>
    p select{
      font-size: 12px;
    }
  </style>
</head>

<body>
  <div id="app" class="hide">
    <!-- 商品管理 -->
    <div class="wrapper page">
      <div class="fixed-bar">
        <div class="item-title">
          <div class="subject">
            <h3>自营店铺</h3>
            <h5>商城自营店铺相关设置与管理</h5>
          </div>
          <ul class="tab-base nc-row">
            <li v-for="(nav,index) in productNav" :key="nav.index" @click="getInfo(index)">
              <a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div v-show="!setProduct">
        <!-- 搜索条件 -->
        <div class="mod-search cf" id="report-search">
          <div class="l" id="filter-menu">
            <el-form method="post" id="" name="settingForm" :model="productForm" ref="productForm">
              <ul class="ul-inline fix">
                <li>
                  <el-form-item label="" prop="selectedMember">
                    <select class="select" name="city" lay-verify="required" v-model='productForm.selectedMember'>
                      <option value="0">店主账户</option>
                      <option value="1">店铺名称</option>
                    </select>
                  </el-form-item>
                </li>
                <li>
                  <el-form-item label="" prop="productName">
                    <span id="user"></span>
                    <input type="text" id="common_name" name="common_name" class="ui-input ui-input-ph" placeholder="请输入相关数据..." autocomplete="off"
                      v-model="productForm.productName">
                  </el-form-item>
                </li>
                <li><a class="ui-btn" id="search" @click="getInfo(current)">查询<i class="layui-icon">&#xe615;</i></a></li>
              </ul>

          </div>
          <div class="fr">
            <a class="ui-btn" id="addNew" @click="addShop('新增店铺')">新增<i class="layui-icon">&#xe654;</i></a>
            <a class="ui-btn" id="audit" @click="refresh(current)">刷新<i class="el-icon-refresh"></i></a>
            <!-- <a class="ui-btn" id="reaudit">用户消费报表导出 <i class="layui-icon">&#xe61e;</i></a> -->
          </div>
        </div>
        <!-- 搜索条件结束 -->

        <!-- 表格数据渲染 -->
        <div class="cf">
          <div class="grid-wrap">
            <div class="productManger" v-if='productLists.length > 0'>
            <!-- 表头 -->
            <div class="produtHead classifyHead">
                <ul>
                  <li>操作</li>
                  <li class="shopWidth">店主账号</li>
                  <li class="productWidth">店铺名称</li>
                  <li>当前状态</li>
                  <li>是否绑定所有类目</li> 
                </ul>
              </div>
              <!-- 表头结束 -->
              <!-- 商品列表 -->
              <div class="pruductList classifyList">
                <ul v-for="(item,index) in productLists" :class="{'active':item.active}" @click="selectOrder(item,productLists)">
                  <li>
                    <span class=" ui-icon-pencil" title="修改" @click.stop="showDetail(item)"><i class="layui-icon">&#xe642;</i></span>
                    <span class=" ui-icon-pencil" title="修改经营类目"><i class="layui-icon">&#xe642;</i></span>
                    <!-- <span class=" ui-icon-cart" title="查看商品SKU详情"><i class="layui-icon">&#xe60a;</i></span> -->
                    <span class=" ui-icon-trash" title="删除" @click.stop="removeProduct(item.id)"><i class="layui-icon">&#xe640;</i></span>
                    <!-- <span class=" ui-icon-add" title="新增" @click.stop="addClassify"><i class="layui-icon">&#xe654;</i></span> -->
                  </li>
                  <li class="shopWidth">{{item.sellerId}}</li>
                  <li class="productWidth">{{item.shopName}}</li>
                  <li>{{item.currentStatus}}</li>
                  <li>{{item.bindAll}}</li>
                </ul>
              </div>
              <!-- 商品列表结束 -->
            </div>
            <div v-else style="text-align:center;margin:50px 0;">
              暂无数据
            </div>
          </div>
        </div>
        <!-- 表格数据渲染结束 -->
        <!-- 分页 -->
        <div class="pagination" v-show="total>0">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1" :page-sizes="[10, 20, 30, 40]"
            :page-size="pagecount" layout=" prev, pager, next,sizes" :total="total">
          </el-pagination>
        </div>
        <!-- 分页器结束 -->
      </div>
      <!-- 自营店铺设置 -->
      <div v-show="setProduct">
        <el-form method="post" id="dump-setting-form" name="settingForm" :model="setForm" ref="setForm" label-width="30%">
          <div class="ncap-form-default">
            <el-form-item label="是否在商城显示" prop="isExamine">
              <dl class="">
                <!-- <dt class="tit">商品是否需要审核</dt> -->
                <dd class="opt">
                  <div class="onoff">
                    <input id="goods_verify_flag1" name="goods[goods_verify_flag]" value="1" type="radio" v-model="setForm.isExamine">
                    <label title="开启" class="cb-enable " for="goods_verify_flag1" :class="{'selected':setForm.isExamine==1}">开启</label>
                    <input id="goods_verify_flag0" name="goods[goods_verify_flag]" value="0" type="radio" v-model="setForm.isExamine">
                    <label title="关闭" class="cb-disable " for="goods_verify_flag0" :class="{'selected':setForm.isExamine==0}">关闭</label>
                  </div>
                  <p class="notic">开启后，自营店铺和自营商品将在商城显示，如果开启分站，该设置仅对当前分站有效</p>
                </dd>
              </dl>
            </el-form-item>
            <div class="bot"><el-button class="submit-btn" @click="setSubmit" :disabled="setBtnDisabled">确认提交</el-button></div>
          </div>
        </el-form>
      </div>
      <!-- 自营店铺设置结束 -->
    </div>

    <div id="add"  style="display:none;">
      <el-form method="post" id="dump-add-form" name="addForm" :model="addForm" ref="addForm" label-width="30%" class="mt20">
        <div class="ncap-form-default">
          <el-form-item label="店铺名称" prop="addNewName">
            <el-input placeholder="" v-model="addForm.addNewName"></el-input>
          </el-form-item>
          <el-form-item label="店铺地址" class="address">
            <div id="city" class="citys">
              <p>
                <select name="province" v-model="selectedPro" @change = "changePro(selectedPro)"><option  v-for="pro in provinces" :value = "pro.zoneId">{{pro.name}}</option></select>
                <select name="city" v-show = "citys.length>0" v-model="selectedCity" @change = "changeCity(selectedCity)"><option  v-for="city in citys" :value = "city.zoneId">{{city.name}}</option></select>
                <select name="area" v-show = "areas.length>0" v-model="selectedArea" @change = "changeArea(selectedArea)"><option  v-for="area in areas" :value = "area.zoneId">{{area.name}}</option></select>
                <select name="town" v-show = "towns.length>0" v-model="selectedTown" ><option  v-for="town in towns" :value = "town.zoneId">{{town.name}}</option></select>
              </p>
              <!--<p>-->
                <!--<select name="province"></select>-->
                <!--<select name="city"></select>-->
                <!--<select name="area"></select>-->
                <!--<select name="town"></select>-->
              <!--</p>-->
            </div>
          </el-form-item>
          <el-form-item label="会员账号" prop="member">
            <el-input placeholder="" v-model="addForm.member"></el-input>
          </el-form-item>
          <el-form-item label="登录密码" prop="passwoord">
            <el-input placeholder="" type="password" v-model="addForm.passwoord"></el-input>
          </el-form-item>
        </div>
      </el-form>
    </div>
    <!-- 商品管理结束 -->
    <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>
  </div>
  <div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中... </div>
  <script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
  <script type="text/javascript" src="../../common/layui/layui.all.js"></script>
  <script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="https://gtmall.oss-cn-beijing.aliyuncs.com/platform/components/city/jquery.citys.js"></script>
  <script type="text/javascript" src="../../common/js/common.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        current: 0,
        productNav: [{
          index: 0,
          title: '自营店铺管理'
        }, {
          index: 1,
          title: '自营店铺设置'
        }],
        loading: true,
        productForm: {
          productName: '',
          selectedMember: 0,
        },
        productListLength: 1,
        productLists: [{
          sellerId: 12,
          shopName: '海牙湾',
          currentStatus: '开店成功',
          bindAll: '是',
        }],
        setProduct: false,
        setForm: {
          isExamine: 1,
        },
        setBtnDisabled:false,
        addForm:{
          addNewName:'',
          member:'',
          passwoord:''
        },
        selectedPro:'choose',
        selectedCity:'choose',
        selectedArea:'choose',
        selectedTown:'choose',
        provinces:[],
        citys:[],
        areas:[],
        towns:[],
        // 分页
        pagecount: 10,
        pagenum: 1,
        total: 0
      },
      mounted: function () {
        // FastClick.attach(document.body);
        commonScript.appShowhide('app');
        this.getInfo(0);
        this.getProvince();
      },
      methods: {
        // 页面初始加载数据
        getDate: function () {
          var _this = this;
          _this.loading = true;
          var name = _this.productForm.productName||null;
          var getOrder = function (data) {
            if (data) {
              _this.loading = false;
              if(data.result){
                var result = data.result.list;
                // _this.productLists = result;
                _this.total = data.result.total;
                if(result){
                  _this.productLists = result;

                }else{
                  _this.productLists = [];

                }

              }
            }
          };
          commonScript.getShopSelf(_this.pagenum,_this.pagecount,_this.productForm.selectedMember,name,'', getOrder);

        },
        getInfo: function (index) {
          var _this = this;
          _this.loading= true;
          if (_this.current != index) {
            _this.$refs.productForm.resetFields(); //切换时搜索条件置空      
            _this.$refs.setForm.resetFields();//非商品设置清空
          }
          _this.current = index;
          if (index == 1) {
            // 自营店铺设置
            _this.setProduct = true;
            var res = function (data) {
              _this.loading = false;
              if(data.result && data.result.length>0){
                var result = data.result;
                _this.setForm.isExamine = result.isDisplaySelfsupport?'1':'0';
              }
            };
            commonScript.getSetShop(res)
          } else {
            // 自营店铺管理
            _this.setProduct = false;
            _this.getDate();

          }
        },
        // 刷新页面
        refresh: function (index) {
          var _this = this;
          _this.$refs.productForm.resetFields(); //切换时搜索条件置空
          _this.getInfo(index);

        },
        // 单条数据选中
        selectOrder: function (item,lists) {
          var _this = this;
          if(item.active===undefined||!item.active){
            _this.$set(item, 'active', true);
          }
          commonScript.selected(item,lists);
        },
        // 单条数据选中结束
        // selectedPro:'请选择',
        // selectedCity:'请选择',
        // selectedArea:'请选择',
        // selectedTown:'请选择',
        // 获取省份
        getProvince:function(){
          var _this = this;
          var res = function (data) {
            if(data.result){
              _this.provinces = data.result;
              _this.provinces.unshift({
                zoneId:'choose',
                name:'请选择'
              });
              _this.selectedPro = _this.provinces[0].zoneId;
            }else{
              _this.provinces =[]
            }

          };
          commonScript.doGet('/settingsInfo/queryZoneInfo/0','',res)
        },
        // 获取省对应的市
        changePro:function(val){
          // console.log(val)
          var _this = this;
          var res = function (data) {
            if(data.result){
              _this.citys = data.result;
              _this.citys.unshift({
                zoneId:'choose',
                name:'请选择'
              });
              _this.selectedCity = _this.citys[0].zoneId;
              _this.areas = [];
              _this.towns = [];
            }
          };
          commonScript.doGet('/settingsInfo/queryZoneInfo/'+ val,'',res)
        },
        // 获取市对应的区
        changeCity:function(val){
          var _this = this;
          var res = function (data) {
            if(data.result){
              _this.areas = data.result;
              _this.areas.unshift({
                zoneId:'choose',
                name:'请选择'
              });
              _this.selectedArea = _this.areas[0].zoneId;
              _this.towns = [];
            }
          };
          commonScript.doGet('/settingsInfo/queryZoneInfo/'+ val,'',res)
        },
        // 获取区对应的街道
        changeArea:function(val){
          var _this = this;
          var res = function (data) {
            if(data.result){
              _this.towns = data.result;
              _this.towns.unshift({
                zoneId:'choose',
                name:'请选择'
              });
              _this.selectedTown = _this.towns[0].zoneId;
            }
          };
          commonScript.doGet('/settingsInfo/queryZoneInfo/'+ val,'',res)
        },
        // 增加店铺
        addShop: function (title,id) {
          var _this = this;
          var layer = layui.layer;
          layer.open({
            title: title
            , content: layui.jquery("#add")
            , btn: ['确定', '取消']
            , area: ['757px', '525px']
            , type: 1
            ,scrollbar: false
            ,zIndex:100
            , yes: function () {
              _this.submitShop(id);
              layer.closeAll();
            }
            ,btn2: function(index, layero){
              //按钮【取消】的回调
              _this.$refs.addForm.resetFields();
              _this.selectedPro ="choose"
              _this.citys = _this.areas =_this.towns= [];
              // _this.selectedPro=_this.selectedCity=_this.selectedArea=_this.selectedTown=""
            }
            ,cancel: function(){
              //右上角关闭回调
              _this.$refs.addForm.resetFields();
              _this.selectedPro ="choose"
              _this.citys = _this.areas =_this.towns= [];
              // _this.selectedPro=_this.selectedCity=_this.selectedArea=_this.selectedTown=""
            }
          });
        },
        submitShop:function(id){
          var _this = this;
          var address = "";
          if(_this.selectedPro!=='choose'){
            address = _this.selectedPro;
            if(_this.selectedCity !=='choose'){
              address +='-'+ _this.selectedCity ;
              if(_this.selectedArea !=='choose'){
                address +='-'+_this.selectedArea ;
                if(_this.selectedTown!=='choose'){
                  address +='-'+_this.selectedTown;
                }
              }
            }
          }else{
            address = "";
          }
          console.log(address)

          // console.log(_this.selectedPro,_this.selectedCity,_this.selectedArea,_this.selectedTown)
          var data = {
            "isBindingAllCategory": false,
            "shopAddress": address,
            "shopName": _this.addForm.addNewName,
            "shopkeeperUsername": _this.addForm.member,
            "state": 0,
          };
          if(id !== undefined){
            // 编辑
            data['id'] = id;
            var add = function (data) {
              _this.$message.success({ message: '编辑成功！' });
              _this.getInfo(_this.current);
            };
            commonScript.doPost('/shopInfo/updateShopSelfsupportShopInfo',data,add);

          }else{
            // 新增
            var add = function (data) {
              _this.$message.success({ message: '新增成功！' });
              _this.getInfo(_this.current);
            };
            commonScript.doPost('/shopInfo/insertShopSelfsupportShopInfo',data,add);

          }
          _this.$refs.addForm.resetFields(); //点击确认后清空表单
        },
        // 编辑自营店铺
        showDetail:function(item){
          var _this = this;
            _this.addShop('修改店铺',item.id);
        },
        // 店铺设置
        setSubmit: function () {
          var _this = this;
          var data = {
            "id": "8adc0b6f852e41a8ba2d909db4a15690",
            "isDisplaySelfsupport":_this.setForm.isExamine * 1,
          };
          _this.$confirm('修改立马生效,是否继续？', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            var res = function (data) {
              _this.setBtnDisabled=true;
              _this.$message.success({message: '修改成功！'});
              _this.getInfo(_this.current);
              _this.setBtnDisabled=false;
            };
            commonScript.doPost('/shopInfo/updateShopSettingsInfo', data, res);
          }).catch((err) => {

          });

        },
        // 删除
        removeProduct:function(id){
          var _this = this;
          _this.$confirm('你确定要删除吗?', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            var res = function(data){
              if(data){
                _this.$message.success({ message: '删除成功！' });
                _this.getInfo(_this.current);
              }
            };
            commonScript.doGet('/shopInfo/deleteShopSelfsupportShopInfo/'+ id, '', res);
          }).catch((err) => {

          });
        },
        // 分页器
        //每页显示多少条
        handleSizeChange: function (val) {
          this.pagecount = val;
          this.getInfo(this.current);
        },
        //当前页及跳转到第几页
        handleCurrentChange: function (val) {
          this.pagenum = val;
          this.getInfo(this.current);
        }
      }
    })
  </script>
</body>

</html>