<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="screen-orientation" content="portrait" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../lib/css/base.css" />
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
  <link rel="stylesheet" type="text/css" href="../../css/member.css">
  <link rel="stylesheet" type="text/css" href="../../css/nctouch_cart.css">
</head>

<body>
  <script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <div class="content" id="app">
    <!--头部搜索-->
    <header id="header" class="fixed order_header">
      <div class="header-wrap">
        <div class="header-l"><a href="../member/member.html"><i class="back"></i></a></div>
        <span class="header-tab"><a href="javascript:void(0);" @click="headerTab(1)" :class="[curFalg == 1?'cur':'']">实物订单</a><a href="javascript:void(0);" :class="[curFalg == 2?'cur':'']" @click="headerTab(2)">虚拟订单</a></span>
        <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup style="display: inline;"></sup></a> </div>
      </div>
    </header>

    <!-- 内容部分 -->
    <div class="nctouch-main-layout" v-show="!M_X_falg">
      <div class="nctouch-order-search">
        <form>
            <span class="ser-area "><i class="icon-ser"></i><input type="text" autocomplete="on" maxlength="50" placeholder="输入商品标题或订单号进行搜索" name="order_key" id="" oninput="writeClear($(this));">
            <span class="input-del"></span></span>
            <input type="button" id="search_btn" value="搜索">
        </form>
      </div>

      <!--实物tab切换-->
      <div class="nctouch-single-nav">
        <ul class="w20h">
          <li v-for="(item,k) in oMtabList" :class="[oMtabFlag == k?'selected':'']" @click="oMtabClick(k)"><a href="javascript:void(0);" data-state="">{{item}}</a></li>
        </ul>
      </div>

      <!--实物订单-->
      <div class="nctouch-order-list">
        <ul id="order-list" v-show="!order_none">


          <li class="green-order-skin" v-for="(item,k) in oMitemList">

            <div class="nctouch-order-item">
              <div class="nctouch-order-item-head">
                <a href="http://shop.g-town.com.cn//tmpl/store.html?shop_id=6&amp;qazdfg=1521446258" class="store"><i class="icon"></i>{{item.shop_name}}<i class="arrow-r"></i></a>
                <span class="state"><span class="ot-nofinish">{{item.order_state_con}}</span> </span>
              </div>

              <div class="nctouch-order-item-con">
                <div class="goods-block">
                  <a :href="'order_detail.html?id='+item.order_id" class="clearfix wp100">
                    <div class="">
                      <div class="goods-pic">
                        <img :src="item.goods_list[0].goods_image">
                      </div>
                      <dl class="goods-info">
                        <dt class="goods-name">{{item.goods_list[0].goods_name}}</dt>
                        <dd class="goods-type">{{item.goods_list[0].order_spec_info[0]}}</dd>
                      </dl>
                    </div>
                    <div class="goods-subtotal">
                      <span class="goods-price">￥<em>{{item.goods_list[0].goods_price}}</em></span>
                      <div class="fz0"></div>
                      <span class="goods-num">x{{item.goods_list[0].order_goods_num}}</span>
                    </div>
                  </a>
                </div>
              </div>

              <div class="nctouch-order-item-footer">
                <div class="store-totle">
                  <span>共<em>{{item.goods_list[0].order_goods_num}}</em>件商品，合计</span><span class="sum">￥<em>{{item.goods_list[0].order_goods_amount}}</em></span><span class="freight">(含运费￥0.00)</span>
                </div>
                <div class="handle" :class="[item.order_status == 1?'show':'hide']">
                  <a href="javascript:void(0)" @click="order_Delid(item.order_id)" class="btn cancel-order">取消订单</a>
                  <div style="display:none"></div>
                  <a href="javascript:;" @click="payOrder(item.payment_number,item.order_id)" class="btn key check-payment">订单支付</a>
                </div>
                <div class="handle" :class="[item.order_status == 2?'show':'hide']">
                  <a href="javascript:void(0)" @click="order_Delid(item.order_id)" class="btn cancel-order">提醒发货</a>
                </div>
                <div class="handle" :class="[item.order_status == 3?'show':'hide']">
                  <a href="javascript:void(0)" @click="order_Delid(item.order_id)" class="btn cancel-order">查看物流</a>
                  <div style="display:none"></div>
                  <a href="javascript:;"  @click="payOrder(item.payment_number,item.order_id)" class="btn key check-payment">确认收货</a>
                </div>
              </div>

            </div>

          </li>

        </ul>
      </div>

    </div>


    <!--虚拟订单-->
    <div class="nctouch-main-layout" v-show="M_X_falg">
      <div class="nctouch-order-search">
        <form>
            <span class="ser-area "><i class="icon-ser"></i><input type="text" autocomplete="on" maxlength="50" placeholder="输入商品标题或订单号进行搜索" name="order_key" id="order_key" oninput="writeClear($(this));">
            <span class="input-del"></span></span>
          <input type="button"  value="搜索">
        </form>
      </div>
      <div id="fixed_nav" class="nctouch-single-nav">
        <ul id="filtrate_ul" class="w33h">
          <li v-for="(item,k) in oXtabList" :class="[oXtabFlag == k?'selected':'']" @click="oXtabClick(k)"><a href="javascript:void(0);" data-state="">{{item}}</a></li>
          <li class="selected" ><a href="javascript:void(0);" data-state="">全部</a></li>
          <li><a href="javascript:void(0);" data-state="wait_pay">待付款</a></li>
          <li><a href="javascript:void(0);" data-state="wait_confirm_goods">待使用</a></li>
        </ul>
      </div>
      <div class="nctouch-order-list"><div class="order-list">

        <div class="nctouch-norecord order">
          <div class="norecord-ico"><i></i></div>
          <dl>
            <dt>您还没有相关的订单</dt>
            <dd>可以去看看哪些想要买的</dd>
          </dl>
          <a href="http://shop.g-town.com.cn/" class="btn">随便逛逛</a>
        </div>

      </div>
      </div>
    </div>

    <!--实物订单无数据显示-->
    <div class="nctouch-norecord order" v-show="order_none">
      <div class="norecord-ico"><i></i></div>
      <dl>
        <dt>您还没有相关的订单</dt>
        <dd>可以去看看哪些想要买的</dd>
      </dl>
      <a href="../home/home.html" class="btn">随便逛逛</a>
    </div>

    <!--数据请求加载提示-->
    <div class="pre-loading" v-show="preLoading"></div>

  </div>
  <script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
          curFalg:1,
          M_X_falg:false,
          oMtabList:['全部','代付款','待发货','待收货'],
          oMtabFlag:0,
          order_none:false,
          oMitemList:[],
          preLoading:true,
          oXtabList:['全部','代付款','待使用'],
          oXtabFlag:0
      },
      computed: {
      },
      mounted: function () {
        FastClick.attach(document.body);
        commentJs.downMenuSpot('order_header', 2);
        commentJs.toastLoading('加载中...');
        let oAttr = commentJs.getUrlKey('title');
        oAttr == 0 ?this.oMtabFlag=1:(oAttr == 1 ? this.oMtabFlag=2:oAttr == 2 ?this.oMtabFlag=3:oAttr == 4 ?this.oMtabFlag=0:'');
        setTimeout(function () {_this.oListData();},10);
      },

      methods: {
        headerTab(index){//头部实物订单与虚拟订单切换
            this.curFalg = index;
            this.M_X_falg = !this.M_X_falg;
        },
        oMtabClick(k) {//实物tab切换
            this.oMtabFlag = k;
            k == 2||k == 3?this.order_none=true:this.order_none=false;
        },
        oListData:function(){//数据列表
            let _this = this;
            let suc = function (data){
                console.log(data)
                setTimeout(function(){
                    _this.preLoading = false;
                    _this.oMitemList = data.data.items;
                },1000);
            }
            commentJs.doPost('../../json/order.json','',suc);
        },
        payOrder(payment_number,id){//订单支付
          console.log(payment_number,id);
        },
        order_Delid(id){//取消订单
          console.log(id);
        },
        oXtabClick(k){
          this.oXtabFlag = k;
        }
      }


    })
  </script>