<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <!-- <link rel="stylesheet" type="text/css" href="../../common/zTree/zTreeStyle.css" media="all"> -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
  <style>
    #brandList #mb_special_goods_list .productManger .produtHead, #brandList #mb_special_goods_list .productManger .pruductList{
      width:100% !important;
    }
  </style>
</head>

<body>
  <div id="app" class="hide">
    <!-- 商品管理 -->
    <div class="wrapper page">
      <div class="fixed-bar">
        <div class="item-title">
          <div class="subject">
            <h3>虚拟订单</h3>
            <h5>商城虚拟商品交易订单查询及管理</h5>
          </div>
          <ul class="tab-base nc-row">
            <li v-for="(nav,index) in productNav" :key="nav.index">
              <a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 搜索条件 -->
      <div class="mod-search cf" id="report-search">
        <div class="l" id="filter-menu">
            <el-form method="post" id="dump-setting-form" name="settingForm" :model="productForm" ref="productForm">
                <ul class="ul-inline fix">
                  <li>
                    <el-form-item label="" prop="productName">
                      <span id="user"></span>
                      <input type="text" id="orderNum" name="common_name" class="ui-input ui-input-ph" placeholder="请输入订单编号..." autocomplete="off"
                       v-model="productForm.productName">
                    </el-form-item>
                  </li>
                  <!--<li>-->
                    <!--<el-form-item label="" prop="reciverTel">-->
                      <!--<input type="text" id="reciverTel" name="shop_name" class="ui-input ui-input-ph" placeholder="请输入买家账号..." autocomplete="off"-->
                       <!--v-model="productForm.reciverTel">-->
                    <!--</el-form-item>-->
                  <!--</li>-->
                  <li>
                    <el-form-item label="" prop="shopName">
                      <span id="user2"></span>
                      <input type="text" id="shopName" name="common_name" class="ui-input ui-input-ph" placeholder="请输入店铺名称..." autocomplete="off"
                       v-model="productForm.shopName">
                    </el-form-item>
                  </li>
                  <!--<li>-->
                    <!--<el-form-item label="" prop="payOrder">-->
                      <!--<input type="text" id="payOrder" name="shop_name" class="ui-input ui-input-ph" placeholder="请输入支付单号..." autocomplete="off"-->
                       <!--v-model="productForm.payOrder">-->
                    <!--</el-form-item>-->
                  <!--</li>-->
                  <!--<li>付款日期:</li>-->
                  <!--<li class="filterDate">-->
                    <!--<el-form-item label="" prop="fromDate">-->
                      <!--<el-date-picker :editable='false' v-model="productForm.fromDate" type="datetime"  value-format="timestamp"  placeholder="选择日期时间"></el-date-picker>-->
                    <!--</el-form-item>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<span>-</span>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<el-form-item label="" prop="toDate">-->
                      <!--<el-date-picker :editable='false' v-model="productForm.toDate" type="datetime"  value-format="timestamp"  placeholder="选择日期时间"></el-date-picker>-->
                    <!--</el-form-item>-->
                  <!--</li><li><a class="ui-btn" id="search" @click="getInfo(current)">查询<i class="layui-icon">&#xe615;</i></a></li>-->
                  <!--<li><span>订单总金额：</span>{{totalMoney}}</li>-->
                </ul>
              </el-form>
        </div>
        <div class="fr">
          <a class="ui-btn" id="search" @click="searchDate(current)">查询<i class="layui-icon">&#xe615;</i></a>
          <!--<a class="ui-btn" id="audit"   @click="refresh(current)">刷新<i class="el-icon-refresh"></i></a>-->
        </div>
      </div>
      <!-- 搜索条件结束 -->

      <!-- 表格数据渲染 -->
      <div class="cf">
        <div class="grid-wrap">
          <div class="productManger" v-if='productLists.length > 0'>
            <!-- 表头 -->
            <div class="produtHead">
              <ul>
                <!--<li  class="listCheckbox"><input type="checkbox" v-model="selectedAll" @click="selectedAllProduct" :selected="selectedAll"></li>-->
                <li class="listHandle">操作</li>
                <li>店铺编号</li>
                <li class="shopWidth">店铺名称</li>
                <li class="productWidth">订单编号</li>
                <li class="productWidth">支付单号</li>
                <li>类型</li>
                <li class="shopWidth">下单时间</li>
                <!--<li class="productWidth">支付时间</li>-->
                <!--<li>收货人</li>-->
                <!--<li class="shopWidth">联系方式</li>-->
                <!--<li class="shopWidth">商品编号</li>-->
                <li class="shopWidth">商品规格编号</li>
                <li class="productWidth">商品名称</li>
                <li>购买数量</li>
                <li class="productWidth">手机号 | 券码</li>
                <!--<li>单价</li>-->
                <!--<li>购买数量</li>-->
                <li>支付金额</li>
                <li>订单状态</li>
              </ul>
            </div>
            <!-- 表头结束 -->
            <!-- 商品列表 -->
            <div class="pruductList">
              <ul v-for="(item,index) in productLists" :class="{'active':selectedAll|| item.active}" @click="selectOrder(item,productLists)">
                <!--<li  class="listCheckbox"><input type="checkbox" v-model="item.active" @click.stop="selectOrder(item,index)"></li>-->
                <li class="listHandle">
                  <span class=" ui-icon-pencil" title="查看" @click.stop="skewDetail(item)"><i class="layui-icon">&#xe615;</i></span>
                </li>
                <li>{{item.shopkeeperAccount }}</li>
                <li class="shopWidth">{{item.shopName}}</li>
                <li class="productWidth">{{item.orderNumber }}</li>
                <li class="productWidth">{{item.payorderNumber }}</li>
                <li>{{item.fictitiousType==1?"视频卡":item.fictitiousType==2?"手机充值":""}}</li>
                <li class="shopWidth">{{item.createTime }}</li>
                <!--<li class="productWidth">{{item.paymentTime }}</li>-->
                <!--<li>{{item.receiverName }}</li>-->
                <!--<li class="shopWidth">{{item.telephone}}</li>-->
                <!--<li class="shopWidth">{{item.productNumber}}</li>-->
                <li class="shopWidth">{{item.specification }}</li>
                <li class="productWidth">{{item.productName }}</li>
                <li>{{item.count }}</li>
                <li  class="productWidth">{{item.fictitiousContext}}</li>
                <!--<li>{{item.price/100 }}</li>-->
                <!--<li>{{item.count }}</li>-->
                <li>{{(item.productTotalPrice/100).toFixed(2) }}</li>
                <li>{{item.orderStateRemark}}</li>
              </ul>
            </div>
            <!-- 商品列表结束 -->
          </div>
          <div v-else style="text-align:center;margin:50px 0;">
            暂无数据
          </div>
        </div>
      </div>
      <!-- 表格数据渲染结束 -->
      <!-- 分页 -->
      <!-- <div class="larry-table-page clearfix">				
						<div id="page" class="page"></div>
				</div> -->
      <div class="pagination" v-show="total>0">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-sizes="[10, 20, 30, 40]"
          :page-size="pagecount" layout=" prev, pager, next,sizes" :total="total">
        </el-pagination>
      </div>
      <!-- 分页器结束 -->
    </div>
    <!--查看订单详情-->
    <div class="cf" id="brandList" style="display:none;padding: 10px;">
      <el-form method="post" id="dump-add-form" name="addForm" :model="addForm" ref="addForm" label-width="30%" class=" editAdd mt20">
        <div class="ncap-form-default">
          <!--<el-form-item label="收货人：">-->
            <!--<span>{{addForm.receiverName }}</span>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="手机：">-->
            <!--<span>{{addForm.telephone }}</span>-->
          <!--</el-form-item>-->
          <el-form-item label="订单号：">
            <span>{{addForm.number}}</span>
          </el-form-item>
          <el-form-item label="下单时间：">
            <span>{{addForm.createTime}}</span>
          </el-form-item>
          <el-form-item label="订单总金额：">
            <span>￥{{(totalMoney/100).toFixed(2)}}</span>
          </el-form-item>
          <el-form-item label="状态：">
            <span>{{addForm.status}}</span>
          </el-form-item>
          <el-form-item label="付款类型：">
            <span>积分兑换</span>
          </el-form-item>
          <el-form-item label="订单备注：">
            <span>{{addForm.buyerRemark }}</span>
          </el-form-item>
        </div>
      </el-form>
      <div id="mb_special_goods_list" class="cf goods_list">
        <div class="grid-wrap" style="width:607px; margin-left: 18%">
          <div class="productManger" v-if="products.length>0">
            <!-- 表头 -->
            <div class="produtHead" style="width: 605px;">
              <ul>
                <li>商品图片</li>
                <li class="application">商品名称</li>
                <!--<li>商品id</li>-->
                <!--<li>单价</li>-->
                <li>数量</li>
                <li>价格</li>
                <!--<li>重量</li>-->
                <!--<li>实付金额</li>-->
              </ul>
            </div>
            <!-- 表头结束 -->
            <!-- 商品列表 -->
            <div class="pruductList" v-if="products.length>0" style="width: 605px;">
              <ul v-for="(item,index) in products" :class="{'active':item.active}" @click="selectOrder(item,products)">
                <li><img :src="item.productPicture "></li>
                <li class="application">{{item.productName}}</li>
                <!--<li>{{item.productId }}</li>-->
                <!--<li>{{(item.price /100).toFixed(2)}}</li>-->
                <li>{{item.count }}</li>
                <li>￥{{(item.price/100).toFixed(2)}}</li>
                <!--<li>{{item.commodityWeight }}</li>-->
                <!--<li>{{(item.payAmount /100).toFixed(2)}}</li>-->
                <!--<li><span class="btn-pass" @click.stop="addGoods(item)">添加</span></li>-->
              </ul>
            </div>
            <div v-else>
              订单商品信息获取失败，请稍后重试！
            </div>
            <!-- 商品列表结束 -->
          </div>
          <div v-else style="text-align:center;margin:90px 0;">
            暂无数据
          </div>

        </div>
      </div>
      <div class="detail">
        <!--<div class="total">商品总金额：￥{{(totalMoney/100).toFixed(2)}} </div>-->
        <!--<div>运费：￥0.00</div>-->
        <!--<div>优惠立减：￥0.00</div>-->
        <!--<div>积分兑换：{{scores}}</div>-->
        <!--<div class="payment">实付金额：￥{{(orderPayment/100).toFixed(2) }}</div>-->
      </div>
    </div>
    <!--查看订单详情结束-->
    <!-- 商品管理结束 -->
    <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>
  </div>
  <div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中... </div>
  <script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
	<script type="text/javascript" src="../../common/layui/layui.all.js"></script>  
  <script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../../common/js/common.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        current: 0,
        productNav: [{
          index: 0,
          title: '虚拟订单'
        }],
        loading: true,
				productForm: {
					productName: '',
					shopName: '',
					reciverTel: '',
					payOrder: '',
					fromDate: '',
					toDate: ''
				},
        initialData: {
          count: 10,
          index: 1,
          orderNumber: "",
          orderState: "",
          payTimeLowLimit: "",
          payTimeUpLimit: "",
          productNumber: "",
          shopName: "",
          telephone: ""
        },
        changeValue: {
          count: 10,
          index: 1,
          orderNumber: "",
          orderState: "",
          payTimeLowLimit: "",
          payTimeUpLimit: "",
          productNumber: "",
          shopName: "",
          telephone: ""
        },
        productListLength: 1,
        productLists: [],
        products:[],
        addForm:{
          name:'',
          description:'',
          status:'1',
          isUse:'1'
        },
        totalMoney: 0,
        selectedAll: false,
        selectedProduct: true,
        // 分页
        pagecount: 10,
        pagenum: 1,
        total: 0,
        currentPage: 1,


      },
      mounted: function () {
        var _this = this;
        // FastClick.attach(document.body);
        commonScript.appShowhide('app');
        _this.getInfo(0,_this.initialData);
      },
      methods: {
        // 页面初始加载数据
        getInfo: function (index,values) {
          var _this = this;
          _this.current = index;
          _this.loading = true;
          values.count= _this.pagecount;
          values.index = _this.pagenum;

          var res = function (data) {
            _this.loading = false;
            try {
              switch (data.httpCode) {
                case 200 :
                  if(data.result){
                    var result = data.result.list;
                    _this.productLists = result;
                    _this.total = data.result.total;
                    if(result&&result.length>0){
                      _this.productLists.forEach(function (_) {
                        var create = commonScript.changedate(_.createTime ,'yyyy-MM-dd HH:mm:ss')
                        _.createTime=create;
                        var payTime = commonScript.changedate(_.paymentTime  ,'yyyy-MM-dd HH:mm:ss')
                        _.paymentTime =payTime;
                      })
                    }else{
                      _this.productLists=[]
                    }
                  }
                  break;
                default :
                  _this.$message.error({message: data.msg});
              }
            } catch (e) {
              console.error("REQUEST ERROR ", e);
            }
          };
          commonScript.doPost('/transactionInfo/queryFictitiousOrderInfo',values,res)
        },
        // 查看订单详情
        skewDetail:function(item){
          console.log(item,66666)
          var _this = this;
          var result = item;
          _this.addForm.receiverName = result.receiverName;
          _this.addForm.telephone = result.telephone;
          _this.addForm.address = result.address;
          _this.addForm.status = result.orderStateRemark;
          _this.addForm.number = result.id;
          // if(result.orderStartTime){
          //   var time = commonScript.changedate(result.orderStartTime,'yyyy-MM-dd HH:mm:ss');
          //   _this.addForm.createTime = time
          // }
          _this.addForm.createTime = result.createTime;
          _this.addForm.buyerRemark = result.buyerRemark;
          _this.totalMoney = result.productTotalPrice;
          _this.orderPayment = result.orderPayment;
          var itemArr = [];
          itemArr.push(item);
          _this.products = itemArr;
          var layer = layui.layer;
          layer.open({
            title: '订单详情'
            , content: layui.jquery("#brandList")
            , btn: []
            , area: ['800px', '525px']
            , type: 1
            ,scrollbar: false
          });
        },

        // 刷新页面
				refresh: function (index) {
					var _this = this;
					_this.$refs.productForm.resetFields(); //切换时搜索条件置空
					_this.getInfo(index,_this.initialData);

				},
        // 搜索
        searchDate:function(num){
          var _this = this;
          _this.pagecount = 10;
          _this.pagenum = 1;
          _this.currentPage = 1;
          var changeValue = commonScript.changeJson(_this.initialData);
          changeValue.count = _this.pagecount;
          changeValue.index = _this.pagenum;
          changeValue.orderNumber = _this.productForm.productName || "";
          changeValue.shopName = _this.productForm.shopName || "";
          changeValue.telephone = _this.productForm.reciverTel || "";
          _this.changeValue = changeValue;

          _this.getInfo(num,changeValue);
        },
        // 单条数据选中
        selectOrder: function (item,lists) {
          var _this = this;
          if(item.active===undefined||!item.active){
            _this.$set(item, 'active', true);
          }
          commonScript.selected(item,lists);
        },
        // 选中金额结束
        // 分页器
        //每页显示多少条
        handleSizeChange: function (val) {
          var _this = this;
          // _this.$refs.productForm.resetFields();
          _this.pagecount = val;
          _this.getInfo(_this.current,_this.changeValue);
        },
        //当前页及跳转到第几页
        handleCurrentChange: function (val) {
          var _this = this;
          // _this.$refs.productForm.resetFields();
          _this.pagenum = val;
          _this.getInfo(_this.current,_this.changeValue);
        }
      }
    })
  </script>
</body>

</html>