
/*����ʽ*/

*{
    margin: 0;
    padding: 0;
}
img{
    border: none;
    font-size: 0;
}
html,body {
    font: normal 14px/24px Microsoft Yahei,Arail;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
	height:auto;
}
input{
    outline: none;
}
h1,h2,h3,h4{
    font-size: 16px;
    font-weight: normal;
}
.middle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.abs{
    position: absolute;
}
.rlt{
    position: relative;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.container{
    width: 94%;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
.auto{
    width: 100%;
    height: 180px;
}
.dark{
    background-color: #e5e5e5;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    height: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.fs14{ font-size: 14px;}
.fs16{ font-size: 16px;}
.fs18{ font-size: 18px;}


/*��ҳ��ʽ*/
/*ͷ������*/
header{
    height: 20px;
}
.logo,.search form{
    height: 60px;
}
.nav{
    line-height: 60px;
    font-size: 16px;
    margin-left: 10%;
}
.nav li{
    text-align: center;
}
.nav li a{
    color: white;
    padding: 0 8px 10px;
}
.nav li a.current{
    color: #fff500;
    border-bottom: 2px solid #fff500;
}
.search{
    z-index: 102;
}
.search img{
    border:  1px solid #fff;
    padding: 5px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
#keyword{
    height: 32px;
    width: 205px;
    right: 0;
    top: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid white;
    padding: 0 37px 0 10px;
}
#search{
    width: 16px;
    height: 16px;
    padding: 15px;
    border:  1px solid #fff;
    border-radius: 50%;
    background: url("../images/search.png") no-repeat center center #22292c;
    cursor: pointer;
}
/*�Ƽ����*/
.recommend{
    background-color: #343434;
    margin-bottom: 5px;
}
.title{
    height: 40px;
    line-height: 40px;
}
.title a{
    font-size: 14px;
}
.recommend dl{
    width: 32%;
    overflow: hidden;
}
.recommend dl dt{
    position: relative;
}
.score,.soon{
    width: 100%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    transform-origin: center center;
}
.score{
    top: 8%;
    left: 25%;
    background-color: #fff500;
    color: red;
    transform: rotate(45deg);
}
.soon{
    top: 10px;
    background-color: #ff7800;
    color: white;
    transform: rotate(-45deg);
}
.recommend dl dd{
    text-align: center;
    padding-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*foot*/
.foot{
    text-align: center;
    color: white;
    border-top: 1px solid white;
    background-color: #343434;
    line-height: 40px;
}
.foot1{
    text-align: center;
    color: #343434;
    border-top: 1px solid #dbdbdb;
    line-height: 40px;
}
/*Ƭ����ʽ*/
.select{
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 5px;
}
.select .swiper-container{
    border-bottom: 1px solid #b6b6b6;
}
.select .swiper-slide{
    height: 50px;
    line-height: 50px;
    color: #919191;
    cursor: pointer;
}
.select .swiper-slide.selected{
    color: #87a716;
}
.more{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #919191;
    border-bottom: 10px solid transparent;
    right: 5px;
    top: 50%;
    margin-top: -10px;
}
.only{
    right: 1px;
    top: 1px;
    padding: 0 5px;
    background-color: #ff8407;
    border-radius: 5px;
}

/*����ʽ*/
.list{
    margin-bottom: 5px;
}
.list img{
    box-shadow: 0 5px 5px rgba(6,0,1,.75);

}
.list1,.list2{
    left: 0;
    top: 0;
    background-color: rgba(0,160,233,.6);
    width: 150px;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
    box-shadow: 0 5px 5px rgba(6,0,1,.75);
}
.list1 a{
    color: #feba3d;
}

/*��Ӱ������ʽ*/
.poster-bg{
    left: 0;
    top: 0;
    font-size: 0;
    position: fixed;
    z-index: -1;
}
.detail{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.7);
}
.detail .title{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #787572;
}
.name{
    height: 100px;
    line-height: 100px;
}
.star{
    right: 0px;
    top: 50px;
}
.star dt{
    height: 21px;
}
.s9-10{
    background-position: 0 0;
}
.s8-9{
    background-position: 0 -20px;
}
.s7-8{
    background-position: 0 -41px;
}
.s6-7{
    background-position: 0 -61px;
}
.s5-6{
    background-position: 0 -81px;
}
.s4-5{
    background-position: 0 -101px;
}
.s3-4{
    background-position: 0 -122px;
}
.s2-3{
    background-position: 0 -142px;
}
.s1-2{
    background-position: 0 -162px;
}
.s0-1{
    background-position: 0 -182px;
}
.s0{
    background-position: 0 -203px;
}
.star dl{
    line-height: 21px;
    color: #c7941f;
}
.change{
    color: #c7941f;
    right: 10px;
    bottom: -20px;
    padding-right: 20px;
    font-size: 16px;
    cursor: pointer;
}
.down{
    background: url("../images/down.png") center right no-repeat;
}
.up{
    background: url("../images/up.png") center right no-repeat;
}


.pic-box{
    margin-top: 40px;
}
.pic{
    width: 60% ;
    margin: 0 auto;
    overflow: hidden;
}
.pics{
    position: relative;
}
.left,.right{
    display: block;
    width: 40px;
    height: 36px;
    top: 45%;
}
.left{
    left: 0;
    background:url("../images/left.png");
}
.right{
    background:url("../images/right.png");
    right: 0;
}
.full{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1000px;
    background-color: #000;
    opacity: 0;
    z-index: 101;
}

