@charset "utf-8";body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,html,img,input,legend,li,ol,p,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:9pt "微软雅黑"}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}
fieldset,img{border:none}
img{display:block}
ol,ul{list-style:none}
a{color:#000}
a,a:hover{text-decoration:none}
.clear::after{content:'';display:block;height:0;visibility:hidden;clear:both;}
.left{float: left;}
.right{float: right;}
em,i{font-style: normal;}
body{ 
-webkit-user-select:none; 
-moz-user-select:none; 
-ms-user-select:none; 
user-select:none;
width: 100%;
height: 100%;
background: url('../img/bd.png') no-repeat ;
background-size: 100%;
}
.back{
    position: fixed;
    bottom: 7%;
    overflow: hidden;
    right: 3%;
    z-index: 2000;
    width: 10%;
    height: 32px;
    border-radius: 10%;
    display: none;
}
/*显示积分数字*/
@font-face{
	font-family: myFirstFont;
	src: url('Skranji-Bold.ttf');
}
/*文字字体*/
@font-face{
	font-family: fontFangZheng;
	src: url('font.ttf');
}
/*文字数字字体*/
@font-face{
	font-family: fontBold;
	src: url('Bold.ttf');
}
.backInt{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: .7rem;
    left: .25rem;
}
.myIntergral{
	width: 100%;
	height: auto;
}
/*列表*/
.mescroll{
	position: absolute;
	top: 2.1rem;
	bottom: 0;
	height: auto;
}