.header{
	z-index: 9990;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.1rem;
}
.header .headerImg{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 3rem;
}
.header .btn-left{
    position: fixed;
    top: .7rem;
    left: .25rem;
}
.header .btn-left img{
	width: 1rem;
}
.header .btn-right{
	position: absolute;
	top: 40%;
	right: 5%;
}
/*home导航*/
.homenav{
	width: 100%;
	height: 1.2rem;
	border-top: 1px solid #d8d5ce;
	border-bottom: 1px solid #d8d5ce;
	background: #fdf9ec;
}
.homenav li{
	float: left;
	height: 1.2rem;
	line-height: 1.2rem;
	width: 33.33%;
	box-sizing: border-box;
	border-right: 1px solid #d8d5ce;
	font-size: .4rem;
	color: #666;
	text-align: center;
}
.homenav li i{
	color: #6490c1;
}
.homenav li img{
	display: inline-block;
	width: 25px;
	margin-bottom: 4%;
	vertical-align: middle;
}
.homenav .borderNone,.indexNav .borderNone{
	border-right: none;
}
.indexNav{
	width: 100%;
	height: auto;
	border-bottom: 1px solid #d8d5ce;
}
.indexNav li{
	float: left;
	font-size: .37rem;
	width: 25%;
	height: 2.3rem;
	box-sizing: border-box;
	text-align: center;
	border-right: 1px solid #d8d5ce;
	color: #666;
}
.indexNav li img{
	width: 1.2rem;
	height: 1rem;
	margin: .3rem auto .3rem;
}
.indexNav li .widthimg{
    width: 1.6rem;
    height: 1rem;
}
.homeTitle{
	width: 100%;
	height: auto;
}
.homeTitle img{
	width: 40%;
	margin: 4% 0 2% 4%;
}


/*展示上拉加载的数据列表*/
.data-list{
	width: 100%;
	height: auto; 
}
.data-list li{
	float: left;
	width: 49%;
	height: auto;
	background: #fff;
	padding: 8% 4% 4%;
	border: 1px solid #d8d5ce;
	box-sizing: border-box;
}
.data-list .listLeft{
	margin: 0 2% 2% 0;
}
.data-list .listRight{
	margin: 0 0 2% 0;
}
.data-list .pd-img{
	width: 3.6rem;
	height: 1.6rem;
	margin: 0 auto 1%;
}
.data-list .pd-name img{
	display: inline-block;
	width: 1.5rem;
    height: .5rem;
}
.data-list .pd-price{
	padding: 2% 0 4% 0;
	color: #666;
	font-size: .4rem;
}
.data-list .pd-sold{
	color: #65AADD;
	font-size: .3rem;
}
/*轮播图*/
.swiper-container {
    width: 100%;
    box-sizing: border-box;
} 
.swiper-container img{
    width: 100%;
	height: 4rem;
	box-sizing: border-box;
} 
.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 0;
}
.swiper-pagination-bullet {
    background: #b1b0b1;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}





/*积分header*/
.contInt{
	position: relative;
	width: 90%;
	height: 4.8rem;
	margin: 18% 0 0 5%;
	text-align: center;
	background: url('../img/m_2.png') no-repeat ;
	background-size: 100% 98%;
}
.headInt{
    width: 5.6rem;
    height: 1.5rem;
    position: absolute;
    top: -.5rem;
    left: 1.65rem;
}

.contInt .contInt_title{
	padding-top: 1.5rem;
	font-size: .7rem;
	color: #ffe23d;
	font-family: myFirstFont;
	-webkit-text-stroke: 1.5px #885d23;
}
.contInt .contInt_history{
	position: absolute;
    top: 3rem;
    left: 32%;
	width: 2.8rem;
	padding:1% 1.5%;
	background: #e5d59d;
	border-radius: 10px;
}
.contInt .contInt_history img{
	display: inline-block;
	width: .5rem;
	height: .5rem;
	vertical-align: middle;
}
.contInt .contInt_history .contInt_img{
	display: inline-block;
	width: 1.8rem;
	height: .5rem;
	vertical-align: middle;
}
.mainInt{
	width: 90%;
	height: 2.6rem;
	margin: 3% 0 0 5%;
	padding: 5% 0 0 4%;
	box-sizing: border-box;
	background: url('../img/m_6.png') no-repeat ;
	background-size: 100% 98%;
}
.mainInt img{
	display: inline-block;
	vertical-align: middle;
}
.mainInt .main_1{
	width: 25%;
}
.mainInt .main_2{
	width: 43%;
}
.mainInt .main_3{
	width: 23%;
}
.botInt{
	position: relative;
	width: 90%;
	height: 7.2rem;
	margin: 7% 0 0 5%;
	text-align: center;
	background: url('../img/m_2.png') no-repeat ;
	background-size: 100% 98%;
}
.botInt ul{
	height: 4rem;
	position: absolute;
    top: 1rem;
    left: 13%;
}
.botInt ul li{
	margin: 3% 0;
}
.botInt ul .botInt_left{
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}
.botInt .botInt_img{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}
.botInt .botInt_img .botInt_title{
	width: 70%;
	margin: 0 0 3% 2%;
}
.botInt .botInt_img .botInt_way{
	width: 45%;
	margin-left: 2%;
}


/*兑换积分确认*/
.change_img{
    width: 23%;
    margin: 0 auto;
    padding-top: 12%;
}
.exchang{
	background: url('../img/c_3.png') no-repeat ;
	background-size: 100% 98%;
}
.exchang .contInt_title{
	padding-top: .2rem;
}
.exchang .headInt{
	padding-top: .2rem;
}
.exchang_main{
	position: relative;
	width: 90%;
	height: 10.7rem;
    margin: 10% 0 0 5%;
    padding-top: .1rem;
	background: url('../img/c_4.png') no-repeat ;
	background-size: 100% 98%;
}
.exchang_item{
	margin-top: 10%;
	height: 9rem;
	overflow-y: auto;
}
.exchang_item li{
	width: 100%;
	padding: 2% 4%;
	box-sizing: border-box;
	white-space: nowrap;
}

.exchang_item_first{
    padding: 7% 0;
}
.exchang_img{
    width: 5.6rem;
    height: 1.5rem;
    position: absolute;
    top: -.6rem;
    left: 1.65rem;
}
.exchang_item li .exItem_img{
	width: 13%;
	display: inline-block;
	vertical-align: middle;
}
/*.exchang_item li .exItem_name{
	width: 34%;
	display: inline-block;
	vertical-align: middle;
}
.exchang_item li .exItem_name span{ 
	color: #7c2b08;
	width: 100%;
	font-size: .47rem;
	padding: 5% 0;
    display: inline-block;
	font-weight: 800;
	font-family: fontFangZheng;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.exchang_item li .exItem_name .exItem_way{ 
	color: #ca800c;
	font-size: .38rem;
	font-weight: 800;
	font-family: fontFangZheng;
}
.exchang_item li .exItem_name .exItem_way i{ 
	color: #ca800c;
	font-family: fontBold;
}*/
.exchang_item li .exItem_time{ 
	display: inline-block;
	width: 20%;
	height: 1.5rem;
	font-size: .3rem;
	text-align: center;
	line-height: 2.3rem;
	color: #fff;
	background: url('../img/c_7.png') no-repeat ;
	background-size: 100% 98%;
	vertical-align: middle;
}
.exchang_item li .exItem_click{ 
	display: inline-block;
	width: 25%;
	vertical-align: middle;
    margin-top: 5%;
}

/*我的宝库*/
.myTreas_nav{
	width: 90%;
	height: 15rem;
	margin-top: 22%;
	margin-left: 5%;
	background: url('../img/t_0.png') no-repeat ;
	background-size: 100% 98%;
	position: relative;
}
.myTreas_nav .headInt{top: -.6rem;}
.myTreas_spanNav{padding-top: 15%;}
.myTreas_spanNav div{
	width: 80%;
	margin: 0 auto;
	padding: 1% .5% .5% 1%;
	box-sizing: border-box;
	background: url('../img/tN_0.png') no-repeat ;
	background-size: 100% 98%;
}
.myTreas_nav div img{
	display: inline-block;
	width: 49%;
}
.myTreas_click{
	position: absolute;
	bottom: 10%;
	left: 32%;
}
.myTreas_item{
	height: auto;
}
.myTreas_item li{
	width: 90%;
	padding: 2% 4%;
	margin-left: 5%;
	box-sizing: border-box;
	white-space: nowrap;
	background: url('../img/c_9.png') no-repeat ;
	background-size: 100% 98%;
}
.myTreas_item .exItem_name{
    margin-left: 3%;
    box-sizing: border-box;
} 
.myTreas_item .exItem_name span {
    padding: 5% 0 3% 0;
}
.myTreas_item li .exItem_img{
	width: 15%;
	display: inline-block;
	vertical-align: middle;
}
.myTreas_item li .exItem_name{
	width: 60%;
}
.myTreas_item li .myTreas_input{
	width: 22%;
	display: inline-block;
	vertical-align: middle;
	background: url('../img/t_2.png') no-repeat ;
	background-size: 75% 98%;
}
.myTreas_item li .myTreas_input img{
    width: 35%;
    margin-left: 18%;
    padding: 7% 0;
}
/*我的宝库*/
#mescroll1{
	display: none;
}



/*滚动条*/
::-webkit-scrollbar {   
	width: 6px;
	margin: 0 3px;
	display: none;
}
