.homeox{
	position: relative;
	width: 100%;
    height: 15.7rem
}
.header{
	z-index: 9990;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.1rem;
	background: url('../img/bd.png') no-repeat;
	background-size: 100% 850%;
}
.header .headerImg{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 3rem;
}
.header .headImg{
	position: fixed;
    top: .7rem;
    right: .25rem;
    width: 1rem;
}
.header .btn-left{
    position: fixed;
    top: .7rem;
    left: .25rem;
}
.header .btn-left img{
	width: 1rem;
}
.header .btn-right{
	position: absolute;
	top: 40%;
	right: 5%;
}
/*home导航*/
.homenav{
	width: 100%;
	height: 1.2rem;
	border-top: 1px solid #d8d5ce;
	border-bottom: 1px solid #d8d5ce;
	background: #fdf9ec;
	position: absolute;
	top: 2.1rem;
	left: 0;
}
.homenav li{
	float: left;
	height: 1.2rem;
	line-height: 1.2rem;
	width: 33.33%;
	box-sizing: border-box;
	border-right: 1px solid #d8d5ce;
	font-size: .4rem;
	color: #666;
	text-align: center;
}
.homenav li i{
	color: #6490c1;
}
.homenav li img{
	display: inline-block;
	width: 25px;
	margin-bottom: 4%;
	vertical-align: middle;
}
.homenav .borderNone,.indexNav .borderNone{
	border-right: none;
}
.indexNav{
	width: 100%;
	height: auto;
}
.indexNav li{
	float: left;
	font-size: .37rem;
	width: 25%;
	height: 2.3rem;
	box-sizing: border-box;
	text-align: center;
	border-right: 1px solid #d8d5ce;
	border-bottom: 1px solid #d8d5ce;
	color: #666;
}
.indexNav li img{
	width: 1.2rem;
	height: 1rem;
	margin: .3rem auto .3rem;
}
.indexNav li .widthimg{
    width: 1.6rem;
    height: 1rem;
}
.homeTitle{
	width: 100%;
	height: auto;
	display: none;
}
.homeTitle img{
	width: 40%;
	margin: 4% 0 2% 4%;
}


/*展示上拉加载的数据列表*/
.data-list{
	width: 100%;
	height: auto; 
}
.data-list li{
	float: left;
	width: 49%;
	height: 4.6rem;
	background: #fff;
	padding: 8% 4% 4%;
	border: 1px solid #d8d5ce;
	box-sizing: border-box;
}
.data-list .listLeft{
	margin: 0 2% 2% 0;
}
.data-list .listRight{
	margin: 0 0 2% 0;
}
.data-list .pd-img{
	width: 3.6rem;
	height: 1.6rem;
	margin: 0 auto 1%;
}
.data-list .pd-name {
	display: inline-block;
	width: 1.5rem;
    height: .5rem;
}
.data-list .pd-name img{
	display: inline-block;
	width: 1.5rem;
    height: .5rem;
}
.data-list .pd-price{
	padding: 2% 0 4% 0;
	color: #666;
	font-size: .4rem;
}
.data-list .pd-sold{
	color: #65AADD;
	font-size: .3rem;
}
/*轮播图*/
.swiper-container {
    width: 100%;
    box-sizing: border-box;
} 
.swiper-container img{
    width: 100%;
	height: 4rem;
	box-sizing: border-box;
} 
.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 0;
}
.swiper-pagination-bullet {
    background: #b1b0b1;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}





/*积分header*/
.contInt{
	position: relative;
	width: 90%;
	height: 4.8rem;
	margin: 18% 0 0 5%;
	text-align: center;
	background: url('../img/m_2.png') no-repeat ;
	background-size: 100% 98%;
}
.headInt{
    width: 5.6rem;
    height: 1.5rem;
    position: absolute;
    top: -.5rem;
    left: 1.65rem;
}

.contInt .contInt_title{
	padding-top: 1.5rem;
	font-size: .7rem;
	color: #ffe23d;
	font-family: myFirstFont;
	-webkit-text-stroke: 1.5px #885d23;
}
.contInt .contInt_history{
	position: absolute;
    top: 3rem;
    left: 32%;
	width: 2.8rem;
	padding:1% 1.5%;
	background: #e5d59d;
	border-radius: 10px;
}
.contInt .contInt_history img{
	display: inline-block;
	width: .5rem;
	height: .5rem;
	vertical-align: middle;
}
.contInt .contInt_history .contInt_img{
	display: inline-block;
	width: 1.8rem;
	height: .5rem;
	vertical-align: middle;
}
.mainInt{
	width: 90%;
	height: 2.6rem;
	margin: 1.5% 0 0 5%;
	padding: 5% 0 0 4%;
	box-sizing: border-box;
	background: url('../img/m_6.png') no-repeat ;
	background-size: 100% 98%;
}
.mainInt img{
	display: inline-block;
	vertical-align: middle;
}
.mainInt .main_1{
	width: 25%;
}
.mainInt .main_2{
	width: 43%;
}
.mainInt .main_3{
	width: 23%;
}
.botInt{
	position: relative;
	width: 90%;
	height: 7.2rem;
	margin: 7% 0 0 5%;
	text-align: center;
	background: url('../img/m_2.png') no-repeat ;
	background-size: 100% 98%;
}
.botInt ul{
	height: 4rem;
	position: absolute;
    top: 1rem;
    left: 13%;
}
.botInt ul li{
	margin: 3% 0;
}
.botInt ul .botInt_left{
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}
.botInt .botInt_img{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}
.botInt .botInt_img .botInt_title{
	width: 70%;
	margin: 0 0 3% 2%;
}
.botInt .botInt_img .botInt_way{
	width: 45%;
	margin-left: 2%;
}


/*兑换积分确认*/
.change_img{
    width: 23%;
    margin: 0 auto;
    padding-top: 12%;
}
.exchang{
	background: url('../img/c_3.png') no-repeat ;
	background-size: 100% 98%;
}
.exchang .contInt_title{
	padding-top: .2rem;
}
.exchang .headInt{
	padding-top: .2rem;
}
.exchang_main{
	position: relative;
	width: 90%;
	height: 10.7rem;
    margin: 10% 0 0 5%;
    padding-top: .1rem;
	background: url('../img/c_4.png') no-repeat ;
	background-size: 100% 98%;
}
.exchang_item{
	margin-top: 10%;
	height: 9rem;
	overflow-y: auto;
}
.exchang_item li{
	width: 100%;
	padding: 2% 4%;
	box-sizing: border-box;
	white-space: nowrap;
}

.exchang_item_first{
    padding: 7% 0;
}
.exchang_img{
    width: 5.6rem;
    height: 1.5rem;
    position: absolute;
    top: -.6rem;
    left: 1.65rem;
}
.exchang_item li .exItem_img{
	width: 13%;
	display: inline-block;
	vertical-align: middle;
}
/*.exchang_item li .exItem_name{
	width: 34%;
	display: inline-block;
	vertical-align: middle;
}
.exchang_item li .exItem_name span{ 
	color: #7c2b08;
	width: 100%;
	font-size: .47rem;
	padding: 5% 0;
    display: inline-block;
	font-weight: 800;
	font-family: fontFangZheng;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.exchang_item li .exItem_name .exItem_way{ 
	color: #ca800c;
	font-size: .38rem;
	font-weight: 800;
	font-family: fontFangZheng;
}
.exchang_item li .exItem_name .exItem_way i{ 
	color: #ca800c;
	font-family: fontBold;
}*/
.exchang_item li .exItem_time{ 
	display: inline-block;
	width: 20%;
	height: 1.5rem;
	font-size: .3rem;
	text-align: center;
	line-height: 2.3rem;
	color: #fff;
	background: url('../img/c_7.png') no-repeat ;
	background-size: 100% 98%;
	vertical-align: middle;
}
.exchang_item li .exItem_click{ 
	display: inline-block;
	width: 25%;
	vertical-align: middle;
    margin-top: 5%;
}

/*我的宝库*/
.myTreas_nav{
	width: 90%;
	height: 15rem;
	margin-top: 22%;
	margin-left: 5%;
	background: url('../img/t_0.png') no-repeat ;
	background-size: 100% 98%;
	position: relative;
}
.myTreas_main{
	width: 90%;
    height: 13.1rem;
    margin-left: 5%;
    position: absolute;
    top: 8%;
}
.myTreas_nav .headInt{top: -.6rem;}
.myTreas_spanNav{padding-top: 5%;}
.myTreas_spanNav div{
	width: 80%;
	margin: 0 auto;
	padding: 1% .5% .5% 1%;
	box-sizing: border-box;
	background: url('../img/tN_0.png') no-repeat ;
	background-size: 100% 98%;
}
.myTreas_nav div img{
	display: inline-block;
	width: 49%;
}
.myTreas_click{
	position: absolute;
	bottom: 3%;
	left: 32%;
}
.deliveGoods .myTreas_cli{
	text-align: center;
    margin-top: 10%;
}
.deliveGoods .myTreas_cli img{
	width: 40%;
}
.myTreas_item{
	height: auto;
	margin-top: 3%;
}
.myTreas_item li{
	width: 94%;
	padding: 3% 4%;
    margin: 1% 0 1% 3%;
	box-sizing: border-box;
	white-space: nowrap;
	background: url('../img/c_9.png') no-repeat ;
	background-size: 100% 100%;
}
.myTreas_item .exItem_name{
    margin-left: 3%;
    box-sizing: border-box;
} 
.myTreas_item .exItem_name span {
    padding: 5% 0 3% 0;
}
.myTreas_item li .exItem_img{
	width: 15%;
	display: inline-block;
	vertical-align: middle;
}
.myTreas_item li .exItem_name{
	width: 60%;
}
.myTreas_item li .myTreas_input{
    width: 14%;
    height: .65rem;
	display: inline-block;
	vertical-align: middle;
	background: #fdeacc;
	border: 1px solid #a15d06;
	border-radius: 5px;
}
.myTreas_item li .myTreas_input img{
   margin: 13% 25%;
   display: none;
}
#mescroll1 .myTreas_item li .exItem_img {
	width: 30%;
}
#mescroll1 .myTreas_item li .myTreas_in{
	width: 22%;
	display: inline-block;
	vertical-align: middle;
}
#mescroll1 .myTreas_item li .myTreas_in img{
	width: 35%;
    padding: 7% 0;
}
/*我的宝库*/
#mescroll1{
	display: none;
}
.dataNone1,.dataNone0{
	display: none;
	width: 49%;
    height: 4.5rem;
    margin: 5% 28% 0;
	background: url('../img/dH_2.png') no-repeat ;
	background-size: 100% 98%;
}


/*滚动条*/
::-webkit-scrollbar {   
	width: 6px;
	margin: 0 3px;
	display: none;
}

/*使用详情*/
.contInt_treasMain{
	background: url('../img/tM_2.png') no-repeat ;
	background-size: 100% 98%;
}
.treasMain_way{
	width: 100%;
}
.treasMain_way span{
	font-size: .7rem;
    padding: 4% 0 0 0; 
}
.treasMain_way .exItem_way{
	font-size: .5rem;
}
.treasMain_title{
	margin: 3% 0 0 5%;
	position: relative;
	width: 90%;
}
.treasMain_click{
	position: absolute;
    bottom: 5%;
    width: 40%;
    left: 30%;
}
.treasMain_click img{
	width: 100%;
	display: inline-block;
}
.contInt_treasMain .change_img{
	width: 50%;
}
.treasMain_title .treasMain_main{
	position: absolute;
	top: 8%;
	width: 80%;
    height: 77%;
    margin: 0 5%;
    padding: 5%;
	background: url('../img/tM_3.png') no-repeat ;
	background-size: 100%;
	overflow-y: auto;
	color: #231815;
}
.treasMain_title .treasMain_main span{
	color: #d4531a;
}
/*发货*/
.goods_img{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}
.goods_None{
	display: none;
}
.goods_tit{
	display: none;
}
.goods_cont{
	width: 94%;
	height: auto;
	line-height: 1rem;
	padding-left: 3%;
    margin: 5% 0 2% 3%;
	box-sizing: border-box;
	background: url('../img/d_4.png') no-repeat ;
	background-size: 100% 100%;
}
.myTreas_nav .goods_cont img{
	width: 8%;
    margin: 2.5% 3% 0 0;
}
.myTreas_nav .goods_cont .cont_name{
    display: inline-block;
    vertical-align: middle;
    color: #d4531a;
    font-size: .4rem;
}
.myTreas_nav .goods_cont .goods_titleNone{
	width: 68%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .3rem;
    color: #231815;
}
.goods_tit{
	display: none;
    padding: 3% 0 3% 3%;
	line-height: .5rem;
}
.goods_tit .goods_name{
	width: 65%;
}
.myTreas_nav .goods_tit .goods_n{
    color: #231815;
    font-size: .4rem;
}
.myTreas_nav .goods_tit .goods_n .left{
    color: #231815;
    font-size: .4rem;
    display: inline-block;
    width: 43%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.myTreas_nav .goods_tit .goods_adress{
	color: #7d7d7d;
	font-size: .3rem;
}
.myTreas_nav .goods_tit img{
	width: 5%;
    margin: 5% 5% 0 0;
}
.goods_main{
	width: 94%;
	height: auto;
	margin-left: 3%;
	box-sizing: border-box;
	padding: 3% 3% 4%;
	background: #fdeacc;
	border: 1px solid #a15d06;
	border-radius: 5px;
	font-size: .3rem;
    color: #231815;
}

.goods_main span{
	width: 26%;
	height: 100%;
	color: #d4531a;
    font-size: .4rem;
    display: inline-block;
    vertical-align: middle;
}
.goods_main i{
	width: 72%;
	height: 100%;
	margin-top: 3%;
    display: inline-block;
    vertical-align: middle;
}
/*收货信息*/
#mescroll3{
    width: 90%;
    margin-left: 5%;
}
.address_item{
	width: 94%;
	margin-left: 3%;
	max-height: 10rem;
	overflow-y: auto;
	margin-top: 3% ;
}
.address_item li{
	width: 100%;
	height: 2.5rem;
	font-size: .3rem;
	padding:3% 5%;
	color: #3a230a;
	box-sizing: border-box;
	background: url('../img/a_2.png') no-repeat;
	background-size: 100%;
}
.address_item .item_active{
	background: url('../img/a_1.png') no-repeat;
	background-size: 100%;
}
.address_item li .spanactive{
	padding-left: 22%;
	background: url('../img/a_5.png') no-repeat 0 1px;
	background-size: 20%;
}
.address_item .item_spanactive .spanactive{
	color: #fff;
	padding-left: 22%;
	background: url('../img/a_4.png') no-repeat 0 1px;;
	background-size: 20%;
}
.address_item li .item_name{
	width: 100%;
}
.address_item li .item_more{
	width: 100%;
	padding-top: 1.5%;
}
.address_item li .item_more .more_name{
	width: 30%;
}
.address_item li .item_more .more_right{
	width: 50%;
	text-align: right;
}
.address_item li .item_more .more_title{
	margin-right: 10%;
}
.address_item li .item_more .more_right i{
	vertical-align: middle;
}
.address_item li .item_more .more_name img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 1%;
	width: 18%;
}
.address_item li .item_more .more_right img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 2%;
	width: 10%;
}
.address_item li .item_more .more_name .spanactive{
	display: inline-block;
	vertical-align: middle;
	width: 70%;
}
.address_item li .item_detail{ 
	width: 100%;
	padding: 1.5% 0 3% 0;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #a5a6a6;
}
.address_item li .item_xiugai{ 
	display: none;
	width: 90%;
	margin-left: 5%;
	color: #e60012;
}
.address_clickImg{
	position: absolute;
    bottom: 5%;
    left: 33%;
}
.myTreas_nav div .address_noneImg {
	display: none;
	width: 35%;
	margin: 10% 0 0 32%;
}
.myTreas_nav div .address_clickImg {
	width: 35%;
}
/*新增地址*/
#mescroll4 {
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding-top: 3%;
}
#mescroll4 ul{
    width: 94%;
    height: 6.5rem;
    margin-left: 3%;
	padding: 2% 3% 0;
	box-sizing: border-box;
	background: #fdeacc;
	border: 1px solid #a15d06;
	border-radius: 5px;
}
#mescroll4 ul li{
	width: 100%;
	min-height: .9rem;
	line-height: .9rem;
	padding: 0 2%;
	box-sizing: border-box;
	color: #c9521e;
	font-size: .35rem;
	border-bottom: 1px solid #c0914c;
}
#mescroll4 ul .borderNone{
	border-bottom: none;
}
#mescroll4 ul li label{
	width: 27%;
	display: inline-block;
	height: 1rem;
	line-height: 1rem;
}
#mescroll4 ul li .textSpan{
	width: 27%;
	display: inline-block;
    vertical-align: top;
}
#mescroll4 ul li .inputname{
	width: 70%;
	display: inline-block;
	color:#aaabab;
	outline: none;
	border: none;
	background: rgba(0,0,0,0);
	color:#aaabab;
}
#mescroll4 ul li ::-webkit-input-placeholder {color:#aaabab;}
#mescroll4 ul li ::-moz-placeholder {color:#aaabab;}
#mescroll4 ul li ::-moz-placeholder {color:#aaabab;}
#mescroll4 ul li ::-ms-input-placeholder {color:#aaabab;}
#mescroll4 ul li textarea{
	height: .8rem;
	margin-top: 5%;
	resize:none;
}
#mescroll4 ul .addressSave{
	margin-top: 4%;
	width: 100%;
	height: .9rem;
}
#mescroll4 ul .addressSave .item_save{
	display: inline-block;
	width: 65%;
	background: #c9521e;
	color: #fff;
	border-radius: 5px;
	font-size: .35rem;
	height: .9rem;
	line-height: .9rem;
	text-align: center;
}
#mescroll4 ul .addressSave .item_delete{
	display: inline-block;
	width: 25%;
	background: #f6daad;
	border: 1px solid #c27d43;
	color: #ad753f;
	border-radius: 5px;
	height: .9rem;
	line-height: .9rem;
	text-align: center;
	box-sizing: border-box;
}
/*发货成功*/
.myTreas_nav .goods_success img {
	width: 5%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 2%;
}
.myTreas_nav .goods_success{
	height: 4.5rem;
}
.myTreas_nav .goods_success,.myTreas_nav .goods_tit{
	background: #fdeacc;
	border: 1px solid #a15d06;
	border-radius: 5px;
}
.myTreas_nav .goods_success div {
	width: 100%;
	font-size: .4rem;
	color: #231815;
	margin: 5% 0;
}
.myTreas_nav .goods_success span {
	width: auto;
	font-size: .4rem;
	color: #231815;
}
/*客服*/

.mI_main {
	height: 6.5rem;
	background: url('../img/mI_0.png') no-repeat ;
	background-size: 100% 98%;
}
.mI_bot{
	height: 7rem;
	background: url('../img/mI_1.png') no-repeat ;
	background-size: 100% 98%;
}
.mI_main textarea{
	position: absolute;
    top: 1rem;
    left: 10%;
	resize:none;
	border: none;
	font-size: .45rem;
    width: 80%;
    height: 50%;
    background: none;
    outline: none;
}
.mI_main ::-webkit-input-placeholder {color:#b2aa90;}
.mI_main ::-moz-placeholder {color:#b2aa90;}
.mI_main ::-moz-placeholder {color:#b2aa90;}
.mI_main ::-ms-input-placeholder {color:#b2aa90;}
.contInt .headBot{
    width: 38%;
    position: absolute;
    bottom: 1rem;
    left: 32%;
    color: #666;
}
.mIbot_img{
	display: inline-block;
	width: 40%;
	box-sizing: border-box;
    padding: 15% 1% 0 1%;
}