<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">

</head>

<body>
<div id="app" class="hide">
  <!-- 商品管理 -->
  <div class="wrapper page">
    <div class="fixed-bar">
      <div class="item-title">
        <div class="subject">
          <h3>专题管理</h3>
          <h5></h5>
        </div>
        <ul class="tab-base nc-row">
          <li v-for="(nav,index) in productNav" :key="nav.index">
            <a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 搜索条件 -->
    <div class="mod-search cf" id="report-search">
      <div class="fr">
        <a class="ui-btn" id="addNew" @click="addCoupon('新增')" v-if="userRights['insertMobileSpecialInfo']">新增<i class="layui-icon">&#xe654;</i></a>
        <!--<a class="ui-btn" id="audit" @click="refresh()">刷新<i class="el-icon-refresh"></i></a>-->
      </div>
    </div>
    <!-- 搜索条件结束 -->

    <!-- 表格数据渲染 -->
    <div class="cf">
      <div class="grid-wrap">
        <div class="productManger" v-if='productLists.length > 0'>
          <!-- 表头 -->
          <div class="produtHead classifyHead">
            <ul>
              <li>操作</li>
              <li>排序</li>
              <li class="orderWidth">标题</li>
              <li>类型</li>
              <li>标签</li>
              <!--<li class="shopWidth">图片</li>-->
              <li>状态</li>
              <!--<li>点击率</li>-->
              <li class="shopWidth">添加时间</li>
            </ul>
          </div>
          <!-- 表头结束 -->
          <!-- 商品列表 -->
          <div class="pruductList classifyList">
            <ul v-for="(item,index) in productLists" :class="{'active':item.active}"
                @click="selectOrder(item,productLists)">
              <li>
                <span class=" ui-icon-cart" title="修改" @click.stop="editCoupon(item)" v-if="userRights['updateMobileSpecialInfo']"><i class="layui-icon">&#xe642;</i></span>
                <span class=" ui-icon-trash" title="删除" @click.stop="removeCoupon(item.id)" v-if="userRights['deleteMobileSpecialInfo']"><i class="layui-icon">&#xe640;</i></span>
              </li>
              <li>{{item.sort}}</li>
              <li class="orderWidth">{{item.title}}</li>
              <li>{{item.fastnewsCategory==11?"公告":item.fastnewsCategory==12?"专题":""}}</li>
              <li>{{item.style}}</li>
              <!--<li class="shopWidth">{{item.img}}</li>-->
              <li>{{item.isOpen?'开启':'关闭'}}</li>
              <!--<li>{{item.clickCount}}</li>-->
              <li class="shopWidth">{{item.createTime}}</li>

            </ul>
          </div>
          <!-- 商品列表结束 -->
        </div>
        <div v-else style="text-align:center;margin:50px 0;">
          暂无数据
        </div>
      </div>
    </div>
    <!-- 表格数据渲染结束 -->
    <!-- 分页 -->
    <!-- <div class="larry-table-page clearfix">
          <div id="page" class="page"></div>
      </div> -->
    <div class="pagination" v-show="total>0">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1"
                     :page-sizes="[10, 20, 30, 40]"
                     :page-size="pagecount" layout=" prev, pager, next,sizes" :total="total">
      </el-pagination>
    </div>
    <!-- 分页器结束 -->
  </div>
  <!-- 商品管理结束 -->
  <div id="add" style="display: none">
    <el-form :model="addForm" ref="addForm" :rules="rules" label-width="30%" class="mt20">
      <div class="ncap-form-default">
        <el-form-item label="标题" prop="newsTitle">
          <el-input placeholder="" v-model="addForm.newsTitle"></el-input>
        </el-form-item>
        <el-form-item label="排序" prop="sorting">
          <el-input placeholder="" v-model="addForm.sorting"></el-input>
        </el-form-item>
        <el-form-item label="类型" prop="newsType">
          <el-select v-model="addForm.newsType" placeholder="请选择">
            <el-option v-for="type in addForm.types" :key="type.id" :label="type.name" :value="type.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="标签" prop="newsMark">
          <el-select v-model="addForm.newsMark" placeholder="请选择">
            <el-option v-for="mark in addForm.marks" :key="mark.id" :label="mark.name" :value="mark.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="是否启用" prop="showType">
          <dl class="">
            <dd class="opt">
              <div class="onoff">
                <input id="showType12" name="" value="1" type="radio" v-model="addForm.showType">
                <label title="启用" class="cb-enable " for="showType12"
                       :class="{'selected':addForm.showType==1}">启用</label>
                <input id="showType02" name="" value="0" type="radio" v-model="addForm.showType">
                <label title="关闭" class="cb-disable " for="showType02"
                       :class="{'selected':addForm.showType==0}">关闭</label>
              </div>
            </dd>
          </dl>
        </el-form-item>
        <div class="clearfix">
          <span style="display: block;width: 18%;float: left;text-align: right;padding-right: 12px;">详细内容</span>
          <div id="editor" class="editor" style="width: 550px; height: 300px; float:left"></div>
        </div>
      </div>
    </el-form>
  </div>
  <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中...</div>
</div>
<div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中...</div>
<script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.bus = new Vue();
</script>
<script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
<script type="text/javascript" src="../../common/layui/layui.all.js"></script>
<script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<!--引入编辑器-->
<script src="../../common/UEditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
<script src="../../common/UEditor/ueditor.all.js" type="text/javascript" charset="utf-8"> </script>
<!--建议手动加载语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script src="../../common/UEditor/lang/zh-cn/zh-cn.js" type="text/javascript" charset="utf-8"></script>
<!--<script>-->

<!--</script>-->
<script>
  var ue = null;
  new Vue({
    el: '#app',
    data: {
      current: 0,
      productNav: [{
        index: 0,
        title: '专题管理'
      }],
      loading: true,
      productForm: {
        couponStatus: '0',
        couponName: '',
      },
      userId:"",
      productLists: [],
      totalMoney: 0,
      selectedAll: false,
      selectedProduct: true,
      selectParams: {                //查询参数
        index: 1,
        count: 10,
        fastnewsCategory: 10,
        title: "",
        style: ""
      },
      addForm: {
        newsTitle: '',
        sorting: '',
        newsType: "",
        types: [{
          id: 11,
          name: '公告'
        },
          {
            id: 12,
            name: '专题'
          },
          // {
          //   id: 13,
          //   name: '关于我们'
          // },
          // {
          //   id: 14,
          //   name: '意见反馈'
          // }
          ],
        newsMark: '',
        marks: [{
          id: "快讯",
          name: '快讯'
        },
          {
            id: "热门",
            name: '热门'
          }],
        showType: '0',
      },
      userRights:{},
      rules: {
        newsTitle: [
          {required: true, message: '快报标题不能为空！', trigger: 'blur'},
        ],
        sorting: [
          {required: true, message: '快报排序不能为空！', trigger: 'blur'},
          { pattern: /^([0-9]|[1-9]\d|1\d{2}|2[0-4]\d|25[0-5])$/, message: '请输入0~255的整数！', trigger: 'blur' },
        ],
      },
      // 分页
      pagecount: 10,
      pagenum: 1,
      total: 0 ,
    },
    mounted: function () {
      var _this = this;
      commonScript.appShowhide('app');
      var userData = JSON.parse( sessionStorage.getItem("userData") );
      if( userData ) {
          _this.userId = userData.id;
      };
      _this.getInfo();

      ue = UE.getEditor("editor",{
          toolbars : [
              ["bold","italic","underline","forecolor","backcolor","justifyleft","justifycenter","justifyright","insertunorderedlist","insertunorderedlist","emotion","link","removeformat","rowspacingtop","rowspacingbottom","lineheight","paragraph","fontsize","inserttable","deletetable","insertparagraphbeforetable","insertrow","deleterow","picspace"] ,
              ["insertcol","deletecol","mergecells","mergeright","mergedown","splittocells","splittorows","splittocols"]
          ]
      });

      bus.$on("picspace",function () {
          var hasInput = $("#upload_file").length > 0;
          var file;
          if( !hasInput ) {
              file = $("<input type='file' id='upload_file' style='position: absolute; top:-9999px' />");
              $("body").append( file );
          } else {
              file = $("#upload_file");
          }
          file.get(0).click();
          file.change(function() {
              var formData = new FormData();
              formData.append("file" ,this.files[0] );
              formData.append('sellerId', 'admin');
              formData.append('picGroupId', '123');
              var xhr = new XMLHttpRequest();
              xhr.open("post","/settingsInfo/uploadPicture",true);
              xhr.send( formData );
              xhr.onload = function () {
                  var data = JSON.parse( this.responseText );
                  switch ( data.httpCode ) {
                      case 200 :
                          ue.execCommand("insertimage",{
                              src : data.result ,
                              width : 150 ,
                              height : 150
                          });
                          file.remove();
                          break;
                      default :
                          _this.$message.error({message: "上传图片错误，请重试"});
                  }

                  //console.log( "上传图片成功" , JSON.parse( this.responseText ) )
              }
          });
          //console.log("假装有图片弹窗")
      });

      // 获取本地权限
      _this.userRights = getPows();
    },
    methods: {
      // 页面初始加载数据
      getInfo: function () {
        var _this = this;
        _this.loading = true;
        var res = function (data) {
          try {
            switch (data.httpCode) {
              case 200 :
                if (data.hasOwnProperty("result")) {
                  if (data.result.hasOwnProperty("list") && Array.isArray(data.result.list)) {
                    data.result.list.forEach(function (item, index) {
                      if (item.createTime) {
                        item.createTime = commonScript.changedate(item.createTime, 'yyyy-MM-dd HH:mm:ss');

                      }
                      // item.endTime  = commonScript.changedate(item.endTime , 'yyyy-MM-dd HH:mm:ss')
                    });
                    _this.productLists = data.result.list;
                    _this.total = data.result.total;
                  } else {
                    _this.productLists = [];
                    _this.total =0

                  }
                } else {
                  _this.$message.error({message: "返回值错误"});
                }
                break;
              default :
                _this.$message.error({message: data.msg});
            }
          } catch (e) {
            console.error("请求错误 e = ", e);
          }
          ;
          _this.loading = false;
        };

        commonScript.doPost("/mobileInfo/queryMobileSpecialInfo", this.selectParams, res);
      },
      // 增加快报
      addCoupon: function ( title, content , id ) {
        var _this = this;
        var layer = layui.layer;
        layer.open({
          title: title
          , content: layui.jquery("#add")
          , btn: ['确定', '取消']
          , area: ['757px', '525px']
          , type: 1
          , scrollbar: false
          , zIndex: 100
          , yes: function () {
            _this.addNewCalssigy('addForm', id);
            // layer.closeAll();
          }
          , btn2: function (index, layero) {
            //按钮【取消】的回调
            _this.$refs.addForm.resetFields();
          }
          , cancel: function () {
            //右上角关闭回调
            _this.$refs.addForm.resetFields();
          }
          ,success:function () {
              var t = setTimeout(function () {
                  ue.setContent( content );
                  clearTimeout( t );
              },400)
          }
        })
      },
      // 确定 新增 编辑优惠券
      addNewCalssigy: function (formName, id) {
        var _this = this;
        _this.$refs[formName].validate((valid) => {
          if (valid) {
            ue.ready(function () {
              var UEcontent = UE.getEditor('editor').getContent();
              var data = {
                  isOpen: _this.addForm.showType * 1,
                  sort: _this.addForm.sorting*1,
                  title: _this.addForm.newsTitle,
                  detailContent: UEcontent,
                  fastnewsCategory: _this.addForm.newsType,
                  publisherId: _this.userId,
                  style: _this.addForm.newsMark,
                reviewStatus:3
              };
              if (id != undefined) {
                // 编辑
                data['id'] = id;
                var add = function (data) {
                  try {
                    switch (data.httpCode) {
                      case 200 :
                        _this.getInfo();
                        _this.$message.success({message: "编辑成功！"})
                        _this.$refs.addForm.resetFields(); //点击确认后清空表单
                        layer.closeAll();
                        break;
                      default :
                        _this.$message.error({message: data.msg});
                    }
                  } catch (e) {
                    console.error("REQUEST ERROR ", e);
                  }
                };
                commonScript.doPost('/mobileInfo/updateMobileSpecialInfo', data, add);

              } else {
                // 新增
                var add = function (data) {
                  try {
                    switch (data.httpCode) {
                      case 200 :
                        _this.getInfo();
                        _this.$message.success({message: "新增成功！"})
                        _this.$refs.addForm.resetFields(); //点击确认后清空表单
                        layer.closeAll();
                        break;
                      default :
                        _this.$message.error({message: data.msg});
                    }
                  } catch (e) {
                    console.error("REQUEST ERROR ", e);
                  }
                };
                commonScript.doPost('/mobileInfo/insertMobileSpecialInfo', data, add);
              }
            });

          } else {
            console.log('error submit!!');
            return false;
          }
        });

      },
      // 编辑优惠券
      editCoupon: function (item) {
          var _this = this;
          // 编辑器
          this.addForm.newsTitle = item.title;
          this.addForm.sorting = item.sort;
          this.addForm.showType = item.isOpen ? '1' : '0';
          this.addForm.newsType = item.fastnewsCategory;
          this.addForm.newsMark = item.style;
          this.addCoupon('修改', item.detailContent , item.id );
      },
      // 刷新页面
      refresh: function () {
        var _this = this;
        _this.$refs.productForm.resetFields(); //切换时搜索条件置空
        _this.getInfo();

      },
      // 删除优惠券
      removeCoupon: function (id) {
        var _this = this;
        _this.$confirm('你确定要删除吗?', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          var res = function (data) {
            if (data) {
              try {
                switch (data.httpCode) {
                  case 200 :
                    _this.$message.success({message: '删除成功！'})
                    _this.getInfo();
                    break;
                  default :
                    _this.$message.error({message: data.msg});
                }
              } catch (e) {
                console.error("REQUEST ERROR ", e);
              }
            }
          };
          commonScript.doGet('/mobileInfo/deleteMobileSpecialInfo/' + id, '', res);
        }).catch((err) => {
        });
      },

      // 单条数据选中
      selectOrder: function (item, lists) {
        var _this = this;
        if (item.active === undefined || !item.active) {
          _this.$set(item, 'active', true);
        }
        commonScript.selected(item, lists);
      },
      // 单条数据选中结束

      // 分页器
      //每页显示多少条
      handleSizeChange: function (val) {
        var _this = this;
        _this.pagecount = val;
        _this.selectParams.count = val;
        _this.getInfo();
      },
      //当前页及跳转到第几页
      handleCurrentChange: function (val) {
        var _this = this;
        _this.pagenum = val;
        _this.selectParams.index = val;
        _this.getInfo();
      }

    }
  })
</script>

</body>

</html>