<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	    <meta name="screen-orientation" content="portrait"/>
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="full-screen" content="yes">
	    <meta name="x5-fullscreen" content="true">
		<title></title>
	    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/nctouch_categroy.css"/>
	</head>
	<body>
		<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<div class="content" id="aPp">
			<!--头部搜索-->
			<header id="header" class="header"></header>
	        <div class="nctouch-main-layout">
			    <div class="categroy-cnt" id="categroy-cnt">
			    	<ul class="categroy-list" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 1000ms; transform: translate(0px, 0px) translateZ(0px);">
				        <li class="category-item" :class="[categoryIndex == i? 'category-item selected' : 'category-item']" v-for="(item,i) in categoryItem" @click="categoryList(i,item.id)">
				            <a href="javascript:void(0);" class="category-item-a category">
				                <div class="ci-fcategory-ico">
				                    <img :src="item.cat_pic">
				                </div>
				                <div class="ci-fcategory-name">{{item.name}}</div>
				            </a>
				        </li>
				    </ul>
			    </div>
			    <div class="categroy-rgt" id="categroy-rgt">
			    	<dl class="categroy-child-list" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
				        <span v-for="(items,k) in categoryRgt">
				        	<dt><a :href="'product_item.html?cat_id=' + items.cat_id"><i :class="'col'+k"></i>{{items.cat_name}}<i class="arrow-r"></i></a></dt>
				        	<dd v-for="(itemsChild,n) in items.child"><a :href="'product_item.html?cat_id=' + itemsChild.cat_id">{{itemsChild.cat_name}}</a></dd>
				        </span>
			    	</dl>
			    </div>
			    <div class="pre-loading" v-show="preLoading"></div>
			</div>
	        <!--尾部切换-->
	        <footer class="footer bort1"></footer>
    	</div>
   	 	<script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
    <script>
        new Vue({
        	el: '#aPp',
            data: {
			    preLoading:true,
			    categoryItem:[],
			    categoryIndex:0,
			    categoryRgt:[]
			},
			computed: {
			    
			},
			mounted: function () {
				FastClick.attach(document.body);
				commentJs.staticSearch(1);
                commentJs.toastLoading('分类数据读取中...');
				commentJs.headerFooter(1);
				let _this = this;
                setTimeout(function () {_this.oListData();},10);
            },
			methods: {
			  categoryList:function(i,id){//点击主菜单切换
			  	let _this = this;
			  	_this.preLoading = true;
				_this.categoryRgt = [];
			  	_this.categoryIndex = i;
			    _this.oItemData(id);
			  },
			  oListData:function(){//主菜单列表
			  	let _this = this;
			  	let suc = function (data){
					_this.categoryItem = data.data.items;
                    _this.oItemData(1);
				}
                o.productList(suc);
			  },
			  oItemData:function(id){//主菜单对应的详情
			  	let _this = this;
			  	let suc = function (data){
					_this.categoryRgt = data.data.items;
					_this.preLoading = false;
				}
                o.productListDetail(id,suc);
			  }
			}
        })
    </script>
		
	</body>
</html>
