<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="screen-orientation" content="portrait" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="format-detection" content="telephone=no">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<title></title>
        <link rel="stylesheet" type="text/css" href="../../lib/css/swiper-4.1.6.min.css" />
		<link rel="stylesheet" type="text/css" href="../../lib/css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/nctouch_products_detail.css" />
		<link rel="stylesheet" type="text/css" href="../../css/productsDetail.css" />
		<link rel="stylesheet" type="text/css" href="../../lib/css/weui.css" />
	</head>

	<body>
		<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/tz_fly.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../lib/js/iscroll.js"></script>
        <script src="../../lib/js/swiper.js" type="text/javascript" charset="utf-8"></script>

		<div class="content hide" id="list">

			<!--详情头部-->
			<header id="header_r" :class="[searchBarFixed?'posf':'transparent']">
				<div class="header-wrap-new" style="display: block;max-width: 640px;margin: 0 auto;text-align: center;" :class="[headerTabShow? 'show' : 'hide']">
					<div class="header-l">
						<a href="javascript:history.go(-1)"> <i class="back"></i> </a>
					</div>
					<div class="titlebar-container-menu-item">
						<a href="../member/member.html">
							<img class="am-header-icon-custom" src="../../images/20160051201.png">
							<span>个人中心</span>
						</a>
					</div>
					<div class="titlebar-container-menu-primary-divider">
						<img class="title-divider-img" src="../../images/line_nobg.png">
					</div>
					<div id="showcode" class="titlebar-container-menu-primary-third-item  titlebar-container-menu-item" @click="codeClick">
						<img class="am-header-icon-custom" src="../../images/20160051203.png">
						<span>二维码</span>
					</div>
				</div>
				<div class="header-wrap" :class="[!headerTabShow? 'show' : 'hide']">
					<div class="header-l"> <a href="javascript:history.go(-1)"> <i class="back"></i> </a> </div>
					<ul class="header-nav">
						<li><a href="#">商品</a></li>
						<li class="cur"><a href="javascript:void(0);" id="goodsBody">详情</a></li>
						<li><a href="../service/service.html">客服</a></li>
					</ul>
				</div>
			</header>

            <!--轮播图-->
            <div class="swiper goods-detail-top">
                <div class="swiper-container swiper-top-container swiper-container-new swiper-container-horizontal swiper-container-android goods-detail-pic">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="item in swiperList"><img :src="item"></div>
                    </div>
                    <div class="swiper-pagination" style="bottom: 0;"></div>
                </div>
            </div>

			<div id="product_detail_html" style="position: relative; z-index: 1;" v-show="!preLoading">
				<div class="goods-detail-cnt">
					<div class="goods-detail-name">
						<dl>
							<dt>{{detailList.common_name}}</dt>
							<dd v-show="detailList.common_promotion_tips">{{detailList.common_promotion_tips}}</dd>
						</dl>
					</div>
                    <!--秒杀显示-->
                    <div class="goods-detail-price sale-pri" v-show="miaoshaShow">
                        <h5 class="sale-tip">秒杀</h5>
                        <span class="w40 pri">￥<em>{{detailList.promotion_price}}</em></span>
                        <dl class="inline">
                            <dt>商城价：</dt>
                            <dd style="color: #4A4A4A !important;">￥{{detailList.goods_price}}</dd>
                            <dt class="block">{{detailList.goods_max_sale}}件已购买</dt>
                        </dl>
                        <span class="sold"><i class="icon-time"></i>距离结束</span>
                        <div class="time fnTimeCountDown" :data-end="detailList.miaosha_end_time">
						<span>
							<span class="day">00</span><strong>天</strong>
							<span class="hour">00</span><strong>小时</strong>
							<span class="mini">00</span><strong>分</strong>
							<span class="sec">00</span><strong>秒</strong>
						</span>
                        </div>
                    </div>


					<div class="goods-detail-price" v-show="!miaoshaShow">
						<dl>
							<em style="font-size: 13px;">￥<em style="font-size: 0.8rem !important;color: #DB4453;">{{fenqi_price}}</em> × {{detailList.common_fenqi | common_fenqi}}期</em>
						</dl>
						<dl>
                            <dt>商城价：</dt>
							<dt>￥<em>{{detailList.goods_price}}</em></dt>
							<dt style="margin-left: 18px;">市场价：</dt>
							<dd>￥{{detailList.common_market_price}}</dd>
						</dl>
						<span class="sold">销量：{{detailList.common_salenum}}件</span>
					</div>

					<div class="goods-detail-price" v-show="miaoshaShow">
						<dl>
							<em style="font-size: 13px;">￥<em style="font-size: 0.8rem !important;color: #DB4453;">{{fenqi_price}}</em> × {{detailList.common_fenqi | common_fenqi}}期</em>
						</dl>
						<dl>
							<dt>秒杀价：</dt>
							<dt>￥<em>{{detailList.promotion_price}}</em></dt>
							<dt style="margin-left: 18px;">商城价：</dt>
							<dd>￥{{detailList.goods_price}}</dd>
						</dl>
						<span class="sold">销量：{{detailList.common_salenum}}件</span>
					</div>




					<!-- 新增代金券2017.7.19 -->
					<div class="voucher-enter goods-detail-item bgf5" id="getVoucher" style="display: none;">
						<div class="itme-name tit-sale">代金券</div>
						<div class="item-con">
							<p class="fz6 lh100" id="voucher_list_text">领取代金券</p>
							<div class="item-more"></div>
						</div>
					</div>

					<div class="goods-detail-item">
						<div class="itme-name">送至</div>
						<div class="item-con" @click="MapCityClick">
							<a href="javascript:void(0);" id="get_area_selected" data-common_id="1472" data-transport_type_id="0">
								<dl class="goods-detail-freight">
									<dt>
                                <span id="get_area_selected_name">{{goods_hair_info.area_name}}</span>
                                <strong id="get_area_selected_whether">{{goods_hair_info.if_store_cn}}</strong>&nbsp;
                                <span id="get_area_selected_content"> {{goods_hair_info.content}}</span>
                            </dt>
								</dl>
							</a>
						</div>
						<div class="item-more location" @click="MapCityClick"></div>
					</div>
					<div class="goods-detail-item" id="goods_spec_selected" @click="buyBtn">
						<div class="itme-name">已选</div>
						<div class="item-con">
							<dl class="goods-detail-sel">
								<dt><span>{{detailList.show_goods_spec_str | goods_spec}}</span></dt>
							</dl>
						</div>
						<div class="item-more"></div>
					</div>

					<div class="goods-detail-store">
						<a href="javascript:void(0);">
							<div class="store-name"><i class="icon-store"></i>海牙湾商城龙卡专区</div>
							<div class="item-more item-more2"></div>
						</a>
					</div>

					<div class="goods-detail-bottom" id="goods-detail-bottom" v-html="detailList.common_detail">

					</div>

					<div class="goods-detail-foot block" style="background:#fff !important">
						<div class="otreh-handle" style="background:#fff !important">
							<!--<a style="display: none;" href="javascript:void(0);"  class="kefu wp30"><i></i><p>客服</p></a> -->
							<a href="../home/home.html" style="width:32% !important;" class="to_index"><i></i>
								<p>首页</p>
							</a>

							<a href="javascript:void(0);" style="width:32% !important;border-left: solid 0.05rem #DDD;" :class="[favorateFalg?'collect pd-collect favorate':'collect pd-collect']" @click="favorateFun"><i></i>
								<p>收藏</p>
							</a>

							<a href="javascript:;" class="cart" id="shopCart" @click="onEnd($event)" style="width:35% !important;"><i></i>
								<p>购物车</p><span id="cart_count"><sup>1</sup></span></a>

							<a href="javascript:void(0);" class="fenxiang wp30" style="border-left: solid 0.05rem #DDD;display:none;"><i></i>
								<p>分享</p>
							</a>
						</div>
						<div class="buy-handle " style="background:#fff;border-top: solid 0.05rem #DDD;">
							<a href="javascript:void(0);" class="animation-up add-cart" style="width: 40%;background: #f23030 !important;height: 1.5rem;line-height: 1.5rem;margin-top: .2rem;margin-left: 0.8rem;" @click="buyBtn">买</a>
							<a href="javascript:void(0);" id="sales-now" class="" style="background: #ffb03f !important;width: 40%;height: 1.5rem;line-height: 1.5rem;margin-top: .2rem;margin-left: 0.6rem;" @click="">卖</a>
						</div>
					</div>
				</div>
			</div>

			<!--弹框-->
			<div id="product_detail_spec_html" class="nctouch-bottom-mask" :class="[detailSpec?'hide down':'show up']"  @touchmove.prevent >
				<div class="nctouch-bottom-mask-bg" @click="detailClose"></div>
				<div class="nctouch-bottom-mask-block">
					<div class="nctouch-bottom-mask-tip"><i></i>点击此处返回</div>
					<div class="nctouch-bottom-mask-top goods-options-info">
						<div class="goods-pic">
							<img :src="detailList.common_image" id="Fly_images" @click="onEnd()">
						</div>
						<dl>
							<dt>{{detailList.common_name}}</dt>
							<dd class="goods-price">￥<em>{{common_price}}</em>
								<span class="activity" v-show="miaoshaShow">商城秒杀</span>
							</dd>
							<span class="goods-storage">所有库存：{{detailList.common_stock}}件</span>
						</dl>
						<a href="javascript:void(0);" class="nctouch-bottom-mask-close" @click="detailClose"><i></i></a>
					</div>
					<div class="nctouch-bottom-mask-rolling" id="product_roll">
						<div class="goods-options-stock" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
							<dl class="spec JS-goods-specs" :class="[detailList.goods_spec?'show':'hide']">
								<dt>{{detailList.common_spec_name | spec_name}}： </dt>
								<dd>
                                    <a href="javascript:void(0);" class="current" specs_value_id="12">{{detailList.goods_spec | spec_name}}</a>
								</dd>
							</dl>

						</div>
					</div>
					<div class="goods-option-value clearfix">购买数量
						<div class="value-box">
							<span class="minus">
								<a href="javascript:void(0);" @click="reduceChang()">&nbsp;</a>
							</span>
							<span>
								<input type="number" min="1" class="buy-num buynum" v-model="goods_num">
							</span>
							<span class="add">
								<a href="javascript:void(0);" @click="plusChang()">&nbsp;</a>
							</span>
						</div>
					</div>
					<div class="goods-option-foot">
						<div class="only-two-handle buy-handle ">
							<a href="javascript:void(0);" class="add-cart" id="add-cart" @click="addCart" style="width: 50% !important;">加入购物车</a>
							<a href="../shop/shopOrder.html" style="float: left; width: 50% !important; display: block !important;" class="buy-now" id="buy-now">立即购买</a>
						</div>
					</div>
				</div>
			</div>

			<!--二维码-->

			<div id="screen" :class="[shopCode?'show':'hide']"  @touchmove.prevent>
				<div id="qrcode_div" class="show">
					<div id="close_qr" style="padding-right: 41px;">
						<div @click="shopCodeNone" >
							<img src="../../images/new_icon/btn_close.png" width="30"/>
						</div>
					</div>
					<div id="code_img" style="max-height: 606px;"><img :src="Codeimages" style="width: 100%;height: 100%;"></div>
					<div id="refresh_qr">
						<div class="refresh">
							<span>长按图片保存二维码</span>
							<img onclick="get_qrcode();" src="../../images/new_icon/refresh.png" style="vertical-align: middle;width: 18px;">
						</div>
					</div>
				</div>
			</div>




			<!--数据请求加载提示-->
            <div class="pre-loading" v-show="preLoading"></div>

			<!--收藏弹框提示-->
			<div class="weui-preToast" v-show="preToast">
				<div class="weui-toast"></div>
			</div>

		</div>


		<script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
		<script>
            new Vue({
                el: '#list',
                data: {
                    searchBarFixed: false,
                    miaoshaShow:false,//秒杀显示
                    favorateFalg:false,//收藏与否
                    preToast:false,//收藏弹框
                    headerTabShow: true,
                    detailSpec: true,//底部弹框
                    preLoading:true,
                    swiperList:[],//轮播
                    detailList:{},//商品信息
                    goods_hair_info:{},//送货地址
                    goods_num:1,//购买数量
                    shopCode:false,//二维码
                    Codeimages:'',//商品二维码
                    common_price:''//商城价与秒杀价
                },
                computed: {
                    fenqi_price: function () {
                        var common_fenqi = 12,price_product = '';
                        this.detailList.promotion_price?price_product = this.detailList.promotion_price:price_product = this.detailList.goods_price;
                        var num = price_product/12;
                        num=='NaN' || num=='Infinity'?num='0.00':num=num.toFixed(2);
                        return num;
                    }
				},
                mounted: function() {
                    let _this = this;
                    FastClick.attach(document.body);
                    var miaoshaid = commentJs.getUrlKey('miaoshaid'),
                        goods_id = commentJs.getUrlKey('goods_id');
                    miaoshaid?this.miaoshaShow=true:this.miaoshaShow=false;
                    commentJs.staticSearch(2);
                    commentJs.appShowhide('list');
                    commentJs.toastLoading('加载中...');
                    commentJs.fnTimeCountDown();
                    window.addEventListener('scroll', this.handleScroll);
                    setTimeout(function () {_this.oListData(goods_id,miaoshaid);},10);
                },
                filters: {
                    goods_spec: function(value) {
                        return value?value.replace(':',' '):'默认';
                    },
                    spec_name: function(value) {
                        var a='';
                        if(value != 'undefined'){
                            for (var key in value) {
                                a = value[key]; //获取对应的value值
                            }
                        }
                        return a;
                    },
                    common_fenqi: function(value) {//分期数
                        if(value != 'undefined'){
                            return 12;
                        }
                    },
                    common_price: function(value) {//商城价与秒杀价
                        return this.detailList.promotion_price?this.detailList.promotion_price:this.detailList.goods_price;
                    }
                },
                methods: {
                    oListData:function(goods_id,miaoshaid){//主菜单列表
                        let _this = this;
                        let suc = function (data){
                            console.log(data)
                            _this.detailList = data.data.goods_info;
                            _this.goods_hair_info = data.data.goods_hair_info;
                            _this.swiperList = data.data.goods_image.split(',');
                            _this.detailList.promotion_price?_this.common_price = _this.detailList.promotion_price:_this.common_price = _this.detailList.goods_price;
                            setTimeout(function(){
                                _this.preLoading = false;
                                var mySwiper = new Swiper('.swiper-container', {loop: true,pagination: '.swiper-pagination'});
                            },10);
                        }
                        o.productDetail(goods_id,miaoshaid,suc);
                    },
                    handleScroll() {
                        let _this = this;
                        let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                        let offsetTop = document.querySelector('#product_detail_html').offsetTop;
                        scrollTop > (offsetTop / 2) ? _this.searchBarFixed = true : (_this.searchBarFixed = false);
                        scrollTop > 620 ? _this.headerTabShow = false : _this.headerTabShow = true;
                    },
                    buyBtn(e) { //点击买
                        this.detailSpec = false;
                    },
                    detailClose(e) { //买弹出 点击关闭
                        this.detailSpec = true;
                    },
                    favorateFun(){//收藏
                        let _this = this;
                        _this.favorateFalg = !_this.favorateFalg;
                        _this.preToast = true;
                        let fun = function(){
                            _this.preToast = false;
                        }
                        _this.favorateFalg?commentJs.toastTitle('weui-toast','收藏成功',fun):commentJs.toastTitle('weui-toast','已取消收藏',fun);
                    },
                    reduceChang(items, newindex, oldindex) {
                        let _this = this;
                        if(_this.goods_num < 2) return;
                        _this.goods_num--;
                    },
                    plusChang(items, newindex, oldindex) {
                        let _this = this;
                        _this.goods_num++;
                    },
                    addCart(){//加入购物车
                        this.detailSpec = true;
                        commentJs.shopFly();
					},
                    codeClick(goods_id){//二维码
                        var _this = this;
                        var codesuc = function (data){
                            _this.Codeimages = data.data.imgurl;
                            _this.shopCode = true;
                        }
                        o.GoodsCodeDetail(commentJs.getUrlKey('goods_id'),codesuc);
					},
                    shopCodeNone(){//二维码隐藏
                        this.shopCode = false;
					},
                    MapCityClick(){//地址选择
                        var _this = this;
                        commentJs.areaSelected({
                            hideThirdLevel: true,
                            success: function (data) {
                                _this.goods_hair_info.area_name = data.area_info;
                             }
                        });
                    }
                }

            })
		</script>
	</body>

</html>