@charset "utf-8";body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,html,img,input,legend,li,ol,p,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:9pt "微软雅黑"}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}
fieldset,img{border:none}
img{display:block}
ol,ul{list-style:none}
a{color:#000}
a,a:hover{text-decoration:none}
.clear{clear:both}
.left{float: left;}
.right{float: right;}
em,i{font-style: normal;}
body{ 
-webkit-user-select:none; 
-moz-user-select:none; 
-ms-user-select:none; 
user-select:none;
}
body{
	background-color: #fff;
	display: none;
}
.lgBackground{background-color: #fff;}
.box{
	width: 3.75rem;
	height: 6.67rem;
	font-size: .12rem;
}
/*后台*/
.loginBox{
	width: 2.75rem;
	height: auto;
	color: #333;
	font-size: .18rem;
	text-align: center;
	margin-left: .5rem;
}
.login_lg{
	font-size: .3rem;
	margin-top: .5rem;
	margin-bottom: .3rem;
}
.login_lg img{
	width: 1.4rem;
	height: 1.2rem;
	margin-left: .7rem;
	border-radius: 50%;
}
.login_div{
	line-height: .5rem;
	height: .5rem;
}
.loginBox .login_div input{
	padding-left: .1rem;
	width: 2rem;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
	height: .3rem;
	color: #666;
	font-size: .16rem;
}
.loginBox .lg_login{
	width: 2.75rem;
	height: .4rem;
	line-height: .4rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#4caf50 ;
	color: #fff;
	font-size: .15rem;
}
.loginBox .loginlast{
	font-size: .13rem;
}
#title{
	width: 2.75rem;
	color: #ff6585;
	font-size: .14rem;
	line-height: .5rem;
    height: .5rem;
}
/*注册*/
.registerBox{
	width: 3.65rem;
	height: auto;
	color: #333;
	font-size: .15rem;
	background: #fff;
	padding: 0 .05rem;
	text-align: center;
}
.registerBox .login_lg img{
	margin-left: 1.1rem;
}
.registerBox ul li{
	padding: 0 .1rem;
	line-height: .5rem;
	height: .5rem;
	margin: 0 .1rem;
}
.registerBox ul .li_last{
	border-bottom: none;
}
.registerBox ul li input{
	padding-left: .1rem;
	width: 2.3rem;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
	height: .3rem;
	color: #666;
	font-size: .14rem;
}
.register_checkbox{
	    color: #666;
	margin-top: .2rem;
	font-size: .14rem;
	height: .3rem;
	line-height: .3rem;
}
.register_checkbox input{
	width: .2rem;
	height: .2rem;
	margin:0 .05rem;
	vertical-align:middle;
}
.registerBox .reg_button{
	text-align: center;
	/*position: absolute;
	left: .2rem;
	bottom: .05rem;*/
	width: 3.35rem;
	height: .4rem;
	line-height: .4rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#4caf50 ;
	color: #fff;
	font-size: .15rem;
    margin-left: .15rem;
}
/*后台商户查询*/
.indexBox{
	color: #666;
}
.indexBox #wrapper,.indexBox .wrap{
	width: 3.75rem;
}
.index_title{
	height: .4rem;
	line-height: .4rem;
	padding-left: .1rem;
	margin-bottom: .1rem;
	font-size: .15rem;
}
.tabs{
	width: 3.59rem;
	height: .4rem;
	line-height: .4rem;
	padding: 0 .08rem;
}
.tabs span{
	display: inline-block;
	width: 32%;
	height: .4rem;
	text-align: center;
	line-height: .4rem;
	box-sizing: border-box;
	font-size: .16rem;
}
.tabs span a{
	color: #666;
}
.tabs .span_border{
	border-bottom: 1px solid #ccc
}
.indexBox .swiper-container{
	height: auto;
	margin-bottom: 0;
}
.index_main .mainNew_name{
	margin-top: .1rem;
	font-size: .14rem;
}
.index_main ul li{
	height: .5rem;
	box-sizing: border-box;
	line-height: .5rem;
	border-bottom: 1px solid #f3f0f0;
}

/*收益查询*/
.index_comment{
	width: 100%;
	height: 100%;
}
.index_comment .comment_time{
    margin-left: .15rem;
	height: .4rem;
	font-size: .14rem;
}
.index_comment .comment_time em{
	font-size: .15rem;
	line-height: .4rem;
}
.index_comment .comment_time span{
    display: inline-block;
    border: 1px solid #ccc;
    width: .73rem;
    height: .2rem;
    border-radius: .1rem;
    margin-left: .12rem;
    color: #999;
    text-align: center;
}
.index_comment .comment_time .code_one{
    margin-left: 0;
}
.index_comment .comment_time .code_active{
    background-color:#4caf50 ;
	color: #fff;
}
.index_comment ul .bottom_load{
	color: #666;
	text-align: center;
	border-bottom: none;
}
.index_comment ul li{
	box-sizing: border-box;
	height: .4rem;
	line-height: .4rem;
	border-bottom: 1px solid #f3f0f0;
}
.comment_fixed{
    margin-left: .15rem;
	padding-top: .1rem;
	font-size: .15rem;
	height: .2rem;
}
.colorFont{
	color: #ff6585;
}
.comment_fixed i{
	font-size: .16rem;
}
.index_nav{
	font-size: .16rem;
	height: .3rem;
	line-height: .3rem;
	margin-top: .1rem;
	border-bottom: 1px solid #f3f0f0;
}
.index_flex{
	width: 3.75rem;
	height: .4rem;
}
.index_flex span{
	display: inline-block;
	text-align: center;
	width: 1rem;
	height: .3rem;
	margin-left: .15rem;
}
.back{
	position: fixed;
    bottom: .3rem;
    overflow: hidden;
    right: .05rem;
    z-index: 200;
    text-align: center;
    width: .4rem;
    height: .45rem;
    line-height: .4rem;
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: .4;
    border-radius:10%;
    font-size: .25rem;
    color: #fff;
    display: none;
}


/*滚动条*/
::-webkit-scrollbar {   
	width: 6px;
	margin: 0 3px;
}
/* 滚动槽 */
/*::-webkit-scrollbar-track { 
	-webkit-box-shadow: inset 0 0 4px #dcdcdc; 
	border-radius: 8px;
}*/
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {    
	border-radius: 8px;    
	background: #dcdcdc;   
	-webkit-box-shadow: inset 0 0 4px #f0f0f0;
}
::-webkit-scrollbar-thumb:window-inactive {   
	background: #f0f0f0;
}
/*定位*/
.moreDate{
	width: 100%;
	height: 100%;
	font-size: .12rem;
    color: #666;
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
}
.moreDate .moreDate_div{
	width: 3rem;
	height: 4.5rem;
	overflow-y: auto;
	background-color: #fff;
    position: absolute;
    z-index: 999;
    top: 5%;
    left: 10%;
    border-radius: 10px;
}
.moreDate .moreDate_div .moreDate_top{
	text-align: center;
}
.moreDate .moreDate_div div{
	margin: .2rem 0;
}
.moreDate .moreDate_div .more_last{
	margin: 0;
	margin-top: .2rem;
}
.moreDate img{
	position: absolute;
	right: 10%;
	top: 5%;
    z-index: 1000;
    border-radius: 50%;
}