@charset "utf-8";body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,html,img,input,legend,li,ol,p,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:9pt "微软雅黑"}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-weight:400;}
fieldset,img{border:none}
img{display:block}
ol,ul{list-style:none}
a{color:#000}
a,a:hover{text-decoration:none}
.clear::after{content:'';display:block;height:0;visibility:hidden;clear:both;}
.left{float: left;}
.right{float: right;}
em,i{font-style: normal;}
body{ 
-webkit-user-select:none; 
-moz-user-select:none; 
-ms-user-select:none; 
user-select:none;
}
body{
	background-color: #fff;
	font-size: 14px;
}
.lgBackground{background-color: #fff;}
.box{
	width: 100%;
	height: auto;
}
/*后台*/
.loginBox{
	width: 100%;
	height: auto;
	color: #333;
	margin-top: 20%;
	text-align: center;
}
.login_lg{
	width: 100%;
	margin: 5% 0;
	box-sizing: border-box;
}

.login_lg img{
	width: 30%;
	margin:5% 0 2% 35%;
	border-radius: 50%;
}
.login_div{
	width: 100%;
	padding: 3% 0;
	font-size: 1rem;
}
.loginBox .login_div input{
	padding-left: 1%
	width: 40%;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
	color: #666;
	font-size: 1rem;
}
.loginBox .lg_login{
	    width: 60%;
    height: 10%;
    margin-left: 20%;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#4caf50 ;
	color: #fff;
}
.loginBox .loginlast{
	    font-size: .9rem;
    margin-left: 21%;
    margin-top: 5%;
}
#title{
    width: 100%;
    color: #ff6585;
    font-size: .9rem;
    height: 1rem;
        margin-bottom: 5%;
}
/*注册*/
.registerBox{
	width: 100%;
	height: auto;
	color: #333;
	margin-top: 40%;
	text-align: center;
}
.registerBox .login_lg img{
	width: 30%;
	margin:5% 0 2% 35%;
	border-radius: 50%;
}
.registerBox ul li{
	width: 100%;
	padding: 3% 0;
	font-size: 1rem;
}
.registerBox ul .li_last{
	border-bottom: none;
}
.registerBox ul li input{
	padding-left: 1%
	width: 40%;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
	color: #666;
	font-size: 1rem;
}
.register_checkbox{
	color: #666;
	    margin: 3% 0;
}
.register_checkbox input{
	width: 5%;
	vertical-align:middle;
}
.registerBox .reg_button{
	text-align: center;
    width: 60%;
    padding: 3% 0;
    margin-left: 20%;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#4caf50 ;
	color: #fff;
}

/*重置密码*/



/*后台商户查询*/
.indexBox{
	width: 100%;
	color: #666;
}
.indexBox #wrapper,.indexBox .wrap{
	width: 100%;
}
.index_title{
	height: .4rem;
	line-height: .4rem;
	padding-left: .1rem;
	margin-bottom: .1rem;
	font-size: .15rem;
}
.tabs{
	width: 100%;
	height: .4rem;
	line-height: .4rem;
	padding: 0 .08rem;
}
.tabs span{
	display: inline-block;
	width: 32%;
	height: .4rem;
	text-align: center;
	line-height: .4rem;
	box-sizing: border-box;
	font-size: .16rem;
}
.tabs span a{
	color: #666;
}
.tabs .span_border{
	border-bottom: 1px solid #ccc
}
.indexBox .swiper-container{
	height: auto;
	margin-bottom: 0;
}
.index_main .mainNew_name{
	margin-top: .1rem;
	font-size: .14rem;
}
.index_main ul li{
	height: .5rem;
	box-sizing: border-box;
	line-height: .5rem;
	border-bottom: 1px solid #f3f0f0;
}
.ClerkDiv{
	position: absolute;
    top: 7%;
    right: 3%;
	cursor: pointer;
}
.chongDiv{
	position: absolute;
    top: 12%;
    right: 3%;
	cursor: pointer;
}
.forgetDiv{
	position: absolute;
    top: 2%;
    right: 3%;
	cursor: pointer;
}
.forgetDiv span,.ClerkDiv span,.chongDiv span{
	font-size: 1rem;
	color: #666;
	cursor: pointer;
	text-decoration:underline
}

/*收益查询*/
.index_comment{
	width: 100%;
	height: 100%;
}
.index_comment .comment_time{
	white-space:nowrap;
	width: 100%;
	box-sizing: border-box;
    padding: 2% 2% 3%;
	font-size: 1rem;
}
.index_comment .comment_time span{
    display: inline-block;
    border: 1px solid #ccc;
    width: 20%;
    border-radius: 10px;
    margin-left: 1%;
    color: #999;
    text-align: center;
}
.index_comment .comment_time .code_one{
    margin-left: 0;
}
.index_comment .comment_time .code_active{
    background-color:#4caf50 ;
	color: #fff;
}
.index_comment ul .bottom_load{
	color: #666;
	text-align: center;
	border-bottom: none;
	width: 100%;
	box-sizing: border-box;
	padding: 1% 2%;
	font-size: .9rem;
}
.index_comment ul li{
	white-space:nowrap;
	width: 100%;
	padding: 4% 0;
    font-size: .8rem;
	border-bottom: 1px solid #f3f0f0;
}
.index_comment ul li span{
	width: 32%;
	text-align: center;
}
.comment_fixed{
	width: 100%;
	box-sizing: border-box;
    padding: 1.8% 2%;
	font-size: 1rem;
}
.colorFont{
	color: #ff6585;
}
.comment_fixed i{
}
.index_nav{
	white-space:nowrap;
	width: 100%;
	box-sizing: border-box;
	padding: 1% 2%;
	border-bottom: 1px solid #f3f0f0;
}
.index_flex{
	white-space:nowrap;
	box-sizing: border-box;
	padding: 1% 2%;
	border-bottom: 1px solid #f3f0f0;
}
.index_flex span{
	display: inline-block;
	text-align: center;
	width: 32%;
}
.back{
	position: fixed;
    bottom: 7%;
    overflow: hidden;
    right: 3%;
    z-index: 2000;
    width: 10%;
    height: 32px;
    border-radius: 10%;
    display: none;
}
/*店员管理*/
.clerkBox{
	width: 100%;
	height: auto;
}
.clerkTop{
	width: 100%;
	height: auto;
}
.clerkTop img{
    display: block;
    width: 70%;
    margin: 8% 15%;
}
.clerkItem{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.clerkItem li{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
    color: #666;
    position: relative;
    font-size: 1rem;
    white-space: nowrap;
    line-height: 3rem;
}
.clerkItem .selected{
  -webkit-transform: translate(-100px);
  -webkit-transition: all 0.3s linear;
  -ms-transform: translate(-100px);
  -ms-transition: all 0.3s linear;
}
.clerkItem li .clerkTitle{
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clerkItem li .clerkImg{
	box-sizing: border-box;
    width: 13%;
    border-radius: 50%;
    margin-right: 3%;
}
.clerkItem li .clerkButton{
    display: inline-block;
    width: 53%;
    text-align: center;
}
.clerkItem li .clerkButton em{
    padding: 0 5%;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    border-right: 1px solid #dedede;
}
.clerkItem li .clerkButton .borderNone{
    border-right: none;
}
.alertBox{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.alertTan{
	width: 60%;
	padding: 10% 0;
	text-align: center;
	color: #666;
	background: #fff;
	position: absolute;
	top: 35%;
	left: 20%;
	border-radius: 10px 10px 0 0;
	z-index: 99999;
}
.alertTan .alertTitle{
    padding-bottom: 13%;
	font-size: 1rem;
}
.alertTan .alertTitle span,.alertTan .alertTitle em{
	text-decoration:underline;
	margin: 0 2%;
}
.alertTan .alertBut{
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #dedede;
}
.alertTan .alertBut div{
	width: 50%;
	padding: 3% 0;
	box-sizing: border-box;
	text-align: center;
}
.alertTan .alertBut .ButFalse{
	color: #666;
}
.alertTan .alertBut .ButTrue{
	background: #f30213;
	color: #fff;
}
/*充值记录*/
.consume_item{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 2%;
	color: #666;
	font-size: .9rem;
}
.consume_item li{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 3% 1.5%;
	border-bottom: 1px solid #DCDCDC;
	white-space: nowrap;
}
.consume_item li span,.consume_item li i{
	display: inline-block;
	width: 29%;
}
.consume_item .bottom_load{
	color: #666;
	text-align: center;
	border-bottom: none;
	width: 100%;
	box-sizing: border-box;
	padding: 1% 0;
	font-size: .9rem;
}


/*滚动条*/
::-webkit-scrollbar {   
	width: 6px;
	margin: 0 3px;
}
/* 滚动槽 */
/*::-webkit-scrollbar-track { 
	-webkit-box-shadow: inset 0 0 4px #dcdcdc; 
	border-radius: 8px;
}*/
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {    
	border-radius: 8px;    
	background: #dcdcdc;   
	-webkit-box-shadow: inset 0 0 4px #f0f0f0;
}
::-webkit-scrollbar-thumb:window-inactive {   
	background: #f0f0f0;
}
/*定位*/
.moreDate{
	width: 100%;
	height: 100%;
    color: #666;
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
}
.moreDate .moreDate_div{
	width: 80%;
	height: 90%;
	overflow-y: auto;
	background-color: #fff;
    position: absolute;
    z-index: 999;
    top: 5%;
    left: 10%;
    border-radius: 10px;
}
.moreDate .moreDate_div .moreDate_top{
	text-align: center;
}
.moreDate img{
	position: absolute;
	right: 10%;
	top: 5%;
    z-index: 1000;
    border-radius: 50%;
}