@charset "utf-8";body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,html,img,input,legend,li,ol,p,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:9pt "微软雅黑"}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-weight:400;}
fieldset,img{border:none}
img{display:block}
ol,ul{list-style:none}
a{color:#000}
a,a:hover{text-decoration:none}
.clear{clear:both}
.left{float: left;}
.right{float: right;}
em,i{font-style: normal;}
body{ 
-webkit-user-select:none; 
-moz-user-select:none; 
-ms-user-select:none; 
user-select:none;
}
body{
	background-color: #fff;
	font-size: 14px;
}
.lgBackground{background-color: #fff;}
.box{
	width: 100%;
	height: auto;
}
/*后台*/
.loginBox{
	width: 100%;
	height: auto;
	color: #333;
	margin-top: 20%;
	text-align: center;
}
.login_lg{
	width: 100%;
	margin: 5% 0;
	box-sizing: border-box;
}

.login_lg img{
	width: 30%;
	margin:5% 0 2% 35%;
	border-radius: 50%;
}
.login_div{
	width: 100%;
	padding: 3% 0;
	font-size: 1rem;
}
.loginBox .login_div input{
	padding-left: 1%
	width: 40%;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
	color: #666;
	font-size: 1rem;
}
.loginBox .lg_login{
	    width: 60%;
    height: 10%;
    margin-left: 20%;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#4caf50 ;
	color: #fff;
}
.loginBox .loginlast{
	    font-size: .9rem;
    margin-left: 21%;
    margin-top: 5%;
}
#title{
    width: 100%;
    color: #ff6585;
    font-size: .9rem;
    height: 1rem;
        margin-bottom: 5%;
}
/*注册*/
.registerBox{
	width: 100%;
	height: auto;
	color: #333;
	margin-top: 20%;
	text-align: center;
}
.registerBox .login_lg img{
	width: 30%;
	margin:5% 0 2% 35%;
	border-radius: 50%;
}
.registerBox ul li{
	width: 100%;
	padding: 3% 0;
	font-size: 1rem;
}
.registerBox ul .li_last{
	border-bottom: none;
}
.registerBox ul li input{
	padding-left: 1%
	width: 40%;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
	color: #666;
	font-size: 1rem;
}
.register_checkbox{
	color: #666;
	    margin: 3% 0;
}
.register_checkbox input{
	width: 5%;
	vertical-align:middle;
}
.registerBox .reg_button{
	text-align: center;
    width: 60%;
    padding: 3% 0;
    margin-left: 20%;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#4caf50 ;
	color: #fff;
}
/*后台商户查询*/
.indexBox{
	width: 100%;
	color: #666;
}
.indexBox #wrapper,.indexBox .wrap{
	width: 100%;
}
.index_title{
	height: .4rem;
	line-height: .4rem;
	padding-left: .1rem;
	margin-bottom: .1rem;
	font-size: .15rem;
}
.tabs{
	width: 100%;
	height: .4rem;
	line-height: .4rem;
	padding: 0 .08rem;
}
.tabs span{
	display: inline-block;
	width: 32%;
	height: .4rem;
	text-align: center;
	line-height: .4rem;
	box-sizing: border-box;
	font-size: .16rem;
}
.tabs span a{
	color: #666;
}
.tabs .span_border{
	border-bottom: 1px solid #ccc
}
.indexBox .swiper-container{
	height: auto;
	margin-bottom: 0;
}
.index_main .mainNew_name{
	margin-top: .1rem;
	font-size: .14rem;
}
.index_main ul li{
	height: .5rem;
	box-sizing: border-box;
	line-height: .5rem;
	border-bottom: 1px solid #f3f0f0;
}

/*收益查询*/
.index_comment{
	width: 100%;
	height: 100%;
}
.index_comment .comment_time{
	white-space:nowrap;
	width: 100%;
	box-sizing: border-box;
	padding: 1% 2%;
	font-size: 1rem;
}
.index_comment .comment_time span{
    display: inline-block;
    border: 1px solid #ccc;
    width: 20%;
    border-radius: 10px;
    margin-left: 1%;
    color: #999;
    text-align: center;
}
.index_comment .comment_time .code_one{
    margin-left: 0;
}
.index_comment .comment_time .code_active{
    background-color:#4caf50 ;
	color: #fff;
}
.index_comment ul .bottom_load{
	color: #666;
	text-align: center;
	border-bottom: none;
	width: 100%;
	box-sizing: border-box;
	padding: 1% 2%;
	font-size: .9rem;
}
.index_comment ul li{
	white-space:nowrap;
	width: 100%;
	padding: 2% 0;
	border-bottom: 1px solid #f3f0f0;
}
.index_comment ul li span{
	width: 33%;
	text-align: center;
}
.comment_fixed{
	width: 100%;
	box-sizing: border-box;
	padding: 1% 2%;
	font-size: 1rem;
}
.colorFont{
	color: #ff6585;
}
.comment_fixed i{
}
.index_nav{
	white-space:nowrap;
	width: 100%;
	box-sizing: border-box;
	padding: 1% 2%;
	border-bottom: 1px solid #f3f0f0;
}
.index_flex{
	white-space:nowrap;
	box-sizing: border-box;
	padding: 1% 2%;
	border-bottom: 1px solid #f3f0f0;
}
.index_flex span{
	display: inline-block;
	text-align: center;
	width: 33%;
}
.back{
	position: fixed;
    bottom: 7%;
    overflow: hidden;
    right: 3%;
    z-index: 2000;
    width: 10%;
    height: 32px;
    border-radius: 10%;
    display: none;
}


/*滚动条*/
::-webkit-scrollbar {   
	width: 6px;
	margin: 0 3px;
}
/* 滚动槽 */
/*::-webkit-scrollbar-track { 
	-webkit-box-shadow: inset 0 0 4px #dcdcdc; 
	border-radius: 8px;
}*/
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {    
	border-radius: 8px;    
	background: #dcdcdc;   
	-webkit-box-shadow: inset 0 0 4px #f0f0f0;
}
::-webkit-scrollbar-thumb:window-inactive {   
	background: #f0f0f0;
}
/*定位*/
.moreDate{
	width: 100%;
	height: 100%;
    color: #666;
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
}
.moreDate .moreDate_div{
	width: 80%;
	height: 90%;
	overflow-y: auto;
	background-color: #fff;
    position: absolute;
    z-index: 999;
    top: 5%;
    left: 10%;
    border-radius: 10px;
}
.moreDate .moreDate_div .moreDate_top{
	text-align: center;
}
.moreDate img{
	position: absolute;
	right: 10%;
	top: 5%;
    z-index: 1000;
    border-radius: 50%;
}