.layui-table tbody tr{ border-bottom: 1px solid #ddd; }
.layui-table tbody tr td .layui-icon{ cursor: pointer; }
.layui-table tbody tr td label{ float: left; width: 25%; margin: 5px 0; }
.layui-table tbody tr td label input{ margin-right: 5px; }
.layui-form-item .localimg{ width: 100px; height: 100px; display: block; margin-bottom: 5px; }