.order_list{  font-size: 12px; }
.order_list tr{  border:1px solid #eee; }
.order_list tr:nth-child(1){ border: none; }
.order_list tr:nth-child(1):hover{ background: none; }
.order_list tr th{ background: #e5e5e5; font-size: 12px; }
.order_list tr th span{ margin-left:40px;}
.order_list tr th span:first-child{ margin-left:0px;}
.order_list tr td img{  width: 70px; height: 70px;  margin-right: 10px; }
.order_list tr td{ font-size: 12px; }

.layui-tab-item{ overflow: hidden; }