em{font-style: normal;}
.checked{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url("../../images/Unchecked.png") no-repeat ;
  background-size:1rem 1rem;
  vertical-align: middle;
}
.selected{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url("../../images/Selected.png") no-repeat ;
  background-size:1rem 1rem;
  vertical-align: middle;
}
.algin-one{
  display: block;
  width:95%;
  height:2rem;
  line-height:2rem;
  text-align: center;
  background: #eee;
  font-size: .8rem;
  color: #999;
}
.shopmap-new{
  position: fixed;
  bottom:.5rem;
  left:15%;
  width:70%;
  height: 2rem;
  line-height:2rem;
  background: #de463a;
  color: #fff;
  text-align: center;
  font-size: .8rem;
  border-radius:5px;
}
