// base color
$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

$menuText: #999;
$menuActiveText: #fff;
$subMenuActiveText: #fff;

$menuBg: #000000;
$menuHover: #606266;

$subMenuBg: #1A1D26;
$subMenuHover: #1A1D26;

$sideBarWidth: 200px;
$allSideBarWidth: 230px;
$systemSideBarWidth: 60px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
