
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset
}
.form .item {
	position: relative;
	margin-bottom: 20px;
	z-index: 1
}
.form .item:hover{
	border-color:#75ebcd;
}

.form .item .placeholder {
	position: absolute;
	left: 50px;
	top: 10px;
	line-height: 18px;
	color: #999;
	font-size: 14px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out;
	opacity: 1
}

.form .item .login-label {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 38px;
	height: 38px;
	border-right: 1px solid #bdbdbd;
}
.form .item .name-label{
	background:#e3e3e3 url(../images/user.png) no-repeat center;
}
.form .item .pwd-label{
	background:#e3e3e3 url(../images/password.png) no-repeat center;
}
.form .item-fore5 {
	margin-bottom: 10px
}

.form .item-fore1,
.form .item-fore2 {
	border: 1px solid #bdbdbd;
	width: 100%;
	padding: 0 9px;
	position: relative;
	border-radius:2px;
}

.form .item-fore1 .clear-btn,
.form .item-fore2 .clear-btn {
	position: absolute;
	z-index: 20;
	right: 6px;
	top: 12px;
	width:20px;
	height: 20px;
}
.form .item-fore1 .clear-btn{
	background:url(../images/icon-close.png) no-repeat center;
	background-size:contain;
}
.form .item-fore2 .clear-btn{
	background:url(../images/eye-close.png) no-repeat center;
	background-size:contain;
}
.form .item-fore2 .clear-btn.active{
	background:url(../images/eye-open.png) no-repeat center;
	background-size:contain;
}

.item-fore1 img.img-code{
	position: absolute;
	right: 0;
	height: 37px;
	top: 0;
	cursor:pointer;
}

.form .itxt {
	line-height: 38px;
	height: 38px;
	border: 0;
	padding: 0 0 0 50px;
	width: 254px;
	float: none;
	overflow: hidden;
	font-size: 14px;
	*margin: -1px 0 0;
	border-radius: 5px;
	color:#333;
}

.form .itxt02 {
	padding: 10px 5px;
	width: 78px;
	text-align: center
}

.form .verify-code {
	cursor: pointer;
	width: 100px;
	height: 33px;
	vertical-align: middle
}

.form .item-vcode .placeholder {
	left: 25px
}

.form input::-webkit-input-placeholder {
	color: #999;
	font-size: 14px
}

.form input:-moz-placeholder {
	color: #999;
	font-size: 14px
}

.form label {
	float: none
}

.form .yfcheckbox,
.form .yfradio {
	float: none;
	vertical-align: middle;
	margin: 0 3px 0 0;
	padding: 0
}

.form .item-fore1 {
	z-index: 6
}


.form .item-fore3 {
	z-index: 5;
	margin-bottom: 15px
}

.form em {
	color: red;
	font-size: .6rem;
	margin-left: 20px;
}



.login-cont{
	background-color: #ff0648;
	height:600px;
}
.login-form {
	position: relative;
	z-index: 4;
	background: #fff;
	overflow: visible;
}

.login-form .login-tab {
	height: 54px;
	font-size: 18px;
	border-bottom: 1px solid #f4f4f4;
	background: #fff;
	display: block;
	padding:0 20px;
}

.login-form .login-tab a.checked{
	text-decoration: none;
	line-height: 40px;
	margin-top: 13px;
	display: inline-block;
	border-bottom: 2px solid #e4393c;
}

.login-form .login-tab a:focus {
	outline: 0!important;
	-moz-outline: 0!important
}

.login-form .login-tab a.checked,
.login-form .login-tab a:hover {

	color: #444;
}

.login-form .login-tab-r {
	width: 100%;
}

.login-form .login-tab-link {
	display: inline-block
}

.login-form .msg-wrap {
	min-height: 31px;
	height: auto!important;
	height: 31px;
	margin: 2px 0 5px;
	width:100%;
}

.login-form .msg-error {
	position: relative;
	background: #ffebeb;
	color: #e4393c;
	border: 1px solid #faccc6;
	padding: 3px 10px 3px 40px;
	line-height: 18px;
	min-height: 18px;
	height: 18px;
	font-size:.3rem;
}

.login-form .msg-error b {
	position: absolute;
	top: 50%;
	left: 10px;
	display: block;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(../images/pwd-icons-new.png) -104px -49px no-repeat;
}

.login-form .msg-warn {
	position: relative;
	background: #fff6d2;
	color: #666;
	border: 1px solid #ffe57d;
	padding: 3px 10px 3px 40px;
}

.login-form .msg-warn b {
	position: absolute;
	top: 50%;
	left: 10px;
	display: block;
	margin-top: -8px;
	width: 16px;
	height: 17px;
	overflow: hidden;
	background: url(../images/pwd-icons-new.png) -104px -22px no-repeat;
}

.login-form .login-box {
	width: 100%;
	padding: 40px 20px 20px;
	visibility: hidden;
}

.login-form .login-box .mt {
	display: block;
	width: 100%;
	overflow: visible;
	height: 27px;
}

.login-form .login-box .mt:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .login-form .login-box .mt {
	height: 1%
}

*+html .login-form .login-box .mt {
	min-height: 1%
}

.login-form .login-box .mt h1 {
	position: relative;
	height: 27px;
	line-height: 27px;
	top: -5px;
	float: left;
	color: #666;
	font-size: 20px
}

.login-form .login-box .tab-h {
	height: 42px
}

.login-form .login-box .mc {
	overflow: visible
}

.login-form .login-box .safe {
	position: relative;
	color: #666
}

.login-form .login-box .safe span {
	margin-right: 15px
}

.login-form .login-box .safe .forget-pw-safe {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0
}

.login-form .login-box .reg-free {
	height: 18px;
	*margin-bottom: 5px
}

.login-form .login-box .login-btn {
	width:100%;
	margin: 30px auto 0;
	height: 40px;
	outline:none;
	background: rgba(0,0,0,0);
}

.login-form .login-box .login-btn .btn-img {
	display: block;
	width: 100%;
	background: #e4393c;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
    text-align: center;
}

.login-form .login-box .login-btn .btn-img:hover {
	text-decoration: none
}

. .login-form .btn-2login {
	background-position: 0 -60px
}

.login-form .qlogin-main .qlogin-tit {
	text-align: center;
	font-size: 14px;
	margin-top: 20px
}

.login-form .qlogin-main .qlogin-tit .qq-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	overflow: hidden;
	vertical-align: middle;
	background: url(../images/pwd-icons-new.png) -104px -157px;
	margin-right: 10px
}

.login-form .qlogin-main .coagent {
	margin-top: 20px
}
.login-wrap-content{
	height: 475px;
	/*background: url(../images/bg.png) no-repeat -110px;*/
}
.login-wrap {
	position: relative;
	margin:auto;
	z-index: 5;
	max-width: 990px;
}

.login-wrap .login-banner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 475px;
	background: #e93854
}

.login-wrap .i-inner {
	position: relative;
	z-index: 3;
}

.login-wrap .login-form {
	float: right;
	top: 84px;
}
.disp {
	display: none !important;
}

.titlea {
	line-height:30px;
}
.wap-show{display:none;}
@media screen and (min-width: 768px){
	.login-form{width:368px;}
}
@media screen and (max-width: 768px) {
	.login-form .login-tab a.checked{
		color:#000;
		font-weight:normal;
	}
	.login-wrap .login-banner {
		background: #fff !important;
	}
	.login-wrap .login-form {
		float: none;
		width: 100%;
		margin: 0 auto;
		right: 0;
		top:0;
	}
	.item-fore3{
		display:none;
	}
	/*	.login-wrap {
            background: #fff;
        }*/
	.login-wrap-content{
		background:none !important;
	}
	.login-form .msg-wrap {
		display: none;
	}
	.disp {
		display: block!important;
	}
	.contM {
		float: left;
		display: block;
		float: left;
		display: block;
		position: absolute;
		right: 2px;
		top: 2px;
	}
	.contM img {
		height: 34px;
	}
	.yzm {
		width: 70% !important;
		float: left !important;
	}
	.copyright{
		/*display:none;*/
	}
	.form .item-fore1,
	.form .item-fore2 {
		border-radius:3px;
		border:none;
		border-bottom:1px solid #e1e1e1;
	}
	.form .item .login-label{
		border-right:none;
		background-color:#fff;
	}

	.titlea{display:block;text-align:center;font-size:20px;}

	.login-form .login-tab{
		height:40px;
		line-height: 40px;
		border-bottom:1px solid #ddd;
		background: #f3f3f3;
		position:relative;
		text-align:center;
	}
	.login-form .login-tab a{
		border:none !important;
		margin-top:0 !important;
	}
	.back-pre{
		display: inline-block;
		width: 40px !important;;
		height: 40px;
		background: url(../images/bbc-bg45.png) no-repeat 10px;
		background-size:30%;
		float:left;

	}
	.back-to-regist{
		display:none;
	}
	.login-form .login-box{
		width:90%;
		margin:auto;
        padding: 3rem 0 20px !important;
	}
	.login-cont{
		background:none !important;
	}
	.login-form .coagent{
		padding:0;
		background: none;
		border-top: none;
	}
	.login-form .coagent ul{
		width:90%;
		margin:auto;
	}


	/*改版*/
	.form .item-fore1, .form .item-fore2{
		border:none;
		border-bottom:1px solid #e1e1e1;
	}
	.login-form .login-box .login-btn .btn-img{background: #f11c3a;border-radius: 6px;line-height: 46px;}
	.login-form .login-box .login-btn{border:none;}
	.wap-show{display:block;text-align:center;font-size:20px;margin:5% 0;}
	.wap-show a{margin:0 3%;color:#999;}
	.forget-pw-safe,.extra-r{display:none !important;}
}
@media screen and (max-width: 500px) {
	body {
	}
	.login-form .login-box .login-btn .btn-img{
		line-height: 40px;
	}
	.statistics_code{
		margin-top:6px;
	}
	.login-wrap-content{
		height:auto;
	}
	.login-wrap {
		margin: 0;
	}
	.login-wrap .login-form {
		float: none;
		border: 0 !important;
		width: 100%;
		margin: 0 auto;
		right: 0;
		top: 0;
		border: 1px solid #e1e1e1;
	}
	.form .itxt {
		height: 50px;
		width: 80%;
	}
	.form .item .login-label{
		top:6px;
	}
	.login-form .login-box{
		padding:20px 24px;
	}
	.form .item-fore1,
	.form .item-fore2 {
		padding: 0;
		margin:0 auto 20px;
	}
	.login-form .login-tab a {
		color: #000 !important;
		font-weight: normal !important;
	}
	.form .item-fore3 {
		font-size: 14px;
	}
	.login-form .login-box .safe .forget-pw-safe {
		position: inherit;
		display: block;
		padding: 10px 0;
	}
	.disp {
		display: block!important;
	}
	.titlea {
		display: block;
		text-align: center;
		margin-top:30px;
		font-size:14px;
	}
	.extra-r{
		position: absolute;
		top: -172px;
		right:0;
		z-index:10;
	}
	.line {
		display: none;
	}

	.contM {
		float: left;
		display: block;
		width: 30%;
	}
	.contM img {
		width: 100%;
	}
	.login-form .regist-link a{
		color:#333;
	}
	.login-form .regist-link b{
		display:none;
	}
	.wap-show{font-size:16px;}

}