<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>泰康积分商城商家管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="../../static/css/layui.css" rel="stylesheet" media="all" />
    <link href="../../static/zTreeStyle/zTreeStyle.css" type="text/css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" type="text/css" rel="stylesheet" />
    <link href="../../css/goods/spec.css" rel="stylesheet" type="text/css" rel="stylesheet" />
</head>
<body>
<header id="header">
    <app-header curr="1"></app-header>
</header>
<aside id="content" v-cloak>
    <col-nav curr="3" :nav="navData"></col-nav>
    <div class="content_body">
        <span class="layui-breadcrumb" lay-separator="-">
              <a href="../index.html">首页</a>
              <a href="./index.html">商品</a>
              <a><cite>商品规格</cite></a>
        </span>
        <div class="layui-tab layui-tab-card" lay-filter="tab">
            <ul class="layui-tab-title">
                <li class="layui-this">商品规格</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="info">
                        <h3>操作提示：</h3>
                        <p>1、选择店铺经营的商品分类，以读取平台绑定的商品分类-规格类型，如分类："服装"；规格："颜色"、"尺码"。</p>
                        <p>2、添加所属规格下的规格值，已有规格值可以删除，新增未保存的规格值可以移除；<span style="color: gold">新增的规格值必须填写</span>，否则该行数据不会被更新或者保存。</p>
                        <p>3、可通过排序0-255改变规格值显示顺序；在发布商品时勾选已绑定的商品规格，还可对规格值进行"别名"修改操作，但不会影响规格值默认名称的设定。</p>
                    </div>
                    <div class="treeBox" @click="getTree($event)">{{ currData.name }}
                        <div class="ztree" id="zTree"></div>
                    </div>

                    <button type="button" class="layui-btn" style="clear: both">编辑颜色规格</button>
                    <div :class="{ 'filter' : loading }">
                        <button v-if="currData.id" type="button" class="layui-btn layui-btn-normal layui-btn-xs right" @click="addSpec" :style="{ marginBottom : '10px' }">添加规格值</button>
                        <div v-if="specs.attr.length > 0">
                            <table class="layui-table">
                                <thead>
                                    <tr>
                                        <th>排序</th>
                                        <th>规格值名称</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody class="specBody">
                                    <tr v-for="(item,index) in specs.attr">
                                        <td><input class="sorting" type="text" :value="item.sorting" /></td>
                                        <td><input class="name" type="text" :value="item.name" /></td>
                                        <td>
                                            <i class="layui-icon cursor" @click="delSpec( item ,index )">&#xe640;</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn-group">
                                <button type="button" class="layui-btn" @click="submit">提交保存规格值</button>
                            </div>

                        </div>
                        <!-- error -->
                        <app-error v-if="specs.attr.length == 0 && !loading"></app-error>
                        <!-- loading -->
                        <app-loading v-if="loading"></app-loading>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
</body>
<script src="../../static/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/vue.js" type="text/javascript"></script>
<script src="../../static/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="../../static/jquery.ztree.core.min.js" type="text/javascript"></script>
<script src="../../js/request.js" type="text/javascript"></script>
<script src="../../js/component/components.js" type="text/javascript"></script>
<script src="../../js/common.js" type="text/javascript"></script>
<script src="../../js/goods/spec.js" type="text/javascript"></script>
</html>