<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/swiper-4.1.6.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_products_detail.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/productsDetail.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/weui.css"/>
</head>

<body>
    <script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/tz_fly.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/weui.js"></script>
    <script type="text/javascript" src="../../lib/js/iscroll.js"></script>
    <script src="../../lib/js/swiper.js" type="text/javascript" charset="utf-8"></script>

    <div class="content hide" id="list">

        <!--详情头部-->
        <header id="header_r" :class="[searchBarFixed?'posf':'transparent']">
            <div class="header-wrap-new" style="display: block;max-width: 640px;margin: 0 auto;text-align: center;"
                 :class="[headerTabShow? 'show' : 'hide']">
                <div class="header-l">
                    <a href="javascript:history.go(-1)"> <i class="back"></i> </a>
                </div>
                <div class="titlebar-container-menu-item">
                    <a href="../member/member.html">
                        <img class="am-header-icon-custom" src="../../images/20160051201.png">
                        <span>个人中心</span>
                    </a>
                </div>
                <div class="titlebar-container-menu-primary-divider">
                    <img class="title-divider-img" src="../../images/line_nobg.png">
                </div>
                <div id="showcode" class="titlebar-container-menu-primary-third-item  titlebar-container-menu-item"
                     @click="codeClick">
                    <img class="am-header-icon-custom" src="../../images/20160051203.png">
                    <span>二维码</span>
                </div>
            </div>
            <div class="header-wrap" :class="[!headerTabShow? 'show' : 'hide']">
                <div class="header-l"><a href="javascript:history.go(-1)"> <i class="back"></i> </a></div>
                <ul class="header-nav">
                    <li><a href="#">商品</a></li>
                    <li class="cur"><a href="javascript:void(0);" id="goodsBody">详情</a></li>
                    <li><a href="../service/service.html">客服</a></li>
                </ul>
            </div>
        </header>

        <!--轮播图-->
        <div class="swiper goods-detail-top">
            <div class="swiper-container swiper-top-container swiper-container-new swiper-container-horizontal swiper-container-android goods-detail-pic">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="item in swiperList"><img :src="item"></div>
                </div>
                <div class="swiper-pagination" style="bottom: 0;"></div>
            </div>
        </div>

        <div id="product_detail_html" style="position: relative; z-index: 1;">
            <div class="goods-detail-cnt">

                <div class="goods-detail-name">
                    <dl>
                        <dt>{{detailList.name}}</dt>
                        <dd v-show="detailList.description">{{detailList.description}}</dd>
                    </dl>
                </div>
                <div style=" font-size: 12px;color: #f00;padding: 0.5rem 0.5rem 0.25rem 0.5rem;background: #fff;"
                     v-show="miaoshaTitle">活动尚未开始，提前下单不享秒杀价，活动限时限量。
                </div>

                <!--秒杀显示-->
                <div class="goods-detail-price sale-pri" v-show="miaoshaShow">
                    <h5 class="sale-tip">秒杀</h5>
                    <span class="w40 pri">￥<em>{{detailList.promotion_price}}</em></span>
                    <dl class="inline">
                        <dt>商城价：</dt>
                        <dd style="color: #4A4A4A !important;">￥{{detailList.price | priceTofixed}}</dd>
                        <dt class="block">{{detailList.goods_max_sale}}件已购买</dt>
                    </dl>
                    <span class="sold"><i class="icon-time"></i>距离结束</span>
                    <div class="time fnTimeCountDown" :data-end="detailList.miaosha_end_time">
                        <span>
                            <span class="day">00</span><strong>天</strong>
                            <span class="hour">00</span><strong>小时</strong>
                            <span class="mini">00</span><strong>分</strong>
                            <span class="sec">00</span><strong>秒</strong>
                        </span>
                    </div>
                </div>


                <div class="goods-detail-price" v-show="!miaoshaShow">
                    <dl>
                        <em style="font-size: 13px;">￥<em style="font-size: 0.8rem !important;color: #DB4453;">{{detailList.instalmentPrice | priceTofixed}}</em>
                            × {{detailList.stagingNum}}期</em>
                    </dl>
                    <dl>
                        <dt>商城价：</dt>
                        <dt>￥<em>{{detailList.price | priceTofixed}}</em></dt>
                        <dt style="margin-left: 18px;">市场价：</dt>
                        <dd>￥{{detailList.originPrice | priceTofixed}}</dd>
                    </dl>
                    <span class="sold">销量：{{detailList.salesVolume}}件</span>
                </div>

                <div class="goods-detail-price" v-show="miaoshaShow">
                    <dl>
                        <em style="font-size: 13px;">￥<em style="font-size: 0.8rem !important;color: #DB4453;">{{fenqi_price}}</em>
                            × {{detailList.common_fenqi | common_fenqi}}期</em>
                    </dl>
                    <dl>
                        <dt>秒杀价：</dt>
                        <dt>￥<em>{{detailList.price}}</em></dt>
                        <dt style="margin-left: 18px;">商城价：</dt>
                        <dd>￥{{detailList.originPrice}}</dd>
                    </dl>
                    <span class="sold">销量：{{detailList.salesVolume}}件</span>
                </div>


                <!-- 新增代金券2017.7.19 -->
                <div class="voucher-enter goods-detail-item bgf5" id="getVoucher" style="display: none;">
                    <div class="itme-name tit-sale">代金券</div>
                    <div class="item-con">
                        <p class="fz6 lh100" id="voucher_list_text">领取代金券</p>
                        <div class="item-more"></div>
                    </div>
                </div>

                <div class="goods-detail-item">
                    <div class="itme-name">送至</div>
                    <div class="item-con" @click="MapCityClick">
                        <a href="javascript:void(0);" id="get_area_selected">
                            <dl class="goods-detail-freight">
                                <dt>
                                    <span>{{area_name}}</span>
                                    <strong >{{detailList.stock | common_stock}}</strong>&nbsp;
                                    <span> {{0 | freightPrice}}</span>
                                </dt>
                            </dl>
                        </a>
                    </div>
                    <div class="item-more location" @click="MapCityClick"></div>
                </div>

                <div class="goods-detail-item" id="goods_spec_selected" @click="buyBtn">
                    <div class="itme-name">规格</div>
                    <div class="item-con">
                        <dl class="goods-detail-sel">
                            <dt>选择<span>{{spuName}}</span></dt>
                        </dl>
                    </div>
                    <div class="item-more"></div>
                </div>

                <div class="goods-detail-store">
                    <a href="javascript:void(0);">
                        <div class="store-name">
                            <i class="icon-store"></i>{{sellerName}}
                            <a href="../shop/shopStore.html" class="right">进店看看</a></div>
                        <div class="item-more item-more2"></div>
                    </a>
                </div>

                <div class="goods-detail-bottom" id="goods-detail-bottom" v-html="detailList.context">

                </div>

                <div class="goods-detail-foot block" style="background:#fff !important">
                    <div class="otreh-handle" style="background:#fff !important">
                        <!--<a href="javascript:void(0);"  class="kefu wp30"><i></i><p>客服</p></a>-->
                        <a href="../shop/shopStore.html" style="width:32% !important;" class="to_index"><i></i>
                            <p>店铺</p>
                        </a>

                        <a href="javascript:void(0);" style="width:32% !important;border-left: solid 0.05rem #DDD;"
                           :class="[favorateFalg?'collect pd-collect favorate':'collect pd-collect']"
                           @click="favorateFun"><i></i>
                            <p>收藏</p>
                        </a>

                        <a href="../shop/shopCar.html" class="cart" id="shopCart" style="width:35% !important;"><i></i>
                            <p>购物车</p><span id="cart_count" v-show="shopCarFalg"><sup>{{shopCarNum}}</sup></span></a>

                        <a href="javascript:void(0);" class="fenxiang wp30"
                           style="border-left: solid 0.05rem #DDD;display:none;"><i></i>
                            <p>分享</p>
                        </a>
                    </div>
                    <div class="buy-handle " style="background:#fff;border-top: solid 0.05rem #DDD;">
                        <a href="javascript:void(0);" class="animation-up add-cart"
                           style="width: 40%;background: #f23030 !important;height: 1.5rem;line-height: 1.5rem;margin-top: .2rem;margin-left: 0.8rem;"
                           @click="buyBtn">买</a>
                        <a href="javascript:void(0);" id="sales-now" class=""
                           style="background: #ffb03f !important;width: 40%;height: 1.5rem;line-height: 1.5rem;margin-top: .2rem;margin-left: 0.6rem;"
                           @click="">卖</a>
                    </div>
                </div>
            </div>
        </div>

        <!--弹框-->
        <div id="product_detail_spec_html" class="nctouch-bottom-mask" :class="[detailSpec?'hide down':'show up']"
             @touchmove.prevent>
            <div class="nctouch-bottom-mask-bg" @click="detailClose"></div>
            <div class="nctouch-bottom-mask-block">
                <div class="nctouch-bottom-mask-tip"><i></i>点击此处返回</div>
                <div class="nctouch-bottom-mask-top goods-options-info">
                    <div class="goods-pic">
                        <img :src="detailList.descriptionImage" id="Fly_images">
                    </div>
                    <dl>
                        <dt>{{detailList.name}}</dt>
                        <dd class="goods-price">￥<em>{{detailList.price}}</em>
                            <span class="activity" v-show="miaoshaShow">商城秒杀</span>
                        </dd>
                        <span class="goods-storage">所有库存：{{detailList.stock}}件</span>
                    </dl>
                    <a href="javascript:void(0);" class="nctouch-bottom-mask-close" @click="detailClose"><i></i></a>
                </div>
                <div class="nctouch-bottom-mask-rolling" id="product_roll">
                    <div class="goods-options-stock" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                        <dl class="spec JS-goods-specs clear" v-if="detailList.spuList" v-for="(spuList,p) in detailList.spuList">
                            <dt>{{spuList.titile}}</dt>
                            <dd class="left" v-if="detailList.spuList[p].spuAttrList" v-for="(spuAttr,a) in detailList.spuList[p].spuAttrList">
                                <a href="javascript:void(0);" :class="[spuAttr.defaults?'current':'']" @click="spuAttrClick(a,p)">{{spuAttr.description}}</a>
                            </dd>
                        </dl>

                    </div>
                </div>
                <div class="goods-option-value clearfix">购买数量
                    <div class="value-box">
                        <span class="minus">
                            <a href="javascript:void(0);" @click="reduceChang()">&nbsp;</a>
                        </span>
                        <span>
                            <input type="number" min="1" class="buy-num buynum" v-model="datas.count">
                        </span>
                        <span class="add">
                            <a href="javascript:void(0);" @click="plusChang()">&nbsp;</a>
                        </span>
                    </div>
                </div>
                <div class="goods-option-foot">
                    <div class="only-two-handle buy-handle ">
                        <a href="javascript:void(0);" class="add-cart" id="add-cart" @click="addCart"
                           style="width: 50% !important;">加入购物车</a>
                        <a href="javascript:void(0);"
                           style="float: left; width: 50% !important; display: block !important;" class="buy-now"
                           id="buy-now" @click="payCart">立即购买</a>
                    </div>
                </div>
            </div>
        </div>

        <!--二维码-->

        <div id="screen" :class="[shopCode?'show':'hide']" @touchmove.prevent>
            <div id="qrcode_div" class="show">
                <div id="close_qr" style="padding-right: 41px;">
                    <div @click="shopCodeNone">
                        <img src="../../images/new_icon/btn_close.png" width="30"/>
                    </div>
                </div>
                <div id="code_img" style="max-height: 606px;"><img :src="Codeimages" style="width: 100%;height: 100%;">
                </div>
                <div id="refresh_qr">
                    <div class="refresh">
                        <span>长按图片保存二维码</span>
                        <img onclick="get_qrcode();" src="../../images/new_icon/refresh.png"
                             style="vertical-align: middle;width: 18px;">
                    </div>
                </div>
            </div>
        </div>


        <!--数据请求加载提示-->
        <div class="pre-loading" v-show="preLoading"></div>

        <!--收藏弹框提示-->
        <!--<div class="weui-preToast" v-show="preToast">
            <div class="weui-toast"></div>
        </div>-->

        <!--秒杀商品但是时间未到-->
        <div v-show="miaoshaTime" @touchmove.prevent>
            <div id="S_miaosha" style="" @click="miaoshaTime=false">
                <div style="position: absolute;z-index: 99999;bottom: -1.5rem;width: 100%;">
                    <a href="javascript:void(0)" id="miao_confirm_img"><img src="../../images/miao_close.png" width="26"></a>
                </div>
                <div id="miao_confirm" style="">
                    <div id="miao_confirm_con"><p>{{miaosha_start_time}}开抢</p></div>
                </div>
            </div>
            <div id="miao_screen" style="display: block;" @click="miaoshaTime=false"></div>
        </div>

        <div id="areaSelected"></div>
    </div>


    <script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/product/product_detail.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>