<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_products_list.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_shop_store.css"/>
</head>
<body>
<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../lib/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
<div class="content" id="list">

    <!--头部搜索-->
    <header id="header" class="header nctouch-product-header fixed hide" :class="[oHeaderFixed?'show':'hide']">
        <div class="header-wrap">
            <div class="header-l"><a href="javascript:history.go(-1)"> <i class="back"></i> </a></div>
            <div class="header-inp clearfix"><i class="icon"></i> <span class="search-input" id="keyword">搜本店</span>
            </div>
            <div class="header-r"><a href="../product/product_list.html" class="categroy" style="display: none;"><i></i>
            </a><a id="header-nav" @click="layout" href="javascript:void(0);"><i class="more"></i><sup></sup></a></div>
        </div>
        <div class="nctouch-nav-layout" @click="layout">
            <div class="nctouch-nav-menu"><span class="arrow"></span>
                <ul>
                    <li><a href="../home/home.html"><i class="home"></i>首页</a></li>
                    <li><a href="../shop/shopCar.html"><i class="cart"></i>购物车</a></li>
                    <li><a href="../member/member.html"><i class="member"></i>我的商城</a></li>
                    <li><a href="../service/service.html"><i class="message"></i>客服</a></li>
                </ul>
            </div>
        </div>
    </header>


    <div v-show="!preLoading">
        <div id="mp-header" class="tm-mdv">
            <section class="tm-shop-header">
                <div class="shop-back-img">
                    <img src="//img.alicdn.com/imgextra/i4/2178296464/TB23lKabhBmpuFjSZFsXXcXpFXa_!!2178296464-0-shop_design.jpg_q90.jpg"
                         class="back">
                </div>
                <div class="tm-shop-header-info">
                    <a class="shop_logo logo" href="/shop/shop_info.htm">
                        <img src="//img.alicdn.com/imgextra/i4/TB1s2J6IVXXXXbgXFXXSutbFXXX.jpg" alt="logo">
                    </a>
                    <div class="collect-wrapper">
                        <div class="collect-btn collect-item">收藏</div>
                        <div class="collect-cnt collect-item">
                            <p class="collect-counter">32.3万</p>
                            <p>粉丝</p>
                        </div>
                    </div>

                    <div class="contact">
                        <div class="ctn">
                            <span class="name">臻斯惠旗舰店</span>
                        </div>

                        <div class="brand-tag">品牌旗舰店</div>

                    </div>
                </div>
            </section>
        </div>

        <section :class="[goodsfixed?'nav-bar-wrapper J_tabNavBar store_fixed':'nav-bar-wrapper J_tabNavBar']">
            <div :class="[goodsfixed?'nav J_navBar ui-tab-slider-wrapper store_fixed':'nav J_navBar ui-tab-slider-wrapper']">
                <a href="javascript: void(0)" v-for="(item,k) in storeNav" @click="storeNavClick(k)"
                   :class="[storeNavIndex == k?'item J_tabItem selected-tab':'item J_tabItem']">
                    <span class="count tm-shop-m-iconfont"></span>
                    <span class="text">{{item.title}}</span>
                </a>
            </div>
        </section>

        <!--搜索-->
        <section v-show="storeHome" class="search-ctn">
            <div id="J_open_search" class="open-search">
                <span class="icon-search"></span>在店铺内搜索
            </div>
        </section>

        <!--模板商品-->
        <section v-show="storeHome" class="ui-panel-slider">
            <div class="scroller">
                <div class="item">
                    <div id="shop_mod_container">

                        <!--单独图片-->
                        <div class="imangs img">
                            <img src="//gw.alicdn.com/imgextra/i3/2178296464/TB2sU9QibtlpuFjSspoXXbcDpXa_!!2178296464.jpg_790x10000Q75.jpg_.webp">
                        </div>

                        <div class="imangs img">
                            <img src="//gw.alicdn.com/imgextra/i2/2178296464/TB2wDOjdl0kpuFjSsziXXa.oVXa_!!2178296464.jpg_790x10000Q75.jpg_.webp">
                        </div>

                        <!--店家优惠券-->
                        <div class="coupon_decorate">
                            <div class="coupon_Discount">
                                <div class="coupon_volume">
                                    <div class="coupon_list">
                                        <img src="//gw.alicdn.com/tfs/TB1D8sjOFXXXXXLXVXXXXXXXXXX-1048-192.png_300x10000.jpg_.webp">
                                        <div class="coupon_name">
                                            <div class="coupon_name_top">
                                                <span>￥</span>
                                                <span class="coupon_name_Price">5</span>
                                            </div>
                                            <span class="coupon_name_condition" style="">本店满99.00元使用</span><span
                                                class="coupon_name_time" style="">2018.04.30前有效</span>
                                        </div>
                                    </div>
                                    <div class="coupon_list">
                                        <img src="//gw.alicdn.com/tfs/TB1D8sjOFXXXXXLXVXXXXXXXXXX-1048-192.png_300x10000.jpg_.webp">
                                        <div class="coupon_name">
                                            <div class="coupon_name_top">
                                                <span>￥</span>
                                                <span class="coupon_name_Price">10</span>
                                            </div>
                                            <span class="coupon_name_condition" style="">本店满99.00元使用</span><span
                                                class="coupon_name_time" style="">2018.04.30前有效</span>
                                        </div>
                                    </div>
                                    <div class="coupon_list">
                                        <img src="//gw.alicdn.com/tfs/TB1D8sjOFXXXXXLXVXXXXXXXXXX-1048-192.png_300x10000.jpg_.webp">
                                        <div class="coupon_name">
                                            <div class="coupon_name_top">
                                                <span class="coupon_name_Price">￥</span>
                                                <span class="coupon_name_Price">20</span>
                                            </div>
                                            <span class="coupon_name_condition" style="">本店满99.00元使用</span><span
                                                class="coupon_name_time" style="">2018.04.30前有效</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--热销模板-->
                        <div class="smart_double_goods_new">
                            <div class="smart_double_title">
                                <div class="smart_double_title_box">
                                    <span>热销爆款</span>
                                </div>
                            </div>

                            <div class="smart_double_items">
                                <div class="smart_double_box">
                                    <div class="smart_double_items_list">
                                        <img class="img"
                                             src="//gw.alicdn.com/bao/uploaded/i5/TB1AGfbmZbI8KJjy1zdYXHe1VXa_M2.SS2_360x10000Q75.jpg_.webp">
                                        <span class="smart_double_list_name">2018春季新款毛衣女开衫宽松韩版学生菱形针织衫外套加厚秋冬装潮</span>
                                        <div class="smart_double_list_price">
                                            <span>￥</span>
                                            <span class="smart_double_list_new">98.00</span>
                                            <span class="smart_double_list_old">￥160.00</span>
                                        </div>
                                    </div>
                                    <div class="smart_double_items_list">
                                        <img class="img"
                                             src="//gw.alicdn.com/bao/uploaded/i6/TB1R10.l46I8KJjSszfYXGZVXXa_M2.SS2_360x10000Q75.jpg_.webp">
                                        <span class="smart_double_list_name">2018春季新款毛衣女开衫宽松韩版学生菱形针织衫外套加厚秋冬装潮</span>
                                        <div class="smart_double_list_price">
                                            <span>￥</span>
                                            <span class="smart_double_list_new">98.00</span>
                                            <span class="smart_double_list_old">￥160.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="imangs img">
                            <img src="//gw.alicdn.com/imgextra/i2/2178296464/TB2wDOjdl0kpuFjSsziXXa.oVXa_!!2178296464.jpg_790x10000Q75.jpg_.webp">
                        </div>

                        <div class="smart_double_goods_new">
                            <div class="smart_double_title">
                                <div class="smart_double_title_box">
                                    <span>潜力新品</span>
                                </div>
                            </div>

                            <div class="smart_double_items">
                                <div class="smart_double_box">
                                    <div class="smart_double_items_list">
                                        <img class="img"
                                             src="//gw.alicdn.com/bao/uploaded/i6/TB1RvDleKOSBuNjy0FdYXHDnVXa_M2.SS2_360x10000Q75.jpg_.webp">
                                        <span class="smart_double_list_name">2018春季新款毛衣女开衫宽松韩版学生菱形针织衫外套加厚秋冬装潮</span>
                                        <div class="smart_double_list_price">
                                            <span>￥</span>
                                            <span class="smart_double_list_new">98.00</span>
                                            <span class="smart_double_list_old">￥160.00</span>
                                        </div>
                                    </div>
                                    <div class="smart_double_items_list">
                                        <img class="img"
                                             src="//gw.alicdn.com/bao/uploaded/i6/TB1.snoeeuSBuNjSsplYXHe8pXa_M2.SS2_360x10000Q75.jpg_.webp">
                                        <span class="smart_double_list_name">2018春季新款毛衣女开衫宽松韩版学生菱形针织衫外套加厚秋冬装潮</span>
                                        <div class="smart_double_list_price">
                                            <span>￥</span>
                                            <span class="smart_double_list_new">98.00</span>
                                            <span class="smart_double_list_old">￥160.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="smart_double_goods_new">
                            <div class="smart_double_title">
                                <div class="smart_double_title_box">
                                    <span>当季热卖</span>
                                </div>
                            </div>

                            <div class="smart_double_items">
                                <div class="smart_double_box">
                                    <div class="smart_double_items_list">
                                        <img class="img"
                                             src="//gw.alicdn.com/bao/uploaded/i5/TB1fc3Rd1GSBuNjSspbYXIiipXa_M2.SS2_360x10000Q75.jpg_.webp">
                                        <span class="smart_double_list_name">2018春季新款毛衣女开衫宽松韩版学生菱形针织衫外套加厚秋冬装潮</span>
                                        <div class="smart_double_list_price">
                                            <span>￥</span>
                                            <span class="smart_double_list_new">98.00</span>
                                            <span class="smart_double_list_old">￥160.00</span>
                                        </div>
                                    </div>
                                    <div class="smart_double_items_list">
                                        <img class="img"
                                             src="//gw.alicdn.com/bao/uploaded/i1/TB1LoNbbv5TBuNjSspcYXHnGFXa_M2.SS2_360x10000Q75.jpg_.webp">
                                        <span class="smart_double_list_name">2018春季新款毛衣女开衫宽松韩版学生菱形针织衫外套加厚秋冬装潮</span>
                                        <div class="smart_double_list_price">
                                            <span>￥</span>
                                            <span class="smart_double_list_new">98.00</span>
                                            <span class="smart_double_list_old">￥160.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>

        <!--全部商品-->
        <section class="store_goods_all" v-show="goodsAll">

            <!--商品条件筛选-->
            <div :class="[goodsfixed?'goods-search-list-nav posr store_all_fixed':'goods-search-list-nav posr']">
                <ul id="nav_ul">
                    <li><a href="javascript:void(0);" :class="[current_falg?'current':'']" id="sort_default"
                           @click="goodsSort">{{goodsValue}}<i></i></a></li>
                    <li><a href="javascript:void(0);" :class="[(!current_falg)?'current':'']"
                           @click="browseVolume">销量优先</a></li>
                    <li class="browse-mode"><a href="javascript:void(0);" @click="browseMode"><span
                            :class="[browseMode_falg?'browse-list':'browse-grid']"></span></a></li>
                </ul>
                <div class="ser-adv"><a href="javascript:void(0);" id="search_adv"><span
                        style="vertical-align: middle;">筛选</span><i></i></a></div>
                <div id="sort_inner" class="goods-sort-inner hide posr" :class="[goodsShow?'show':'hide']">
                    <span v-for='(item,i) in goodsList'><a href="javascript:void(0);"
                                                           :class="[goodsIndex == i? 'cur' : '']"
                                                           @click="init_get_list('', '',i)">{{item}}<i></i></a></span>
                </div>
            </div>


            <!--商品内容-->
            <div class="nctouch-main-layout">
                <div id="product_list" :class="[browseMode_falg?'list':'grid']">
                    <ul class="goods-secrch-list">
                        <li class="goods-item" v-for="(items,i) in itemList" :id="items.common_id">
								<span class="goods-pic">
									<a :href="'product_detail.html?goods_id='+items.common_id">
				                        <img :src="items.common_image">
				                    </a>
								</span>
                            <dl class="goods-info">
                                <dt class="goods-name">
                                    <a :href="'product_detail.html?goods_id='+items.common_id">
                                        <h4>{{items.common_name}}</h4>
                                        <h6></h6>
                                    </a>
                                </dt>
                                <dd>
                                    <span style="font-size: 0.6rem;">￥<em
                                            style="font-size: 0.8rem;color: #EC5464;font-weight: bold;">{{items.common_fenqi_price}}</em> × {{i | number }}期</span>
                                </dd>
                                <dd class="goods-sale">
                                    <a :href="'product_detail.html?goods_id='+items.common_id">
                                        <span class="goods-price" style="color: #000000;">商城价：￥<em>{{items.common_price}}</em></span>
                                    </a>
                                    <div class="goods-assist">
                                        <a href="javascript:void(0);"></a>
                                        <div class="goods-store">销量：{{items.common_salenum}}</div>
                                    </div>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>

            <!--筛选-->
            <div class="nctouch-full-mask hide JS-search right" style="z-index: 1999;">
                <div class="nctouch-full-mask-bg"></div>
                <div class="nctouch-full-mask-block">
                    <div class="header" style="display: none;">
                        <div class="header-wrap">
                            <div class="header-l"><a href="javascript:void(0);"><i class="back"></i></a></div>
                            <div class="header-title">
                                <h1>商品筛选</h1>
                            </div>
                            <div class="header-r"><a href="javascript:void(0);" class="text reset">重置</a></div>
                        </div>
                    </div>
                    <div class="nctouch-main-layout-a secreen-layout" id="list-items-scroll">
                        <div style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                            <dl>
                                <dt>商品类型</dt>
                                <dd>
                                    <a href="javascript:void(0);" nctype="items" id="actgoods">促销</a>
                                    <a href="javascript:void(0);" nctype="items" id="normalpro">正常</a>
                                    <!--<a href="javascript:void(0);" nctype="items" id="virtual">虚拟</a>-->
                                </dd>
                            </dl>
                            <dl>
                                <dt>价格区间</dt>
                                <dd>
                                    <span class="inp-balck"><input type="text" id="price_from" nctype="price"
                                                                   pattern="[0-9]*" class="inp"
                                                                   placeholder="最低价"></span>
                                    <span class="line"></span>
                                    <span class="inp-balck"><input nctype="price" type="text" id="price_to"
                                                                   pattern="[0-9]*" class="inp"
                                                                   placeholder="最高价"></span>
                                </dd>
                            </dl>
                            <div class="bottom">
                                <a href="javascript:void(0);" class="btn-l reset" id="reset">重置</a>
                            </div>
                            <div class="bottom">
                                <a href="javascript:void(0);" class="btn-l" id="search_submit">筛选</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--上新-->
        <section v-show="goodsNew" class="tm-shop-new-mdv tm-shop-new">
            <div class="day">
                <h2 class="date">4月9日</h2>
                <div class="items" data-spm-anchor-id="a320p.7692364.0.i13.e30818b7JYw0gn">
                    <a href="//detail.m.tmall.com/item.htm?id=567229944455&amp;pds=newitems#h#shop"
                       class="tm-shop-product-item">
                        <div class="ctn">
                            <div class="img-ctn"><img class="ui-loading-img"
                                                      src="//img.alicdn.com/imgextra/i3/TB1eBODkxWYBuNjy1zkYXFGGpXa_M2.SS2_400x400Q90s50.jpg_.webp"
                                                      alt="薄款针织开衫女夏季新款韩版宽松针织衫外套中长款纯色空调衫夏装"></div>
                            <div class="detail">
                                <div class="name">薄款针织开衫女夏季新款韩版宽松针织衫外套中长款纯色空调衫夏装</div>
                                <span class="price">￥120</span></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="day">
                <h2 class="date">4月9日</h2>
                <div class="items" data-spm-anchor-id="a320p.7692364.0.i13.e30818b7JYw0gn">
                    <a href="//detail.m.tmall.com/item.htm?id=566006024534&amp;pds=newitems#h#shop"
                       class="tm-shop-product-item">
                        <div class="ctn">
                            <div class="img-ctn"><img class="ui-loading-img"
                                                      src="//img.alicdn.com/imgextra/i3/TB1.snoeeuSBuNjSsplYXHe8pXa_M2.SS2_400x400Q90s50.jpg_.webp"
                                                      alt="中长款毛衣开衫女春装新款韩版宽松镂空学生纯色针织衫外套春秋季"></div>
                            <div class="detail">
                                <div class="name">中长款毛衣开衫女春装新款韩版宽松镂空学生纯色针织衫外套春秋季</div>
                                <span class="price">￥160</span></div>
                        </div>
                    </a>
                    <a href="//detail.m.tmall.com/item.htm?spm=a320p.7692364.0.0.e30818b7JYw0gn&amp;id=565998568084&amp;pds=newitems#h#shop"
                       class="tm-shop-product-item" data-spm-anchor-id="a320p.7692364.0.0">
                        <div class="ctn">
                            <div class="img-ctn"><img class="ui-loading-img"
                                                      src="//img.alicdn.com/imgextra/i2/TB1k0bseb9YBuNjy0FgYXIxcXXa_M2.SS2_400x400Q90s50.jpg_.webp"
                                                      alt="刺绣针织衫薄款开衫女中长款夏季空调衫宽松韩版绣花春夏披肩外套"
                                                      data-spm-anchor-id="a320p.7692364.0.i3.e30818b7JYw0gn"></div>
                            <div class="detail">
                                <div class="name">刺绣针织衫薄款开衫女中长款夏季空调衫宽松韩版绣花春夏披肩外套</div>
                                <span class="price">￥115</span></div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!--店铺活动-->
        <section v-show="storeActivity" class="tm-mdv tm-shop-dynamics">

            <!--店铺有活动-->
            <div>
                <div class="dynamic">
                    <div class="headTitle">
                        <span class="tag" style="background: #ff4500">收藏人气</span>
                        <span class="date"></span>
                        <h2 class="title"></h2>
                    </div>

                    <a href="//h5.m.taobao.com/weapp/view_page.htm?spm=a320p.7692473.0.0.48192911dTHHJk&amp;activityId=-1&amp;page=shop/act_detail&amp;sellerId=2178296464&amp;type=DefaultFavoriteRank"
                       class="link" target="_blank" data-spm-anchor-id="a320p.7692473.0.0">
                        <img class="ui-loading-img"
                             src="//img.alicdn.com/tps/i4/TB1mF22HFXXXXbkXXXXA2.I0FXX-640-314.jpg_620x10000Q30.jpg"
                             alt="" data-spm-anchor-id="a320p.7692473.0.i0.48192911dTHHJk">
                    </a>
                </div>
                <div class="dynamic">
                    <div class="headTitle">
                        <span class="tag" style="background: #ff4500">热销宝贝</span>
                        <span class="date"></span>
                        <h2 class="title"></h2>
                    </div>

                    <a href="//h5.m.taobao.com/weapp/view_page.htm?activityId=-2&amp;page=shop/act_detail&amp;sellerId=2178296464&amp;type=DefaultSaleRank"
                       class="link" target="_blank">
                        <img class="ui-loading-img"
                             src="//img.alicdn.com/tps/i1/TB1BVj0HFXXXXcTXXXXA2.I0FXX-640-314.jpg_620x10000Q30.jpg"
                             alt="">
                    </a>
                </div>
            </div>

            <!--店铺无活动-->
            <div class="nctouch-norecord search hide">
                <div class="norecord-ico"><i></i></div>
                <dl>
                    <dt>商铺最近没有促销活动</dt>
                    <dd>收藏店铺经常来逛一逛</dd>
                </dl>
            </div>
        </section>

    </div>

    <div class="pre-loading" v-show="preLoading"></div>
    <!--回到顶部-->
    <div class="fix-block-r" @click="oBackTop" v-show="oBackTopFixed"></div>
</div>

<script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
<script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/shop/shopStore.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
