<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/member.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_cart.css">
    <link rel="stylesheet" type="text/css" href="../../lib/css/weui.css"/>
</head>

<body class="bgf">
    <script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/weui.js"></script>
    <script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <div class="content" id="app" v-cloak>
        <!--头部搜索-->
        <header id="header" class="fixed header"></header>

        <div class="order-status-bg mT2">
            <img :src="src" alt="">
            <div class="order-state">{{oMitemList.sellerAgreeStatus | orderStatus}}</div> <!---->
        </div>

        <ul class="nctouch-default-list borderN">
            <li v-if="oMitemList.sellerAgreeStatus==1||oMitemList.sellerAgreeStatus==2||oMitemList.sellerAgreeStatus==3">
                <span class="numss">您已成功发起退款申请，请耐心等待商家处理</span>
            </li>
            <li class=" pdt3">
                <span class="nums">商家同意或超时未处理，系统将自动退款给您</span>
                <span class="nums">如果商家拒绝，您可以修改退款申请后再次发起，商家会重新处理</span>
            </li>
        </ul>

        <ul class="nctouch-default-list mt5 borderN borderT50">
            <li class="borderB">
                <span class="numss">{{title}}</span>
            </li>
        </ul>
        <!-- 内容部分 -->
        <div class="nctouch-main-layout" id="refund-info-div" style="margin-top: 0;">
            <div class="nctouch-order-item " v-for="item in oMitemList.refundProductList">
                <div class="nctouch-order-item-con">
                    <div class="goods-block detail">
                        <a href="javascript:void (0);">
                            <div class="goods-pic">
                                <img :src="item.productLogo">
                            </div>
                            <dl class="goods-info">
                                <dt class="goods-name whiteSpace2">{{item.productName}}</dt>
                                <dd class="goods-name whiteSpace">{{item.skuName}}</dd>
                                <dd class="goods-subtotal clear">
                                    <span class="goods-price left">{{item.price | currency}}</em></span>
                                    <span class="goods-num right">x {{item.count}}</span>
                                </dd>
                            </dl>

                        </a>
                    </div>
                </div>

            </div>

            <ul class="nctouch-default-list borderN mt5 nctouch-default-list_ref" v-if="oMitemList.sellerAgreeStatus==4">
                <li class="">
                    <div>退款金额：<em>{{oMitemList.applyRefundRmb | currency}}</em></div>
                </li>
                <li class="">
                    <div>{{defaultList}}：<em>{{oMitemList.refundReason}}</em></div>
                </li>
                <li class="">
                    <div>退款时间：<em>{{oMitemList.applyRefundTime | time}}</em></div>
                </li>
                <li class="">
                    <div>{{defaultd}}：<em>{{oMitemList.refundNumber}}</em></div>
                </li>
            </ul>

        </div>

    </div>
    <script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/order/order_refund_detail.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
