html,body{
	background-color: #f5f3f6;
	font-size: 14px;
}
.box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
@font-face{
	font-family: myFirstFont;
	src: url('DINPRO-MEDIUM.OTF');
}
.bg{
	width: 60px;
	height: 12px;
	background: url("../img/star_gray.png");
}
.over{
	height:12px;
	background:url("../img/star_org.png") no-repeat;
}
.offBox {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #666;
	padding-top: 20%;
}
.offBox img{
    width: 40%;
}

/*彩卡网络*/
.box_map{
	width: 100%;
    height: 100%;
	background-color: #999;
}

/*附近商家*/

.nearbyBox{
	width: 100%;
	height: 100%;
}
.nearbyBox .search{
	position: fixed;
	top: 0;
    left: 0;
}
.nearbyBox .nearbyNav{
	position: fixed;
	top: 3.05rem;
    left: 0;
}
.search{
    width: 100%;
    padding: .5rem .3rem .5rem .8rem;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.search input{
    width:83%;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: #e6e4e7;
    color: #333;
    padding-left: 4%;
    padding-right: .5rem;
}
.search .seachImg{
        width: 1.5rem;
    position: absolute;
       top: 25%;
    right: 15%;
    height: 1.5rem;
}
.search .mapImg{
        width: 1.5rem;
    position: absolute;
    top: .7rem;
    right: .5rem;
    height: 1.5rem;
}
.nearbyNav{
	    width: 100%;
    height: 2.2rem;
        font-size: .8rem;
	color: #666666;
	border-bottom:1px solid #e5e5e5;
	
}
.nearbyNav li{
       width: 25%;
       font-size: .9rem;
    text-align: center;
    height: 1.2rem;
    margin-top: .5rem;
    border-right: 1px solid #999;
    box-sizing: border-box;
}
.nearbyNav .navtLast{
    position: relative;
    border-right:none;
}
.nearbyNav .navtLast span{
   margin:0 0 0 30%;
}
.nearbyNav .navtLast img{
    width: 1rem;
    height: 1rem;
}
.nearbyNav .navStyle{
    font-weight: 800;
}     
.listItem{
    position: absolute;
        top: 130%;
    left:  5%;
    background-color: #efedf0;
    padding: 0 .05rem;
    color: #777;
    z-index: 999;
    border-radius: 5%;
    display: none;
}
.nearbyNav .listItem li{
    border-bottom: 1px solid #ccc;
        width: 6rem;
    height: 1.8rem;
    line-height: 1.5rem;
   border-right: none;
}
.nearbyNav .listItem .listLast{
    border-bottom: none;
}
/*定位*/
.moreDate{
	width: 100%;
	height: 100%;
    color: #666;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.2);
}
.moreDate div{
	    width: 40%;
    height: 6rem;
    line-height: 6rem;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 30%;
    text-align: center;
    border-radius: 10px;
}
.moreDate img{
	display: inline-block;
	        width: 30px;
    height: 30px;
	vertical-align: middle;
}
/*附近商家bottom*/
.nearbyMain{
	width: 100%;
	height: auto;
	padding-top: 5.4rem;
}

.nearbyMain li{
	    width: 100%;
    height: 6rem;
        padding: 2.5%;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.bottom_load{
	color: #666;
	text-align: center;
	border-bottom: none;
}
.nearbyMain li .main_left{
    width: 30%;
       height: 4.6rem;
    margin-right: 2%;
    box-sizing: border-box;
}
.nearbyMain li .main_left img{
    width: 100%;
    height: 100%;
}
.nearbyMain li .main_right{
    width: 68%;
    height: auto;
}
.nearbyMain li .main_right .mr_top{
        font-size: 1.1rem;
    width: 100%;
    font-weight: 600;
    height: 1.5rem;
}
.nearbyMain li .main_right .mr_top .mr_title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.nearbyMain li .main_right .mr_center{
	font-size: .85rem;
    color: #a3a3a3;
    margin: 1.8% 0;
    white-space: nowrap;
}
.nearbyMain li .main_right .mr_center .marght{
	margin-right: 10%;
}
.nearbyMain li .main_right .mr_center .emStyle {
	color: #e2961e;
}
.nearbyMain li .main_right .mr_price {
	font-size: .85rem;
}
.nearbyMain li .main_right .mr_price .priceNew{
	color: #ff6585;
}

/*详情*/
.detail{
	width: 100%;
	height: auto;
	background-color:#f6f4f7 ;
}
.detailColor{background-color:#fff ;}
.detailImg{
	width: 100%;
	position: relative;
	padding: 2% 2% 0;
	box-sizing: border-box;
}
.detailImg img{
	width: 100%;
	height: 180px;
}

.detailMain{
	color: #666;
    width: 100%;
    box-sizing: border-box;
    padding: 1% 2% 0;
}
.emStyle{
	color: #e2961e;
}
.main_title{
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
}
.per_title{
    font-size: 1.2rem;
    color: #666;
}
.detailMain .mr_center{
    width: 100%;
    font-size: .85rem;
    color: #a3a3a3;
    height: 1.4rem;
    padding: 1.5% 0;
    border-bottom: 1px solid #f0f0f0;
    white-space: nowrap;
}
.detailMain .main_top{
	height: .2rem;
}
.detailMain .main_top em{
    color: #e2961e;
}
.detailMain .main_price{
	width: 100%;
    color: #ff6585;
    padding: 2% 0;
    font-size: 1.2rem;
    white-space: nowrap;
    height: 4rem;
}
.detailMain .price_code em{
	font-size: 3rem;
}
.detailMain .price_img{
	display: inline-block;
	color: #fff;
	width: 33%;
	height: 2.8rem;
    line-height: 2.8rem;
	margin-top: 2.3%;
	background: #ff9e05;
	text-align: center;
	border-radius: 5px;  
	font-size: 1.2rem;
}
.detailMap{
	width: 100%;
    margin-top: 2.5%;
    height: 30%;
    padding: 2% 3%;
    color: #666;
    box-sizing: border-box;
    position: relative;
}
.detailMap .map_left p{
	padding: 1% 0;
}
.detailMap .map_left img{
	position: absolute;
    left: 2%;
    width: 4.5%;
}
.detailMap .map_left em{
	margin-left: 1.5rem;
}


/*评价*/
.bot_Nav{
	width: 100%;
    height: 2.5rem;
        margin-top: 2.5%;
        box-sizing: border-box;
}
.bot_Nav span{
	display: inline-block;
    width: 50%;
    height: 2.5rem;
    line-height: 2.5rem;
    float: left;
    text-align: center;
    color: #666;
    box-sizing: border-box;
    background: #DEDEDE;
}
.bot_Nav .stypeSpan{
	font-weight: 600;
	background: #fff;
}
.detailBottom{
    margin-bottom: 1rem;
}
.detailBottom .bot_p{
    padding: .5rem;
    color: #666;
    font-size: .9rem;
        line-height: 2rem;
}
.detailBottom .bot_p span{
	padding: .1rem;
	font-size: .11rem;
	display: none;
}
.detailBottom .bot_p span em{
    color: #e2961e;
}

.bot_evaluate .item{
        padding: 1rem 0;
    color: #666;
    margin-bottom: .15rem;
}
.bot_evaluate .bottom_load{
   text-align: center;
       font-size: .9rem;
}

.bot_evaluate li .evaluate_img img{
       width: 15%;
    border-radius: 50%;
    margin: 0 2%;
}
.bot_evaluate li p{
	    min-height: 2rem;
    line-height: 1rem;
}
.bot_evaluate li .ri_date {
	    width: 95%;
    height: 2rem;
    font-size: .9rem;
    color: #ccc;
}
.bot_evaluate li .evaluate_right{
	margin-left: 2%;
}
.bot_evaluate li .ri_image{
            width: 83%;
        margin-left: 17%;
}
.bot_evaluate li .ri_image::after{content:'';display:block;height:0;visibility:hidden;clear:both;}
.bot_evaluate li .ri_image img{
	width: 23%;
    height: 5rem;
    margin-right: 3%;
}
.bot_evaluate li .ri_map img{
	display: inline-block;
	vertical-align: middle;
	    width: 1rem;
    height: 1rem;
}
.bot_evaluate li .ri_map{
	color: #81d5c5;
    clear: both;
}

.buy_price{
	    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: #ffb504;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    line-height: 3rem;
}
.bot_deatil{
	display: none;
}
.bot_deatil li{
	width: 100%;
    padding: 0 3%;
    box-sizing: border-box;
    height: 3rem;
    line-height: 3rem;
    color: #666;
    border-bottom: 1px solid #f0f0f0;
}
.bot_deatil .phone{
	border-bottom: none;
}


/*个人中心*/
.per_box{
	width: 100%;
}
.per_top{
	width: 100%;
	position: relative;
    overflow: hidden;
}
.per_top .per_logo{
	width: 100%;
	height: 35%;
}
.per_top .per_loimg{
    width: 35%;
    position: absolute;
    top: 19%;
    left: 32%;
}
.per_top .per_image{
   width: 30%;
    position: absolute;
    top: 13%;
    left: 33%;
    border-radius: 50%;
    border: 7px solid rgba(0,0,0,.2);
}
.per_top span{
        width: 100%;
    position: absolute;
    bottom: 11%;
  left: 0;
    display: block;
    
    text-align: center;
   
    color: #666;
}
.per_main{
    height: 5rem;
    padding: 1% 2% 0;
    color: #666;
    border-bottom: 1px solid #dedede;
}
.per_main li{
	width: 50%;
	text-align: center;
	box-sizing: border-box;
	    margin-top: 2%;
	    font-size: 1rem;
}
.per_main .bor_list{
	border-right: 1px solid #dedede;
}
.per_main .main_num{
    margin-left: 30%;
    margin-top: .5rem;
    color: #ff6585;
}
.per_main li img{
    width: 18%;
    margin-right: 5%;
}
.per_main .main_history img{
    margin-left: 11%;
    width: 14%;
}
.per_bot{
	    width: 100%;
    margin-top: .4rem;

}
.per_bot .itemLi{
	    width: 100%;
    padding: 3% 2%;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
    font-size: .13rem;
    color: #666;
    font-size: 1rem;
}
.per_bot .itemLi img{
	display: inline-block;
	    width: 10%;
	vertical-align: middle;
}
.per_bot .itemLi span{
	margin-left: .1rem;
}
.per_bot .per_last{
	border-bottom: none;
}
.per_bot .per_code{
	display: none;
}
.per_bot .per_num .last_img::after,.per_bot .per_last .last_item::after{content:'';display:block;height:0;visibility:hidden;clear:both;}
.per_bot .per_num .last_img,.per_bot .per_last .last_item{
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.per_bot .per_num .last_img li,.per_bot .per_last .last_item li{
    width: 18.6%;
    height: 6.5rem;
	text-align: center;
	float: left;
	margin-left: 1%;
	margin-bottom: 1%;
	color: #666;
	box-sizing: border-box;
}
.per_bot .per_num .last_img img,.per_bot .per_last .last_item img{
    width: 100%;
	margin: 0 0 .05rem .1rem;
	border-radius: 50%;
}
.per_bot .per_num.lastImg_more,.per_bot .per_last.lastImg_more{
	 width: 18%;
}
.per_bot .per_num .last_img .lastImg_more img,.per_bot .per_last .lastImg_more img{
	 width: 100%;
    height: 75%;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-top: .1rem ;
}
.last_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*订单确认*/
.order_box,.order_box .order_logo{
	width: 100%;
	height: auto;
}
.order_box .order_logo img{
	    width: 100%;
    height: 12rem;
    padding: 2% 2% 0;
	box-sizing: border-box;
}
.order_title{
	   color: #666;
    width: 100%;
    box-sizing: border-box;
    padding: 2% 2% 1%;
}
.order_title .mr_center{
	    font-size: .85rem;
    color: #a3a3a3;
    height: 1.4rem;
    padding: 1% 0;
}
.order_title img{
	     width: 30%;
    height: 100%;
    margin-right: 3%;
}
.title_name {
	    width: 65%;
    height: auto;
}
.title_name .title_top{
	    font-size: 1rem;
    width: 100%;
    font-weight: 600;
    height: 1.5rem;
}
.title_name .title_top .mr_title{
	        width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title_name .title_num{
	font-size: .8rem;
	height: 1.5rem;
}
.title_name .title_num em{
	color: #e2961e;
}
.title_name .title_price {
	font-size: .9rem;
	color: #ff6585;
}
.order_price{
	width: 100%;
        padding: 2% 2% 1.2%;
    margin: 1.5% 0;
    box-sizing: border-box;
}
.order_price .orderp_left{
	width: 70%;
	box-sizing: border-box;
    border-right: 1px solid #dedede;
    
}
.order_price .pri_title{
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 2%;
}
.order_price .pri_input{
	white-space: nowrap;
	    padding-top: 3%;
}
.order_price .pri_input em{
	font-size: 1.5rem;
}
.order_price .pri_input input{
    width: 90%;
    font-size: 1.1rem;
    color: #000;
    outline: none;
    border: none;
    font-family: myFirstFont;
}
.order_price .pri_name{
	color: #666;
	text-align: center;
	width: 30%;
	box-sizing: border-box;
}
.order_price .pri_name span{
}
.order_price .price_n{
	font-size: 1.8rem;
}
.order_bot{
	width: 100%;
    padding: 2.2% 2% 1.4%;
    box-sizing: border-box;
    font-size: .9rem;
    color: #666;
    line-height: 26px;
}
.order_bot .name_title {
	width: 70%;
	display: inline-block;
    white-space: nowrap;
}
.order_bot .name_title .code_display{	
	display: none;
}
.order_bot .name_title em{
	font-size: 1rem;
}
.order_bot .bot_image{
	display: inline-block;
	    width: 50px;
        height: 25px;
}
.order_bot .code_display{	
	display: none;
}
.order_fexed{
	width: 100%;
    height: 3.2rem;
    line-height: 3.2rem;
    margin-top: 1.5%;
    font-size: 1.1rem;
    color: #666;
}
.order_fexed .fexed_right{
	width: 28%;
	text-align: center;
	background-color: #ffb600;
	color: #fff;
	margin-left: 1%;
}
.order_fexed .fexed_left{
    width: 71%;
    white-space: nowrap;
    text-align: right;
}
.order_fexed .fexed_left em,.order_fexed .fexed_left i{
	color: #ff6585;
}
.order_fexed .fexed_left i{
	font-size: 1.6rem;
}
.order_fexed .fexed_left .payMent{
	display: none;
	font-size: .8rem;
}
.alertTan{
	width: 50%;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 35%;
	left: 25%;
	background-color: rgba(0,0,0,.5);
	border-radius: 10px;
	z-index: 99999;
	display: none;
}

/*支付成功*/
.pay_box{
	width: 100%;
	height: auto;
}
.pay_top{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #dedede;
	margin-bottom: .6rem;
}
.pay_top img{
	height: 12rem;
    margin-left: 33%;
    padding-top: 10%;
    margin-bottom: 4%;
}
.pay_top .paytop_name{
	    color: #666;
    line-height: 4rem
}
.pay_title {
	width: 100%;
    padding: 1% 3%;
        box-sizing: border-box;
	color: #666;
	margin-top: .4rem;
	margin-bottom: 3rem;
}
.paytitle_top {
	width: 100%;
	height: 2rem;
	border-bottom: 1px solid #dedede;
}
.pay_shop {
    color: #666;
    width: 100%;
    box-sizing: border-box;
    padding: 3% 2%;
}
.pay_shop::after{content:'';display:block;height:0;visibility:hidden;clear:both;}
.pay_shop .shop_img{
    width: 26%;
    height: 4.4rem;
    box-sizing: border-box;
}
.pay_shop .shop_name{
    font-size: 1rem;
        width: 72%;
    font-weight: 600;
    height: 1.5rem;
    margin-left: 2%;
}
.pay_shop .shop_top{
   font-size: .9rem;
    width: 100%;
}
.pay_shop .shop_title{
    width: 100%;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pay_shop .shop_num{
    font-size: .8rem;
    font-weight: 500;
    padding: 2.2% 0;
}
.pay_shop .shop_price{
    font-size: .9rem;
    color: #ff6585;
}
.pay_shop .shop_order{
	width: 100%;
    font-size: .8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}
.pay_title a{
	display: inline-block;
	vertical-align: middle;
	margin-left: .1rem;
}
.pay_title a img{
	width: 1rem;
    height: 1rem;
}
#message{
	margin-left: 33%;
}
.pay_title textarea{
	    margin-top: .5rem;
    width: 100%;
	border: none;
	outline: none;
	resize:none;
}
.paytitle_image{
	    width: 100%;
    height: 6rem;
}
.paytitle_image img{
	    width: 23%;
    height: 80%;
    margin-right: .3rem;
}
.paytitle_image .oneImage{
	    width: 23%;
    height: 80%;
}
#clickImg{
	   width: 100%;
    height: 100%;
}
.pay_bottom{
	color: #666;
	height: .35rem;
	line-height: .35rem;
}
.pay_bottom img{
	display: inline-block;
	width:.2rem;
	height: .2rem;
	margin-right: .1rem;
	vertical-align: middle;
}
.pay_bottom em{
	color: #ccc;
	float: right;
}
.pay_fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	    height: 3rem;
    line-height: 3rem;
	color: #fff;
	font-size: 1.1rem;
	text-align: center;
	background-color: #ffb600;
}
.paytitle_image div{
	font-size: 0;
	position: relative;
}
.paytitle_image div input{
	opacity: 0;
	filter:alpha(opacity=0);
    width: 100%;
    overflow: hidden;
    height: 100%;
	overflow: hidden;
	height: 100%;
	color: #666;
	position: absolute;
	top: 0rem;
	outline: none;
	border: none;
}
/*消费记录*/
.consume_box,.consume_box ul{
	width: 100%;
	height: auto;
}
.consume_box li {
	width: 100%;
	padding:2%;
	border-bottom: 1px solid #dedede;
	box-sizing: border-box;
}
.consume_box li .title{
	color: #333;
}
.consume_box,.consume_box ul{
	width: 100%;
	height: auto;
}
.consume_box li .title span{
	overflow: hidden;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.consume_box li .last{
	font-size: .9rem;
	color: #ccc;
     margin-top: 1%;
}
.consume_box li .title em{
	margin-right: .08rem;
}
.consume_box li .last div{
	color: #666;
	border: 1px solid #ccc;
	border-radius: .1rem;
	padding: 0 .15rem;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}
.consume_box .bottom_load {
	width:100%;
	color: #666;
	text-align: center;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #f5f3f6;
	display: block;
	border-bottom: none;
}
/*推广页*/
.mendBox{
	width: 100%;
	padding: 1% 2%;
	box-sizing: border-box;
	font-size: 1rem;
}
.mendBox .mend_name{
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 5%;
}
.mendBox .mend_time{
	font-size: .9rem;
	color: #666;
	margin-top: 2%;
}
.mendBox .img_gif{
	width: 100%;
	margin: 3% 0;
}
.mendBox p{
	font-size: 1.2rem;
	color: #666;
	margin-bottom: 5%;
	line-height: 2rem;
}
.mendBox .img_png{
	width: 80%;
	margin: 5% 10%;
}
.mendBox .img_myself{
	width: 80%;
	margin: 5% 10%;
}
.mendBox .mend_bot{
	width: 100%;
	text-align: center;
}
/*我的推广二维码*/
.perCode{
	width: 100%;
	padding: 1% 2%;
	box-sizing: border-box;
}
.perCode li{
	color: #666;
}
.perCode li img{
	display: inline-block;
	width: 8%;
	vertical-align: middle;
}
.perCode li .per_myself{
    display: block;
    width: 70%;
    margin: 5% 15%;
}
.perCode li span{
	margin-left: .1rem;
}
.perCode_img::after{content:'';display:block;height:0;visibility:hidden;clear:both;}
.perCode_img{
	width: 100%;
	clear: both;
	box-sizing: border-box;
}

.perCode_img li{
	    width: 18.6%;
	        height: 6.5rem;
    text-align: center;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
    color: #666;
    box-sizing: border-box;
}
.perCode_img img{
    width: 100%;
    margin: 0 0 .05rem .1rem;
    border-radius: 50%;
}

.perCode_more img{
	    width: 100%;
    height: 80%;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-top: .1rem;
}
.per_bot .code_last .last_item img {
    width: 100%;
    height: 3.5rem;
    margin: 0 0 .05rem .1rem;
    border-radius: 5%;
}
.per_bot .code_last .last_item li {
       width: 22%;
    height: 6.5rem;
    text-align: center;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
    color: #666;
    box-sizing: border-box;
}
/*付款*/
.payItem{
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.payItem li{
	width: 100%;
    padding: 2% 2% 0;
	box-sizing: border-box;
	margin-bottom: 2%;
	float: left;
}
.payItem .item_first{
	width: 49%;
	padding: 2%;
	box-sizing: border-box;
	margin-bottom: 2%;
    float: left;
}
.payItem .marginLeft{
	margin-left: 1%;
}
.payItem .marginright{
	margin-right: 1%;
}
.payItem .item_first .price_img{
	display: inline-block;
	color: #fff;
	width: 43%;
        height: 1.8rem;
    line-height: 1.8rem;
        margin-top: 6%;
	background: #ff9e05;
	text-align: center;
	border-radius: 5px;  
	font-size: .8rem;
}
.payItem li .payItem_left img{
	width: 100%;
    height: 14rem;
}
.payItem .item_first .payItem_left img {
    width: 100%;
    height: 8rem;
}
.payItem .mr_center,.payItem .main_price {
    padding: 0;
}
.payItem .item_first .main_price {
    font-size: 1rem;
    height: auto;
}
.payItem .item_first .price_code em {
    font-size: 2rem;
}
.payItem li .mr_title{
	width: 100%;
	height: 12rem;
}
.payItem .item_first .payItem_left img {
    width: 100%;
    height: 8rem;
}
.payItem li .main_title{
    display: inline-block;
    font-size: 1.5rem;
    width: 100%;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.payItem .item_first .main_title{
    font-size: 1rem;
}
.payItem li .pay_num{
	margin-left: 22%;
}