<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/jqweui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/lCalendar.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/scs.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/usercenter.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/userCen.css"/>
</head>

<body>
    <script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/lCalendar.js"></script>
    <script src="../../lib/js/jq.scs.min.js"></script>
    <script src="../../lib/js/CNaddarr.min.js"></script>
    <script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <div class="content hide" id="app">
        <!--头部搜索-->
        <header id="header" class="fixed favheader">
            <div class="header-wrap">
                <div class="header-l">
                    <a href="javascript:history.go(-1)"> <i class="back"></i> </a>
                </div>
                <div class="tit">信息设置</div>
                <div class="header-r"><a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a>
                </div>
            </div>
        </header>

        <div class="wrapper ">
            <div class="clearfix">
                <!--nav选择-->
                <div class="left_1 visible-lg">
                    <ul class="jiaoyizhognxin ">
                        <li v-for="(item,k) in itemList" :class="[colorIndex == k?'_Color _ColorActive':'_Color']">
                            <a href="javascript:void(0);" @click="itemClick(k)">{{item}}</a>
                        </li>
                    </ul>
                </div>

                <!-- 账号信息  -->
                <div v-show="user_home" class="aright">
                    <div class="member_infor_content">

                        <div class="ncm-default-form">
                            <form method="post" id="form" name="form" action="" class="formcs nice-validator n-yellow"
                                  novalidate="novalidate">
                                <dl>
                                    <dt>用户名称：</dt>
                                    <dd>
                                        <span class="w400">{{userName}}&nbsp;&nbsp;<div
                                                class="nc-grade-mini bbc_bg">普通会员</div></span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>真实姓名：</dt>
                                    <dd>
                                        <span class="w400">
                                            <input type="text" class="text" maxlength="20" name="user_truename" value=""
                                                   v-model="realName">
                                        </span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>生日：</dt>
                                    <dd><input type="text" id='datetime-picker' placeholder="请选择日期"/></dd>
                                </dl>
                                <dl>
                                    <dt>所在地区：</dt>
                                    <dd><input type="text" readonly placeholder="请选择地区" id="myAddrs" name="addr"
                                               data-key="1-36-37" value="北京 北京市 东城区"/></dd>
                                </dl>
                                <dl>
                                    <dt>QQ：</dt>
                                    <dd>
                                        <span class="w400">
                                            <input type="text" class="text" maxlength="30" name="user_qq" id="user_qq"
                                                   value="">
                                        </span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>会员编号：</dt>
                                    <dd>
                                        <span class="w400">
                                             <input type="text" class="text" maxlength="30" name="user_number"
                                                    id="user_number" value="0">
                                        </span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>编号说明：</dt>
                                    <dd>
                                        <span class="w400">
                                            <textarea id="user_number_desc" style="width: 65vw;height: 4rem;"
                                                      class="textarea" name="user_number_desc" placeholder=""></textarea>
                                        </span>
                                    </dd>
                                </dl>
                                <dl class="bottom">
                                    <dd class="submit-border">
                                        <div class="submit bbc_btns">保存修改</div>
                                    </dd>
                                </dl>
                            </form>
                        </div>
                    </div>
                </div>

                <!--头像上传-->
                <div v-show="user_portrait" class="aright">
                    <div class="member_infor_content">

                        <input type="hidden" name="form_submit" value="ok">
                        <div class="ncm-default-form">
                            <dl>
                                <dt>头像预览：</dt>
                                <dd>
                                    <div class="user-avatar">

                                        <div class="container" id="crop-avatar" style="    margin-left: 0; width: 220px;">
                                            <!-- Current avatar -->
                                            <div class="avatar-view" title="" data-original-title="修改头像">
                                                <img id="avatarEdit"
                                                     src="http://wx.qlogo.cn/mmopen/vi_32/gRtEud3Tl0lm3LIhOuJ0znvDzpppptOqXkdj7CUV0vBeF2SayeibdBobD3Bb70ICdP29Q0trxtVIsamdmNiacKDA/132"
                                                     alt="头像">
                                            </div>

                                            <!-- Cropping modal -->
                                            <div class="modal fade" id="avatar-modal" aria-hidden="true"
                                                 aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <form class="avatar-form" action="" enctype="multipart/form-data"
                                                              method="post">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">×
                                                                </button>
                                                                <h4 class="modal-title" id="avatar-modal-label">修改头像</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="avatar-body">

                                                                    <!-- Upload image and data -->
                                                                    <div class="avatar-upload">
                                                                        <input type="hidden" class="avatar-src"
                                                                               name="avatar_src">
                                                                        <input type="hidden" class="avatar-data"
                                                                               name="avatar-data">
                                                                        <label for="avatarInput">上传</label>
                                                                        <input type="file" class="avatar-input"
                                                                               id="avatarInput" name="avatar_file">
                                                                    </div>

                                                                    <!-- Crop and preview -->
                                                                    <div class="row">
                                                                        <div class="col-md-9">
                                                                            <div class="avatar-wrapper"></div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="row avatar-btns">

                                                                        <div class="col-md-3">
                                                                            <button type="submit"
                                                                                    class="btn btn-primary btn-block avatar-save">
                                                                                上传
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div><!-- /.modal -->

                                            <!-- Loading state -->
                                            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                        </div>

                                    </div>
                                    <p class="hint mt5">完善个人信息资料，上传头像图片有助于您结识更多的朋友。<br><span style="color:orange;">头像默认尺寸为120x120像素，请根据系统操作提示进行裁剪并生效。</span>
                                    </p>
                                </dd>
                            </dl>

                            <dl class="bottom">
                                <dd class="submit-border">
                                    <div class="submit bbc_btns">保存修改</div>
                                </dd>
                            </dl>
                        </div>
                        <!--</form>-->
                    </div>
                </div>

                <!--账户安全-->
                <div v-show="user_security" class="aright">
                    <div class="member_infor_content">
                        <div class="ncm-security-user">
                            <h3>您的账户信息</h3>
                            <div class="ml30">
                                <div class="user-intro">
                                    <dl v-for="item in userIntro">
                                        <dt>{{item.name}}</dt>
                                        <dd>{{item.title}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="ncm-security-container">
                            <div class="title">您的安全服务</div>
                            <div class="current low clearfix medium"><!--对此div添加不同等级的class:低（lower）,中（medium）,高（high） -->
                                <div class="fl progress">
                                    <span style="width:50%"></span><!-- 对此span设置宽度百分比 -->
                                </div>
                                <div class="fl progress-text">安全等级：<strong>中</strong></div>
                                <div class="divleft">
                                    <div class="divright">
                                        <span>(建议您开启全部安全设置，以保障账户及资金安全)</span>
                                    </div>
                                </div>
                            </div>

                            <dl>
                                <dt>
                                    <span class="itemss">
                                        <h4>实名认证</h4>
                                        <h6>未认证</h6>
                                    </span>
                                </dt>
                                <dd>
                                    <span class="handle">
                                         <a href="real_personal.html" class="ncbtn ncbtn-aqua bd bbc_btns">去实名认证</a>
                                    </span>
                                </dd>
                            </dl>

                            <dl id="email" class="no">
                                <dt>
                                    <span class="itemss">
                                      <h4>邮箱绑定</h4>
                                      <h6>未绑定</h6><!-- 已绑定给h6添加class为active -->
                                    </span>
                                </dt>
                                <dd>
                                    <span class="explain">进行邮箱验证后，可用于接收敏感操作的身份验证信息，以及订阅更优惠商品的促销邮件。</span>
                                    <span class="handle">
                                        <a href="javascript:void (0);" @click="itemssEmail"
                                           class="ncbtn ncbtn-aqua bd bbc_btns">绑定邮箱</a>
                                    </span>
                                </dd>
                            </dl>

                            <dl id="mobile" class=" no">
                                <dt>
                                    <span class="itemss">
                                        <h4>手机绑定</h4>
                                        <h6>未绑定</h6> <!--class="active"-->
                                    </span>
                                </dt>
                                <dd>
                                    <span class="explain">进行手机验证后，可用于接收敏感操作的身份验证信息，以及进行积分消费的验证确认，非常有助于保护您的账号和账户财产安全。</span>
                                    <span class="handle"><a href="javascript:void (0);" @click="itemssPhone" class="ncbtn ncbtn-aqua bd bbc_btns">修改手机</a></span>
                                </dd>
                            </dl>

                        </div>
                    </div>
                </div>

                <!--邮箱-->
                <div class="aright" v-show="emailfalg">
                    <div class="member_infor_content">
                        <div class="tabmenu">
                            <ul class="tab pngFix">
                                <li class="active">
                                    <a href="javascript:void (0);">邮箱绑定</a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-style-layout">
                            <div class="form-style">
                                <div class="step clearfix">
                                    <dl class="step-first current">
                                        <dt>1.验证身份</dt>
                                    </dl>
                                    <dl class="current">
                                        <dt>2.绑定邮箱</dt>
                                        <dd></dd>
                                    </dl>
                                    <dl class="">
                                        <dt>3.绑定完成</dt>
                                        <dd></dd>
                                    </dl>
                                </div>
                                <form name="form" method="post">
                                    <input type="hidden" value="email_verify" name="act">

                                    <div class="bind-area">
                                        <dl class="clearfix">
                                            <dt><em class="icon-must">*</em>邮箱：</dt>
                                            <dd>
                                                <input type="text" name="user_email" id="user_email" class="text w60"
                                                       value="">
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><em>*</em>图形验证码：</dt>
                                            <dd>
                                                <input type="text" name="img_yzm" id="img_yzm" maxlength="6"
                                                       class="text w110" placeholder="请输入验证码"
                                                       default="<i class=&quot;i-def&quot;></i>看不清？点击图片更换验证码">

                                                <img onclick="get_randfunc(this);" title="换一换" class="img-code right"
                                                     style="cursor:pointer;"
                                                     src="http://ucenter.g-town.com.cn/libraries/rand_func.php">
                                            </dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt><em class="icon-must">*</em>验证码：</dt>
                                            <dd>
                                                <input type="text" name="yzm" id="yzm" class="text w60" value="">
                                                <input type="button" class="send-reset btn-send right" data-type="email"
                                                       value="获取邮件验证码"
                                                       style="-webkit-appearance: none;background: #d6d6d6; ">
                                            </dd>
                                        </dl>
                                        <div class="bottom" style="text-align: center">
                                            <div class="submit-border">
                                                <div class="submit bbc_btns">提交</div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--手机-->
                <div class="aright" v-show="phonefalg">
                    <div class="member_infor_content">
                        <div class="tabmenu">
                            <ul class="tab pngFix">
                                <li class="active">
                                    <a href="javascript:void (0);">手机绑定</a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-style-layout">
                            <div class="form-style">
                                <div class="step clearfix">
                                    <dl class="step-first current">
                                        <dt>1.验证身份</dt>
                                    </dl>
                                    <dl class="current">
                                        <dt>2.绑定手机</dt>
                                        <dd></dd>
                                    </dl>
                                    <dl class="">
                                        <dt>3.绑定完成</dt>
                                        <dd></dd>
                                    </dl>
                                </div>
                                <form name="form" method="post">
                                    <input type="hidden" value="email_verify" name="act">

                                    <div class="bind-area">
                                        <dl class="clearfix">
                                            <dt><em class="icon-must">*</em>手机号：</dt>
                                            <dd>
                                                <input type="text" name="user_email" class="text w60" value="">
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><em>*</em>图形验证码：</dt>
                                            <dd>
                                                <input type="text" name="img_yzm" maxlength="6"
                                                       class="text w110" placeholder="请输入验证码"
                                                       default="<i class=&quot;i-def&quot;></i>看不清？点击图片更换验证码">

                                                <img onclick="get_randfunc(this);" title="换一换" class="img-code right"
                                                     style="cursor:pointer;"
                                                     src="http://ucenter.g-town.com.cn/libraries/rand_func.php">
                                            </dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt><em class="icon-must">*</em>手机验证码：</dt>
                                            <dd>
                                                <input type="text" name="yzm" class="text w60" value="">
                                                <input type="button" class="send-reset btn-send right" data-type="email"
                                                       value="获取手机验证码"
                                                       style="-webkit-appearance: none;background: #d6d6d6; ">
                                            </dd>
                                        </dl>
                                        <div class="bottom" style="text-align: center">
                                            <div class="submit-border">
                                                <div class="submit bbc_btns">提交</div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/member/usercenter.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>