<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="screen-orientation" content="portrait" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../lib/css/base.css" />
	<link rel="stylesheet" type="text/css" href="../../css/nctouch_categroy.css">
	<style>
		.nctouch-main-layout ,#header{background-color: #ffffff !important;}
		header.fixed {border-bottom: none;}
		.btitle{font-size: 0.8rem;padding: 0.3rem 0.5rem;width: 91%;float: left;}
		.fen{background-color:#F5F5F5;width:100%;height:.5rem}
		.brands-recommend dd{width:7rem!important;height:7rem!important;padding:0!important}
		.brands-recommend dd img{margin:0!important}
		.brancon{width:100%;height:auto;float:left;margin-bottom:4rem}
		.brancon ul li{width:33%;height:50px;float:left}
	</style>
</head>

<body>
	<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/swiper.js" type="text/javascript" charset="utf-8"></script>
	<div class="content" id="app">
		<!--头部显示-->
		<header id="header" class="fixed header">
			<div class="header-wrap">
				<div class="header-l">
					<a href="javascript:history.go(-1)"> <i class="back"></i> </a>
				</div>
				<div class="header-title">
					<h1>品牌专区</h1>
				</div>
			</div>
		</header>
		<div class="nctouch-main-layout">
			<div style="width: 90%; margin:0 auto;padding-bottom: 1rem;">
				<div class="btitle">品牌专区</div>
				<div id="categroy-rgt">
					<dl class="brands-recommend" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">

						<dd v-for="iTem in brandlist">
							<a :href="iTem.brand_active_url">
								<img :src="iTem.brand_active_logo">
							</a>
						</dd>

					</dl>
				</div>
			</div>

			<div class="fen"></div>
			<div style="width: 90%; margin:0 auto;margin-bottom: 4rem;">

				<div class="btitle">品牌</div>

				<div class="brancon">
					<ul >

						<li v-for="(iTem,k) in brandData"><a href="javascript:void(0);"><img :src="'../../images/new_icon/1_'+iTem+'.jpg'" style="width: 100%;height: 100%"></a></li>

					</ul>
				</div>
			</div>
		</div>
		<!-- 内容部分结束 -->

		<!--回到顶部-->
		<div class="fix-block-r" @click="oBackTop" v-show="oBackTopFixed"></div>
		<!--数据请求加载提示-->
		<div class="pre-loading" v-show="preLoading"></div>
	</div>
	<script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/home/bard_list.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>