<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="screen-orientation" content="portrait" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="format-detection" content="telephone=no">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../lib/css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../lib/css/swiper-4.1.6.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/fight-groups.css">
		<style>
			.mrule p {font-family: 微软雅黑;font-size: 14px;}
		</style>
	</head>

	<body>
		<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<div class="content hide" id="app">
			<!--头部显示-->
			<header id="header" class="fixed header">
				<div class="header-wrap">
					<div class="header-l">
						<a href="javascript:history.go(-1)"> <i class="back"></i> </a>
					</div>
					<div class="header-title">
						<h1>伙拼成团</h1>
					</div>
				</div>
			</header>
			<div class="nctouch-main-layout">

				<div class="pt_nav bgf swiper-container swiper-container-horizontal">
					<div class="swiper-wrapper" id="pt_category">
						<a href="javascript:void(0);" v-for="(item,k) in swiperList" @click="swiperClick(item.cat_id)" :class="[swiperActive==item.cat_id?'swiper-slide swiper-slide-active active':'swiper-slide swiper-slide-active']" style="margin-right: 30px;">{{item.cat_name}}</a>
					</div>
				</div>

				<div class="swiper-pt-banner swiper-container swiper-container-horizontal">
					<ul class="swiper-wrapper" id="pt_banner"></ul>
					<div class="swiper-pt-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
				</div>
				<ul class="pt_goods_previews" id="pt_goods">
					<li v-for="(iTem,i) in groupsData">
						<a :href="'../product/product_detail_groups.html?goods_id='+iTem.goods.goods_id+'&groups_id='+iTem.id" style="width: 70%;vertical-align:  middle;display:  block;margin:  0 auto;">
							<img :src="iTem.goods.goods_image">
						</a>
						<div class="pt_goods_title">
							<strong class="common-red">[{{iTem.person_num}}人团]</strong>
							<p>{{iTem.goods.goods_name}}</p>
						</div>
						<dl class="clearfix">
							<dt class="fl" style="width: 62%;">
                    <p><strong style="font-size: 0.7rem;color:#333">￥<b style="color: #fd3d53;font-size: 0.8rem;margin-right: 0.1rem;">{{iTem.detail.price | common_fenqi}}</b>×12期</strong></p>
                    <p class="part1"><strong style="font-size: 0.7rem;color: #333;">拼团价：￥{{iTem.detail.price}}</strong></p>
                    <p class="part2"><b class="through">商城价：￥{{iTem.goods.goods_price}}</b></p></dt>
							<dd class="fr">
								<a :href="'../product/product_detail_groups.html?goods_id='+iTem.goods.goods_id+'&groups_id='+iTem.id" class="pt_btn_go tc" style="background:#fd3d53;margin-top: 0.7rem !important;">去拼团</a>
							</dd>
							<dd class="fr" style="margin-top: 0.4rem;margin-right: 0.5rem;"><b style="font-size:  0.7rem;color: #333;text-align:  center; ">已拼{{iTem.detail.buyer_num}}件</b></dd>
						</dl>
					</li>
				</ul>
				<div style="width:100%;background:#fff;" :class="[dataFalg?'show':'hide']">
					<div class="mrule" style="width: 88%;padding: 1rem;">
						<p> 活动规则：</p>
						<p>1）拼团商品于成团后发货，拼团未成功可申请退款，于T+1个工作日内退款给客户。</p>
						<p>2)所有参团人员开团后均不得申请退款，直至成团或未成团。未成团指在有效时间内未凑满指定人数，团购自动取消。</p>
						<p>3）同一商品只有在成团后方可发起第二次拼团，但可同时发起不同商品的拼团。</p>
						<p>4）团内订单在订单发货后仍可享受7天无理由退货政策。</p>
						<p>5）拼团优惠价不得与其他优惠同时使用。</p>
					</div>
				</div>
			</div>
			<!-- 内容部分结束 -->

			<!--回到顶部-->
			<div class="fix-block-r" @click="oBackTop" v-show="oBackTopFixed"></div>
			<!--数据请求加载提示-->
			<div class="pre-loading" v-show="preLoading"></div>
		</div>
		<script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/home/groups_list.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>