<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="screen-orientation" content="portrait" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../lib/css/base.css" />
	<link rel="stylesheet" type="text/css" href="../../comment/css/new-style.css" />
	<link rel="stylesheet" type="text/css" href="../../lib/css/swiper-4.1.6.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/home.css">
</head>

<body>
	<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/swiper.js" type="text/javascript" charset="utf-8"></script>
	<div class="content" id="app">
		<!--头部搜索-->
		<header class="head-fixed"></header>
		<!-- 内容部分 -->
		<div class="homePage">
			<!-- 轮播 -->
			<div class="swiper">
				<div class="swiper-container swiper-top-container swiper-container-new swiper-container-horizontal swiper-container-android swiper-container1">
					<div class="swiper-wrapper" >
						<div class="swiper-slide" v-for="item in swiperList"><a :href="item.data"><img :src="item.image"></a></div>
					</div>
					<div class="swiper-pagination swiper-pagination1"></div>
				</div>
			</div>
			<!-- 轮播结束 -->

			<section class="assure">
				<ul class="clear">
					<li v-for="item in swiperBottomList"><img :src="item.src">{{item.title}}</li>
				</ul>
			</section>

			<div style="background: #f5f5f5;float: left;width: 100%;">
				<div class="jd-express-news">
					<a report-eventid="MHome_BJDTitle" report-eventlevel="1" report-eventparam="785" page_name="index" class="J_ping jd-news-tit" href="javascript:void(0);">
						&nbsp;<span style="background: #F02F2F;color: #fff;padding: 3px;border-radius: 5px;">快报</span>
					</a>
					<div id="scroll-news" class="news-list-wrapper">
						<ul id="alluart_showlist" class="news-list" style="transform: translate3d(0px, 0px, 0px); margin-top: 0px;">
							<li class="news-item" v-for="item in newsList">
								<a report-eventid="MHome_BJDNews" report-eventlevel="1" report-eventparam="14" page_name="index" href="javascript:void(0);"
								 class="J_ping">{{item.uart_title}}</a>
							</li>
						</ul>
					</div>
					<a report-eventid="MHome_BJDNewsMore" report-eventlevel="1" report-eventparam="785" page_name="index" class="J_ping jd-news-more"
					 href="javascript:void(0);"><i class="line"></i>更多</a>
				</div>
			</div>

			<ul class="nav-class tc four">
				<!-- 若此ul里面有四个li则将class的three改为four -->
				<li v-for="item in tcNavList">
					<a :href="item.href"><i></i>
						<p>{{item.title}}</p>
					</a>
				</li>
			</ul>

			<div class="nctouch-home-layout mrb150" id="main-container2">
				<section v-for="(iTem,i) in mainListdate">
					<div class="bgf" v-if="(i%2)==0">
						<div class="ad">
							<a :href="iTem.home1.data" class="tc"><img :src="iTem.home1.image" alt=""> </a>
						</div>
					</div>
					<div class="bgf" v-else>
						<div class="user_de">
							<ul class="new-goods clearfix wrap" style="width: 100% !important;margin-bottom: 0.4rem;">
								<li v-for="(detailItem,k) in iTem.goods.item">
									<a :href="'../product/product_detail.html?goods_id='+detailItem.goods_id">
										<div>
											<div class="tit">{{detailItem.act_goods_name || detailItem.goods_name}}</div>
											<div class="act_img"><img :src="detailItem.goods_image" alt=""></div>
											<div class="black">￥<span class="common_fenqi">{{detailItem.goods_fenqi_price}}</span>×{{ k | goods_spec(detailItem)}}期</div>
											<div class="black paddingleft" style="color: #949292 !important;">商城价:￥{{detailItem.goods_promotion_price}}</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
			<!-- 商品列表 -->
			<!--<div class="product-area">
				<div class="title">{{product.name}}<span class="more">MORE>></span></div>
				<ul class="product">
					<li v-for="product in items">
						<a :href="'../product/product_detail.html?id=' + product.id">
							<img :src="product.common_image">
							<h3>{{product.common_name}}</h3>
							<span class="fenQi">￥ <i>{{product.common_fenqi_price}}</i> &times; {{product.common_fenqi}} 期</span>
							<span class="mallPrice">商城价：{{product.common_price}}</span>
							<span class="buyNow">购买</span>
						</a>
					</li>
				</ul>
			</div>-->
			<!-- 商品列表结束 -->
			</div>
		</div>
		<!-- 内容部分结束 -->
		<!--尾部切换-->
		<footer class="footer bort1"></footer>
		<!--回到顶部-->
		<div class="fix-block-r" @click="oBackTop" v-show="oBackTopFixed"></div>
		<!--数据请求加载提示-->
		<div class="pre-loading" v-show="preLoading"></div>
	</div>
	<script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/home/home.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>