<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="screen-orientation" content="portrait" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="format-detection" content="telephone=no">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../lib/css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/nctouch_products_detail.css" />
		<link rel="stylesheet" type="text/css" href="../../css/seckill_list.css" />
	</head>

	<body>
		<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>

		<div class="content" id="list">

			<!--详情头部-->
			<header id="header" class="favheader">
				<div class="header-wrap">
					<div class="header-l">
						<a href="javascript:history.go(-1)"> <i class="back"></i> </a>
					</div>
					<div class="header-title">
						<h1>商城秒杀</h1>
					</div>
					<div class="header-r"><a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup style="display: inline;"></sup></a> </div>
				</div>
			</header>

			<div class="wrapper newslist-wrapper" style="margin-top:2rem;">
				<!--<div class="search-area">
                    <form>
                        <input type="text" id="search_keyword" autocomplete="on" maxlength="50" placeholder="输入名称进行搜索" >
                        <i class="iconfont icon-clear"></i>
                        <i class="iconfont icon-search search_btn" ></i>
                    </form>
                </div>-->
				<div class="new-skill-wrap" id="allmiaosha_showlist">

					<!--本周-->
					<div class="topfixed" id="topfixed">
						<div style="position: relative;">
							<ul class="week_tap_list">
								<li class="week_alltop " :class="[seckill_index == 0?'week_cur':'']" @click="week_change_list(0)">正在秒杀</li>
								<li class="week_alltop " :class="[seckill_index == 1?'week_cur':'']" @click="week_change_list(1)">即将开抢</li>
							</ul>
						</div>
					</div>

					<div id="seckill-body1" class="allmiao seckill_0" :class="[seckill_index == 0?'show':'hide']" style=" background: url(http://img.g-town.com.cn/shop/data/upload/media/plantform/00020e8a6780294db329d41fd9770968/image/20180317/1521273518363601.jpg ); background-repeat: repeat;background-size: 100%;">

						<div class="list-head ">
							<span class="time">
								<span class="static-txt-end" id="staticTxtEnd" style="font-weight: bold;color: #FE3D12 !important;    font-size: 17px !important;  margin-right: 0px !important; ">限时抢购<img src="../../images/shandian.png" style="width: 20px; height: 30px; margin-top: 4px;margin-left:  5px;"></span>
								<div id="seckill_time" class="timeText fnTimeCountDown clear" :data-end="SeckillList.miaosha_end_time">
									<em class="day">00</em>
									<span class="time-separator">天</span>
									<em class="hour">00</em>
									<span class="time-separator">时</span>
									<em class="mini">00</em>
									<span class="time-separator">分</span>
									<em class="sec">00</em>
									<span class="time-separator">秒</span>
								</div>
							</span>
						</div>
						<div class="skill-hot">
							<ul class="good-list bdr-b seckilling">

								<li class="bdr-bom" v-for="item in SeckillList.rule">
									<a :href="'../product/product_detail.html?goods_id='+item.goods_id+'&miaoshaid='+item.miaosha_id">
										<div class="skill-pic">
											<div class="img">
												<img :src="item.goods_image" style="animation: fade 400ms 0s;">
											</div>
										</div>
										<div class="skill-right">
											<p class="g-title">{{item.goods_name}}</p>
											<div class="g-jindu ">
												<div class="sale-count" >仅剩<em>{{item.pro_goods_stock}}</em>件</div>
												<div class="kill-progress" id="progress-b">
													<div class="skill-pro-bg">
														<p class="skill-iteam-progress">
															<span class="skill-pro-insetbg">
																<span class="skill-iteam-pro" :style="'width:'+item.pro_goods_stock_jindu"></span>
															</span>
														</p>
													</div>
												</div>
											</div>
											<p style="color: #333 !important;    font-size: 14px;">￥<span class="doller">{{item.miaosha_price | miaosha_fenqi_price}} </span>× 12期</p>
											<p class="f-s-12">秒杀价:￥{{item.miaosha_price}}<span style="float: right;    margin-right: 21px;    font-size: 12px;    margin-top: 2px;">商城价:￥<em style="text-decoration:  line-through;">{{item.goods_price}}</em></span></p>
											<p class="skill-count">立即抢购</p>
										</div>
									</a>
								</li>

							</ul>
						</div>


						<div style="width:100%;">
							<div class="mrule">
								<p>1、秒杀活动于10:00时间开始，提前下单不享受秒杀价。</p>
								<p>2、秒杀商品每人每个商品限购1单。</p>
								<p>3、每个秒杀活动商品数量有限，抢完为止。</p>
								<p>4、秒杀活动商品不退不换。</p>
								<p>5、秒杀优惠活动不得与其他优惠同时使用。</p>
								<p>详情可致电咨询：400-006-6830。</p>
							</div>
						</div>


					</div>



					<div id="seckill-body" class="allmiao seckill_1" :class="[seckill_index == 1?'show':'hide']" style="display:none; background: url(http://img.g-town.com.cn/shop/data/upload/media/plantform/00020e8a6780294db329d41fd9770968/image/20180317/1521273883573264.jpg ); background-repeat: repeat;background-size: 100%;">

						<div class="list-head">
							<!--<span class="buy-txt buy-txt-black" id="seckillBuyTxt">即将开场 先下单先得哦</span><span class="time">-->
							<span class="time">
						<span class="static-txt-end">开始时间：</span>
						<div style="float: right;color: #ff0000;display: inline-block;font-size: 12px;margin-right: 5px;line-height: 43px;">{{soonSeckillList.miaosha_start_time}}</div>
					</span>

						</div>
						<div class="skill-hot">
							<ul class="good-list bdr-b seckilling">
								<li class="bdr-bom" v-for="item in soonSeckillList.rule">
									<a :href="'../product/product_detail.html?goods_id='+item.goods_id+'&miaoshaid='+item.miaosha_id">
										<div class="skill-pic">
											<div class="img">
												<img :src="item.goods_image" style="animation: fade 400ms 0s;">
											</div>
										</div>
										<div class="skill-right">
											<p class="g-title">{{item.goods_name}}</p>
											<div class="g-jindu ">
												<div class="sale-count">仅剩<em>{{item.pro_goods_stock}}</em>件</div>
												<div class="kill-progress" id="progress-b2">
													<div class="skill-pro-bg">
														<p class="skill-iteam-progress">
															<span class="skill-pro-insetbg">
																<span class="skill-iteam-pro" :style="'width:'+item.pro_goods_stock_jindu"></span>
															</span>
														</p>
													</div>
												</div>
											</div>
											<p style="color: #333 !important;    font-size: 14px;">￥<span class="doller">{{item.miaosha_price | miaosha_fenqi_price}} </span>× 12期</p>
											<p class="f-s-12">秒杀价:￥{{item.miaosha_price}}<span style="float: right;    margin-right: 21px;    font-size: 12px;    margin-top: 2px;">商城价:￥<em style="text-decoration:  line-through;">{{item.goods_price}}</em></span></p>
										</div>
									</a>
								</li>
							</ul>
						</div>

						<div style="width:100%;">
							<div class="mrule">
								<p>1、秒杀活动于10:00时间开始，提前下单不享受秒杀价。</p>
								<p>2、秒杀商品每人每个商品限购1单。</p>
								<p>3、每个秒杀活动商品数量有限，抢完为止。</p>
								<p>4、秒杀活动商品不退不换。</p>
								<p>5、秒杀优惠活动不得与其他优惠同时使用。</p>
								<p>详情可致电咨询：400-006-6830。</p>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--数据请求加载提示-->
            <div class="pre-loading" v-show="preLoading"></div>
			<!--收藏弹框提示-->
			<div class="weui-preToast" v-show="preToast">
				<div class="weui-toast"></div>
			</div>
		</div>



		<script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
		<script>
            new Vue({
                el: '#list',
                data: {
                    preToast:false,
                    preLoading:true,
                    seckill_index:0,//正在秒杀与即将开抢切换
                    SeckillList:[],//正在秒杀商品数据
                    soonSeckillList:[],//即将秒杀商品数据
                },
                computed: {},
                mounted: function() {
                    let _this = this;
                    FastClick.attach(document.body);
                    commentJs.downMenuSpot('favheader', 4);
                    commentJs.toastLoading('加载中...');
                    window.addEventListener('scroll', this.handleScroll);
                    commentJs.fnTimeCountDown();
                    setTimeout(function () {_this.oListData();},10);
                },
                filters: {
                    miaosha_fenqi_price: function(v) {
                        return (v/12).toFixed(2);
                    }
                },
                methods: {
                    oListData:function(){//主菜单列表
                        let _this = this;
                        var sucSeckill = function (data) {
                            console.log(data)
							_this.SeckillList = data.data.items[0];
                            _this.soonSeckillList = data.data.items[1];
                            _this.preLoading = false;
                        }
                        o.seckillGoods(sucSeckill);
                    },
                    handleScroll() {
                        /*let _this = this;
                        let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                        let offsetTop = document.querySelector('#product_detail_html').offsetTop;
                        scrollTop > (offsetTop / 2) ? _this.searchBarFixed = true : (_this.searchBarFixed = false);
                        scrollTop > 620 ? _this.headerTabShow = false : _this.headerTabShow = true;*/
                    },
                    week_change_list(index) { //点击tab切换
                        this.seckill_index = index;
                    }
                }

            })
		</script>
	</body>

</html>