<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
  <link rel="stylesheet" type="text/css" href="../../common/cropper/cropper.css" media="all">

</head>

<body>
  <div id="app" class="hide">
    <!-- 商品管理 -->
    <div class="wrapper page">
      <div class="fixed-bar">
        <div class="item-title">
          <div class="subject">
            <h3>拼团管理</h3>
            <h5>商品拼团促销活动相关设定及管理</h5>
          </div>
          <ul class="tab-base nc-row">
            <li v-for="(nav,index) in productNav" :key="nav.index">
              <a :class="{'current':current==index}" @click=getInfo(index)><span>{{nav.title}}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div v-show="current==0">
        <!-- 搜索条件 -->
        <div class="mod-search cf" id="report-search">
          <div class="l" id="filter-menu">
            <el-form method="post" id="dump-setting-form" name="settingForm" :model="productForm" ref="productForm">
              <ul class="ul-inline fix">
                <li>
                  <el-form-item label="" prop="selectedMember">
                    <select class="select" name="city" lay-verify="required" v-model='productForm.selectedMember'>
                      <option value="00">全部</option>
                      <option value="0">不可用</option>
                      <option value="1">可用</option>
                    </select>
                  </el-form-item>
                </li>
                <li>
                    <el-form-item label="" prop="exchangeNum">
                        <input type="text" id="exchangeNum" class="ui-input ui-input-ph" placeholder="兑换单号..." autocomplete="off" v-model="productForm.exchangeNum">
                      </el-form-item>
                </li>
                <li>
                  <el-form-item label="" prop="memberName">
                    <input type="text" id="memberName" class="ui-input ui-input-ph" placeholder="会员名称..." autocomplete="off" v-model="productForm.memberName">
                  </el-form-item>
                </li>
                <li>活动时间段:</li>
                <li class="filterDate">
                  <el-form-item label="" prop="fromDate">
                    <el-date-picker :editable='false' v-model="productForm.fromDate" type="datetime" value-format="timestamp" placeholder="选择日期时间"></el-date-picker>
                  </el-form-item>
                </li>
                <li>
                  <span>-</span>
                </li>
                <li class="filterDate">
                <el-form-item label="" prop="toDate">
                  <el-date-picker :editable='false' v-model="productForm.toDate" type="datetime" value-format="timestamp" placeholder="选择日期时间"></el-date-picker>
                </el-form-item>
              </li>
                <li><a class="ui-btn" id="search" @click="getInfo(current)">查询<i class="layui-icon">&#xe615;</i></a></li>
              </ul>
            </el-form>
          </div>
          <div class="fr">
            <!-- <a class="ui-btn" id="addNew" @click="addCoupon">新增<i class="layui-icon">&#xe654;</i></a> -->
            <a class="ui-btn" id="audit" @click="refresh(current)">刷新<i class="el-icon-refresh"></i></a>
            <a class="ui-btn" id="reaudit" @click="exportBrand()" >报表导出 <i class="layui-icon">&#xe61e;</i></a>
          </div>
        </div>
        <!-- 搜索条件结束 -->

        <!-- 表格数据渲染 -->
        <div class="cf">
          <div class="grid-wrap">
            <div class="productManger" v-if='productListLength > 0'>
              <!-- 表头 -->
              <div class="produtHead classifyHead">
                <ul>
                  <li>操作</li>
                  <li>活动商品编码</li>
                  <li class="orderWidth">活动商品名称</li>
                  <li>成团人数</li>
                  <li>已成团数量</li>
                  <li>待成团数量</li>
                  <li>未成团数量</li>
                  <li>原价</li>
                  <li>团购价</li>
                  <li>销量</li>
                  <li>总金额</li>
                </ul>
              </div>
              <!-- 表头结束 -->
              <!-- 商品列表 -->
              <div class="pruductList classifyList">
                <ul v-for="(item,index) in productLists" :class="{'active':item.active}" @click="selectOrder(item,productLists)">
                  <li>
                    <span class=" ui-icon-trash" title="删除" @click.stop="removeCoupon(item.id)"><i class="layui-icon">&#xe640;</i></span>
                    <!--<span class=" ui-icon-cart" title="优惠券详情" @click.stop="editCoupon(item)"><i class="layui-icon">&#xe60a;</i></span>-->
                  </li>
                  <li>{{item.productCode }}</li>
                  <li class="orderWidth">{{item.productName }}</li>
                  <li>{{item.activityPeopleNum }}</li>
                  <li >{{item.groupSuccess }}</li>
                  <li >{{item.groupGoing }}</li>
                  <li>{{item.groupFail }}</li>
                  <li>{{(item.originalPrice /100).toFixed(2) }}</li>
                  <li>{{(item.activityPrice/100).toFixed(2) }}</li>
                  <li>{{item.salesCount  }}</li>
                  <li>{{(item.salesMoney/100).toFixed(2)  }}</li>
                </ul>
              </div>
              <!-- 商品列表结束 -->
            </div>
            <div v-else style="text-align:center;margin:50px 0;">
              暂无数据
            </div>
          </div>
        </div>
        <!-- 表格数据渲染结束 -->
      </div>
      <div v-show="current==1" class="sliderBanner">
          <el-form method="post" id="dump-slider-form" name="sliderForm" :model="sliderForm" ref="sliderForm" label-width="30%">
              <div class="ncap-form-default mt10">
                <el-form-item label="滚动图片1" prop="slideImg1">
                  <dl class="">
                    <dd class="opt">
                      <img id="join_slider1_review" :src="sliderForm.slideImg1" width="760" height="140">
                      <div id="join_slider1_upload" class="image-line upload-image" @click="selectImg(1)">图片上传<i class="el-icon-upload2"></i></div>
                      <!--<div id="join_slider1_upload" class="image-line upload-image">图片上传</div>-->
                    </dd>
                  </dl>
                </el-form-item>
                <el-form-item label="图1链接" prop="slideImgUrl">
                  <dl class="">
                    <dd class="opt">
                      <el-input placeholder="" v-model="sliderForm.slideImgUrl"></el-input>
                      <span class="tips">请使用宽度1900像素，高度350像素的jpg/gif/png格式图片作为幻灯片banner上传，如需跳转请在后方添加以http://开头的链接地址。</span>
                    </dd>
                  </dl>
                </el-form-item>
                <!--<el-form-item label="滚动图片2" prop="slideImg1">-->
                    <!--<dl class="">-->
                      <!--<dd class="opt">-->
                        <!--<img id="join_slider2_review" :src="sliderForm.slideImg2" width="760" height="140">-->
                        <!--<br>-->
                        <!--<input type="hidden" id="join_slider2_image" name="join_slider[join_slider2_image]" value="http://127.0.0.1/newshop/yf_shop/image.php/shop/data/upload/media/173573/80/image/20160731/1470025254850480.png">-->
                        <!--<div id="join_slider2_upload" class="image-line upload-image">图片上传</div>-->
                      <!--</dd>-->
                    <!--</dl>-->
                  <!--</el-form-item>-->
                  <!--<el-form-item label="图2链接" prop="slideImgUrl2">-->
                    <!--<dl class="">-->
                      <!--<dd class="opt">-->
                        <!--<el-input placeholder="" v-model="sliderForm.slideImgUrl"></el-input>-->
                        <!--<span class="tips">请使用宽度1900像素，高度350像素的jpg/gif/png格式图片作为幻灯片banner上传，</span>-->
                        <!--<span class="tips">如需跳转请在后方添加以http://开头的链接地址。</span>-->
                      <!--</dd>-->
                    <!--</dl>-->
                  <!--</el-form-item>-->
                <div class="bot"><el-button class="submit-btn" @click="submitBanner('sliderForm')" :disabled="bannerDisabled">确认提交</el-button></div>
              </div>
            </el-form>
      </div>
      <div v-show="current==2" class="sliderBanner">
        <el-form  :model="UEditorForm" ref="UEditorForm" label-width="20%">
          <div class="ncap-form-default mt10">
        <el-form-item label="拼团规则描述" prop="editTimes">
            <div id="editor" class="editor" style="width: 800px; height: 300px;"></div>
        </el-form-item>
            <div class="bot"><el-button class="submit-btn" @click="submitUEditor" :disabled="setBtnDisabled">确认提交</el-button></div>
          </div>
        </el-form>
      </div>

      <div class="pagination" v-show="current==0">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1" :page-sizes="[10, 20, 30, 40]"
          :page-size="pagecount" layout=" prev, pager, next,sizes" :total="total">
        </el-pagination>
      </div>
      <!-- 分页器结束 -->
    </div>
    <!-- 商品管理结束 -->
    <!--选取图片-->
    <div id="chooseImg" style="display: none">
      <div class="img-container">
        <img id="image" src="" alt="" >
        <label class="btn btn-primary btn-upload" for="inputImage" title="" v-show="!selectedFile">
          <input  type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif" @change="selectFile">
          <span class="docs-tooltip" >选择文件</span>
        </label>
      </div>
      <div class="docs-buttons" v-show="selectedFile">
        <div class="btn-group btn-group-crop" >
          <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 160, &quot;height&quot;: 90 }">
            <span class="docs-tooltip" @click="uploadImg">上传所选区域</span>
          </button>
        </div>
      </div>
    </div>
    <!--选取图片结束-->

    <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>

  </div>
  <div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中... </div>
  <script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
  <script type="text/javascript" src="../../common/layui/layui.all.js"></script>
  <script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../../common/cropper/cropper.js"></script>
  <script type="text/javascript" src="../../common/js/common.js"></script>
  <!--引入编辑器-->
  <script type="text/javascript"   src="../../common/UEditor/ueditor.config.js"></script>
  <script type="text/javascript"   src="../../common/UEditor/ueditor.all.min.js"></script>
  <script type="text/javascript"   src="../../common/UEditor/lang/zh-cn/zh-cn.js"></script>
  <script>
    var ue = UE.getEditor('editor');
  </script>
  <script>
    new Vue({
      el: '#app',
      data: {
        current: 0,
        productNav: [{
          index: 0,
          title: '拼团列表'
        }, {
          index: 1,
          title: '首页幻灯片'
        }, {
          index: 2,
          title: '规则描述'
        }],
        loading: true,
        productForm: {
          selectedMember: '00',
          exchangeNum: '',
          memberName: '',
          fromDate: '',
          toDate: ''
        },
        productListLength: 1,
        productLists: [{
          exchangeNum: '张三',
          memberName:'111',
          exchangeScore:'12',
          exchangeTime: '2018-4-1 00:00:00',
          status: '已结束',
        }, {
          exchangeNum: '张三',
          memberName:'111',
          exchangeScore:'12',
          exchangeTime: '2018-4-1 00:00:00',
          status: '已结束',
        },],
        bannerDisabled:false,
        sliderForm: {
          slideImg1: 'https://jhapp.oss-cn-beijing.aliyuncs.com/img/dashu@2x.png',
          slideImgUrl: 'http://localhost/shop/yf_shop/index.php',
          slideImg2: 'https://jhapp.oss-cn-beijing.aliyuncs.com/img/dashu@2x.png',
          slideImgUr2: 'http://localhost/shop/yf_shop/index.php',
        },
        selectedFile:false,
        picNo:'',
        X:0,
        Y: 0,
        Width:0,
        Height:0,
        currentFile:'',
        setBtnDisabled:false,
          UEditorForm:{
            UEditor:'',

          },
        totalMoney: 0,
        selectedAll: false,
        selectedProduct: true,
        // 分页
        pagecount: 10,
        pagenum: 1,
        total: 0
      },
      mounted: function () {
        // FastClick.attach(document.body);
        commonScript.appShowhide('app');
        this.getInfo(0);
      },
      methods: {
        // 页面初始加载数据
        getData: function (index) {
          var _this = this;
          _this.loading = true;
          var state = _this.productForm.selectedMember=="00"?null:_this.productForm.selectedMember;
          var activityCode = _this.productForm.exchangeNum||null;
          var activityName = _this.productForm.memberName||null;
          var start = _this.productForm.fromDate||null;
          var end = _this.productForm.toDate||null;
          var res = function (data) {
            _this.loading = false;
            if(data.result){
              var result = data.result.list;
              if(result){
                _this.productLists = result;
              }else{
                _this.productLists = [];

              }
              _this.total = data.result.total;
            }

          };
          commonScript.getPromotionGroup(_this.pagenum,_this.pagecount,state,activityCode,activityName,start,end,'',res)

        },
        getInfo: function (index) {
          var _this = this;

          if (_this.current != index) {
            _this.$refs.productForm.resetFields(); //切换时搜索条件置空
            _this.$refs.sliderForm.resetFields(); //切换时幻灯片置空
          }
          _this.current = index;
          _this.loading = true;

          // 商品管理
          if(index==0){
            _this.getData(index);
          }else{
            _this.loading=true;
            var res = function (data) {
              _this.loading=false;
              if(data.result){
                var result = data.result;
                if(_this.current==2){
                  // 编辑器
                  ue.ready(function () {
                    UE.getEditor('editor').setContent('<p>123aaaaaaaaaaa</p>');
                  });
                }else{
                  // console.log(data.result)
                  _this.sliderForm.slideImg1 = result.groupPurchaseFrontpagePicture;
                  _this.sliderForm.slideImgUrl= result.groupPurchaseFrontpagePictureLinkAddress


                }

              }
            };
            commonScript.getPromotionSetting(res);
          }


        },
        // 刷新页面
        refresh: function (index) {
          var _this = this;
          _this.$refs.productForm.resetFields(); //切换时搜索条件置空
          _this.$refs.listForm.resetFields(); //切换时搜索条件置空          
          _this.getInfo(index);

        },
        // 删除优惠券
        removeCoupon: function (id) {
          var _this = this;
          _this.$confirm('你确定要删除吗?', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            var res = function(data){
              if(data){
                _this.$message.success({ message: '删除成功！' })
                _this.getInfo(_this.current);
              }
            };
            commonScript.doGet('/promotionInfo/deletePromotionGrouppatchingInfo/'+ id, '', res);
          }).catch((err) => {
          });
        },
        // 导出
        exportBrand:function(){
          var _this = this;
          var state = _this.productForm.selectedMember=="00"?null:_this.productForm.selectedMember;
          var activityCode = _this.productForm.exchangeNum||null;
          var activityName = _this.productForm.memberName||null;
          var start = _this.productForm.fromDate||null;
          var end = _this.productForm.toDate||null;
          window.location.href = '/promotionInfo/exportPromotionGrouppatchingInfo/'+ _this.pagenum + '/'+ _this.pagecount+'/'+ state+'/'+activityCode+'/'+activityName+'/'+start+'/'+end;

        },

        // 导出结束
        // 单条数据选中
        selectOrder: function (item,lists) {
          var _this = this;
          if(item.active===undefined||!item.active){
            _this.$set(item, 'active', true);
          }
          commonScript.selected(item,lists);
        },
        // 单条数据选中结束
        // 图片裁切上传
        selectImg:function(index){
          var _this = this;
          _this.picNo = index;
          _this.loadCropper();
          var layer = layui.layer;
          layer.open({
            title: '图片裁剪'
            , content: layui.jquery("#chooseImg")
            , btn: []
            , area: ['757px', '525px']
            , type: 1
            ,scrollbar: false
            ,zIndex:100
            ,cancel: function(){
              //右上角关闭回调
              _this.destoryCropper();    //销毁cropper

            }
          });
          // _this.loadCropper();
        },
        // 选取文件
        // 上传图片
        selectFile:function(e){
          var _this = this;
          _this.currentFile= e.target.files[0];
          if(_this.currentFile!==undefined){
            _this.selectedFile = true;
            $('.img-container').css({
              'border': 'none',
            });   //去掉边框
          }
        },
        // 启动cropper
        loadCropper:function(){
          var _this = this;
          var URL = window.URL || window.webkitURL||null;
          var $image = $('#image');
          var options = {
            aspectRatio: 1 / 1,
            viewMode:3,
            crop: function (e) {
              _this.X = Math.round(e.detail.x);
              _this.Y = Math.round(e.detail.y);
              _this.Width=Math.round(e.detail.width);
              _this.Height=Math.round(e.detail.height);
            }
          };
          if(_this.picNo==1){
            options.aspectRatio = 4 / 1
          }else if(_this.picNo==2){
            options.aspectRatio= 15 / 4
          }else if(_this.picNo==3){
            options.aspectRatio= 8 / 3
          }
          var originalImageURL = $image.attr('src');
          var uploadedImageName = 'cropped.jpg';
          var uploadedImageType = 'image/jpeg';
          var uploadedImageURL;

          $('#image').cropper(options);
          // Import image
          var $inputImage = $('#inputImage');

          if (URL) {
            $inputImage.change(function () {
              var files = this.files;
              var file;
              if (!$image.data('cropper')) {
                return;
              }
              if (files && files.length) {
                file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                  // uploadedImageName = file.name;
                  // uploadedImageType = file.type;
                  if (uploadedImageURL) {
                    URL.revokeObjectURL(uploadedImageURL);
                  }
                  uploadedImageURL = URL.createObjectURL(file);
                  $image.cropper('destroy').attr('src', uploadedImageURL).cropper(options);
                  $inputImage.val('');
                  _this.selectedFile = true;
                  $('.img-container').css({
                    'border': 'none',
                    // 'padding': '20px'
                  });   //去掉边框
                } else {
                  // window.alert('Please choose an image file.');
                }
              }
            });
          } else {
            $inputImage.prop('disabled', true).parent().addClass('disabled');
          }
        },
        // 上传图片
        uploadImg:function(){
          var _this = this;
          var formData = new FormData();
          var oXHRHeadrs = {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          };
          // 判断上传在什么位置
          var fileData = {
            'x':_this.X,
            'y':_this.Y,
            'width':_this.Width,
            'height':_this.Height,
          };
          fileData = JSON.stringify(fileData);
          formData.append('file', _this.currentFile);
          formData.append('userId', '1111');
          formData.append('pictureSizeData', fileData);
          var ajax = new XMLHttpRequest();
          ajax.open("post","/settingsInfo/uploadCuttingPicture",true);
          ajax.send( formData );
          ajax.onload = function () {
            var data = this.responseText;
            data = JSON.parse(data);
            if(data.httpCode==200){
              if(data.result){
                if(_this.picNo==1){
                  _this.sliderForm.slideImg1 = data.result;

                }else if(_this.picNo==2){
                  _this.sliderForm.slideImg2 = data.result;

                }
              }
            }else{
              _this.$message.error({message: data.msg});
            }

            _this.destoryCropper();    //销毁cropper

          };
          layer.closeAll();

        },
        // 销毁cropper
        destoryCropper:function(){
          $('#image').cropper('destroy');
          $('#image').attr('src','');
          $('.img-container').removeAttr('style');
          this.selectedFile = false;
        },
        // 图片裁切上传结束
        // 提交幻灯片
        submitBanner: function (formName) {
          var _this = this;
          _this.$refs[formName].validate((valid) => {
            if (valid) {
              var data = {
                "groupPurchaseFrontpagePicture": _this.sliderForm.slideImg1,
                "groupPurchaseFrontpagePictureLinkAddress": _this.sliderForm.slideImgUrl,
                "id": "66b254d17fe0462bbb08a7dec16ec197",

              };
              _this.$confirm('修改立马生效,是否继续？', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              }).then(() => {
                var res = function (data) {
                  _this.bannerDisabled=true;
                  _this.$message.success({message: '修改成功！'});
                  _this.getInfo(_this.current);
                  _this.bannerDisabled=false;
                };
                commonScript.doPost('/promotionInfo/updatePromotionSettingsInfo', data, res);
              }).catch((err) => {

              });

            } else {
              console.log('error submit!!');
              return false;
            }
          });

        },
        // 幻灯片提交结束
        //   编辑器内容提交
        submitUEditor:function(){
          var _this = this;
          ue.ready(function () {
            var UEcontnet = UE.getEditor('editor').getContent();
          });

          var data={
            "id": "66b254d17fe0462bbb08a7dec16ec197",
            "":UEcontnet
          };
          _this.$confirm('修改立马生效,是否继续？', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            var res = function (data) {
              _this.setBtnDisabled=true;
              _this.$message.success({message: '修改成功！'});
              _this.getInfo(_this.current);
              _this.setBtnDisabled=false;
            };
            commonScript.doPost('/promotionInfo/updatePromotionSettingsInfo', data, res);
          }).catch((err) => {

          });
        },
          //   编辑器内容提交结束

          // 分页器
        //每页显示多少条
        handleSizeChange: function (val) {
          this.pagecount = val;
          this.getInfo(this.current);
        },
        //当前页及跳转到第几页
        handleCurrentChange: function (val) {
          this.pagenum = val;
          this.getInfo(this.current);
        }

      }
    })
  </script>

</body>

</html>