<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
  <link rel="stylesheet" type="text/css" href="../../common/cropper/cropper.css" media="all">
</head>

<body>
  <div id="app" class="hide">
    <!-- 商品管理 -->
    <div class="wrapper page">
      <div class="fixed-bar">
        <div class="item-title">
          <div class="subject">
            <h3>积分兑换</h3>
            <h5>商城积分礼品的发布及兑换礼品的管理 </h5>
          </div>
          <ul class="tab-base nc-row">
            <li v-for="(nav,index) in productNav" :key="nav.index">
              <a :class="{'current':current==index}" @click=getInfo(index)><span>{{nav.title}}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 礼品列表 -->
      <div v-show="current==0">
        <!-- 搜索条件 -->
        <div class="mod-search cf" id="report-search">
          <div class="l" id="filter-menu">
            <el-form method="post" id="listForm" name="settingForm" :model="listForm" ref="listForm">
              <ul class="ul-inline fix">
                <li>
                  <el-form-item label="" prop="giftName">
                    <input type="text" id="giftName" class="ui-input ui-input-ph" placeholder="礼品名称" autocomplete="off" v-model="listForm.giftName">
                  </el-form-item>
                </li>
                <li><a class="ui-btn" id="search" @click="getInfo(current)">查询<i class="layui-icon">&#xe615;</i></a></li>
              </ul>
            </el-form>
          </div>
          <div class="fr">
            <a class="ui-btn" id="addNew" @click="addList('添加礼品')">新增<i class="layui-icon">&#xe654;</i></a>
            <a class="ui-btn" id="audit" @click="refresh(current)">刷新<i class="el-icon-refresh"></i></a>
          </div>
        </div>
        <!-- 搜索条件结束 -->

        <!-- 表格数据渲染 -->
        <div class="cf">
          <div class="grid-wrap">
            <div class="productManger" v-if='giftLists.length > 0'>
              <!-- 表头 -->
              <div class="produtHead classifyHead">
                <ul>
                  <li>操作</li>
                  <li class="orderWidth">礼品名称</li>
                  <li>礼品图片</li>
                  <li>兑换积分</li>
                  <li>礼品原价</li>
                  <li>库存</li>
                  <li>浏览</li>
                  <li>售出</li>
                  <li>上架</li>
                  <li>推荐</li>
                </ul>
              </div>
              <!-- 表头结束 -->
              <!-- 商品列表 -->
              <div class="pruductList classifyList">
                <ul v-for="(item,index) in giftLists" :class="{'active':item.active}" @click="selectOrder(item,index)">
                  <li>
                    <span class=" ui-icon-trash" title="删除" @click.stop="removeCoupon(item.id)"><i class="layui-icon">&#xe640;</i></span>
                    <span class=" ui-icon-cart" title="优惠券详情" @click.stop="editCoupon(item)"><i class="layui-icon">&#xe60a;</i></span>
                    <!-- <span class=" ui-icon-pencil" title="编辑" @click.stop="skewCoupon(item.shopId)"><i class="layui-icon">&#xe642;</i></span> -->
                  </li>
                  <li class="orderWidth">{{item.giftName}}</li>
                  <li>{{item.giftImg}}</li>
                  <li>{{item.giftScore}}</li>
                  <li>{{item.giftOprice}}</li>
                  <li>{{item.giftNum}}</li>
                  <li>{{item.giftSkew}}</li>
                  <li>{{item.giftsellers}}</li>
                  <li>上架</li>
                  <li>推荐</li>
                </ul>
              </div>
              <!-- 商品列表结束 -->
            </div>
            <div v-else style="text-align:center;margin:50px 0;">
              暂无数据
            </div>
          </div>
        </div>
        <!-- 表格数据渲染结束 -->
      </div>
      <!-- 礼品列表结束 -->
      <div v-show="current==1">
        <!-- 搜索条件 -->
        <div class="mod-search cf" id="report-search2">
          <div class="l" id="filter-menu2">
            <el-form method="post" id="dump-setting-form" name="settingForm" :model="productForm" ref="productForm">
              <ul class="ul-inline fix">
                <li>
                    <el-form-item label="" prop="exchangeNum">
                        <input type="text" id="exchangeNum" class="ui-input ui-input-ph" placeholder="兑换单号..." autocomplete="off" v-model="productForm.exchangeNum">
                      </el-form-item>
                </li>
                <li>
                  <el-form-item label="" prop="memberName">
                    <input type="text" id="memberName" class="ui-input ui-input-ph" placeholder="会员名称..." autocomplete="off" v-model="productForm.memberName">
                  </el-form-item>
                </li>
                <li><a class="ui-btn" id="search2" @click="getInfo(current)">查询<i class="layui-icon">&#xe615;</i></a></li>
              </ul>
            </el-form>
          </div>
          <div class="fr">
            <!-- <a class="ui-btn" id="addNew" @click="addCoupon">新增<i class="layui-icon">&#xe654;</i></a> -->
            <a class="ui-btn" id="audit2" @click="refresh(current)">刷新<i class="el-icon-refresh"></i></a>
          </div>
        </div>
        <!-- 搜索条件结束 -->

        <!-- 表格数据渲染 -->
        <div class="cf">
          <div class="grid-wrap">
            <div class="productManger" v-if='productLists.length > 0'>
              <!-- 表头 -->
              <div class="produtHead classifyHead">
                <ul>
                  <li>操作</li>
                  <li class="orderWidth">兑换单号</li>
                  <li>会员名称</li>
                  <li>兑换积分</li>
                  <li>兑换时间</li>
                  <li>状态</li>
                </ul>
              </div>
              <!-- 表头结束 -->
              <!-- 商品列表 -->
              <div class="pruductList classifyList">
                <ul v-for="(item,index) in productLists" :class="{'active':item.active}" @click="selectOrder(item,index)">
                  <li>
                    <!--<span class=" ui-icon-trash" title="删除" @click.stop="removeCoupon(item.id)"><i class="layui-icon">&#xe640;</i></span>-->
                    <span class=" ui-icon-cart" title="优惠券详情" @click.stop="editCoupon(item.id)"><i class="layui-icon">&#xe60a;</i></span>
                  </li>
                  <li class="orderWidth">{{item.exchangeNum}}</li>
                  <li>{{item.memberName}}</li>
                  <li class="shopWidth">{{item.exchangeScore}}</li>
                  <li class="shopWidth">{{item.exchangeTime}}</li>
                  <li>{{item.status}}</li>
                </ul>
              </div>
              <!-- 商品列表结束 -->
            </div>
            <div v-else style="text-align:center;margin:50px 0;">
              暂无数据
            </div>
          </div>
        </div>
        <!-- 表格数据渲染结束 -->
      </div>
      <div v-show="current==2">
          <el-form method="post" id="dump-slider-form" name="sliderForm" :model="sliderForm" ref="sliderForm" label-width="30%">
              <div class="ncap-form-default mt10">
                <el-form-item label="滚动图片1" prop="slideImg1">
                  <dl class="">
                    <dd class="opt">
                      <img id="join_slider1_review" :src="sliderForm.slideImg1" width="760" height="140">
                      <div id="join_slider1_upload" class="image-line upload-image" @click="selectImg(1)">图片上传<i class="el-icon-upload2"></i></div>
                      <!--<div id="join_slider1_upload" class="image-line upload-image">图片上传</div>-->
                    </dd>
                  </dl>
                </el-form-item>
                <el-form-item label="图1链接" prop="slideImgUrl">
                  <dl class="">
                    <dd class="opt">
                      <el-input placeholder="" v-model="sliderForm.slideImgUrl"></el-input>
                      <span class="tips">请使用宽度1900像素，高度350像素的jpg/gif/png格式图片作为幻灯片banner上传，如需跳转请在后方添加以http://开头的链接地址。</span>
                    </dd>
                  </dl>
                </el-form-item>
                <div class="bot"><el-button class="submit-btn" @click="submitBanner('sliderForm')" :disabled="bannerDisabled">确认提交</el-button></div>
              </div>
            </el-form>
      </div>


      <div class="pagination" v-show="current!=2">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="1" :page-sizes="[10, 20, 30, 40]"
          :page-size="pagecount" layout=" prev, pager, next,sizes" :total="total">
        </el-pagination>
      </div>
      <!-- 分页器结束 -->
    </div>
    <!-- 商品管理结束 -->
    <!--新增优惠券-->
    <div id="add"  style="display:none;">
      <el-form method="post" id="dump-add-form" name="addForm" :model="addForm" ref="addForm" :rules="rules" label-width="25%" class="mt20">
        <div class="ncap-form-default">
          <el-form-item label="礼品名称" prop="addNewName">
            <el-input placeholder="" v-model="addForm.addNewName"></el-input>
          </el-form-item>
          <el-form-item label="礼品原价" prop="navType">
            <el-radio-group v-model="addForm.navType">
              <el-radio v-for="(nav, index) in addForm.navs" :key="nav.index" :label="nav.type">{{nav.navName}}</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="兑换积分" prop="sureMoney">
            <el-input placeholder="" v-model="addForm.sureMoney"></el-input>
            <!--<span class="tips">面额应为大于1的整数</span>-->
          </el-form-item>
          <el-form-item label="礼品编号" prop="issueLimitTotal">
            <el-input placeholder="" v-model="addForm.issueLimitTotal"></el-input>
            <!--<span class="tips">填0不限制发放总数</span>-->
          </el-form-item>
          <el-form-item label="礼品图片" prop="couponImg">
          <div class="img-container">
          <img id="" :src="addForm.giftImg" alt="" >
          <label class="btn  btn-upload" for="inputImage" title="">
          <!--<input  type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif" >-->
          <!--<span class="docs-tooltip" >图片上传<i class="el-icon-upload2"></i> </span>-->
            <div id="" class="image-line upload-image" @click="selectImg(1)">图片上传<i class="el-icon-upload2"></i></div>

          </label>
          </div>
          <!--<span class="tips">上传分类图片时，请上传宽度不低于220像素，高度不低于220像素的图片</span>-->
          </el-form-item>
          <el-form-item label="礼品标签" prop="limitAmount">
            <el-input placeholder="" v-model="addForm.limitAmount"></el-input>
            <!--<span class="tips">优惠券使用限额必须大于优惠券面额</span>-->
          </el-form-item>
          <el-form-item label="库存" prop="limitAmount">
            <el-input placeholder="" v-model="addForm.limitAmount"></el-input>
            <!--<span class="tips">优惠券使用限额必须大于优惠券面额</span>-->
          </el-form-item>
          <el-form-item label="关键字" prop="limitAmount">
            <el-input placeholder="" v-model="addForm.limitAmount"></el-input>
          </el-form-item>
          <el-form-item label="SEO描述" prop="describe">
            <el-input placeholder="" type="textarea" :rows="2" v-model="addForm.describe"></el-input>
          </el-form-item>
          <el-form-item label="礼品排序" prop="limitAmount">
            <el-input placeholder="" v-model="addForm.limitAmount"></el-input>
            <span class="tips">注：数值越小排序越靠前</span>
          </el-form-item>

        </div>
      </el-form>
    </div>

    <!--新增优惠券结束-->
    <!--选取图片-->
    <div id="chooseImg" style="display: none">
      <div class="img-container">
        <img id="image" src="" alt="" >
        <label class="btn btn-primary btn-upload" for="inputImage" title="" v-show="!selectedFile">
          <input  type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif" @change="selectFile">
          <span class="docs-tooltip" >选择文件</span>
        </label>
      </div>
      <div class="docs-buttons" v-show="selectedFile">
        <div class="btn-group btn-group-crop" >
          <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 160, &quot;height&quot;: 90 }">
            <span class="docs-tooltip" @click="uploadImg">上传所选区域</span>
          </button>
        </div>
      </div>
    </div>
    <!--选取图片结束-->
    <div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>
  </div>
  <div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中... </div>
  <script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
  <script type="text/javascript" src="../../common/layui/layui.all.js"></script>
  <script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../../common/cropper/cropper.js"></script>
  <script type="text/javascript" src="../../common/js/common.js"></script>
  <script type="text/javascript" src="../../js/promotion/giftExchange.js"></script>
</body>

</html>