<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
</head>

<body>
<div id="app" class="hide">
  <!-- 商品管理 -->
  <div class="wrapper page">
    <div class="fixed-bar">
      <div class="item-title">
        <div class="subject">
          <h3>限时特惠</h3>
          <h5>限时特惠 </h5>
        </div>
        <ul class="tab-base nc-row">
          <li v-for="(nav,index) in productNav" :key="nav.index">
            <a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 搜索条件 -->
    <div class="mod-search cf" id="report-search">
      <div class="l" id="filter-menu">
        <el-form method="post" id="dump-setting-form" name="settingForm" :model="productForm" ref="productForm">
          <ul class="ul-inline fix">
            <li>
              <el-form-item label="" prop="couponStatus">
                <select class="select" name="city" lay-verify="required" v-model='productForm.couponStatus'>
                  <option value="00">活动状态</option>
                  <option value="0">正常</option>
                  <option value="1">已结束</option>
                  <!--<option value="2">管理员关闭</option>-->
                </select>
              </el-form-item>
            </li>
            <li>
              <el-form-item label="" prop="couponName">
                <input type="text" id="couponName" class="ui-input ui-input-ph" placeholder="活动名称" autocomplete="off"
                       v-model="productForm.couponName">
              </el-form-item>
            </li>

            <li><a class="ui-btn" id="search" @click="searchDate()">查询<i class="layui-icon">&#xe615;</i></a></li>
          </ul>
        </el-form>
      </div>
      <div class="fr">
        <a class="ui-btn" id="addNew" @click="addCoupon('新增活动')" v-if="userRights['insertPromotionSecondKillingActivityInfo']">新增<i class="layui-icon">&#xe654;</i></a>
        <a class="ui-btn" id="audit" @click="refresh(current)" >刷新<i class="el-icon-refresh"></i></a>
      </div>
    </div>
    <!-- 搜索条件结束 -->

    <!-- 表格数据渲染 -->
    <div class="cf">
      <div class="grid-wrap">
        <div class="productManger" v-if='productLists.length > 0'>
          <!-- 表头 -->
          <div class="produtHead classifyHead">
            <ul>
              <li>操作</li>
              <li class="orderWidth">活动名称</li>
              <li class="shopWidth">开始时间</li>
              <li class="shopWidth">结束时间</li>
              <li>状态</li>
            </ul>
          </div>
          <!-- 表头结束 -->
          <!-- 商品列表 -->
          <div class="pruductList classifyList">
            <ul v-for="(item,index) in productLists" :class="{'active':item.active}"
                @click="selectOrder(item,productLists)">
              <li>
                <span class=" ui-icon-cart" title="限时特惠详情" @click.stop="editCoupon(item)" v-if="userRights['queryPromotionSecondKillingActivityDetailInfo']"><i
                  class="layui-icon">&#xe615;</i></span>
                <span class=" ui-icon-trash" title="删除" @click.stop="removeCoupon(item.id)" v-if="userRights['deletePromotionSecondKillingActivityStatusInfo']"><i class="layui-icon">&#xe640;</i></span>
              </li>
              <li class="orderWidth">{{item.activityName}}</li>
              <li class="shopWidth">{{item.beginTime }}</li>
              <li class="shopWidth">{{item.endTime}}</li>
              <li>{{item.activityState =='0'?'正常':item.activityState =='1'?'已结束':'管理员已关闭'}}</li>
            </ul>
          </div>
          <!-- 商品列表结束 -->
        </div>
        <div v-else style="text-align:center;margin:50px 0;">
          暂无数据
        </div>
      </div>
    </div>
    <!-- 表格数据渲染结束 -->
    <!-- 分页 -->
    <!-- <div class="larry-table-page clearfix">
          <div id="page" class="page"></div>
      </div> -->
    <div class="pagination" v-show="total>0">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage"
                     :page-sizes="[10, 20, 30, 40]"
                     :page-size="pagecount" layout=" prev, pager, next,sizes" :total="total">
      </el-pagination>
    </div>
    <!-- 分页器结束 -->
  </div>
  <!-- 商品管理结束 -->
  <!--新增秒杀-->
  <div id="add" style="display:none;">
    <el-form method="post" id="dump-add-form" name="addForm" :model="addForm" ref="addForm" :rules="rules"
             label-width="25%" class="mt20">
      <div class="ncap-form-default">
        <el-form-item label="活动名称" prop="addNewName">
          <el-input placeholder="" v-model="addForm.addNewName"></el-input>
        </el-form-item>
        <el-form-item label="有效期" class="timeRange" style="width:80% !important;">
          <div class="time" style="float:left;">
            <el-form-item label="" prop="fromDate">
              <el-date-picker :editable='false' v-model="addForm.fromDate" type="datetime"
                              placeholder="选择日期时间"></el-date-picker>
            </el-form-item>
          </div>
          <span style="float: left;margin:0 10px"> 至 </span>
          <div class="time" style="float:left;">
            <el-form-item label="" prop="toDate">
              <el-date-picker :editable='false' v-model="addForm.toDate" type="datetime"
                              placeholder="选择日期时间"></el-date-picker>
            </el-form-item>
          </div>
          <div class="clearfix"></div>
          <!--<span class="tips" style="margin-top: 13px">会员领取优惠券后，将在该有效期内使用优惠券</span>-->
        </el-form-item>
        <el-form-item label="秒杀商品" prop="" class="seckill">
          <!--已选商品-->
          <ul class="ms-rule-list">
            <li v-for="selected in seckills" class="miaosha_rule_item">
                <span>
                  <div class="miaosha_gd">
                    <img :src="selected.mainPic" style="width: 160px;height: 160px;">
                    <div class="goods-name">{{selected.name}}</div>
                    <div class="goods-name">{{selected.skuDescribe}}</div>
                    <div class="goods-price">销售价：<span>{{(selected.price/100).toFixed(2)}}</span></div>
                    <div class="goods-price">秒杀价：<span>{{selected.seckillPrice}}</span></div>
                    <div class="goods-price">数量：<span>{{selected.seckillStock}}</span></div>

                  </div>
                </span>
              <a href="javascript:void(0);" class="mini-btn bbc_seller_btns" @click="removeSelected(selected)">删除</a>
            </li>
          </ul>
          <!--已选商品结束-->
          <span class="selectProduct" @click="showProduct = true">选择商品</span>
          <!--显示待选取的秒杀商品-->
          <div v-show="showProduct" class="search-goods-list fn-clear products">
            <div class="search-goods-list-hd">
              <label>第一步：搜索商品</label>
              <input id="search_goods_name" type="text" class="text" v-model="searchProduct">
              <a href="javascript:void(0);" class="button btn_search_goods" @click="getProducts()">搜索</a>
              <label class="hint" style="margin-left:10px;">不输入名称直接搜索将显示所有出售中的商品</label>
              <a id="btn_hide_search_goods" class="close" href="javascript:void(0);" @click="showProduct = false">X</a>
            </div>
            <!--搜索条件结束-->

            <div class="search-goods-list-bd fn-clear productItem">
              <ul class="fn-clear" v-if="products.length>0">
                <li v-for="item in products">
                  <div class="goods-image"><img :src="item.mainPic"></div>
                  <div class="goods-name">{{item.name}}</div>
                  <div class="goods-name">{{item.skuDescribe}}</div>
                  <div class="goods-price">销售价：<span>{{(item.price/100).toFixed(2)}}</span></div>
                  <div class="goods-price">秒杀价：<span>
                      <input type="text" class="goods_pricess" style="width: 50%;border: 1px solid #cccaca;"
                             v-model="item.seckillPrice" value="(item.seckillPrice/100).toFixed(2)">
                    </span></div>
                  <div class="goods-price">当前库存：<span>{{item.stock}}</span></div>
                  <div class="goods-price">秒杀数量：<span>
                      <input type="text" class="goods_pricess" style="width: 50%;border: 1px solid #cccaca;"
                             v-model="item.seckillStock" value="item.seckillStock">
                    </span></div>
                  <div class="goods-btn">
                    <a href="javascript:void(0);" class="button button_green" @click="chooseItem(item)">选择为商品</a>
                  </div>

                </li>
              </ul>
              <ul v-else>
                暂无商品，请稍后重试。。。
              </ul>
            </div>
            <!--所有商品显示结束-->
          </div>

        </el-form-item>
        <el-form-item label="备注" prop="describe">
          <el-input placeholder="" type="textarea" :rows="2" v-model="addForm.describe"></el-input>
          <span class="tips">活动备注最多为100个字符</span>
        </el-form-item>
        <el-form-item label="活动背景图" prop="couponImg">
          <div class="img-container">
            <img id="image" :src="addForm.couponImg" alt="" style="display:block;max-width: 275px;max-height: 275px;">
            <label class="btn  btn-upload" for="inputImage" title="">
              <input type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif"
                     @change="selectFile">
              <span class="docs-tooltip">选择文件<i class="el-icon-upload2"></i> </span>
            </label>
          </div>
        </el-form-item>
      </div>
    </el-form>
  </div>

  <!--新增秒杀结束-->
  <!--编辑秒杀-->
  <div id="editAdd" style="display:none;">
    <el-form method="post" id="dump-add-form" name="editForm" :model="editForm" ref="editForm" :rules="rules"
             label-width="25%" class="editAdd mt20">
      <div class="ncap-form-default">
        <el-form-item label="活动名称：" prop="">
          <!--<el-input placeholder="" v-model="addForm.addNewName"></el-input>-->
          <span>{{editForm.addNewName}}</span>
        </el-form-item>
        <el-form-item label="有效期：" class="timeRange" style="width:80% !important;" prop="">
          <span>{{editForm.fromDate}}</span>
          <!--<span v-show="addForm.fromDate!=''"> - </span>-->
          <!--<span>{{addForm.toDate}}</span>-->
        </el-form-item>
        <el-form-item label="" class="timeRange toDate" style="width:80% !important;" prop="">
          <span v-show="editForm.fromDate!=''">至</span>
          <span>{{editForm.toDate}}</span>
        </el-form-item>
        <el-form-item label="活动状态：" prop="">
          <span>{{editForm.status}}</span>
        </el-form-item>
        <el-form-item label="秒杀商品" prop="" class="seckill">
          <!--已选商品-->
          <ul class="ms-rule-list">
            <li v-for="selected in seckills" class="miaosha_rule_item">
                <span>
                  <div class="miaosha_gd">
                    <img :src="selected.productPicture" style="width: 160px;height: 160px;">
                    <div class="goods-name">{{selected.productName}}</div>
                    <div class="goods-price">销售价：<span>{{(selected.originalPrice/100).toFixed(2)}}</span></div>
                    <div class="goods-price">秒杀价：<span>{{(selected.activityPrice/100).toFixed(2)}}</span></div>
                    <div class="goods-price">数量：<span>{{selected.activityStock}}</span></div>
                  </div>
                </span>
              <!--<a href="javascript:void(0);" class="mini-btn bbc_seller_btns" @click = "removeSelected(selected)">删除</a>-->
            </li>
          </ul>
          <!--已选商品结束-->
        </el-form-item>
        <el-form-item label="备注：" prop="">
          <span>{{editForm.describe}}</span>
        </el-form-item>
        <el-form-item label="活动背景图：" prop="">
          <div class="img-container">
            <img class="image" :src="editForm.couponImg" alt=""
                 style="display:block;max-width: 275px;max-height: 275px;">
          </div>
        </el-form-item>
      </div>
    </el-form>
  </div>
  <!--编辑优惠券结束-->
  <!--<div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>-->
</div>
<div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中...</div>
<script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
<script type="text/javascript" src="../../common/layui/layui.all.js"></script>
<script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      current: 0,
      productNav: [{
        index: 0,
        title: '限时特惠'
      }],
      loading: true,
      productForm: {
        couponStatus: '00',
        couponName: '',
      },
      initialData: {
        activityState:null,
        activityName:null,
      },
      changeValue: {
        activityState:null,
        activityName:null,
      },
      productLists: [],
      showProduct: false,
      searchProduct: '',
      seckills: [],
      products: [],
      seckillPrice:'',
      seckillNum:'',
      userRights:{},
      addForm: {
        addNewName: '',
        fromDate: '',
        toDate: '',
        sureMoney: '',
        issueLimitTotal: '',
        limitAmount: '',
        describe: '',
        couponImg: 'https://gtmall.oss-cn-beijing.aliyuncs.com/platform/image/imageAA.png',
      },
      editForm: {
        addNewName: '',
        fromDate: '',
        toDate: '',
        sureMoney: '',
        issueLimitTotal: '',
        limitAmount: '',
        describe: '',
        couponImg: 'https://gtmall.oss-cn-beijing.aliyuncs.com/platform/image/imageAA.png',
      },
      rules: {
        addNewName: [
          {required: true, message: '秒杀活动名称不能为空！', trigger: 'blur'},
        ],
        fromDate: [{required: true, type: 'date', message: '开始时间不能为空！', trigger: 'change'},
        ],
        toDate: [{required: true, type: 'date', message: '结束时间不能为空！', trigger: 'change'},
        ],
      },
      totalMoney: 0,
      selectedAll: false,
      selectedProduct: true,
      // 分页
      pagecount: 10,
      pagenum: 1,
      total: 0,
      currentPage:1,

    },
    created: function () {
      var _this = this;
      // 获取本地权限
      _this.userRights = getPows();
    },
    mounted: function () {
      var _this = this;
      commonScript.appShowhide('app');
      this.getInfo(_this.initialData);
      this.getProducts();
    },
    methods: {
      // 页面初始加载数据
      getInfo: function (values) {
        var _this = this;
        // 商品管理
        _this.setProduct = false;
        _this.loading = true;
        // var activityState = _this.productForm.couponStatus == '00' ? null : _this.productForm.couponStatus;
        // var activityName = _this.productForm.couponName || null;
        var getOrder = function (data) {
          _this.loading = false;
          if (data.result) {
            var result = data.result.list;
            _this.productLists = result;
            _this.total = data.result.total;
            if (result && result.length > 0) {
              _this.productLists.forEach(function (_) {
                var start = commonScript.changedate(_.beginTime, 'yyyy-MM-dd HH:mm:ss');
                _.beginTime = start;
                var end = commonScript.changedate(_.endTime, 'yyyy-MM-dd HH:mm:ss');
                _.endTime = end;

              })
            } else {
              _this.productLists = [];

            }
          }
        };
        commonScript.getKillActivity(_this.pagenum, _this.pagecount, values.activityState, values.activityName, '', getOrder);

      },
      // 搜索
      searchDate:function(){
        var _this = this;
        _this.pagecount = 10;
        _this.pagenum = 1;
        _this.currentPage = 1;
        var changeValue = commonScript.changeJson(_this.initialData);
        changeValue.activityState = _this.productForm.couponStatus == '00' ? null : _this.productForm.couponStatus;
        changeValue.activityName = _this.productForm.couponName || null;
        _this.changeValue = changeValue;
        _this.getInfo(changeValue);

      },
      // 获取商品信息
      getProducts: function () {
        var _this = this;
        var name = _this.searchProduct || null;
        var res = function (data) {
          if (data.result) {
            if (data.result.list) {
              // 处理商品sku数据
              var result = data.result.list;
              // _this.products = data.result.list;
              var list = []
              if (result.length > 0) {
                result.forEach(function (_) {
                  if(_.fictitiousType!=2) {
                    if (_.skuList && _.skuList.length > 0) {
                      _.skuList.forEach(function (skuItem) {
                        var price = (skuItem.price / 100).toFixed(2);
                        list.push({
                          id: _.id,
                          mainPic: _.mainPic,
                          name: _.name,
                          skuDescribe:skuItem.skuCombinationDescription,
                          price: skuItem.price,
                          seckillPrice: (skuItem.price / 100).toFixed(2),
                          stock: skuItem.stock,
                          seckillStock: skuItem.stock,
                          sellerId: _.sellerId,
                          productSkuId: skuItem.id,
                        })
                      })
                    }
                  }
                });
                _this.products = list;
              }
            }else{
              _this.products = []
            }
          }
        };
        commonScript.doGet('/mobileInfo/searchProductPageInfo/1/100000/' + name, '', res);
      },
      // 选取为秒杀商品
      chooseItem: function (item) {
        var _this = this;
        _this.seckills.push(item);
        _this.showProduct = false;

      },
      // 删除已选秒杀商品
      removeSelected: function (item) {
        var _this = this;
        if (_this.seckills && _this.seckills.length > 0) {
          _this.seckills.forEach(function (_, i) {
            if (_.id === item.id) {
              _this.seckills.splice(i, 1);
            }
          })
        }

      },

      // 增加秒杀
      addCoupon: function (title, id) {
        var _this = this;
        var layer = layui.layer;
        layer.open({
          title: title
          , content: layui.jquery("#add")
          , btn: ['确定', '取消']
          , area: ['757px', '525px']
          , type: 1
          , scrollbar: false
          , zIndex: 100
          , yes: function () {
            _this.addNewCalssigy('addForm', id);
            // layer.closeAll();
          }
          , btn2: function (index, layero) {
            //按钮【取消】的回调
            _this.$refs.addForm.resetFields();
            _this.seckills = []
          }
          , cancel: function () {
            //右上角关闭回调
            _this.$refs.addForm.resetFields();
            _this.seckills = []

          }
        });

      },
      // 确定 新增 编辑优惠券
      addNewCalssigy: function (formName, id) {
        var _this = this;
        _this.$refs[formName].validate((valid) => {
          if (valid) {
            var start = _this.addForm.fromDate.getTime();
            var end = _this.addForm.toDate.getTime();
            var skus = []
            if (_this.seckills && _this.seckills.length > 0) {
              _this.seckills.forEach(function (_) {
                skus.push({
                  productId: _.id,
                  originalPrice: _.price,
                  activityPrice: _.seckillPrice * 100,
                  activityStock:_.seckillStock,
                  productSkuId: _.productSkuId,
                  sellerId: _.sellerId
                })
              })
            }
            var data = {
              activityBackgroundPicture: _this.addForm.couponImg,
              spikeProductSkus: JSON.stringify(skus),
              activityName: _this.addForm.addNewName,
              beginTime: start,
              endTime: end,
              remark: _this.addForm.describe,
              activityState: 0
            };
            // 新增
            var add = function (data) {
              try {
                switch (data.httpCode) {
                  case 200 :
                    _this.getInfo(_this.initialData);
                    _this.$message.success({message: "新增成功！"});
                    _this.$refs.addForm.resetFields(); //点击确认后清空表单
                    _this.seckills = [];
                    layer.closeAll();
                    break;
                  default :
                    _this.$message.error({message: data.msg});
                }
              } catch (e) {
                console.log("REQUEST ERROR ", e);
              }
            };
            commonScript.doPost('/promotionInfo/insertPromotionSecondKillingActivityInfo', data, add);
          } else {
            console.log('error submit!!');
            return false;
          }
        });

      },

      // 编辑优惠券
      editCoupon: function (item) {
        var _this = this;
        var kill = function (data) {
          if (data.result) {
            _this.seckills = data.result;
          }
        };
        commonScript.doGet('/promotionInfo/queryPromotionSecondKillingActivityDetailInfo/' + item.id, '', kill)
        _this.editForm.addNewName = item.activityName;
        _this.editForm.status = item.activityState == 0 ? '正常' : item.activityState == 1 ? '已结束' : '管理员关闭';
        _this.editForm.describe = item.remark;
        _this.editForm.couponImg = item.activityBackgroundPicture;
        if (item.beginTime && item.beginTime != '') {
          var start = commonScript.changedate(item.beginTime, 'yyyy-MM-dd HH:mm:ss');
          _this.editForm.fromDate = start;
        }
        if (item.endTime && item.endTime != '') {
          var end = commonScript.changedate(item.endTime, 'yyyy-MM-dd HH:mm:ss');
          _this.editForm.toDate = end;
        }
        // _this.addCoupon('平台优惠券 - 编辑优惠券模板',item.id)
        var layer = layui.layer;
        layer.open({
          title: '限时特惠详情'
          , content: layui.jquery("#editAdd")
          , btn: ['确定', '取消']
          , area: ['757px', '525px']
          , type: 1
          , scrollbar: false
          , zIndex: 100
          // , yes: function () {
          //   // _this.addNewCalssigy('addForm',id);
          //   layer.closeAll();
          // }
          // ,btn2: function(index, layero){
          //   //按钮【取消】的回调
          //   _this.$refs.editForm.resetFields();
          // }
          , cancel: function () {
            //右上角关闭回调
            _this.$refs.editForm.resetFields();
            _this.seckills = []
          }
        });
      },
      // 刷新页面
      refresh: function (index) {
        var _this = this;
        _this.$refs.productForm.resetFields(); //切换时搜索条件置空
        _this.getInfo(_this.initialData);

      },
      // 删除优惠券
      removeCoupon: function (id) {
        var _this = this;
        _this.$confirm('你确定要删除吗?', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          var res = function (data) {
            if (data) {
              _this.$message.success({message: '删除成功！'})
              _this.getInfo(_this.initialData);
            }
          };
          commonScript.doGet('/promotionInfo/deletePromotionSecondKillingActivityInfo/' + id, '', res);
        }).catch((err) => {
        });
      },

      // 上传图片
      selectFile: function (e) {
        var _this = this;
        var file = e.target.files[0];
        if (file !== undefined) {
          var formData = new FormData();
          var oXHRHeadrs = {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          };
          formData.append('file', file);
          formData.append('sellerId', '1111');
          formData.append('picGroupId', '2222');
          var ajax = new XMLHttpRequest();
          ajax.open("post", "/settingsInfo/uploadPicture", true);
          ajax.send(formData);
          ajax.onload = function () {
            var data = this.responseText;
            data = JSON.parse(data);
            if (data) {
              _this.addForm.couponImg = data.result;
            }
          };

        }
      },
      // 单条数据选中
      selectOrder: function (item, lists) {
        var _this = this;
        if (item.active === undefined || !item.active) {
          _this.$set(item, 'active', true);
        }
        commonScript.selected(item, lists);
      },
      // 单条数据选中结束

      // 分页器
      //每页显示多少条
      handleSizeChange: function (val) {
        var _this = this;
        // _this.$refs.productForm.resetFields();
        _this.pagecount = val;
        _this.getInfo(_this.changeValue);
      },
      //当前页及跳转到第几页
      handleCurrentChange: function (val) {
        var _this = this;
        // _this.$refs.productForm.resetFields();
        _this.pagenum = val;
        _this.getInfo(_this.changeValue);
      }

    }
  })
</script>
</body>

</html>