<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
    <link rel="stylesheet" type="text/css" href="../../css/member.css">
    <link rel="stylesheet" type="text/css" href="../../lib/css/weui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/jqweui.css"/>

</head>

<body>
    <script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/js/weui.js"></script>
    <script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <div class="content" id="app" v-cloak>
        <!--头部搜索-->
        <header id="header" class="header homehederbfg center"></header>
        <!-- 内容部分 -->
        <div class="bgf member_personals">
            <ul>
                <li class="clearfix li_img" @click="fileImg">
                    <div class="left">头像</div>
                    <div class="right">
                        <img :src="queryData.logo" alt="" class="img_logo">
                        <!--<input type='file' class="fileClick" name="file" hidefocus="true" accept="image/*">-->
                        <span class="arrow-r"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="left">昵称</div>
                    <div class="right">
                        <input class="weui-input" readonly="readonly" type="text" value="" @click="MapNew" v-model="queryData.nickname">
                        <span class="arrow-r"></span>
                    </div>
                </li>
                <li class="clearfix selectFalse">
                    <div class="left">手机号</div>
                    <div class="right">
                        <span>{{queryData.telephone}}</span>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="left">性别</div>
                    <div class="right">
                        <input class="weui-input" id="sex" readonly="readonly" type="text" value="" v-model="genderVal">
                        <span class="arrow-r"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="left">出生日期</div>
                    <div class="right">
                        <input class="weui-input" id="data" readonly="readonly" type="text" value="" v-model="queryData.birthday">
                        <span class="arrow-r"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="left">星座</div>
                    <div class="right">
                        <input class="weui-input" readonly="readonly" id="constellation" type="text" value="" v-model="queryData.constellation">
                        <span class="arrow-r"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="left">邮箱</div>
                    <div class="right">
                        <input class="weui-input" readonly="readonly" id="mailbox" type="text" value="" @click="mailboxs" v-model="queryData.email">
                        <span class="arrow-r"></span>
                    </div>
                </li>
                <li class="clearfix" @click="MapCityClick">
                    <div class="left">所在地</div>
                    <div class="right">
                        <span>{{queryData.address | addressf}}</span>
                        <span class="arrow-r"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="new-address-wrapper" class="nctouch-full-mask" :class="[MapNew_falg?'right':'show left']"
             v-show="MapNew_fa">
            <div class="nctouch-full-mask-bg"></div>
            <div class="nctouch-full-mask-block">
                <div class="header">
                    <div class="header-wrap homehederbfg center">
                        <div class="header-l" @click="MapNewBack"><a href="javascript:void(0);"> <i class="back back2"></i>
                        </a></div>
                        <div class="header-title shop_map_header_title">
                            <h1>昵称</h1>
                        </div>
                    </div>
                </div>
                <div class="nctouch-main-layout" id="new-address-scroll">
                    <div class="nctouch-inp-con">
                        <form id="add_address_form">
                            <ul class="form-box">
                                <li class="form-item personal_li">
                                    <input type="text" class="inp" name="true_name" id="vtrue_name" autocomplete="off" v-model="queryData.nickname" placeholder="请输入昵称">
                                </li>
                            </ul>
                            <div :class="[MapNew_falg?'hide':'show']">
                                <div :class="[submitColor?'form-btn ok':'form-btn']"><a href="javascript:void(0);" class="btn" @click="submit_click">保存昵称</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="new-address-wrappers" class="nctouch-full-mask" :class="[mailbox_falg?'right':'show left']" v-show="mailbox_fa">
            <div class="nctouch-full-mask-bg"></div>
            <div class="nctouch-full-mask-block">
                <div class="header">
                    <div class="header-wrap homehederbfg center">
                        <div class="header-l" @click="mailboxBack"><a href="javascript:void(0);"> <i class="back back2"></i>
                        </a></div>
                        <div class="header-title shop_map_header_title">
                            <h1>邮箱</h1>
                        </div>
                    </div>
                </div>
                <div class="nctouch-main-layout">
                    <div class="nctouch-inp-con">
                        <form>
                            <ul class="form-box">
                                <li class="form-item personal_li">
                                    <input type="text" class="inp" name="true_name" autocomplete="off" v-model="queryData.email" placeholder="请输入邮箱">
                                </li>
                            </ul>
                            <div :class="[mailbox_falg?'hide':'show']">
                                <div :class="[submitColors?'form-btn ok':'form-btn']"><a href="javascript:void(0);" class="btn" @click="mailbox_click">保存邮箱</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 内容部分结束 -->
        <div id="areaSelected"></div>
    </div>
    <script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/member/member_personal.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
