<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="screen-orientation" content="portrait" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../lib/css/base.css" />
  <style>
    #header.favheader{background: #fff}
    .pre-loading{background: rgba(248,248,248,0);}
  </style>
</head>

<body>
  <script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
  <div class="content hide" id="app">
    <!--头部搜索-->
    <header id="header" class="fixed favheader">
      <div class="header-wrap">
        <div class="header-l">
          <a href="member.html"> <i class="back"></i> </a>
        </div>
        <div class="tit">优惠券</div>
        <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
      </div>
    </header>
    <!-- 内容部分 -->
    <ul class="v-list-tab bgf borb1" style="position: fixed;top: 0;width: 100%;z-index: 3;">
      <li class="vocher_status_li" v-for="(item,k) in itemList" :class="[vocherStatus == k?'active':'']"><a href="javascript:void(0);" @click="itemClick(k)">{{item}}</a></li>
    </ul>
    <!-- 内容部分结束 -->

    <div class="v-list" id="v_list" style="position: relative;top: 4rem;">
      <ul v-if="vList">
          <li :class="[item.couponStatus==0?'clearfix yes':'clearfix pass']" v-for="item in product">
            <div class="fl">
              <div>
                <h3 class="dpm">{{item.couponDto.name}}</h3>
                <time>{{item.couponDto.effectiveTime | oTimeCurrency}}前有效</time>
              </div>
            </div>
            <div class="fr">
              <p class="tc"><b>￥</b><span>{{item.couponDto.quota | oPriceCurrency}}</span></p>
              <div class="tc"><span>购满{{item.couponDto.limitPay | priceCurrency}}元使用</span></div>
            </div>
            <i :class="[item.couponDto.couponIcon==0?'icon-pase':'icon-pass']"></i>
          </li>

      </ul>
      <div class="nctouch-norecord order" style="width: 13rem;left:40%;top: 6rem;" v-else>
        <a href="coupon_list.html"><img src="../../images/coupon_tishi.jpg" style="width:100%"></a>
      </div>
    </div>

    <!--回到顶部-->
    <div class="fix-block-r" @click="oBackTop" v-show="oBackTopFixed"></div>
    <!--数据请求加载提示-->
    <div class="pre-loading" v-show="preLoading"></div>

  </div>
  <script src="../../comment/js/comment_html.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../js/member/coupon.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>