.content{font-size:.5rem}
.content .homePage{width:100%;float:left;margin-bottom:3rem!important}
.content .homePage .swiper{position:relative;min-height:5rem}
.content .swiper-container{min-height:5rem;margin-top:2rem;overflow:hidden}
.content .swiper-container .swiper-wrapper .swiper-slide{float:left;width:100%;height:100%}
.content .swiper-container .swiper-wrapper .swiper-slide img{width:100%!important}
.content .assure{background:#fff}
.content .assure>ul>li{float:left;width:25%;height:1.5rem;line-height:1.5rem;text-align:center}
.content .assure>ul>li>img{width:.85rem;height:.85rem;padding-top:.35rem;padding-right:.2rem}
.jd-express-news{margin:10px 8px 10px 8px;height:33px;font-size:13px;border-radius:13px;background-color:#fff;padding:0 5px;position:relative}
.jd-express-news .jd-news-tit{width:73px;height:20px;position:absolute;top:7px;left:8px;display:block;color:#555;line-height:20px}
.jd-express-news .news-list-wrapper{padding:0 42px 0 75px;height:30px;overflow:hidden}
.jd-express-news .jd-news-more{font-size:13px;color:#181818;position:absolute;right:8px;top:7px;line-height:20px}
.jd-express-news .jd-news-more .line{background:#9e9e9e;width:1px;height:17px;display:inline-block;margin-right:8px;vertical-align:middle}
.jd-express-news .news-item{font-size:13px;line-height:20px;height:20px;margin:7px 0}
.jd-express-news .news-item a{color:#181818;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;display:block;line-height:20px;height:20px}
.content .news{height:33px;margin:10px 8px 10px 8px}
.content nav>ul>li{float:left;width:25%;text-align:center}
.content nav>ul>li a{display:block;color:#555}
.content nav>ul>li>a>img{width:1.6rem;height:1.6rem}
.content nav>ul>li>a>span{display:block;margin:.3rem 0 .4rem 0}
.content .product-area{width:100%;float:left}
.content .product-area .title{position:relative;width:100%;height:2rem;line-height:2rem;text-align:center;font-size:.8rem;color:#f55b51}
.content .product-area .title .more{position:absolute;right:.4rem;font-size:14px}
.content .product-area .product li{width:49.8%;float:left;padding:.6rem 0;background:#fff;border-bottom:1px solid #F7f7f7}
.content .product-area .product li:nth-of-type(odd){border-right:1px solid #f7f7f7}
.content .product-area .product li img{width:100%}
.content .product-area .product li h3{height:1.5rem!important;overflow:hidden;font-size:.6rem!important;color:#444;margin:.4rem;white-space:nowrap}
.content .product-area .product li .fenQi{display:block;color:#fd3d53;margin:0 .4rem}
.content .product-area .product li .fenQi i{font-style:normal;font-size:18px!important}
.content .product-area .product li .mallPrice{float:left;color:#000;margin:4px 0 0 .4rem}
.content .product-area .product li .buyNow{float:right;margin-right:.4rem;padding:4px 6px;background:#f02f2f;border-radius:4px;color:#fff}
.index_icon_4{text-align:center;height:1.7rem;line-height:1.7rem}
.index_icon_4 ul li{float:left;font-size:.5rem;width:24%}
.index_icon_4 ul li img{width:1rem;height:1rem;padding-top:.3rem;padding-right:.2rem}
.swiper-container{min-height:5rem}
.bgf{min-height:5rem}
.swiper-pagination-bullet{margin:0 5px}
.head-fixed{height:2rem}
.head-ser .logo{width:2.2rem;margin-left:.6rem;float:left;padding-top:0}
.head-ser .logo img{width:100%}
.head-ser a.header-inps{border:2px solid #F02F2F!important;background:#fff!important;margin-left:.5rem;width:76%;height:1.2rem;position:relative;padding:.2rem .4rem;border-radius:5px!important}
.head-ser a.header-inps i{background-size:contain;width:.7rem;height:.7rem;margin-right:0}
.head-ser a.header-inps span{font-size:12px!important;color:#8c8b8b!important;margin-left:.3rem;line-height:.7rem!important}
.head-ser a.header-inps .submit-btn{position:absolute;top:0;right:0;bottom:0;display:inline-block;width:1.7rem;height:1.1rem;line-height:.44rem;background:#F02F2F;color:#fff;font-size:12px;text-align:center;line-height:1.1rem;border-radius:0 .1rem .1rem 0}
.message{margin-top:-12px!important}
.message i{width:1.45rem!important;height:2.3rem!important;background-size:contain}
.swiper-container{padding:0!important}
.swiper-slide .main-img{width:100%!important}
.jd-express-news{margin:10px 8px 10px 8px;height:33px;font-size:13px;border-radius:13px;background-color:#fff;padding:0 5px;position:relative}
.jd-express-news .jd-news-tit{width:73px;height:20px;position:absolute;top:7px;left:8px;display:block;color:#555;line-height:20px}
.jd-express-news .news-list-wrapper{padding:0 42px 0 55px;height:30px;overflow:hidden}
.jd-express-news .jd-news-more{font-size:13px;color:#181818;position:absolute;right:8px;top:7px;line-height:20px}
.jd-express-news .jd-news-more .line{background:#9e9e9e;width:1px;height:17px;display:inline-block;margin-right:8px;vertical-align:middle}
.jd-express-news .news-item{font-size:13px;line-height:20px;height:20px;margin:7px 0}
.jd-express-news .news-item a{color:#181818;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;display:block;line-height:20px;height:20px}
.nav-class{background:#f5f5f5;float:left;width:100%}
.nav-class li{margin:.3rem 0 .4rem 0!important}
.nav-class li i{width:2rem!important;height:2rem!important}
.nav-class li p{font-size:.5rem!important}
.floor-title{position:relative;height:52px}
.floor-tit-bgimg{position:relative;width:100%;height:100%}
.floor-tit-img .tit-img{position:absolute;left:0;right:0;top:12px;bottom:0;height:73.6%;margin:auto;display:block;overflow:hidden;text-align:center;font-size:18px}
.floor-tit-img .lmore{position:absolute;right:8px;top:17px;bottom:0;margin:auto;display:block;overflow:hidden;font-size:14px;color:#f55b51}
.seckill{background:#fff;width:100%;float:left}
.sub-title{position:relative;padding:.2rem;height:1.5rem;line-height:1.5rem}
.sub-title span{vertical-align:middle}
.sub-title .icon-bg{display:inline-block;width:27%;height:30px;background-size:100%}
.sub-title .title{margin-right:.4rem;font-size:.6rem;color:#e11222;line-height:.65rem}
.sub-title .site{margin-right:.3rem;font-size:.6rem;color:#262626;font-weight:700;position:absolute;right:9.1rem}
.sub-title .time{display:inline-block;font-size:.6rem;vertical-align:middle;position:absolute;right:5px;top:3px}
.sub-title .time em{margin:0 .12rem;color:#fff;font-size:.5rem;border-radius:.2rem;background:#262626;width:1rem;height:1rem;display:inline-block;line-height:1rem;text-align:center}
.seckill-wrapper{height:177px;overflow:hidden;font-size:0}
.seckill-list{display:inline-block;white-space:nowrap;width:max-content}
.seckill-list li{display:inline-block;width:5.4rem;vertical-align:top;border-right:1px solid #F7F7F7;border-top:1px solid #F7F7F7;border-bottom:1px solid #F7F7F7;box-sizing:border-box}
.seckill-list .img{display:inline-block;padding:.06rem .2rem;height:110px}
.seckill-list .img img{width:100%;height:100%}
.seckill-list .text{text-align:center;height:62px}
.seckill-list .text span{font-size:.55rem;color:#e11222;width:100%;display:block}
.seckill-list .text p{margin-top:.16rem;font-size:.4rem;color:#ababab;text-decoration:line-through}
.trademark-area{background:#fff;border-bottom:1px solid #f6f6f6;width:100%;float:left}
.trademark-area li{width:25%;display:inline-block;text-align:center;height:3rem;float:left}
.trademark-area li img{width:100%;height:100%}
.overhide{height:200px!important}
.new-goods li{position:relative;padding:.6rem 0;border-bottom:1px solid #F1F1F1;margin:0!important;width:49.8%!important}
.new-goods li h5{height:1.5rem!important;line-height:.77rem!important;margin-top:.35rem!important}
.new-goods li h5{font-size:.6rem!important}
.new-goods li b{font-size:.5rem!important;float:left;width:100%;margin-top:.4rem}
.new-goods li .comment{margin-top:.2rem;font-size:10px;color:#999;line-height:.4rem;display:block;width:100%;float:left}
.new-goods li .purchase{position:absolute;right:.4rem;bottom:9px;padding:4px 6px;color:#fff;font-size:11px;background:#F02F2F;border-radius:4px}
.new-goods li:nth-child(odd){border-right:1px solid #F1F1F1}
.new-goods li b.black{color:#000;background:0 0!important}
.new-goods li b .common_fenqi{font-size:.5rem;font-weight:700;color:#fd3d53}
.new-goods li .paddingleft{margin-top:.2rem!important}
#main-container2{margin-bottom:0!important;width:100%;float:left;background:#fff}
#main-container2 .ad{margin:0 auto!important}
#main-container2 .ad img{width:100%}
.user_de .new-goods li{width:30.3%!important;border:1px solid #EFEFEF;float:left!important;border-radius:10px;padding:.3rem 0!important;margin:.4rem 0 0 .15rem!important}
.user_de .new-goods li:nth-child(1){margin:.4rem 0 0 .44rem!important}
.user_de .new-goods li .tit{margin-top:0!important;width:100%!important;color:#5A5A5A!important;transform:scale(.8,.8);font-size:.6rem!important;height:1.5rem!important;line-height:.77rem!important;margin:auto;overflow:hidden}
.user_de .act_img{height:85px!important;width:100px;margin:0 auto}
.user_de .act_img img{width:100%;height:100%}
.user_de .new-goods li .black{color:#4A4A4A;font-size:.6rem!important;float:left;width:100%;margin-top:.4rem;background:0 0!important;transform:scale(.8,.8)}
.user_de .new-goods li .common_fenqi{font-size:.7rem;font-weight:700;color:#fd3d53}
