<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="screen-orientation" content="portrait" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../lib/css/base.css" />
	<link rel="stylesheet" type="text/css" href="../../comment/css/new-style.css" />
	<link rel="stylesheet" type="text/css" href="../../lib/css/swiper-4.1.6.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/home.css?v=2">
	<link rel="stylesheet" type="text/css" href="../../lib/css/weui.css"/>
</head>

<body>
	<script src="../../lib/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/js/weui.js"></script>
	<script src="../../lib/js/swiper.js" type="text/javascript" charset="utf-8"></script>
	<div class="content" id="app" v-cloak>
		<header class="head-fixed homehederbfg">
			<div class="head-ser">
				<div class="logo">
					<img src="../../images/logo.png" alt="">
				</div>
				<a href="../product/product_item.html" class="header-inps whiteSpace">
					<i class="icon"></i>
					<span class="search-input" id="keyword">{{seachTitle}}</span>
				</a>
			</div>
		</header>
		<div class="homePage clear mt20">
			<div class="swiper">
				<div class="swiper-container swiper-top-container swiper-container-new swiper-container-horizontal swiper-container-android swiper-container1">
					<div class="swiper-wrapper" >
						<div class="swiper-slide" v-for="item in swiperList">
							<a :href="item.aHref"><img :src="item.image"></a>
						</div>
					</div>
					<div class="swiper-pagination swiper-pagination1"></div>
				</div>
			</div>
			<div class="home_box">

				<div class="mlr">
					<section class="assure borderB plr2">
						<ul class="clear">
							<li v-for="item in swiperBottomList">
								<img :src="item.image">
								<span>{{item.context}}</span>
							</li>
						</ul>
					</section>

					<ul class="nav-class tc borderB pdt5 plr2" v-for="item in tcNavList" :class="item.oClass">
						<li v-for="itemlist in item.list">
							<a :href="itemlist.aHref">
								<img :src="itemlist.image" style="width: 2rem!important;height: 2rem!important;margin:  0 auto;">
								<p>{{itemlist.context}}</p>
							</a>
						</li>
					</ul>

					<div class="newslist plr2">
						<div class="jd-express-news">
							<div class="J_ping jd-news-tit">
								<img src="../../images/kuaixun.png" alt="">
							</div>
							<div id="scroll-news" class="news-list-wrapper">
								<ul id="alluart_showlist" class="news-list">
									<li class="news-item" v-for="item in newsList">
										<a :href="'./news.html?list='+item.id">
											<img src="../../images/hot@2x.png" alt="" style="" v-if="item.style == '热门'">
											<span>{{item.title}}</span>
										</a>
									</li>
								</ul>
							</div>
							<a page_name="index" class="J_ping jd-news-more"
							   href="./newsuartlist.html"><i class="line"></i>更多</a>
						</div>
					</div>
				</div>

				<div class="mlr scoreActivity" v-if="scoreActivityList.length>0">
					<a :href="sAitem.aHref" v-for="sAitem in scoreActivityList">
						<img :src="sAitem.image" alt="">
					</a>
				</div>

				<div class="mlr scoreItem" v-if="scoreList.length>0">
					<div class="coupon_Discount">
						<span v-for="(iTem,i) in scoreList" :class="[scoreListindex==i?'span spanActive':'span']" @click="scoreListindex=i">{{iTem.group.title}}</span>
					</div>
					<section v-for="(iTem,i) in scoreList" v-if="scoreListindex==i">
						<div class="shop_mod_containers">
							<div class="coupon_decorate">
								<div class="coupon_Discount">
									<div class="coupon_volume">
										<div class="coupon_list" @click="shop_mod_container(iTembk.aHref)" v-for="iTembk in iTem.infos">
											<div class="div_img">
												<img :src="iTembk.productPicture" alt="">
												<img src="../../images/baokuanHOT@2x.png" alt="" class="posiImg">
												<!--<img src="../../images/1@2x.png"  :src="iTembk.productPicture" alt="">-->
											</div>
											<div class="coupon_name">
												<span class="coupon_name_condition">{{iTembk.productName}}</span>
												<div class="coupon_name_top">
													<span class="coupon_name_Price">{{iTembk.productPrice | currency}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>


				<!--:class="[(iTem.template.length>0&&i!=0)?'bgff6 pdt5 ':'']"-->
				<div class="nctouch-home-layout" style="margin-bottom: 2.5rem;">
					<div class="mlr padding0" style="background:rgba(0,0,0,0) !important;">
						<section v-for="(iTem,i) in mainListdate">
							<div v-if="iTem.template.length>0">
								<div class="ad" v-for="iTems in iTem.template" :class="[iTems.parentType=='titleImg'?'bgf mrt4':'']">
									<a :href="iTems.aHref" :class="[iTems.parentType=='titleImg'?'tc mainShop borRad bgf':'tc bgf']">
										<img :src="iTems.image" alt="">
									</a>
								</div>
							</div>
							<div class="bgf" v-else>
								<div class="mlr padding0" v-if="iTem.type=='baokuan'" style="margin: 0 !important;width: 100% !important;">
									<div id="shop_mod_container">
										<div class="coupon_decorate">
											<div class="coupon_Discount">
												<div class="coupon_volume">
													<div class="coupon_list" @click="shop_mod_container(iTembk.aHref)" v-for="iTembk in iTem.list">
														<div class="div_img">
															<img :src="iTembk.productPicture" alt="">
															<img src="../../images/baokuanHOT@2x.png" alt="" class="posiImg">
															<!--<img src="../../images/1@2x.png"  :src="iTembk.productPicture" alt="">-->
														</div>
														<div class="coupon_name">
															<span class="coupon_name_condition">{{iTembk.productName}}</span>
															<div class="coupon_name_top">
																<span class="coupon_name_Price">{{iTembk.productPrice | currency}}</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="user_de">
									<ul class="new-goods clearfix wrap">
										<li v-for="iTemList in iTem.list" :class="iTemList.borderNone" v-if="iTemList.oClass=='listThree'">
											<a :href="iTemList.aHref">
												<div class="act_img">
													<img :src="iTemList.productPicture" alt="">
													<!--<img src="../../images/1@2x.png" :src="iTemList.productPicture" alt="">-->
												</div>
												<div class="tit">{{iTemList.productName}}</div>
												<div class="black paddingleft">{{iTemList.productPrice | currency}}</div>
											</a>
										</li>
										<li v-for="iTemList in iTem.list" :class="iTemList.borderNone" v-if="iTemList.oClass=='listTwo'">
											<a :href="iTemList.aHref" class="clearfix">
												<div class="listTwoName">
													<div class="tit">{{iTemList.productName}}</div>
													<div class="black paddingleft centerLeft">{{iTemList.productPrice | currency}}</div>
												</div>
												<div class="act_img">
													<img :src="iTemList.productPicture" alt="">
													<!--<img src="../../images/1@2x.png" :src="iTemList.productPicture" alt="">-->
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</section>
					</div>
				</div>

			</div>



		</div>
		<footer class="footer"></footer>
		<div class="fix-block-r" @click="oBackTop" v-show="oBackTopFixed"></div>
		<div class="pre-loading" v-show="preLoading"></div>
	</div>
	<script src="../../comment/js/comment_html.js?i=1" type="text/javascript" charset="utf-8"></script>
	<script src="../../comment/js/getData.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/home/home.js?i=1" type="text/javascript" charset="utf-8"></script>
</body>

</html>
