<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>商品管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="../../common/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="../../common/bootstrap/css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" href="../../common/global.css" media="all">
	<link rel="stylesheet" type="text/css" href="../../common/css/common.css" media="all">
	<link rel="stylesheet" type="text/css" href="../../css/product.css" media="all">
	<link rel="stylesheet" type="text/css" href="../../css/productClassify.css" media="all">
	<link rel="stylesheet" type="text/css" href="../../common/zTree/zTreeStyle.css" media="all">
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
</head>

<body>
	<div id="app" class="hide">
		<!-- 商品管理 -->
		<div class="wrapper page">
			<div class="fixed-bar">
				<div class="item-title">
					<div class="subject">
						<h3>销售报表</h3>
						<h5></h5>
					</div>
					<ul class="tab-base nc-row">
						<li v-for="(nav,index) in productNav" :key="nav.index">
							<a :class="{'current':current==index}"><span>{{nav.title}}</span></a>
						</li>
					</ul>
				</div>
			</div>
			<div v-show="!setProduct">
				<!-- 搜索条件 -->
				<div class="mod-search cf" id="report-search">
					<div class="l" id="filter-menu">
						<el-form method="post" id="dump-setting-form" name="settingForm" :model="productForm" ref="productForm">
							<ul class="ul-inline fix">
								<li>
									<el-form-item label="" prop="productName">
										<input type="text"  name="common_name" class="ui-input ui-input-ph" placeholder="输入商品编号" autocomplete="off"
													 v-model="productForm.productCode">
									</el-form-item>
								</li>
								<li>
									<el-form-item label="" prop="productName">
										<span id="user"></span>
										<input type="text" id="common_name" name="common_name" class="ui-input ui-input-ph" placeholder="输入商品名称" autocomplete="off"
										 v-model="productForm.productName">
									</el-form-item>
								</li>
								<li>
									<el-form-item label="" prop="shopName">
										<input type="text" id="shop_name" name="shop_name" class="ui-input ui-input-ph" placeholder="输入商品所属店铺名称" autocomplete="off"
										 v-model="productForm.shopName">
									</el-form-item>
								</li>
								<li id="brand" style="display: list-item;">
									<el-form-item label="" prop="brandName">
										<span class=" mod-choose-input" id="filter-brand">
									<input type="text" class="ui-input" id="brand_id" autocomplete="off"  readonly="readonly"  placeholder="输入品牌名称" v-model="productForm.brandName">
                      <i class="layui-icon ellipsis selectBrand" @click="selectBrand">&#xe65f;</i>
									 <span class="ui-icon-ellipsis"></span>
										</span>
									</el-form-item>
								</li>
								<!--<li>-->
									<!--<el-form-item label="" prop="selectedProductStatus">-->
										<!--<select class="select" name="city" lay-verify="required" v-model='productForm.selectedProductStatus'>-->
									<!--&lt;!&ndash; <option  v-for="city in citys"  >{{city}}</option> &ndash;&gt;-->
									<!--<option value="00">选择商品状态</option>-->
									<!--<option value="DownShelf">下架</option>-->
									<!--<option value="OnShelf">正常</option>-->
									<!--<option value="BreakRule">违规（禁售）</option>-->
								<!--</select>-->
									<!--</el-form-item>-->
								<!--</li>-->
								<!--<li>-->
									<!--<el-form-item label="" prop="selectedExamine">-->
										<!--<select class="select" name="city" lay-verify="required" v-model='productForm.selectedExamine'>-->
									<!--&lt;!&ndash; <option  v-for="city in citys"  >{{city}}</option> &ndash;&gt;-->
									<!--<option value="00">选择审核状态</option>-->
									<!--<option value="1">未通过</option>-->
									<!--<option value="2">通过</option>-->
									<!--<option value="3">待审核</option>-->
								<!--</select>-->
									<!--</el-form-item>-->
								<!--</li>-->
								<li id="classify" style="display: list-item;" @click.stop="selectedClassify">
									<el-form-item label="" prop="classifyName">
										<span class=" mod-choose-input" id="">
									<input type="text" class="ui-input" id="classifyId" autocomplete="off" readonly="readonly" placeholder="全部分类" v-model="productForm.classifyName">
									<i class="layui-icon ellipsis">&#xe625;</i>
								</span>
									</el-form-item>
								</li>
								<li>日期:</li>
								<li class="filterDate">
									<el-form-item label="" prop="fromDate">
										<el-date-picker :editable='false' v-model="productForm.fromDate"  value-format="timestamp" type="datetime" placeholder="选择日期时间"></el-date-picker>
									</el-form-item>
								</li>
								<li>
									<span>-</span>
								</li>
								<li>
									<el-form-item label="" prop="toDate">
										<el-date-picker :editable='false' v-model="productForm.toDate"  value-format="timestamp" type="datetime" placeholder="选择日期时间"></el-date-picker>
									</el-form-item>
								</li>
							</ul>
						</el-form>
					</div>
					<div class="fr">
						<a class="ui-btn" id="search" @click="searchDate(current)">查询<i class="el-icon-search"></i></a>
						<!--<a class="ui-btn" id="audit" v-show="current==1"  @click="putUp()">上架<i class="el-icon-upload2"></i></a>-->
						<!--<a class="ui-btn" id="reaudit"  v-show="current==2"  @click="examineProducts()">审核<i class="el-icon-edit-outline"></i></a>-->
						<a class="ui-btn" id="btn-excel"  @click="exportProduct()"  v-if="userRights['exportSalesStatisticsInfo']">销售报表导出<i class="el-icon-download"></i></a>
					</div>
				</div>
				<!-- 搜索条件结束 -->
				<!-- 表格数据渲染 -->
				<div class="cf">
					<div class="grid-wrap">
						<div class="productManger" v-if='productLists.length > 0'>
							<!-- 表头 -->
							<div class="produtHead">
								<ul>
									<li class="shopWidth">商品编号</li>
									<li class="productWidth">商品名称</li>
									<li>所属店铺</li>
									<li class="productWidth">订单号</li>
									<li class="shopWidth">下单时间</li>
									<li>一级分类</li>
									<li>二级分类</li>
									<li>三级分类</li>
									<li>品牌名称</li>
									<li>单价</li>
									<li>数量</li>
									<li>价格</li>
									<li>订单状态</li>
								</ul>
							</div>
							<!-- 表头结束 -->
							<!-- 商品列表 -->
							<div class="pruductList">
								<ul v-for="(item,index) in productLists" :class="{'active':item.active}" @click="selectOrder(item,productLists)">
									<li class="shopWidth">{{item.productCode}}</li>
									<li class="productWidth">{{item.productName}}</li>
									<li>{{item.shopName}}</li>
									<li class="productWidth">{{item.orderId}}</li>
									<li class="shopWidth">{{item.createTime}}</li>
									<li>{{item.lev1category }}</li>
									<li>{{item.lev2category }}</li>
									<li>{{item.lev3category }}</li>
									<li>{{item.brandName}}</li>
									<li>{{(item.skuPrice /100).toFixed(2)}}</li>
									<li>{{item.count }}</li>
									<li>{{(item.totalPrice/100).toFixed(2) }}</li>
									<li>{{item.orderStateRemark }}</li>
								</ul>
							</div>
							<!-- 商品列表结束 -->
						</div>
						<div v-else style="text-align:center;margin:50px 0;">
							暂无数据
						</div>
					</div>
				</div>
				<!-- 表格数据渲染结束 -->
				<!-- 分页 -->
				<div class="pagination" v-show="total>0">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-sizes="[10, 20, 30, 40]"
					 :page-size="pagecount" layout=" prev, pager, next,sizes" :total="total">
					</el-pagination>
				</div>
				<!-- 分页器结束 -->
			</div>
		</div>
		<!-- 商品管理结束 -->

		<!-- 品牌列表 -->
		<div class="cf" id="brandList" style="display:none;">
			<div class="grid-wrap">
				<div class="productManger">
          <div class="produtHead BrandDialog">
            <ul>
              <li>品牌列表</li>
            </ul>
          </div>
          <div class="searchBrand">
            <!--<el-form method="post" id="searchBrandForm" name="searchBrandForm" :model="searchBrandForm" ref="searchBrandForm">-->
              <ul class="ul-inline fix">
                <li>
                    <input type="text" class="ui-input ui-input-ph" placeholder="请输入品牌名称" autocomplete="off" v-model="searchBrandName">
                </li>
                <li><a class="ui-btn" id="searchBrands" @click="searchBrandList()">搜索品牌<i class="layui-icon">&#xe615;</i></a>
                </li>
              </ul>
            <!--</el-form>-->
          </div>
					<div class="pruductList brandList BrandDialog" v-if="brands.length>0">
						<ul v-for="(brand,index) in brands" :class="{'active':brand.active}" @click="selectSignalBrand(brand,brands)">
							<li>{{brand.name}}</li>
						</ul>
					</div>
          <div v-else style="text-align: center;margin-top: 120px;">
            暂无数据</div>
				</div>
        <div class="DialogPager">
          <!--<el-pagination style="text-align: center" @size-change="handleDialogSize" @current-change="handleDialogCurrent" :current-page="1" :page-sizes="[100, 200, 300, 400]"-->
                         <!--:page-size="pageDialogCount" layout=" prev, pager, next,sizes" :total="totalDialog">-->
          <!--</el-pagination>-->
        </div>
			</div>
		</div>
		<!-- 品牌列表结束 -->
		<!-- 品牌弹框结束 -->
		<!-- 分类树结构 -->
		<div id="brandTree" class="brandTree" v-show="brandTreeShow" style="left: 655px;">
			<ul id="treeDemo" class="ztree"></ul>
		</div>
    <!-- 分类树结构结束 -->
		<div id="loadgif" class="loading" v-show="loading"><i class="el-icon-loading"></i>数据加载中... </div>
	</div>
	<div id="pageLoading" class="loading"><i class="el-icon-loading"></i>数据加载中... </div>
	<script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
	<script type="text/javascript" src="../../common/layui/layui.all.js"></script>
	<script type="text/javascript" src="https://jhapp.oss-cn-beijing.aliyuncs.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../common/zTree/jquery.ztree.core.js"></script>
  <script type="text/javascript" src="../../common/js/getCategoryTree.js"></script>
  <script type="text/javascript" src="../../common/js/common.js"></script>
	 <script type="text/javascript" src="../../js/tableManger/tableProductSales.js"></script>
	<script>
    $(document).click(function(){
      $("#brandTree").hide();
    });
    $("#brandTree").click(function(event){
      event.stopPropagation();
    });
	</script>
</body>

</html>
