* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	font-size: 31.25vw;
}

body {
	width: 100%;
	height: 100%;
}
ul{
	list-style: none;
}

#wrapper {
	width: 100%;
	height: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide{
	width: 100%;
	height: 100%;
}
.part1{
	width: 1rem;
	height: 1rem;
	margin: .7rem auto;
	position: relative;
}
.part1 img:nth-child(1){
	width: 100%;
	height: 100%;
	animation: zhuan 5s linear infinite;
	
}


@-webkit-keyframes zhuan{
	0%{
		transform: rotate(0deg)
	}
	100%{
		transform: rotate(360deg)
	}
}

.part1 img:nth-child(2){
	width: 70%;
	height: 70%;
	position: absolute;
	top: .15rem;
	left: .15rem;
	border-radius: 50%;
}
.part2 p{
	height: .45rem;
	font-size: .25rem;
	text-align: center;
	color: #fff;
}
.second{
	width: .7rem;
	height: .7rem;
	position: absolute;
	top:.15rem;
	left:0;
}
.second img:nth-child(1){
	width: 100%;
	height: 100%;
	animation: zhuan 5s infinite;
	position: absolute;
	top:0;
	left:0;
}
.second img:nth-child(2){
	width: 70%;
	height: 70%;
	position: absolute;
	top: .1rem;
	left: .1rem;
	border-radius: 50%;
}
.list{
	width: 2.4rem;
	height: .4rem;
	float: left;
	position: absolute;
	top:.35rem;
	right:.1rem;
}
.list ul{
	width: 100%;
	height: 100%;
	display: flex;
}
.list ul li{
	width: .4rem;
	height: .4rem;
	flex: 1;
	display: flex;
	justify-content: center;
}
.list ul li img{
	width: .4rem;
	height: .4rem;
	display: flex;
}
.list2{
	width: 100%;
	height: .64rem;
	position: absolute;
	top:1rem;
}
.list2 .tiao{
	width: 100%;
	height: .64rem;
	position: absolute;
	top:0;
	left: 0;
}
.list2 .tiao img{
	width: 100%;
	height: 100%;
	display: flex;
}
.list2 .tu{
	width: .64rem;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
}
.list2 .tu img{
	width: 100%;
	height: 100%;
	display: flex;
}
.list2 ul{
	width: 100%;
	height: 100%;
	display: flex;
}
.list2 ul li{
	flex: 1;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list2 ul li span{
	font-size: .16rem;
	width: .45rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.list2 ul li:nth-child(4){
		justify-content: flex-start;
}
.list2 ul li:nth-child(5){
		justify-content: flex-start;
}
.list2 ul li:nth-child(5) span{
	display: flex;
	width:.5rem;
}
.list3{
	position: absolute;
	bottom: .8rem;
	left: .6rem;
	height: 2.5rem;
		
}
.list3 p{
	height: .4rem;
	display: flex;
}
.list3 p i{
	display: flex;
	width: .2rem;
	height: .2rem;
}
.list3 p i img{
	width: 100%;
	height: 100%;
}
.list3 p span{
	font-size: .16rem;
	display: flex;
	height: .2rem;
	margin-left:.1rem;
}
.list4{
	width: .02rem;
	height: 4rem;
	position: absolute;
	bottom: 0;
	left: 1.6rem;
}
.list4 img{
	width: 100%;
	height: 100%;
}
.ding1{
	position: absolute;
	left:1.62rem;
	top:2.3rem;
	width: .12rem;
	height: .12rem;
	background: #fff;
	border-radius: 50%;
}
.ding2{
	position: absolute;
	left:1.62rem;
	top:3rem;
	width: .12rem;
	height: .12rem;
	background: #fff;
	border-radius: 50%;
}
.ding3{
	position: absolute;
	left:1.62rem;
	top:3.7rem;
	width: .12rem;
	height: .12rem;
	background: #fff;
	border-radius: 50%;
}
.ding4{
	position: absolute;
	left:1.62rem;
	top:4.4rem;
	width: .12rem;
	height: .12rem;
	background: #fff;
	border-radius: 50%;
}

.ding5{
	position: absolute;
	left:1.8rem;
	top:2.25rem;
	width: 1.2rem;
	height: .4rem;
}
.ding6{
	position: absolute;
	left:.5rem;
	top:3rem;
	width: 1.2rem;
	height: .4rem;
}
.ding7{
	position: absolute;
	left:1.8rem;
	top:3.65rem;
	width: 1.2rem;
	height: .4rem;
}
.ding8{
	position: absolute;
	left:.5rem;
	top:4.35rem;
	width: 1.2rem;
	height: .4rem;
}
.ding5 p,.ding6 p,.ding7 p,.ding8 p{
	font-size: .12rem;
	height: .2rem;
	line-height: .2rem;
	color: #fff;
}
.jin1{
	position: absolute;
	left:1.8rem;
	top:2rem;
	width: 1rem;
	height: 1rem;
	border: 1px solid #fff;
	border-radius: 50%;
	font-size: .14rem;
	color: #fff;
}
.jin2{
	position: absolute;
	left:.5rem;
	top:2.3rem;
	width: 1rem;
	height: 1rem;
	border: 1px solid #fff;
	border-radius: 50%;
	font-size: .14rem;
	color: #fff;
}
.jin3{
	position: absolute;
	left:1.8rem;
	top:3.1rem;
	width: 1rem;
	height: 1rem;
	border: 1px solid #fff;
	border-radius: 50%;
	font-size: .14rem;
	color: #fff;
}
.jin4{
	position: absolute;
	left:.5rem;
	top:3.5rem;
	width: 1rem;
	height: 1rem;
	border: 1px solid #fff;
	border-radius: 50%;
	font-size: .14rem;
	color: #fff;
}
.zp1{
	position: absolute;
	left:.2rem;
	top:2.2rem;
	width: .8rem;
	height: .1.4rem;
	display: flex;
	flex-direction: column;
	
}
.zp1 img,.zp2 img,.zp3 img,.zp4 img,.zp5 img,.zp6 img{
	width: .8rem;
	height: .8rem;
}
.zp1 span,.zp2 span,.zp3 span,.zp4 span,.zp5 span,.zp6 span{
	display: inline-block;
	width: .8rem;
	height: .4rem;
	font-size: .16rem;
	line-height: .4rem;
	text-align: center;
	color: #fff;
	
}
.zp2{
	position: absolute;
	left:1.2rem;
	top:2.2rem;
	width:.8rem;
	height: 1.4rem;
	display: flex;
	flex-direction: column;
}
.zp3{
	position: absolute;
	left:2.2rem;
	top:2.2rem;
	width: .8rem;
	height: 1.4rem;
	display: flex;
	flex-direction: column;

}
.zp4{
	position: absolute;
	left:.2.2rem;
	top:3.6rem;
	width: .8rem;
	height: 1.4rem;
	display: flex;
	flex-direction: column;
}
.zp5{
	position: absolute;
	left:1.1rem;
	top:3.6rem;
	width: .8rem;
	height: .1.4rem;
	display: flex;
	flex-direction: column;
}
.zp6{
	position: absolute;
	left:2.15rem;
	top:3.6rem;
	width: .8rem;
	height: .1.4rem;
	display: flex;
	flex-direction: column;;
}
.part5 p{
	height: .35rem;
	font-size: .2rem;
	text-align: center;
	color: #ccc;
}
.img::after{
	content: " ";
    position: absolute;
    width: 0.5rem;
    height: .4rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: .05rem;
    background: url(../img/shang.png) no-repeat;
    background-size: 80% 80%;
    -webkit-animation: webSwipeTipAfter 2s infinite ease-in-out;
    animation: webSwipeTipAfter 2s infinite ease-in-out;
    z-index: 100;
    opacity: .5;
}
@keyframes webSwipeTipAfter{
	to{
		bottom: .4rem;
		opacity: 0;
	}
}
   