


#box{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.box-main{
    flex: 1;
    overflow-y: scroll;
}

/*首页*/
.main,.count,.shop,.xiu,.move,.name,.ding,.host,.xiang,.jie,.youhui{
    background: #fefcfd;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.swiper-pagination-bullet-active{
    background: #e5376c;
}
.header{
    width: 100%;
    background: #e4366b;
    height: .5rem;
    display: flex;
    justify-content: center;
}

.main .header img{
    width: 1.1rem;
    height: .25rem;
    margin-top: .15rem;
}
form{
    display: flex;
    justify-content: center;
    background:#484850;
    height: .5rem;
}
form input,.count form input{
    width: 3rem;
    border-radius: .1rem/40%;
    outline: none;
    border: 0;
    padding: .02rem 0;
    margin-top: .08rem;
    font-size: .18rem;
    line-height: .3rem;
    height: .3rem;
    text-indent: .05rem;
}
.main .banner img{
    width: 100%;
    height: 1.5rem;
}
.main .main-list .main-li {
    font-size: .16rem;
    display: flex;
    height: 1.1rem;
    border-bottom: 1px solid #636363;
    padding: .1rem;
    position: relative;
    background: #fff;
}
.main .main-list .main-li .ml-one{
    width: 1rem;
    height: 1rem;
}
.main .main-list .main-li span{
    width: 2rem;
    height: .9rem;
    color: #666;
    display: block;
    margin: .05rem;
}
.main .main-list .main-li span i:nth-of-type(1){
    line-height: .2rem;
    height: .4rem;
    font-size: .14rem;
    overflow: hidden;
    display: block;
}
.main .main-list .main-li span i:nth-of-type(2){
    color: #e5376c;
    display: block;
    font-size: .2rem;
    margin: .05rem 0;
}
.main .main-list .main-li span i:nth-of-type(2) em:nth-of-type(2){
    color: #ccc;
    font-size: .16rem;
    text-decoration: line-through;
}
.main .main-list .main-li span i:nth-of-type(3){
    font-size: .14rem;
}
.main .main-list .main-li .ml-two{
    width: .6rem;
    height: .3rem;
    position: absolute;
    right: .15rem;
    bottom: .25rem;
}

/*分类*/
.c-head{
    width: 100%;
    background: #e4366b;
    height: .5rem;
    display: flex;
}
.c-head img:nth-of-type(1){
    width: .35rem;
    height: .25rem;
    margin: .15rem .595rem 0 .1rem;
}
.c-head img:nth-of-type(2){
    width: 1.1rem;
    height: .25rem;
    margin-top: .15rem;
}
.count ul{
    overflow-y: scroll;
    height: 2.75rem;
}
.count li{
    width: 100%;
    font-size: .24rem;
    border-bottom: .01rem solid #ccc;
    line-height: .35rem;
    display: flex;
    justify-content: space-between;
}
.count li em{
    margin-left: .1rem;
}
.count li i{
    margin-right: .1rem;
}

/*购物车*/
.shop .c-head{
    position: relative;
}
.shop .c-head span{
    width: 1rem;
    height: .28rem;
    margin-top: .12rem;
}
.c-head .button-one{
    font-size: .14rem;
    color: #fefcfd;
    border-radius: .1rem;
    background: #e4366b;
    outline: none;
    border: 0;
    box-shadow: 0 .005rem .01rem .005rem #999;
    width: .6rem;
    height: .3rem;
    position: absolute;
    top: .12rem;
    right: .12rem;
}
.shop .has div{
    background:#484850;
    padding: .04rem 0;
    text-align: center;
    font-size: .14rem;
    display: flex;
    height: .4rem;
    line-height: .4rem;
    font-weight: 700;
}
.shop .has div span{
    margin: 0 .08rem 0 .05rem;
    color: #fff;
}
.shop .has div span:nth-of-type(2) i{
    color: #b03458;
}
.shop ul{
    height: 4.3rem;
    overflow-y: scroll;
}
.shop ul li{
    display: flex;
    height: 1.1rem;
    border-bottom: 1px solid #636363;
    padding: .1rem;
    background: #fff;
    position: relative;
}
.shop ul li img{
    width: 1rem;
    height: 1rem;
}
.shop ul li span{
    width: 1.65rem;
    height: .9rem;
    color: #666;
    font-size: .16rem;
    margin: .1rem;
}
.shop ul li i{
    margin: .05rem 0;
}
.shop ul li i:nth-of-type(1){
    display: block;
    width: 100%;
    margin-bottom: .07rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.shop ul li i:nth-of-type(2){
    line-height: .24rem;
}
.shop ul li i:nth-of-type(2) em,.shop ul li i:nth-of-type(2) b{
    color: #e4366b;
}
.shop ul li i:nth-of-type(3){
    display: flex;
    width: 100%;
    line-height: .24rem;
}
.shop ul li i:nth-of-type(3) em{
    background: #909090;
    color: #fff;
    width: .25rem;
    height: .21rem;
    font-size: .2rem;
    line-height: .21rem;
    text-align: center;
    border-radius: 4px;
}
.shop ul li i:nth-of-type(3) input{
    width: .4rem;
    text-align: center;
    font-size: .16rem;
    border-radius: 4px;
    margin: 0 .08rem;
    outline: none;
}
.shop ul li strong img{
    position: absolute;
    right: .1rem;
    top: .12rem;
    width: .18rem;
    height: .18rem;
}

.kong{
    width: 3.2rem;
    height: 4.7rem;
    position: relative;
    overflow-y: scroll;
}
.kong img:nth-of-type(1){
    width: 100%;
    height: 4rem;
}
.kong img:nth-of-type(2){
    width: 2rem;
    height: .4rem;
    position: absolute;
    bottom: 2rem;
    left: .6rem;
}
/*我的秀*/
.xiu .box-main{
    height: 3.2rem;
    overflow-y: scroll;
    flex-direction: column;
}
.xiu .box-main div{
    padding: .4rem 0 0 .2rem;
    width: 1rem;
    display: flex;
    height: 1rem;
}
.xiu .box-main div img{
    width: 1rem;
    height: 1rem;
}
.xiu .box-main div span{
    padding-top: .15rem;
    margin-left: .2rem;
}
.xiu .box-main div p{
    display: flex;
    font-size: .22rem;
    width: 1.5rem;
    font-weight: 600;
    color: #333;
}
.xiu .box-main div p:nth-of-type(1){
    margin-bottom: .25rem;
}
.xiu .box-main div span button{
    font-size: .16rem;
    background: #e4366b;
    border-radius: 4px;
    color: #fff;
    outline: none;
    border: 0;
    width: .6rem;
    height: .3rem;
    box-shadow: 0 .005rem .01rem .005rem #999;
}
.xiu .box-main div span button:nth-of-type(2){
    margin-left: .25rem;
}
.xiu ul,.move ul{
    background: #fff;
    width: 3rem;
    height: 1.45rem;
    border-radius: .1rem;
    border: .01rem solid #ccc;
    margin: .3rem 0 0 .1rem;
}
.xiu ul li,.move ul li{
    width: 100%;
    font-size: .16rem;
    border-bottom: .01rem solid #ccc;
    line-height: .35rem;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
}
.xiu ul li:last-child,.move ul li:last-child{
    border-bottom: none;
}
.xiu ul li i,.move ul li i{
    margin-left: 4%;
}
.xiu ul li em,.move ul li em{
    margin-right: 4%;
    color: #666;
}

/*更多*/
.move{
    flex-direction: column;
}
.move ul{
    width: 2.8rem;
}
.move ul:nth-of-type(1){
    margin: .3rem .2rem .15rem;
}
.move ul:nth-of-type(2){
    height: .7rem;
    margin: 0 .2rem .1rem;
}
.move button,.deng-btn{
    font-size: .2rem;
    color: #fff;
    background: #e4366b;
    width: 2.8rem;
    margin-left: .2rem;
    padding: .1rem 0;
    border-radius: 4px;
    outline: none;
    border:0;
    box-shadow: 0 .005rem .01rem .01rem #999;
}
/*登录*/
.name{
    height: 100%;
}
.name div:nth-of-type(2){
    display: flex;
    flex-direction: column;
}
.name .c-head .button-one{
    font-size: .14rem;
    color: #fefcfd;
    border-radius: .08rem;
    background: #e4366b;
    outline: none;
    border: 0;
    box-shadow: 0.003rem .005rem .01rem .005rem #999;
    width: .6rem;
    height: .3rem;
    position: absolute;
    top: .12rem;
    right: .12rem;
}
.name div:nth-of-type(2) input{
    width: 2.8rem;
    border-radius: .1rem;
    font-size: .2rem;
    padding: .1rem 0;
    text-indent: .1rem;
    margin: .35rem 0 0 .2rem;
    outline: none;
}
.name div:nth-of-type(3){
    display: flex;
    font-size: .2rem;
    margin: .2rem 0 0 .15rem;
}
.name div:nth-of-type(3) i{
    margin: 0 .08rem;
}
.name div:nth-of-type(3) i:nth-of-type(2){
    margin-left: .15rem;
    color: #666;
    font-size: .18rem;
    text-decoration: underline;
}
.name .deng-btn{
    margin-top: .3rem;
}

/*我的订单*/
.ding{
    height: 100%;
}
.ding ul{
    height: 4.7rem;
    overflow-y: scroll;
}
.ding ul li{
    display: flex;
    height: 1.1rem;
    border-bottom: 1px solid #636363;
    padding: .1rem;
    background: #fff;
    position: relative;
}
.ding ul li img{
    width: 1rem;
    height: 1rem;
}
.ding ul li span{
    width: 2.3rem;
    height: .9rem;
    color: #666;
    font-size: .16rem;
    margin: .08rem;
    font-weight: 600;
}
.ding ul li i{
    display: block;
    width: 100%;
    margin-bottom: .07rem;
}
.ding ul li i:nth-of-type(3) em{
    color: #e4366b;
}
.ding ul li button{
    position: absolute;
    right: .15rem;
    bottom: .25rem;
    font-size: .14rem;
    width: .8rem;
    height: .3rem;
    color: #fff;
    outline: none;
    background: #e4366b;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 .01rem .01rem .005rem #999;
}

/*我的优惠券*/
.youhui div:nth-of-type(2){
    width: 2.8rem;
    margin: .2rem 0 0 .2rem;
    background: #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #999;
}
.youhui div:nth-of-type(2) i{
    text-align: center;
    font-size: .16rem;
    width: .7rem;
    height: .3rem;
    line-height: .3rem;
    border-right: 1px solid #999;
    display: inline-block;
    font-weight:600;
    color: #333;
}
.youhui div:nth-of-type(2) i:nth-of-type(4){
    border-right: none;
}
.youhui ul{
    font-size: .2rem;
    width: 2.6rem;
    margin: .2rem 0 0 .25rem;
    background: #FFF;
    border: 1px solid #ccc;
    border-radius: .1rem;
}
.youhui ul li p{
    padding: .1rem 0 0 .1rem;
}
.youhui ul li p:last-child{
    padding-bottom: .1rem;
}
.youhui div:nth-of-type(2) .iActive{
    background: #e4366b;
}

/*浏览记录*/
.host .tory{
    border-bottom: 1px solid #636363;
    position: relative;
    background: #fff;
    display: flex;
    height: 1.2rem;
}
.host .tory img:first-child{
    width: 1rem;
    height: 1rem;
    padding: .1rem;
}
.host .tory span{
    width: 2rem;
    color: #666;
    padding: .1rem 0;
    font-size: .16rem;
}
.host .tory i{
    display: block;
    margin-bottom: .1rem;
}
.host .tory i:nth-of-type(3) em{
    color: #e4366b;
}
.host .tory i:nth-of-type(4) em{
    text-decoration: line-through;
    color: #e0e0e0;
}
.host .tory img:last-child{
    position: absolute;
    right: .15rem;
    bottom: .2rem;
    width: .6rem;
    height: .3rem;
}
.host .tory img:nth-of-type(2){
    position: absolute;
    right: .1rem;
    top: .12rem;
    width: .18rem;
    height: .18rem;
}


.nav{
    width:100%;
    font-size: .2rem;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    flex-flow: row  nowrap;
    justify-content: space-around;
    box-sizing: border-box;
    background: #484850;
    list-style: none;
}
.nav li{
    width: 33.33%;
    text-align: center;
    padding: 4% 0;
    border-top: .03rem solid #484850;
    border-right: 1px solid #222;
}
.nav li:nth-of-type(3){
    border-right: none;
}
.nav .f-active{
    border-top: .03rem solid #e5376c;
}

/*主页 页脚导航*/
.footer{
    width:100%;
    height:.5rem;
    background: #484850;
    display: -webkit-flex;
    display: flex;
    flex-flow: row  nowrap;
    box-sizing: border-box;
}
.footer .foot-list{
    display: flex;
    width:100%;
    justify-content: center;
}
.footer .foot-list li{
    flex: 1;
    padding: .07rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-top: .03rem solid #484850;
}
.footer .foot-list li .iconfont{
    font-size: .2rem;
    line-height: .2rem;
}
.footer .foot-list li strong {
    margin-top: .02rem;
    font-weight: normal;
    font-size: .14rem;
}
.footer .foot-list .f-active{
    border-top: .03rem solid #e5376c;
}


.count,.shop,.xiu,.move,.denglu,.zhuce{
display: none;
}
.ding,.youhui,.htory,.but,.jie,.s-main,.nav{
    display: none;
}

/*后修改*/
.main{
    display: inline-block;
    min-height: 2rem;
    overflow: hidden;
}
.shop,.move{
    min-height: 2rem;
    overflow: hidden;
}
.footer{
    position: relative;
    display: block;
}
#iscroll-main{
    position: relative;
    left: -999rem;
    height: 2.8rem;
}
.pull{
    height: .2rem;
    line-height: .2rem;
    font-size: .16rem;
    text-align: center;
}
/*购物车*/
.footer i{
    position: absolute;
    top: .06rem;
    right: 1.35rem;
    font-size: .1rem;
    background: #e4366b;
    width: .18rem;
    height: .18rem;
    line-height: .18rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: none;
}
#hide{
	width: 4rem;
	height: 4.7rem;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: .5rem;
	left: 0;
	z-index: 100000;
	display: none;
}
#hide div{
	width: 50%;
	height: 10%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-left: 15%;
	font-size: 0.20rem;
	text-align: center;
}

.box-main p:nth-of-type(1){
	line-height: 0.4rem;
}
.box-main p em{
	
	width: 0.8rem;
	height: 0.4rem;
	line-height: 0.4rem;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
